Repository medplum/medplum, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, example, auth, security, fhir-datastore, search, medications, integration, compliance, react, self-host

first commit
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.stories.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.tsx
Labels: react

Added C-CDA narratives and display text (#6186)
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/generator/src/index.ts
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore

Revisions
  examples/medplum-mso-demo/README.md
  examples/medplum-mso-demo/src/components/ClinicianList.tsx
  examples/medplum-mso-demo/src/data/core/sample-bundle.ts
  examples/medplum-mso-demo/src/pages/UploadBundlePage.tsx
  examples/medplum-mso-demo/src/utils/admin.ts
  examples/medplum-mso-demo/src/utils/enrollment.ts
Labels: example

wip(agent): test stopgap strategy
  packages/agent/src/app.ts
  packages/agent/src/main.ts
  packages/agent/src/upgrader.ts
Labels: none

$apply PlanDefinition for ActivityDefinition ServiceRequest (#6187)
  packages/server/src/fhir/operations/plandefinitionapply.test.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

wip(agent): tmp changes releases url
  packages/core/src/version-utils.ts
Labels: none

clean up
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.test.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.tsx
Labels: react

Add test:watch script
  examples/medplum-demo-bots/package.json
Labels: none

Remove WIP entry
  examples/medplum-demo-bots/medplum.config.json
Labels: none

Update claim identifier
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.test.ts
Labels: example

Validate phone formats and extract content
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Use PUT instead of POST
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
Labels: example

wip(agent): tmp change releases url
  packages/core/src/version-utils.ts
Labels: none

Implement getPatientRelationshipToInsuredContent
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

fix tests
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.test.tsx
Labels: react

Adjust getAddressContent to handle both patient and insured
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Adjust getPhoneContent to handle both patient and insured
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Adjust getDOBContent to handle both patient and insured
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Adjust getSexContent to handle both patient and insured
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

fixing more validation errors
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/types.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, integration, compliance

fixing linting and tests
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/testdata/MinimalPassingValidator.xml
Labels: integration, compliance

Adjust getPersonInfo to handle both patient and insured
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Refactor tests into describe blocks for better readability
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
Labels: example

Resolve rename TODO
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Improve typing
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Resolve human name formatting TODO
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Minor fhirpath improvements
  packages/core/src/fhirlexer/tokenize.ts
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/core/src/fhirpath/tokenize.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/generator/src/compare.ts
Labels: none

Display other insured data
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
Labels: example

Display claim info
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Minor fhirpath improvements (#6192)
  packages/core/src/fhirlexer/tokenize.ts
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/core/src/fhirpath/tokenize.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/generator/src/compare.ts
Labels: none

Update admin.ts
  examples/medplum-mso-demo/src/utils/admin.ts
Labels: example

Simplify
  packages/ccda/src/fhir-to-ccda.ts
Labels: integration, compliance

Fix C-CDA Validation Errors (#6191)
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/MinimalPassingValidator.xml
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, integration, compliance

Add operation chargeitemdefinition
  packages/server/src/fhir/operations/chargeitemdefinitionapply.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

Update subscription criteria docs to handle additional cases
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation

Fix variable syntax
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation

Apply and test
  packages/server/package.json
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.ts
Labels: fhir-datastore

Refine example around resource creation
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation

clean up
  packages/server/package.json
Labels: none

update resource
  packages/server/src/fhir/operations/chargeitemdefinitionapply.ts
Labels: fhir-datastore

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - packages/docs/blog/**/*
          - packages/docs/docs/**/*
          - packages/docs/src/**/*

example:
  - changed-files:
      - any-glob-to-any-file:
          - packages/examples/src/**/*
          - examples/*/src/**/*

auth:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

security:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

fhir-datastore:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/**/*

search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/search*
          - packages/server/src/fhir/lookups/**/*

medications:
  - changed-files:
      - any-glob-to-any-file:
          - examples/medplum-photon-integration/src/**/*

integration:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*
          - packages/core/src/fhircast/**/*
          - packages/dosespot-react/src/**/*
          - packages/health-gorilla/src/**/*
          - packages/health-gorilla-core/src/**/*
          - packages/health-gorilla-react/src/**/*
          - packages/hl7/src/**/*
          - packages/server/src/fhircast/**/*

compliance:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*

react:
  - changed-files:
      - any-glob-to-any-file:
          - packages/react/src/**/*
          - packages/react-hooks/src/**/*

self-host:
  - changed-files:
      - any-glob-to-any-file:
          - packages/cdk/src/**/*
          - charts/**/*
          - terraform/**/*
