Repository medplum/medplum, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, example, auth, security, fhir-datastore, search, medications, integration, compliance, react, self-host

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - packages/docs/blog/**/*
          - packages/docs/docs/**/*
          - packages/docs/src/**/*

example:
  - changed-files:
      - any-glob-to-any-file:
          - packages/examples/src/**/*
          - examples/*/src/**/*

auth:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

security:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

fhir-datastore:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/**/*

search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/search*
          - packages/server/src/fhir/lookups/**/*

medications:
  - changed-files:
      - any-glob-to-any-file:
          - examples/medplum-photon-integration/src/**/*

integration:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*
          - packages/core/src/fhircast/**/*
          - packages/dosespot-react/src/**/*
          - packages/health-gorilla/src/**/*
          - packages/health-gorilla-core/src/**/*
          - packages/health-gorilla-react/src/**/*
          - packages/hl7/src/**/*
          - packages/server/src/fhircast/**/*

compliance:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*

react:
  - changed-files:
      - any-glob-to-any-file:
          - packages/react/src/**/*
          - packages/react-hooks/src/**/*

self-host:
  - changed-files:
      - any-glob-to-any-file:
          - packages/cdk/src/**/*
          - charts/**/*
          - terraform/**/*

Dependency upgrades 2025-03-17 (#6178)
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-chat-demo/package.json
  examples/medplum-client-external-idp-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-eligibility-demo/package.json
  examples/medplum-fhircast-demo/package.json
  examples/medplum-health-gorilla-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-live-chat-demo/package.json
  examples/medplum-nextauth-demo/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-patient-intake-demo/package.json
  examples/medplum-photon-integration/package.json
  examples/medplum-provider/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-scheduling-demo/package.json
  examples/medplum-smart-on-fhir-demo/package.json
  examples/medplum-task-demo/package.json
  examples/medplum-valueset-selector/package.json
  examples/medplum-websocket-subscriptions-demo/package.json
  package-lock.json
  package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/ccda/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/expo-polyfills/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/react/package.json
  packages/server/package.json
Labels: dependencies

Update README.md URL->URI
  examples/medplum-smart-on-fhir-demo/README.md
Labels: none

PR feedback
  packages/core/src/bundle.ts
  packages/core/src/search/search.ts
Labels: none

Use erasableSyntaxOnly
  packages/core/src/access.ts
  packages/core/src/bundle.ts
  packages/core/src/client.ts
  packages/core/src/fhirlexer/parse.ts
  packages/core/src/fhirmapper/parse.ts
  packages/core/src/fhirmapper/transform.ts
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/filter/parse.ts
  packages/core/src/filter/types.ts
  packages/core/src/hl7.ts
  packages/core/src/keyvalue.ts
  packages/core/src/logger.ts
  packages/core/src/search/details.ts
  packages/core/src/search/match.test.ts
  packages/core/src/search/search.ts
  packages/react/src/utils/questionnaire.ts
  packages/server/src/agent/utils.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/context.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/expunge.ts
  packages/server/src/fhir/operations/patienteverything.ts
  packages/server/src/fhir/operations/patientsummary.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/rewrite.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/util/auditevent.ts
  packages/server/src/util/cloudwatch.ts
Labels: auth, security, fhir-datastore, search, react

Sonar warnings
  packages/server/src/fhir/sql.ts
  packages/server/src/util/cloudwatch.ts
Labels: fhir-datastore

Fixed issues in remaining packages
  packages/agent/package.json
  packages/agent/src/app.ts
  packages/agent/src/channel.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.ts
  packages/app/package.json
  packages/ccda/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/create-medplum/package.json
  packages/dosespot-react/package.json
  packages/examples/package.json
  packages/expo-polyfills/package.json
  packages/fhir-router/package.json
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/repo.ts
  packages/generator/package.json
  packages/graphiql/package.json
  packages/health-gorilla-core/package.json
  packages/health-gorilla-core/src/lab-order.ts
  packages/health-gorilla-react/package.json
  packages/hl7/package.json
  packages/hl7/src/connection.ts
  packages/hl7/src/events.ts
  packages/hl7/src/server.ts
  packages/mock/package.json
  packages/mock/src/client.ts
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
Labels: integration

PR feedback
  packages/core/src/search/details.ts
Labels: none

Update README.md URL->URI (#6180)
  examples/medplum-smart-on-fhir-demo/README.md
Labels: none

Move erasableSyntaxOnly to tsconfig
  packages/agent/package.json
  packages/app/package.json
  packages/ccda/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/create-medplum/package.json
  packages/dosespot-react/package.json
  packages/examples/package.json
  packages/expo-polyfills/package.json
  packages/fhir-router/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/health-gorilla-core/package.json
  packages/health-gorilla-react/package.json
  packages/hl7/package.json
  packages/mock/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
  tsconfig.json
Labels: none

Fixing compile issues on SMART app
  examples/medplum-smart-on-fhir-demo/src/App.tsx
  examples/medplum-smart-on-fhir-demo/src/main.tsx
  examples/medplum-smart-on-fhir-demo/src/pages/LaunchPage.tsx
  examples/medplum-smart-on-fhir-demo/src/pages/PatientPage.tsx
Labels: example

FE pattern revisions
  examples/medplum-mso-demo/src/App.tsx
  examples/medplum-mso-demo/src/components/ClinicianList.tsx
  examples/medplum-mso-demo/src/components/PatientList.tsx
  examples/medplum-mso-demo/src/pages/LandingPage.tsx
  examples/medplum-mso-demo/src/pages/ManageClinicPage.tsx
  examples/medplum-mso-demo/src/pages/NewClinicPage.tsx
  examples/medplum-mso-demo/src/pages/NewClinicianPage.tsx
  examples/medplum-mso-demo/src/pages/UploadAccessPolicyPage.tsx
  examples/medplum-mso-demo/src/pages/UploadBundlePage.tsx
  examples/medplum-mso-demo/src/utils/admin.ts
  examples/medplum-mso-demo/src/utils/enrollment.ts
Labels: example

refactor(server/agent): merge `$bulk-status` and `$status` impl
  packages/server/src/fhir/operations/agentbulkstatus.ts
  packages/server/src/fhir/operations/agentstatus.ts
  packages/server/src/fhir/operations/utils/agentutils.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

dependency build fix
  examples/medplum-mso-demo/package.json
  examples/medplum-mso-demo/src/utils/admin.ts
  package-lock.json
Labels: dependencies, example

fix(server/agent): fix case where search returns no results
  packages/server/src/fhir/operations/agentstatus.test.ts
  packages/server/src/fhir/operations/agentstatus.ts
Labels: fhir-datastore

Update examples/medplum-demo-bots/src/dft-transfer-listener/dft-transfer-bot.ts
  examples/medplum-demo-bots/src/dft-transfer-listener/dft-transfer-bot.ts
Labels: example

change insurance to coverage
  examples/medplum-demo-bots/src/dft-transfer-listener/dft-transfer-bot.ts
Labels: example

move main function to top of file
  examples/medplum-demo-bots/src/dft-transfer-listener/dft-transfer-bot.ts
Labels: example

Reduce transaction aborted warning logs
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

Align crawler function signatures
  packages/core/src/typeschema/crawler.test.ts
  packages/core/src/typeschema/crawler.ts
  packages/core/src/typeschema/validation.ts
  packages/server/src/fhir/references.ts
  packages/server/src/workers/download.ts
Labels: fhir-datastore

Updating README
  examples/medplum-smart-on-fhir-demo/README.md
Labels: none

Reduce transaction aborted warning logs (#6182)
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

Fixes #6031 - upgrade pg, fix windows perf issues
  package-lock.json
  packages/generator/package.json
  packages/server/package.json
Labels: dependencies

C-CDA Assessments and Plan
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/types.ts
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, integration, compliance

CarePlans can only be in 'completed' status
  packages/ccda/src/fhir-to-ccda.ts
Labels: integration, compliance

Fixes #6031 - upgrade pg, fix windows perf issues (#6184)
  package-lock.json
  packages/generator/package.json
  packages/server/package.json
Labels: dependencies

Fixed tests
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/testdata/PlanOfTreatmentCarePlan.json
Labels: integration, compliance

C-CDA Assessments and Plan (#6179)
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/PlanOfTreatmentCarePlan.json
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, integration, compliance

Fixes #6169 - ESM compat for iconv-lite
  packages/hl7/src/connection.ts
Labels: integration

Added C-CDA narratives and display text
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/generator/src/index.ts
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore

refactor(server/agent): unmerge, share getStatusesForAgent
  packages/server/src/fhir/operations/agentbulkstatus.ts
  packages/server/src/fhir/operations/agentstatus.test.ts
  packages/server/src/fhir/operations/agentstatus.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

cleanup(server): rm unused agent util
  packages/server/src/fhir/operations/utils/agentutils.ts
Labels: fhir-datastore

cleanup(server/agent): Add back `agentBulkStatusHandler` desc
  packages/server/src/fhir/operations/agentbulkstatus.ts
Labels: fhir-datastore

Tests
  packages/server/src/fhir/operations/patientsummary.test.ts
Labels: fhir-datastore

fix(server/agent): add back comment
  packages/server/src/fhir/operations/agentstatus.ts
Labels: fhir-datastore

PlanDefinition for ActivityDefinition ServiceRequest
  packages/server/package.json
  packages/server/src/fhir/operations/plandefinitionapply.test.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

clean up
  packages/server/package.json
Labels: none

Fixes #6169 - ESM compat for iconv-lite (#6185)
  packages/hl7/src/connection.ts
Labels: integration

clean up
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

Fixed sonar warnings
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore

perf(bulkstatus): use MGET to get all statuses at once (#6176)
  packages/server/src/fhir/operations/agentbulkstatus.test.ts
  packages/server/src/fhir/operations/agentbulkstatus.ts
  packages/server/src/fhir/operations/agentstatus.test.ts
  packages/server/src/fhir/operations/agentstatus.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore
