Repository medplum/medplum, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, example, auth, security, fhir-datastore, search, medications, integration, compliance, react, self-host

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - packages/docs/blog/**/*
          - packages/docs/docs/**/*
          - packages/docs/src/**/*

example:
  - changed-files:
      - any-glob-to-any-file:
          - packages/examples/src/**/*
          - examples/*/src/**/*

auth:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

security:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

fhir-datastore:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/**/*

search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/search*
          - packages/server/src/fhir/lookups/**/*

medications:
  - changed-files:
      - any-glob-to-any-file:
          - examples/medplum-photon-integration/src/**/*

integration:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*
          - packages/core/src/fhircast/**/*
          - packages/dosespot-react/src/**/*
          - packages/health-gorilla/src/**/*
          - packages/health-gorilla-core/src/**/*
          - packages/health-gorilla-react/src/**/*
          - packages/hl7/src/**/*
          - packages/server/src/fhircast/**/*

compliance:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*

react:
  - changed-files:
      - any-glob-to-any-file:
          - packages/react/src/**/*
          - packages/react-hooks/src/**/*

self-host:
  - changed-files:
      - any-glob-to-any-file:
          - packages/cdk/src/**/*
          - charts/**/*
          - terraform/**/*

Add support for nullFlavor in race and ethnicity codes for C-CDA USCDI V3 compliance (#6167)
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/AllergyToEgg.xml
  packages/ccda/testdata/ImmunizationInfluenza.xml
  packages/ccda/testdata/MedicationAtBedtime.xml
  packages/ccda/testdata/Patient.xml
  packages/ccda/testdata/PlanOfTreatmentCarePlan.xml
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.xml
  packages/ccda/testdata/ProblemPneumonia.xml
  packages/ccda/testdata/ProcedureSectionActEntry.xml
  packages/ccda/testdata/ProcedureSectionObservationEntry.xml
  packages/ccda/testdata/ProcedureSectionProcedureEntry.xml
  packages/ccda/testdata/SmokingStatus.xml
  packages/ccda/testdata/VitalSignsGrowthCharts.xml
  packages/ccda/testdata/VitalSignsMetricUnits.xml
Labels: integration, compliance

wip(agent): add PID file system
  packages/agent/src/main.ts
  packages/agent/src/pid.test.ts
  packages/agent/src/pid.ts
Labels: none

tweak(agent): simplify loc for PID file 4 diff os
  packages/agent/src/pid.ts
Labels: none

fix(agent): fix tempFile path
  packages/agent/src/pid.ts
Labels: none

Update patientsetaccounts.ts
  packages/server/src/fhir/operations/patientsetaccounts.ts
Labels: fhir-datastore

ReindexJob no longer based on LongJob
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/workers/batch.ts
  packages/server/src/workers/cron.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.ts
Labels: fhir-datastore

Daisy-chain migrations
  packages/server/src/app.ts
  packages/server/src/database.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v5.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/workers/post-deploy-migration.ts
Labels: none

To Fix: super-admin only search functionality
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

fix returning await
  examples/medplum-demo-bots/src/dft-transfer-listener/dft-transfer-bot.ts
Labels: example

tweak(agent): use conventional file paths for pid
  packages/agent/src/pid.test.ts
  packages/agent/src/pid.ts
Labels: none

Use erasableSyntaxOnly
  packages/core/src/access.ts
  packages/core/src/bundle.ts
  packages/core/src/client.ts
  packages/core/src/fhirlexer/parse.ts
  packages/core/src/fhirmapper/parse.ts
  packages/core/src/fhirmapper/transform.ts
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/filter/parse.ts
  packages/core/src/filter/types.ts
  packages/core/src/hl7.ts
  packages/core/src/keyvalue.ts
  packages/core/src/logger.ts
  packages/core/src/search/details.ts
  packages/core/src/search/match.test.ts
  packages/core/src/search/search.ts
  packages/react/src/utils/questionnaire.ts
  packages/server/src/agent/utils.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/context.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/expunge.ts
  packages/server/src/fhir/operations/patienteverything.ts
  packages/server/src/fhir/operations/patientsummary.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/rewrite.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/util/auditevent.ts
  packages/server/src/util/cloudwatch.ts
Labels: auth, security, fhir-datastore, search, react

Support search on _project :missing/:present
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

TEMP: perf testing seeds
  packages/server/src/seed.ts
Labels: none

TEMP: ability to explain searches
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

Ability to create sql functions in migrate
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/migrate-utils.ts
  packages/server/src/migrations/migrate.test.ts
  packages/server/src/migrations/migrate.ts
Labels: fhir-datastore

Tweak migrate.ts output
  packages/server/src/migrations/migrate.ts
Labels: none

Correct implementation of :missing/:present
  packages/server/src/fhir/token-column.ts
Labels: fhir-datastore

Add token sort column
  packages/server/src/fhir/searchparameter.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/migrations/migrate.test.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/v87.ts
Labels: fhir-datastore, search

Specify maxResourceVersion in post-deploy migration v1
  packages/server/src/migrations/data/v1.ts
Labels: none

migrate.ts improvements
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/v87.ts
Labels: none

One tokens column per resource
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/searchparameter.test.ts
  packages/server/src/fhir/searchparameter.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/fhir/tokens.ts
  packages/server/src/migrations/migrate.test.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v87.ts
Labels: fhir-datastore, search

Add failing tests for limited :contains token support
  packages/server/src/fhir/tokens.test.ts
Labels: fhir-datastore

First pass at running index creations in a post-deploy migration
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/post-deploy-migration.ts
Labels: none

Checkpoint, auto-running seems to be working as expected
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/app.ts
  packages/server/src/config/types.ts
  packages/server/src/database-migration.test.ts
  packages/server/src/database.ts
  packages/server/src/fhir/tokens.ts
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/types.ts
  packages/server/src/migrations/data/v1.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/types.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

temp
  packages/server/src/app.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/v1.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/v87.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

Move TokenColumnsFeature
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
Labels: fhir-datastore, search

Selective :contains support for tokens
  packages/server/src/fhir/searchparameter.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/migrations/migrate.test.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/v87.ts
Labels: fhir-datastore, search

Work out some bugs when starting from super admin console
  packages/server/src/app.ts
  packages/server/src/config/utils.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/v4.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

Centralize handling of derived search parameters
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/lookups/util.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/tokens.ts
  packages/server/src/migrations/migrate.ts
Labels: fhir-datastore, search

Cleanup handling of case sensitive vs insensitive
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/searchparameter.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/fhir/tokens.ts
Labels: fhir-datastore, search

Rework post-migration worker/queue
  packages/server/src/app.ts
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/v1.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.ts
Labels: none

Remove unused SQL operators
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
Labels: fhir-datastore

Run all search tests using both token column and lookup table
  packages/server/src/fhir/search.test.ts
Labels: fhir-datastore, search

temp
  packages/server/README.md
  packages/server/medplum.config.json
  packages/server/src/database.ts
  packages/server/src/migrations/migration-utils.ts
Labels: none

Don't encourage custom functions
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/migrations/migrate.ts
Labels: fhir-datastore

pre-deploy migration for token columns
  packages/server/src/migrations/schema/v87.ts
Labels: none

Different flavors of ARRAY_CONTAINS
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore, search

Reorganize token-column search code
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.ts
Labels: fhir-datastore, search

Consolidate and add more exhaustive :missing/:present token tests
  packages/server/src/fhir/tokens.test.ts
Labels: fhir-datastore

ReindexJob no longer based on LongJob
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/workers/batch.ts
  packages/server/src/workers/cron.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.ts
Labels: fhir-datastore
