Repository medplum/medplum, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, example, auth, security, fhir-datastore, search, medications, integration, compliance, react, self-host

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - packages/docs/blog/**/*
          - packages/docs/docs/**/*
          - packages/docs/src/**/*

example:
  - changed-files:
      - any-glob-to-any-file:
          - packages/examples/src/**/*
          - examples/*/src/**/*

auth:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

security:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

fhir-datastore:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/**/*

search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/search*
          - packages/server/src/fhir/lookups/**/*

medications:
  - changed-files:
      - any-glob-to-any-file:
          - examples/medplum-photon-integration/src/**/*

integration:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*
          - packages/core/src/fhircast/**/*
          - packages/dosespot-react/src/**/*
          - packages/health-gorilla/src/**/*
          - packages/health-gorilla-core/src/**/*
          - packages/health-gorilla-react/src/**/*
          - packages/hl7/src/**/*
          - packages/server/src/fhircast/**/*

compliance:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*

react:
  - changed-files:
      - any-glob-to-any-file:
          - packages/react/src/**/*
          - packages/react-hooks/src/**/*

self-host:
  - changed-files:
      - any-glob-to-any-file:
          - packages/cdk/src/**/*
          - charts/**/*
          - terraform/**/*

CCDA support for more social history observations (#6199)
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/systems.ts
Labels: integration, compliance

Reduce complexity of functions
  packages/server/src/database.ts
  packages/server/src/workers/reindex.ts
Labels: none

Fix tests
  packages/server/src/database-migration.test.ts
Labels: none

wip(react): add CCDA validation to `CcdaDisplay`
  packages/react/src/CcdaDisplay/CcdaDisplay.tsx
Labels: react

fix(ccda-display): fix json nesting
  packages/react/src/CcdaDisplay/CcdaDisplay.tsx
Labels: react

fix(ccda-display): fix eslint errors
  packages/react/src/CcdaDisplay/CcdaDisplay.tsx
Labels: react

Tighten up logic and tweak error messages
  packages/server/src/app.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
Labels: fhir-datastore

Better firstBoot implementation
  packages/server/src/database.ts
  packages/server/src/migration-sql.test.ts
  packages/server/src/migration-sql.ts
  packages/server/src/migrations/migration-utils.ts
Labels: none

Skip reindex jobs while in firstBoot mode
  packages/server/src/workers/reindex.ts
Labels: none

Add tests for skipping reindex jobs in firstBoot
  packages/server/src/database-migration.test.ts
Labels: none

Add pre-deploy migration for firstBoot
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v87.ts
Labels: none

Fixes #6202 - ccda author metadata fixes
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/MinimalPassingValidator.xml
  packages/react/src/PatientExportForm/PatientExportForm.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
  packages/server/src/fhir/operations/ccdaexport.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
  packages/server/src/fhir/response.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore, integration, compliance, react

Removed 'any' from fhir operation param utils
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/server/src/fhir/operations/utils/parameters.ts
Labels: fhir-datastore

Dependency upgrades - step 1
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-chat-demo/package.json
  examples/medplum-client-external-idp-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-eligibility-demo/package.json
  examples/medplum-fhircast-demo/package.json
  examples/medplum-health-gorilla-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-live-chat-demo/package.json
  examples/medplum-mso-demo/package.json
  examples/medplum-nextauth-demo/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-patient-intake-demo/package.json
  examples/medplum-photon-integration/package.json
  examples/medplum-provider/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-scheduling-demo/package.json
  examples/medplum-smart-on-fhir-demo/package.json
  examples/medplum-task-demo/package.json
  examples/medplum-valueset-selector/package.json
  examples/medplum-websocket-subscriptions-demo/package.json
  package.json
  packages/agent/package.json
  packages/app/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/create-medplum/package.json
  packages/docs/package.json
  packages/dosespot-react/package.json
  packages/e2e/package.json
  packages/eslint-config/package.json
  packages/expo-polyfills/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/health-gorilla-core/package.json
  packages/health-gorilla-react/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
Labels: none

Dependency upgrades - step 2
  package-lock.json
Labels: dependencies

Dependency upgrades - step 3
  examples/medplum-demo-bots/package.json
  packages/bot-layer/package.json
  packages/generator/package.json
  packages/server/package.json
Labels: none

Dependency upgrades - step 4
  package-lock.json
Labels: dependencies

Display claim items data
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Fixed tests
  packages/react/src/PatientExportForm/PatientExportForm.test.tsx
Labels: react

Display insurer and provider data
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
Labels: example

Fixed tests
  packages/fhir-router/src/fhirrouter.ts
  packages/server/src/fhir/operations/ccdaexport.ts
  packages/server/src/fhir/response.ts
Labels: fhir-datastore

Updating reset password email bot
  packages/docs/docs/api/fhir/medplum/passwordchangerequest.mdx
  packages/examples/src/auth/custom-emails.ts
Labels: documentation, example

Update custom-emails.ts
  packages/examples/src/auth/custom-emails.ts
Labels: example

Remove test.only and revert some logic changes
  packages/server/src/database-migration.test.ts
  packages/server/src/database.ts
Labels: none

Fix migration generation output
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
Labels: none

Fixes #6202 - ccda author metadata fixes (#6207)
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/MinimalPassingValidator.xml
  packages/fhir-router/src/fhirrouter.ts
  packages/react/src/PatientExportForm/PatientExportForm.test.tsx
  packages/react/src/PatientExportForm/PatientExportForm.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
  packages/server/src/fhir/operations/ccdaexport.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
  packages/server/src/fhir/response.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore, integration, compliance, react

Removed 'any' from fhir operation param utils (#6206)
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/server/src/fhir/operations/utils/parameters.ts
Labels: fhir-datastore

Fixed C-CDA 'Note' validation
  packages/ccda/src/fhir-to-ccda.ts
  packages/server/src/fhir/operations/patienteverything.ts
  scripts/cicd-deploy.sh
Labels: fhir-datastore, integration, compliance

Tests
  packages/ccda/src/g9.test.ts
Labels: integration, compliance
