Repository medplum/medplum, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, example, auth, security, fhir-datastore, search, medications, integration, compliance, react, self-host

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - packages/docs/blog/**/*
          - packages/docs/docs/**/*
          - packages/docs/src/**/*

example:
  - changed-files:
      - any-glob-to-any-file:
          - packages/examples/src/**/*
          - examples/*/src/**/*

auth:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

security:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

fhir-datastore:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/**/*

search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/search*
          - packages/server/src/fhir/lookups/**/*

medications:
  - changed-files:
      - any-glob-to-any-file:
          - examples/medplum-photon-integration/src/**/*

integration:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*
          - packages/core/src/fhircast/**/*
          - packages/dosespot-react/src/**/*
          - packages/health-gorilla/src/**/*
          - packages/health-gorilla-core/src/**/*
          - packages/health-gorilla-react/src/**/*
          - packages/hl7/src/**/*
          - packages/server/src/fhircast/**/*

compliance:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*

react:
  - changed-files:
      - any-glob-to-any-file:
          - packages/react/src/**/*
          - packages/react-hooks/src/**/*

self-host:
  - changed-files:
      - any-glob-to-any-file:
          - packages/cdk/src/**/*
          - charts/**/*
          - terraform/**/*

improve test
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
Labels: fhir-datastore

fix(subscription): rewrite attachments for ws subs
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: none

C-CDA remaining USCDI classes
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.xml
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, integration, compliance

fix(subscription): rewrite attachments for rest hook subs
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: none

Fixed tests
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore

Add operation chargeitemdefinition $apply (#6194)
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

Added docs for working with package.json
  packages/docs/docs/contributing/package-json.md
Labels: documentation

Added constants for LOINC
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/templates.ts
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, integration, compliance

Update subscription criteria docs to handle additional cases (#6195)
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation

Tests
  packages/ccda/src/g9.test.ts
Labels: integration, compliance

C-CDA remaining USCDI classes (#6196)
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/templates.ts
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.xml
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, integration, compliance

PlanDefinition builder add ActivityDefinition (#6189)
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.stories.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.test.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.tsx
Labels: react

Added docs for working with package.json (#6198)
  packages/docs/docs/contributing/package-json.md
Labels: documentation

Remove commented lines
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

NUCC and signature content
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Display more claim-related dates
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Display prior auth ref number
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Managed Service Organization Demo App (#6148)
  examples/medplum-mso-demo/.gitattributes
  examples/medplum-mso-demo/.gitignore
  examples/medplum-mso-demo/README.md
  examples/medplum-mso-demo/index.html
  examples/medplum-mso-demo/package.json
  examples/medplum-mso-demo/postcss.config.mjs
  examples/medplum-mso-demo/public/favicon.ico
  examples/medplum-mso-demo/public/how-it-works.png
  examples/medplum-mso-demo/public/mso-diagram.png
  examples/medplum-mso-demo/src/App.tsx
  examples/medplum-mso-demo/src/components/ClinicianList.tsx
  examples/medplum-mso-demo/src/components/PatientList.tsx
  examples/medplum-mso-demo/src/data/core/access-policy.ts
  examples/medplum-mso-demo/src/data/core/sample-bundle.ts
  examples/medplum-mso-demo/src/main.tsx
  examples/medplum-mso-demo/src/pages/AllClinicsPage.tsx
  examples/medplum-mso-demo/src/pages/CommunicationsListPage.tsx
  examples/medplum-mso-demo/src/pages/DiagnosticReportPage.tsx
  examples/medplum-mso-demo/src/pages/EncountersListPage.tsx
  examples/medplum-mso-demo/src/pages/LandingPage.tsx
  examples/medplum-mso-demo/src/pages/ManageClinicPage.tsx
  examples/medplum-mso-demo/src/pages/NewClinicPage.tsx
  examples/medplum-mso-demo/src/pages/NewClinicianPage.tsx
  examples/medplum-mso-demo/src/pages/ObservationsListPage.tsx
  examples/medplum-mso-demo/src/pages/PatientsListPage.tsx
  examples/medplum-mso-demo/src/pages/ResourcePage.tsx
  examples/medplum-mso-demo/src/pages/SignInPage.tsx
  examples/medplum-mso-demo/src/pages/UploadAccessPolicyPage.tsx
  examples/medplum-mso-demo/src/pages/UploadBundlePage.tsx
  examples/medplum-mso-demo/src/utils/admin.ts
  examples/medplum-mso-demo/src/utils/enrollment.ts
  examples/medplum-mso-demo/src/vite-env.d.ts
  examples/medplum-mso-demo/tsconfig.json
  examples/medplum-mso-demo/vite.config.ts
  package-lock.json
Labels: dependencies, example

Display outside lab data
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
Labels: example

Display prior claim data
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
Labels: example

Display account id, total charge, and amount paid data
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
Labels: example

ReindexJob no longer uses LongJob
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/types.ts
  packages/server/src/migrations/schema/types.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/utils.ts
Labels: none

More aggressive refresh loop for tests
  packages/server/src/test.setup.ts
Labels: none

Avoid double initialization
  packages/server/src/auth/clientinfo.test.ts
Labels: auth, security

Don't rexport types modules
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/schema/index.ts
Labels: none

Ability to requeue events
  packages/server/src/workers/batch.ts
  packages/server/src/workers/cron.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.ts
Labels: none

Post-deploy migration workflows (the rest of the owl)
  packages/server/src/admin/super.ts
  packages/server/src/app.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/migration-sql.ts
  packages/server/src/migrations/data/types.ts
  packages/server/src/migrations/data/v1.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/utils.ts
Labels: fhir-datastore

Add setting to disable auto-running post-deploy migrations
  packages/server/src/config/loader.ts
  packages/server/src/config/types.ts
  packages/server/src/config/utils.ts
  packages/server/test.config.json
Labels: none

Tests passing again
  packages/server/src/admin/super.test.ts
  packages/server/src/database-migration.test.ts
  packages/server/src/index.test.ts
  packages/server/src/migration-sql.test.ts
  packages/server/src/seed.test.ts
  packages/server/src/workers/reindex.test.ts
Labels: none

requiredBefore is optional
  packages/server/src/database.ts
Labels: none

Add description of FIRST_BOOT
  packages/server/src/migration-sql.ts
Labels: none

LongJob can run multiple iterations per job
  packages/server/src/workers/long-job.ts
Labels: none

expunge handles empty array gracefully
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

Remove testing migrations
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/data/v5.ts
Labels: none

Remove unused function
  packages/server/src/workers/utils.ts
Labels: none

Add tests for post-deploy-migration worker
  packages/server/src/workers/post-deploy-migration.test.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/utils.ts
Labels: none

The battle with jest continues
  packages/server/src/database-migration.test.ts
  packages/server/src/database.test.ts
  packages/server/src/database.ts
  packages/server/src/migration-sql.test.ts
  packages/server/src/migration-sql.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/data/v5.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/migrations/migration-versions.ts
  packages/server/src/seed.test.ts
Labels: none

One top-level describe to take care of mocks
  packages/server/src/database-migration.test.ts
Labels: none

fix(subscription): make sure receiver's repo used for rewrite
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/subscriptions/websockets.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: none

CCDA support for more social history observations
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/systems.ts
Labels: integration, compliance
