Repository medplum/medplum, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, example, auth, security, fhir-datastore, search, medications, integration, compliance, react, self-host

Daisy-chain migrations
  packages/server/src/app.ts
  packages/server/src/database.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v5.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/workers/post-deploy-migration.ts
Labels: none

Add post-deploy data migration
  packages/server/src/database.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/v2.ts
Labels: none

Specify maxResourceVersion for data migration v1
  packages/server/src/migrations/data/v1.ts
Labels: none

requiredBefore is optional
  packages/server/src/database.ts
Labels: none

LongJob can run multiple iterations per job
  packages/server/src/workers/long-job.ts
Labels: none

Add setting to disable auto-running post-deploy migrations
  packages/server/src/config/types.ts
  packages/server/src/config/utils.ts
Labels: none

Specify maxResourceVersion for data migration v1 (#6173)
  packages/server/src/migrations/data/v1.ts
Labels: none

Support search on _project :missing/:present
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

PR feedback
  packages/core/src/bundle.ts
  packages/core/src/search/search.ts
Labels: none

Sonar warnings
  packages/server/src/fhir/sql.ts
  packages/server/src/util/cloudwatch.ts
Labels: fhir-datastore

Fixed issues in remaining packages
  packages/agent/package.json
  packages/agent/src/app.ts
  packages/agent/src/channel.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.ts
  packages/app/package.json
  packages/ccda/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/create-medplum/package.json
  packages/dosespot-react/package.json
  packages/examples/package.json
  packages/expo-polyfills/package.json
  packages/fhir-router/package.json
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/repo.ts
  packages/generator/package.json
  packages/graphiql/package.json
  packages/health-gorilla-core/package.json
  packages/health-gorilla-core/src/lab-order.ts
  packages/health-gorilla-react/package.json
  packages/hl7/package.json
  packages/hl7/src/connection.ts
  packages/hl7/src/events.ts
  packages/hl7/src/server.ts
  packages/mock/package.json
  packages/mock/src/client.ts
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
Labels: integration

Creating Medplum Provider base documentation
  examples/medplum-provider/README.md
  packages/docs/docs/provider/index.md
  packages/docs/sidebars.ts
Labels: documentation

temp
  packages/server/medplum.config.json
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/app.ts
  packages/server/src/database-migration.test.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/types.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/data/v5.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/types.ts
  packages/server/src/workers/batch.ts
  packages/server/src/workers/cron.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.ts
Labels: fhir-datastore

Exclude 'examples' from default 'npm run build' (#6160)
  package.json
Labels: none

Support search on _project :missing/:present (#6172)
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

Creating Medplum Provider base documentation (#6174)
  examples/medplum-provider/README.md
  packages/docs/docs/provider/index.md
  packages/docs/sidebars.ts
Labels: documentation

Implement chartnote as ClinicalImpression for Encounter (#6166)
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/config/constants.ts
  examples/medplum-provider/src/pages/components/Encounter/EncounterHeader.tsx
  examples/medplum-provider/src/pages/components/Encounter/EncounterStepper.module.css
  examples/medplum-provider/src/pages/components/Encounter/EncounterStepper.tsx
  examples/medplum-provider/src/pages/components/Task/TaskPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/pages/encounter/EncounterCheckIn.tsx
  examples/medplum-provider/src/pages/encounter/EncounterComplete.tsx
  examples/medplum-provider/src/pages/encounter/EncounterModal.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
Labels: example

Create bot-run-as-user.md (#6165)
  packages/docs/docs/bots/bot-run-as-user.md
Labels: documentation

tweak(agent): rework pid file locs, get tests working
  packages/agent/src/main.ts
  packages/agent/src/pid.test.ts
  packages/agent/src/pid.ts
  packages/agent/testdata/test-app-template.ts
Labels: none

test(agent): tweak cleanup
  packages/agent/src/pid.test.ts
Labels: none

fix(lint): move `test-app-template.ts` -> `src`
  packages/agent/src/test-app-template.ts
Labels: none

docs: fix comment
  packages/agent/src/pid.test.ts
Labels: none

test(pid): fix path after file loc change
  packages/agent/src/pid.test.ts
Labels: none

test(pid): rm calls to child_process in PID tests
  packages/agent/src/pid.test.ts
  packages/agent/src/pid.ts
Labels: none

test(agent): test that pid is created for both agent and upgrader
  packages/agent/src/main.test.ts
  packages/agent/src/test-app-template.ts
Labels: none

tweak(pid): simplify logic slightly
  packages/agent/src/pid.ts
Labels: none

fix(pid): don't throw on `removePidFile`, add test coverage
  packages/agent/src/pid.test.ts
  packages/agent/src/pid.ts
Labels: none

fix(agent): uncaught errs cause exit like Medplum svr
  packages/agent/src/main.ts
Labels: none

fix(pid): handle `EPERM` vs `ESRCH` from `process.kill(pid, 0)`
  packages/agent/src/pid.test.ts
  packages/agent/src/pid.ts
Labels: none

Limit result set size for ValueSetAutocomplete
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: react

Limit result set size for ValueSetAutocomplete (#6175)
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: react

perf(bulkstatus): use MGET to get all statuses at once
  packages/server/src/fhir/operations/agentbulkstatus.test.ts
  packages/server/src/fhir/operations/agentbulkstatus.ts
  packages/server/src/fhir/operations/agentstatus.ts
Labels: fhir-datastore

docs(bulkstatus): add comment
  packages/server/src/fhir/operations/agentbulkstatus.ts
Labels: fhir-datastore

fix(bulkstatus): rm `id` case since no instance level allowed
  packages/server/src/fhir/operations/agentbulkstatus.ts
Labels: fhir-datastore

Dependency upgrades - step 1
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-chat-demo/package.json
  examples/medplum-client-external-idp-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-eligibility-demo/package.json
  examples/medplum-fhircast-demo/package.json
  examples/medplum-health-gorilla-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-live-chat-demo/package.json
  examples/medplum-nextauth-demo/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-patient-intake-demo/package.json
  examples/medplum-photon-integration/package.json
  examples/medplum-provider/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-scheduling-demo/package.json
  examples/medplum-smart-on-fhir-demo/package.json
  examples/medplum-task-demo/package.json
  examples/medplum-valueset-selector/package.json
  examples/medplum-websocket-subscriptions-demo/package.json
  package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/ccda/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/expo-polyfills/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/react/package.json
  packages/server/package.json
Labels: none

Dependency upgrades - step 2
  package-lock.json
Labels: dependencies

Dependency upgrades - step 3
  packages/server/package.json
Labels: none

Dependency upgrades - step 4
  package-lock.json
Labels: dependencies

$set-accounts not propogating correctly (#6168)
  packages/server/src/fhir/operations/patientsetaccounts.ts
Labels: fhir-datastore

Update examples/medplum-mso-demo/src/components/ClinicianList.tsx
  examples/medplum-mso-demo/src/components/ClinicianList.tsx
Labels: example

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - packages/docs/blog/**/*
          - packages/docs/docs/**/*
          - packages/docs/src/**/*

example:
  - changed-files:
      - any-glob-to-any-file:
          - packages/examples/src/**/*
          - examples/*/src/**/*

auth:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

security:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/auth/**/*
          - packages/server/src/oauth/**/*
          - packages/server/src/scim/**/*
          - packages/server/src/fhir/accesspolicy.ts
          - packages/core/src/access.ts

fhir-datastore:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/**/*

search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/server/src/fhir/search*
          - packages/server/src/fhir/lookups/**/*

medications:
  - changed-files:
      - any-glob-to-any-file:
          - examples/medplum-photon-integration/src/**/*

integration:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*
          - packages/core/src/fhircast/**/*
          - packages/dosespot-react/src/**/*
          - packages/health-gorilla/src/**/*
          - packages/health-gorilla-core/src/**/*
          - packages/health-gorilla-react/src/**/*
          - packages/hl7/src/**/*
          - packages/server/src/fhircast/**/*

compliance:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ccda/src/**/*

react:
  - changed-files:
      - any-glob-to-any-file:
          - packages/react/src/**/*
          - packages/react-hooks/src/**/*

self-host:
  - changed-files:
      - any-glob-to-any-file:
          - packages/cdk/src/**/*
          - charts/**/*
          - terraform/**/*
