Repository medplum/medplum, pull requests merged in 2022-12, with the labels that each got.

#1219 Rename FhirPathTableField
  packages/app/src/SmartSearchPage.test.tsx
  packages/app/src/SmartSearchPage.tsx
  packages/react/src/FhirPathTable/FhirPathTable.test.tsx
  packages/react/src/FhirPathTable/FhirPathTable.tsx
Labels: react

#1223 Changed top level categories to be html labels
  packages/docs/sidebars.js
  packages/docs/src/css/custom.css
Labels: documentation

#1211 Generate StructureMap from FHIR Mapping Language
  packages/core/src/fhirlexer/parse.ts
  packages/core/src/fhirlexer/tokenize.ts
  packages/core/src/fhirmapper/README.md
  packages/core/src/fhirmapper/atoms.ts
  packages/core/src/fhirmapper/parse.test.ts
  packages/core/src/fhirmapper/parse.ts
  packages/core/src/fhirmapper/tokenize.ts
  packages/core/src/fhirpath/atoms.test.ts
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/parse.test.ts
  packages/core/src/fhirpath/parse.ts
  packages/core/src/fhirpath/tokenize.ts
Labels: fhir-datastore

#1224 Several links were broken, now fixed, and cleaned up parts 1 and 2 of…
  packages/docs/docs/app/index.md
  packages/docs/docs/auth/access-control.md
  packages/docs/docs/auth/index.md
  packages/docs/docs/bots/index.md
  packages/docs/docs/careplans/index.md
  packages/docs/docs/charting/index.md
  packages/docs/docs/communications/index.md
  packages/docs/docs/compliance/index.md
  packages/docs/docs/compliance/onc.md
  packages/docs/docs/fhir-datastore/index.md
  packages/docs/docs/fhir-datastore/migration-logic.md
  packages/docs/docs/home.md
  packages/docs/docs/integration/index.md
  packages/docs/docs/questionnaires/index.md
  packages/docs/docs/scheduling/index.md
  packages/docs/docs/search/index.md
  packages/docs/docs/self-hosting/index.md
  packages/docs/docs/subscriptions/index.md
  packages/docs/docs/tutorials/create-a-patient.md
  packages/docs/docs/tutorials/hello-world-part-1.md
  packages/docs/docs/tutorials/register.md
  packages/docs/docs/ui-components/index.md
  packages/docs/src/pages/pricing.tsx
  packages/docs/src/pages/solutions/lab.md
Labels: compliance

#1232 CLI with self-hosted medplum
  packages/cli/src/index.ts
  packages/docs/docs/bots/bots-in-production.md
Labels: self-host, bots

#1213 Support terminologies in ValueSet expand operation
  packages/server/src/admin/super.ts
  packages/server/src/fhir/lookups/valuesetelement.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v25.ts
  packages/server/src/seed.ts
  packages/server/src/seeds/valuesets.ts
Labels: medications, fhir-datastore

#1252 Added AsyncAutocomplete component
  packages/app/src/components/HeaderSearchInput.test.tsx
  packages/app/src/components/HeaderSearchInput.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/CodeInput/CodeInput.tsx
  packages/react/src/CodeableConceptInput/CodeableConceptInput.test.tsx
  packages/react/src/CodeableConceptInput/CodeableConceptInput.tsx
  packages/react/src/CodingInput/CodingInput.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
  packages/react/src/index.ts
Labels: react

#1325 Use tsvector for ValueSet display search
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v26.ts
Labels: medications, fhir-datastore

#1327 Updating broken links
  packages/docs/docs/compliance/hipaa.md
  packages/docs/docs/fhir-datastore/migration-logic.md
  packages/docs/docs/questionnaires/index.md
Labels: documentation

#1331 Use db cursors for reindex operations
  package-lock.json
  packages/server/package.json
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#1337 Added UI elements to initiate Smart App Launch
  packages/app/src/resource/AppsPage.tsx
  packages/app/src/resource/ResourcePage.test.tsx
  packages/mock/src/client.ts
  packages/mock/src/mocks/smart.ts
Labels: questionnaires, medplum-app, auth, compliance

#1338 Fixes #1250 - client credentials refresh
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/server/src/oauth/token.ts
Labels: auth

#1343 Enable resending webhooks as project admin
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.test.ts
Labels: subscriptions

#1345 Interim solution for system|code token search
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: search, compliance

#1347 Document ValueSet expand operation
  packages/docs/docs/api/fhir/operations/validate-a-resource.mdx
  packages/docs/docs/api/fhir/operations/valueset-expand.mdx
  packages/examples/src/api/fhir/operations/valueset-expand.ts
Labels: documentation, fhir-datastore

#1353 Set QuestionnaireResponse.status
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: questionnaires, medplum-app

#1352 Dependency upgrades
  package-lock.json
  package.json
  packages/app/package.json
  packages/app/src/App.tsx
  packages/app/src/resource/ResourcePage.tsx
  packages/bot-layer/package.json
  packages/docs/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/infra/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/__mocks__/bullmq.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/subscription.ts
Labels: medplum-app

#1355 Handle date search parameters on period elements
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: search

#891 Improved token search
  packages/core/src/match.test.ts
  packages/core/src/search.ts
  packages/generator/src/migrate.ts
  packages/server/src/admin/invite.ts
  packages/server/src/fhir/lookups/address.ts
  packages/server/src/fhir/lookups/contactpoint.test.ts
  packages/server/src/fhir/lookups/contactpoint.ts
  packages/server/src/fhir/lookups/humanname.ts
  packages/server/src/fhir/lookups/identifier.ts
  packages/server/src/fhir/lookups/index.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.test.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/lookups/valuesetelement.ts
  packages/server/src/fhir/operations/csv.ts
  packages/server/src/fhir/operations/graphql.ts
  packages/server/src/fhir/operations/patienteverything.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/search/parse.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v28.ts
Labels: search

#1356 Make the token indexer more robust to invalid data
  packages/server/src/fhir/lookups/token.ts
Labels: search

#1357 Catch and log errors in reindexResourceType
  packages/server/src/fhir/repo.ts
Labels: search

#1360 Read Provenance by ID
  packages/server/src/fhir/provenance.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore, compliance

#1362 Handle 'Resource' in ReferenceInput component
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.tsx
  packages/react/src/ReferenceInput/ReferenceInput.test.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
Labels: medplum-app, react

#1365 Proper implementation of revinclude
  packages/server/src/fhir/provenance.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search/parse.test.ts
  packages/server/src/fhir/search/parse.ts
Labels: fhir-datastore, compliance

#1367 Fixed comma separated references
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore, compliance

#1364 Use .cjs and .mjs file extensions
  package-lock.json
  packages/cli/rollup.config.js
  packages/core/package.json
  packages/core/rollup.config.mjs
  packages/mock/package.json
  packages/mock/rollup.config.mjs
  packages/mock/src/repo.ts
  packages/react/package.json
  packages/react/rollup.config.mjs
Labels: react

#1368 Adding end of year content
  packages/docs/blog/2022-12-26-year-in-review.md
  packages/docs/static/img/blog/2022-in-review.png
Labels: documentation

#1372 Adding graphic to composability post
  packages/docs/blog/2022-12-06-what-is-onc-certification.md
  packages/docs/blog/2022-12-08-composability-medplum.md
  packages/docs/static/img/blog/composability-venn-diagram.png
  packages/docs/static/img/blog/onc-certification.png
Labels: documentation
