Repository medplum/medplum, pull requests merged in 2023-02, with the labels that each got.

#1462 Config file cleanup
  .codeclimate.yml
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  babel.config.json
  package.json
Labels: dependencies

#1464 Removed deploy-storybook.sh
  scripts/cicd-deploy.sh
  scripts/deploy-storybook.sh
Labels: react

#1359 Auto-batch proof-of-concept
  packages/app/src/HomePage.test.tsx
  packages/app/src/SmartSearchPage.test.tsx
  packages/app/src/index.tsx
  packages/app/src/resource/ResourcePage.test.tsx
  packages/app/src/resource/ResourcePage.tsx
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/react/src/DefaultResourceTimeline/DefaultResourceTimeline.tsx
  packages/react/src/EncounterTimeline/EncounterTimeline.tsx
  packages/react/src/PatientTimeline/PatientTimeline.tsx
  packages/react/src/ResourceTimeline/ResourceTimeline.test.tsx
  packages/react/src/ResourceTimeline/ResourceTimeline.tsx
  packages/react/src/ServiceRequestTimeline/ServiceRequestTimeline.tsx
Labels: medplum-app

#1465 Release Version 2.0.1
  package-lock.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/definitions/package.json
  packages/docs/package.json
  packages/examples/package.json
  packages/fhirtypes/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/infra/package.json
  packages/mock/package.json
  packages/react/package.json
  packages/server/package.json
Labels: react

#1468 Fixes #1467 - Document external identity providers
  package.json
  packages/docs/docs/auth/access-control.md
  packages/docs/docs/auth/client-credentials.md
  packages/docs/docs/auth/custom-domain.md
  packages/docs/docs/auth/external-identity-providers.mdx
  packages/docs/docs/auth/external-identity-providers.webp
  packages/docs/docs/auth/google-auth.md
  packages/docs/docs/auth/oauth-auth-code.md
  packages/docs/docs/auth/okta-auth.md
  packages/docs/docs/auth/smart-scopes.md
  packages/examples/src/auth/external-identity-providers.ts
Labels: documentation, auth

#1469 Document external lambda functions for bots
  packages/docs/docs/bots/bot-for-questionnaire-response/bot-for-questionnaire-response.md
  packages/docs/docs/bots/bot-secrets.md
  packages/docs/docs/bots/bots-in-production.md
  packages/docs/docs/bots/creating-a-pdf.md
  packages/docs/docs/bots/external-function.md
  packages/docs/docs/bots/file-uploads.md
  packages/docs/docs/bots/hl7-into-fhir.md
  packages/docs/docs/bots/index.md
  packages/docs/docs/bots/insurance-eligibility-check.md
  packages/docs/docs/bots/logistics-into-ehr.md
  packages/docs/docs/bots/logistics.md
Labels: documentation, self-host, bots

#1470 Fixes #1387 Fixes #1455 Fixes #1456 - Resource search params
  packages/core/src/types.ts
  packages/generator/src/migrate.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v30.ts
Labels: fhir-datastore, search

#1471 Gracefully handle database disconnect
  packages/server/src/app.test.ts
  packages/server/src/database.ts
  packages/server/src/index.test.ts
Labels: self-host

#1472 Added CDK config setting for RDS instance type
  packages/docs/docs/self-hosting/config-settings.md
  packages/infra/src/backend.ts
  packages/infra/src/config.ts
  packages/infra/src/index.test.ts
Labels: self-host

#1473 Fixes #1332 - Multi-platform Docker images
  .github/workflows/build.yml
  Dockerfile
  package.json
  packages/server/README.md
  scripts/deploy-server.sh
Labels: self-host

#1474 Enable RDS Performance Insights
  packages/infra/src/backend.ts
Labels: self-host

#1478 Dependency upgrades
  package-lock.json
  package.json
  packages/app/package.json
  packages/definitions/package.json
  packages/docs/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/infra/package.json
  packages/react/package.json
  packages/server/package.json
Labels: dependencies

#1480 Logout cleanup and docs
  packages/app/src/AppHeader.tsx
  packages/core/src/client.ts
  packages/docs/docs/auth/logout.md
  packages/react/src/auth/RegisterForm.test.tsx
  packages/react/src/auth/SignInForm.test.tsx
  packages/server/src/auth/revoke.test.ts
  packages/server/src/oauth/logout.test.ts
  packages/server/src/oauth/logout.ts
  packages/server/src/oauth/routes.ts
Labels: documentation, auth

#1477 Disable scroll wheel on quantity input
  packages/react/src/QuantityInput/QuantityInput.stories.tsx
  packages/react/src/QuantityInput/QuantityInput.test.tsx
  packages/react/src/QuantityInput/QuantityInput.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: react

#1482 Fixed stale state bug in useResource
  packages/react/src/useResource/useResource.test.tsx
  packages/react/src/useResource/useResource.ts
Labels: bug, react

#1487 Fixes #1483 - handle token system-only search
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.test.ts
Labels: search

#1488 Gracefully handle invalid external token URL
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
Labels: bug, auth

#1499 Display Observation notes by default in the ResourceTimeline component
  packages/app/src/resource/ResourcePage.tsx
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.stories.tsx
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.test.tsx
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.tsx
Labels: react

#1500 Use rfc6902 in server
  package-lock.json
  packages/core/src/client.ts
  packages/mock/package.json
  packages/server/package.json
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/batch.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
Labels: react

#1502 Adding "key" to QuickStatus dropdown
  packages/app/src/resource/ResourcePage.tsx
Labels: medplum-app

#1507 Throw errors when using auto batch
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: bug, medplum-app

#1506 Redis-only Login resources
  packages/server/src/fhir/repo.ts
Labels: auth

#1508 Fixed 'restore deleted resource' flow
  packages/app/src/resource/ResourcePage.tsx
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/react/src/ResourceTimeline/ResourceTimeline.tsx
  packages/react/src/index.ts
Labels: bug, medplum-app

#1509 Use cache-only feature for 'execute' logins
  packages/server/src/fhir/repo.ts
Labels: auth, bots

#1510 Remove AuditEvent from DefaultResourceTimeline
  packages/react/src/DefaultResourceTimeline/DefaultResourceTimeline.tsx
Labels: medplum-app, react

#1511 Fixes #1494 - fixed :not token modifier in next URL
  packages/core/src/search.test.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search/parse.test.ts
  packages/server/src/fhir/search/parse.ts
Labels: search

#1513 Fixed db index on ServiceRequest.orderDetail
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v31.ts
Labels: fhir-datastore

#1512 Resolve redis caching and access policies
  packages/server/src/auth/login.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth, fhir-datastore

#1515 Dependency upgrades
  package-lock.json
  package.json
  packages/app/package.json
  packages/app/src/AppHeader.tsx
  packages/app/src/AppNavbar.tsx
  packages/app/src/BatchPage.tsx
  packages/app/src/RegisterPage.tsx
  packages/app/src/components/HeaderSearchInput.tsx
  packages/app/src/resource/ResourcePage.tsx
  packages/bot-layer/package.json
  packages/cli/package.json
  packages/docs/package.json
  packages/generator/package.json
  packages/infra/package.json
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/AttachmentArrayInput/AttachmentArrayInput.tsx
  packages/react/src/AttachmentButton/AttachmentButton.stories.tsx
  packages/react/src/ErrorBoundary/ErrorBoundary.tsx
  packages/react/src/MoneyInput/MoneyInput.tsx
  packages/react/src/OperationOutcomeAlert/OperationOutcomeAlert.tsx
  packages/react/src/ReferenceRangeEditor/ReferenceRangeEditor.tsx
  packages/react/src/RequestGroupDisplay/RequestGroupDisplay.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.tsx
  packages/react/src/ResourceTimeline/ResourceTimeline.tsx
  packages/react/src/SearchControl/SearchControl.tsx
  packages/react/src/SearchPopupMenu/SearchPopupMenu.tsx
  packages/react/src/Timeline/Timeline.tsx
  packages/react/src/auth/MfaForm.tsx
  packages/server/package.json
Labels: dependencies

#1516 Caching improvements in MedplumClient
  packages/app/src/HomePage.test.tsx
  packages/app/src/resource/ResourcePage.tsx
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: medplum-app, react

#1520 Parameterized access policies
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/ProjectMembership.d.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/oauth/middleware.ts
Labels: auth

#1525 Handle malformed coding in ResourceHeader
  packages/app/src/components/ResourceHeader.test.tsx
  packages/app/src/components/ResourceHeader.tsx
Labels: medplum-app

#1528 Retry on 500 and log non-JSON responses
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/fhirmapper/tokenize.test.ts
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/mock/src/client.ts
Labels: audit-logging

#1529 Fixes #1527 - MedplumClient doc bugs in readme
  packages/core/README.md
Labels: documentation

#1531 Fixed display bugs in ResourceTimeline
  packages/react/src/DefaultResourceTimeline/DefaultResourceTimeline.test.tsx
  packages/react/src/ResourceTable/ResourceTable.tsx
  packages/react/src/ResourceTimeline/ResourceTimeline.tsx
  packages/react/src/utils/date.ts
Labels: medplum-app, react

#1535 Support externalId / "sub" from external auth
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/IdentityProvider.d.ts
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
  packages/server/src/auth/utils.ts
Labels: auth

#1539 Fixed vertical spacing on 'Create Bot' and 'Create Client'
  packages/app/src/admin/CreateBotPage.tsx
  packages/app/src/admin/CreateClientPage.tsx
Labels: medplum-app

#1540 Fixed IdentityProvider.useSubject in base-schema.json
  packages/core/src/base-schema.json
Labels: auth

#1534 Fixed 'resource not found' error message
  packages/app/src/resource/JsonPage.tsx
  packages/app/src/resource/ResourcePage.test.tsx
  packages/app/src/resource/ResourcePage.tsx
  packages/react/src/OperationOutcomeAlert/OperationOutcomeAlert.tsx
  packages/react/src/useResource/useResource.test.tsx
  packages/react/src/useResource/useResource.ts
Labels: medplum-app

#1538 Fixes #1537 - left nav highlight uses query params
  packages/app/src/App.test.tsx
  packages/app/src/AppNavbar.tsx
  packages/mock/src/client.ts
Labels: medplum-app

#1542 Use exact string match for email search
  packages/definitions/dist/fhir/r4/search-parameters.json
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#1544 Added getExternalAuthRedirectUri helper
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: auth

#1543 Fixes #1486 - Added flag to ClientApplication to disable PKCE
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/ClientApplication.d.ts
  packages/server/src/oauth/utils.test.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#1547 Adding a standards version advancement process statement to documenta…
  packages/docs/docs/compliance/onc.md
Labels: documentation, compliance

#1548 update default docker image in init script
  packages/infra/src/init.test.ts
  packages/infra/src/init.ts
Labels: self-host

#1549 Support MedplumClient.processCode server side
  packages/core/src/client.ts
Labels: auth

#1550 Fixed invite new user as client application
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/utils.ts
  packages/server/src/auth/changepassword.ts
  packages/server/src/auth/me.ts
  packages/server/src/auth/mfa.ts
  packages/server/src/auth/revoke.test.ts
  packages/server/src/auth/revoke.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/oauth/userinfo.ts
Labels: auth

#1551 Support users having both email auth and external ID auth
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/search-parameters.json
  packages/fhirtypes/dist/User.d.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v32.ts
  packages/server/src/oauth/utils.test.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#1554 Added super admin guide
  packages/docs/docs/self-hosting/install-on-aws.md
  packages/docs/docs/self-hosting/install-on-ubuntu.md
  packages/docs/docs/self-hosting/super-admin-guide.md
  packages/server/README.md
  postgres/init_test.sql
Labels: documentation, self-host

#1555 SMART App Launch instructions
  packages/docs/docs/integration/index.md
  packages/docs/docs/integration/smart-app-launch.md
Labels: documentation, medplum-app, compliance

#1556 Special cases for capitalized abbreviations
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/docs/docs/auth/oauth-auth-code.md
  packages/docs/docs/integration/smart-app-launch.md
  packages/server/src/oauth/README.md
Labels: auth

#1526 Add db index on AuditEvent.entity
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v33.ts
Labels: audit-logging

#1561 Fixes #1557 Fixes #1558 - Use graphql dataloader and redis mget
  package-lock.json
  packages/fhir-router/package.json
  packages/fhir-router/rollup.config.mjs
  packages/fhir-router/src/graphql.ts
  packages/fhir-router/src/repo.ts
  packages/mock/package.json
  packages/server/package.json
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/newproject.ts
  packages/server/src/fhir/operations/graphql.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/oauth/utils.test.ts
  packages/server/src/test.setup.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/subscription.ts
Labels: fhir-datastore

#1564 Fix QuickStatus selector
  packages/app/src/components/QuickStatus.tsx
  packages/app/src/resource/ResourcePage.tsx
Labels: medplum-app

#1562 Documentation for Bulk FHIR API, fixes #1498
  packages/docs/docs/analytics/index.md
  packages/docs/docs/api/fhir/operations/bulk-fhir.md
Labels: documentation, fhir-datastore

#1567 Fixed missing pkceOptional in fhir.schema.json
  packages/definitions/dist/fhir/r4/fhir.schema.json
Labels: auth

#1566 Fix bug in readResource, AccessPolicy, and redis cache
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: bug

#1568 Added option to disable Google auth
  packages/react/src/auth/AuthenticationForm.tsx
  packages/react/src/auth/SignInForm.test.tsx
  packages/react/src/auth/SignInForm.tsx
Labels: auth

#1570 Fixed ClientApplication.identityProvider in non-strict mode
  packages/definitions/dist/fhir/r4/fhir.schema.json
Labels: auth

#1574 Use globalThis for default fetch
  packages/core/src/client.ts
Labels: react

#1523 Docs on Unit Testing Bots
  package-lock.json
  packages/docs/docs/bots/bot-for-questionnaire-response/bot-for-questionnaire-response.md
  packages/docs/docs/bots/unit-testing-bots.md
  packages/docs/src/components/MedplumCodeBlock.tsx
  packages/examples/package.json
  packages/examples/src/bots/finalize-report.test.ts
  packages/examples/src/bots/finalize-report.ts
  packages/examples/tsconfig.json
Labels: documentation, bots

#1581 Initial SCIM support
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/ProjectMembership.d.ts
  packages/server/src/admin/invite.ts
  packages/server/src/scim/routes.test.ts
  packages/server/src/scim/routes.ts
  packages/server/src/scim/types.ts
  packages/server/src/scim/utils.ts
Labels: auth

#1582 SCIM docs
  packages/docs/docs/api/scim/_category_.json
  packages/docs/docs/api/scim/overview.md
  packages/docs/docs/api/scim/users.md
Labels: documentation, auth

#1585 Increase max search results in SCIM response
  packages/server/src/scim/utils.ts
Labels: auth

#1587 Fixes #1578 - project admin UI fixes
  packages/app/src/admin/EditMembershipPage.test.tsx
  packages/app/src/admin/EditMembershipPage.tsx
  packages/react/src/ResourceName/ResourceName.test.tsx
  packages/react/src/ResourceName/ResourceName.tsx
Labels: medplum-app

#1589 Set project compartment on Project and ProjectMembership
  packages/server/src/admin/project.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#1588 More SCIM functionality
  packages/docs/docs/api/scim/users.md
  packages/server/src/scim/routes.test.ts
  packages/server/src/scim/routes.ts
  packages/server/src/scim/types.ts
  packages/server/src/scim/utils.ts
Labels: auth

#1591 Show error on 'Choose Profile' form
  packages/react/src/auth/ChooseProfileForm.tsx
  packages/react/src/auth/SignInForm.test.tsx
Labels: auth

#1594 Fixes #1593 - update tsconfig and type exports
  packages/app/tsconfig.json
  packages/core/package.json
  packages/core/rollup.config.mjs
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/definitions/package.json
  packages/definitions/tsconfig.build.json
  packages/definitions/tsconfig.json
  packages/fhir-router/package.json
  packages/fhir-router/rollup.config.mjs
  packages/fhir-router/tsconfig.build.json
  packages/fhir-router/tsconfig.json
  packages/mock/package.json
  packages/mock/rollup.config.mjs
  packages/mock/tsconfig.build.json
  packages/mock/tsconfig.json
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/SearchControl/SearchControl.test.tsx
  packages/react/src/SearchPopupMenu/SearchPopupMenu.test.tsx
  packages/react/tsconfig.build.json
  packages/react/tsconfig.cjs.json
  packages/react/tsconfig.esm.json
  packages/react/tsconfig.json
  packages/server/package.json
  packages/server/tsconfig.build.json
  packages/server/tsconfig.json
  tsconfig.base.json
Labels: dependencies

#1596 Generate fhir.schema.json from StructureDefinitions
  package-lock.json
  packages/core/src/types.ts
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/generator/package.json
  packages/generator/src/index.ts
  packages/generator/src/jsonschema.ts
  packages/generator/src/valuesets.ts
Labels: fhir-datastore
