Repository medplum/medplum, pull requests merged in 2023-04, with the labels that each got.

#1762 Create-only webhooks
  packages/docs/docs/subscriptions/subscription-extensions.md
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/context.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: subscriptions, bots

#1769 Fixes #1768 - Support 'offline' and 'offline_access' scopes
  packages/core/src/client.ts
  packages/fhirtypes/dist/OperationOutcome.d.ts
  packages/server/src/auth/exchange.ts
  packages/server/src/auth/external.ts
  packages/server/src/auth/google.ts
  packages/server/src/auth/login.test.ts
  packages/server/src/auth/register.ts
  packages/server/src/auth/revoke.test.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/utils.test.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/test.setup.ts
Labels: auth

#1772 Updated TimingInput with more units
  packages/react/src/TimingInput/TimingInput.test.tsx
  packages/react/src/TimingInput/TimingInput.tsx
Labels: react

#1774 Fixes #1737 - Set Redis EX flag
  packages/server/src/fhir/repo.ts
Labels: self-host

#1778 Adding post install checklist fixes #1760
  packages/docs/blog/2023-04-04-post-install-verification.md
  packages/docs/docs/billing/index.md
  packages/docs/docs/self-hosting/index.md
  packages/docs/src/pages/pricing.tsx
  packages/docs/src/pages/solutions/index.md
Labels: self-host

#1776 Fixes #1298 - Implement FHIR search _include
  packages/core/src/search/parse.test.ts
  packages/core/src/search/search.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: search

#1777 Send detailed error on unrecognized client_assertion_type
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
Labels: auth

#1779 Update MockClient to handle `uri` search parameters
  packages/core/src/search/match.test.ts
  packages/core/src/search/match.ts
Labels: bots

#1771 Fixes - #1689 Deploy Multiple Bots from Medplum CLI
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/docs/docs/bots/bots-in-production.md
Labels: bots, integration

#1794 Fixes #1793 - error handling in autobatch single request case
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: fhir-datastore

#1788 FHIR Search Guide
  packages/docs/docs/bots/bot-basics.md
  packages/docs/docs/fhir-datastore/basic-fhir-search.mdx
  packages/docs/docs/search/basic-search.mdx
  packages/docs/docs/search/index.md
  packages/docs/sidebars.js
  packages/docs/src/pages/solutions/provider-portal.md
  packages/examples/src/search/basic-search.ts
Labels: documentation, search

#1797 Dependency warnings blog post
  packages/docs/blog/2023-04-07-dependency-warnings.md
Labels: self-host

#1795 Fixes #1792 - Move externalId from User to ProjectMembership
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/search-parameters.json
  packages/fhirtypes/dist/ProjectMembership.d.ts
  packages/fhirtypes/dist/User.d.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
  packages/server/src/auth/newpatient.ts
  packages/server/src/auth/newproject.ts
  packages/server/src/auth/utils.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v36.ts
  packages/server/src/oauth/utils.test.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/scim/utils.ts
Labels: auth

#1801 Fixes #1730 Project delete operations have arbitrary caps Part 1
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/fhir/operations/expunge.test.ts
  packages/server/src/fhir/operations/expunge.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: self-host

#1803 Remove Openbase
  README.md
Labels: documentation

#1806 Adding instructions for consuming webhooks
  packages/docs/blog/2023-04-10-medplum-at-himss-2023.md
  packages/docs/docs/bots/consuming-webhooks.md
  packages/docs/docs/bots/index.md
  packages/docs/docs/bots/logistics.md
Labels: security, auth, bots

#1808 Paginated Search Documentation
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/docs/docs/search/paginated-search.mdx
  packages/examples/src/search/paginated-search.ts
Labels: documentation, search

#1796 Download/Export as a Transaction Bundle
  packages/app/src/HomePage.test.tsx
  packages/app/src/HomePage.tsx
  packages/app/src/utils.test.ts
  packages/app/src/utils.ts
  packages/core/src/bundle.test.ts
  packages/core/src/bundle.ts
  packages/core/src/index.ts
  packages/react/src/SearchControl/SearchControl.stories.tsx
  packages/react/src/SearchControl/SearchControl.test.tsx
  packages/react/src/SearchControl/SearchControl.tsx
  packages/react/src/SearchExportDialog/SearchExportDialog.stories.tsx
  packages/react/src/SearchExportDialog/SearchExportDialog.test.tsx
  packages/react/src/SearchExportDialog/SearchExportDialog.tsx
  packages/server/src/fhir/operations/csv.ts
Labels: medplum-app, fhir-datastore

#1814 Fixes #1761 Super admin tool to remove bullmq jobs and repeatable jobs
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/workers/cron.test.ts
  packages/server/src/workers/cron.ts
Labels: self-host

#1823 Changed JS hash private fields to TS private
  packages/cli/src/storage.ts
  packages/core/src/cache.ts
  packages/core/src/client.ts
  packages/core/src/eventtarget.ts
  packages/core/src/fhirlexer/parse.ts
  packages/core/src/fhirlexer/tokenize.ts
  packages/core/src/fhirmapper/parse.ts
  packages/core/src/readablepromise.ts
  packages/core/src/schema.ts
  packages/core/src/storage.ts
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/repo.ts
  packages/generator/src/filebuilder.ts
  packages/server/src/fhir/lookups/address.ts
  packages/server/src/fhir/lookups/humanname.ts
  packages/server/src/fhir/operations/resourcegraph.test.ts
  packages/server/src/fhir/operations/resourcegraph.ts
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/storage.ts
Labels: fhir-datastore

#1828 Fixed parsing boolean parameters from SSM parameter store
  packages/server/src/__mocks__/@aws-sdk/client-ssm.ts
  packages/server/src/config.test.ts
  packages/server/src/config.ts
Labels: self-host

#1824 --as-transaction for CLI
  packages/cli/src/get.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/docs/docs/cli/index.md
  packages/docs/sidebars.js
Labels: integration

#1835 Adding MITRE talk video and transcript to blog
  packages/docs/blog/2023-04-14-medplum-mitre-talk.md
Labels: documentation

#1843 Clarify use of Quantities in RangeDisplay component
  packages/core/src/format.test.ts
  packages/core/src/format.ts
  packages/react/src/RangeDisplay/RangeDisplay.stories.tsx
Labels: fhir-datastore

#1844 Fixes #1798 Navigate to all FHIR resource Types
  packages/app/src/App.test.tsx
  packages/app/src/AppNavbar.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/CodeInput/CodeInput.test.tsx
  packages/react/src/CodeInput/CodeInput.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: medplum-app, react

#1849 Fixes #1829: Expunge test async error
  packages/server/src/fhir/operations/expunge.test.ts
Labels: fhir-datastore, self-host

#1868 Fixes #1854: Multiple copies of Valuesets and Codesets
  packages/server/src/seeds/valuesets.ts
Labels: fhir-datastore

#1838 GraphQL guide
  packages/docs/docs/api/fhir/operations/graphql.md
  packages/docs/docs/search/graphql.mdx
  packages/examples/src/search/graphql.ts
Labels: documentation, search

#1874 `Project` command in CLI
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/projects.ts
  packages/docs/docs/cli/index.md
  packages/mock/src/client.ts
Labels: integration

#1879 Project `current` and `switch`
  packages/cli/src/index.test.ts
  packages/cli/src/projects.ts
  packages/docs/docs/cli/index.md
Labels: integration

#1878 Add example for system level bulk export to docs
  packages/docs/docs/analytics/index.md
  packages/docs/docs/api/fhir/operations/bulk-fhir.mdx
  packages/examples/src/api/fhir/operations/bulk-fhir.py
Labels: documentation, integration

#1836 App config cleanup
  packages/app/src/OAuthPage.tsx
  packages/app/src/RegisterPage.test.tsx
  packages/app/src/RegisterPage.tsx
  packages/app/src/ResetPasswordPage.test.tsx
  packages/app/src/ResetPasswordPage.tsx
  packages/app/src/SignInPage.test.tsx
  packages/app/src/SignInPage.tsx
  packages/app/src/config.ts
  packages/app/src/index.test.tsx
  packages/app/src/index.tsx
  packages/react/src/auth/NewUserForm.tsx
  packages/react/src/auth/RegisterForm.tsx
Labels: self-host

#1894 Fixes #1883 - publish bot-layer
  packages/bot-layer/README.md
  packages/bot-layer/package.json
  scripts/publish.sh
Labels: bots

#1897 Fix app in dev mode
  packages/app/src/index.tsx
Labels: self-host

#1896 Fixes #1895 - GraphQL list field arguments
  packages/fhir-router/src/graphql.test.ts
  packages/fhir-router/src/graphql.ts
  packages/graphiql/src/index.html.ejs
  packages/graphiql/src/index.tsx
Labels: fhir-datastore

#1898 Adding additional content post HIMSS for circulation
  packages/docs/blog/2023-04-10-medplum-at-himss-2023.md
Labels: documentation

#1900 Deploy server on changes to fhir-router
  scripts/cicd-deploy.sh
Labels: self-host

#1902 Fixed graphql Extension list field args
  packages/fhir-router/src/graphql.test.ts
  packages/fhir-router/src/graphql.ts
  packages/graphiql/src/index.tsx
Labels: fhir-datastore

#1888 Fixes #1850: Project Clone operation - add support for setting project name
  packages/docs/docs/self-hosting/super-admin-cli.md
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/test.setup.ts
Labels: self-host

#1903 Update register.md
  packages/docs/docs/tutorials/register.md
Labels: documentation

#1890 Add example code for downloading bulk export data to disk
  packages/examples/src/api/fhir/operations/bulk-fhir.py
Labels: fhir-datastore

#1905 Add onUnauthenticated handling
  packages/cli/src/index.ts
  packages/cli/src/rest.ts
Labels: auth, integration

#1837 Update batchProcessor to allow `PUT` after `POST` in the same transac…
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
Labels: fhir-datastore

#1907 Added docs for GraphQL list field args
  packages/docs/docs/search/graphql.mdx
  packages/examples/src/search/graphql.ts
Labels: documentation, fhir-datastore

#1908 Fixes #1850: Project clone operation parameters - resourceTypes, includeIds, excludeIds
  packages/docs/docs/self-hosting/super-admin-cli.md
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/operations/projectclone.ts
Labels: fhir-datastore, self-host, integration

#1901 Draft AWS CLI commands
  package-lock.json
  packages/cli/package.json
  packages/cli/rollup.config.mjs
  packages/cli/src/aws.test.ts
  packages/cli/src/aws.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/docs/docs/cli/index.md
Labels: self-host

#1911 Fixed app security link
  packages/app/src/App.test.tsx
  packages/app/src/App.tsx
Labels: react

#1914 Correct search control icons for fields and filters buttons
  packages/react/src/SearchControl/SearchControl.tsx
Labels: react

#1917 Storybook SearchControl: clicking filter button causes exception
  packages/react/src/SearchFilterEditor/SearchFilterEditor.tsx
Labels: react

#1924 Fix typo for storybook component title for SearchExportDialog
  packages/react/src/SearchExportDialog/SearchExportDialog.stories.tsx
Labels: react

#1922 Always show login page when running login cli command
  packages/cli/src/auth.ts
Labels: auth, integration

#1934 Fixes #1933 - GraphQL Connection API
  packages/docs/docs/search/graphql.mdx
  packages/examples/src/search/graphql.ts
  packages/fhir-router/src/graphql.test.ts
  packages/fhir-router/src/graphql.ts
  packages/graphiql/src/index.tsx
Labels: fhir-datastore

#1925 Fixes #1919 - CLI update-app command
  package-lock.json
  packages/app/.env.defaults
  packages/app/README.md
  packages/app/package.json
  packages/app/webpack.config.js
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/rollup.config.mjs
  packages/cli/src/aws.test.ts
  packages/cli/src/aws.ts
  packages/cli/src/index.test.ts
  packages/cli/src/utils.test.ts
  packages/cli/src/utils.ts
  packages/docs/docs/cli/index.md
Labels: self-host

#1941 Fix TypeScript capitalization
  packages/docs/blog/2023-03-27-fhir-r5.md
  packages/docs/blog/2023-04-14-medplum-mitre-talk.md
  packages/docs/docs/analytics/index.md
  packages/docs/docs/api/fhir/operations/patient-everything.md
  packages/docs/docs/auth/index.md
  packages/docs/docs/auth/token-exchange.md
  packages/docs/docs/bots/bot-basics.md
  packages/docs/docs/bots/bots-in-production.md
  packages/docs/docs/bots/consuming-webhooks.md
  packages/docs/docs/bots/insurance-eligibility-check.md
  packages/docs/docs/fhir-datastore/index.md
  packages/docs/docs/fhir-datastore/uploading-files-to-medplum.md
  packages/docs/docs/integration/index.md
  packages/docs/docs/search/basic-search.mdx
  packages/docs/docs/search/graphql.mdx
  packages/docs/docs/search/index.md
  packages/docs/docs/search/paginated-search.mdx
  packages/docs/sidebars.js
  packages/docs/src/pages/careers.md
  packages/docs/src/pages/index.tsx
Labels: documentation

#1939 Additions with queries for CLIA CAP certification. Fixes #1936
  packages/docs/docs/compliance/clia-cap.md
Labels: documentation, compliance

#1927 Button to add current location to UserConfiguration
  packages/app/src/App.tsx
  packages/react/src/AppShell/AppShell.stories.tsx
  packages/react/src/AppShell/AppShell.tsx
  packages/react/src/AppShell/Navbar.test.tsx
  packages/react/src/AppShell/Navbar.tsx
  packages/react/src/BookmarkDialog/BookmarkDialog.test.tsx
  packages/react/src/BookmarkDialog/BookmarkDialog.tsx
Labels: react

#1944 Refactored AWS CLI commands into separate files
  packages/cli/src/aws.ts
  packages/cli/src/aws/describe.test.ts
  packages/cli/src/aws/describe.ts
  packages/cli/src/aws/index.ts
  packages/cli/src/aws/list.test.ts
  packages/cli/src/aws/list.ts
  packages/cli/src/aws/update-app.test.ts
  packages/cli/src/aws/update-app.ts
  packages/cli/src/aws/update-server.test.ts
  packages/cli/src/aws/update-server.ts
  packages/cli/src/aws/utils.ts
  packages/cli/src/index.ts
Labels: self-host
