Repository medplum/medplum, pull requests merged in 2023-12, with the labels that each got.

#3432 Stop reviving removed meta properties
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#3431 Agent source cleanup
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/channel.ts
  packages/agent/src/hl7.test.ts
  packages/agent/src/hl7.ts
  packages/agent/src/main.ts
Labels: integration

#3426 Fixes #2789 - support 'delete' subscriptions with bots
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/context.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.ts
Labels: subscriptions, bots

#3438 Fix ValidBot warnings
  packages/docs/docusaurus.config.js
  packages/docs/static/favicon.ico
  packages/docs/static/img/logo-192x192.png
  packages/docs/static/img/logo-512x512.png
  packages/docs/static/manifest.json
Labels: bots

#3441 Create example bots that use a shared code library
  examples/medplum-demo-bots/esbuild-script.mjs
  examples/medplum-demo-bots/medplum.config.json
  examples/medplum-demo-bots/package.json
  examples/medplum-demo-bots/src/bots-with-shared-library/goodbye-patient.test.ts
  examples/medplum-demo-bots/src/bots-with-shared-library/goodbye-patient.ts
  examples/medplum-demo-bots/src/bots-with-shared-library/helpers.ts
  examples/medplum-demo-bots/src/bots-with-shared-library/welcome-patient.test.ts
  examples/medplum-demo-bots/src/bots-with-shared-library/welcome-patient.ts
  examples/medplum-demo-bots/tsconfig.json
  package-lock.json
Labels: bots

#3439 Agent DICOM proof-of-concept
  package-lock.json
  packages/agent/package.json
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/dicom.test.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.test.ts
Labels: integration

#3462 Adding documentation related to ONC (a)(5)
  packages/docs/docs/charting/index.md
  packages/docs/docs/charting/patient-demographics.md
  packages/docs/docs/compliance/onc.md
Labels: documentation, compliance

#3330 Add Project $init operation
  packages/core/src/outcomes.ts
  packages/core/src/typeschema/types.ts
  packages/docs/docs/api/fhir/operations/project-init.md
  packages/server/src/auth/newproject.ts
  packages/server/src/auth/newuser.test.ts
  packages/server/src/auth/newuser.ts
  packages/server/src/auth/register.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/auth/routes.ts
  packages/server/src/auth/utils.ts
  packages/server/src/fhir/operations/README.md
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/operations/projectinit.test.ts
  packages/server/src/fhir/operations/projectinit.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#3477 Fixes #3476 - disjunctions in _filter param
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/search.test.ts
Labels: search

#3475 Fix broken links
  packages/docs/docs/billing/index.md
Labels: billing

#3464 Update undefined string condition in ResourcePropertyInputs
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.tsx
Labels: react

#3502 Fix example project configs
  examples/foomedical/tsconfig.json
  examples/medplum-chart-demo/tsconfig.json
  examples/medplum-fhircast-demo/tsconfig.json
  examples/medplum-hello-world/tsconfig.json
  examples/medplum-react-native-example/tsconfig.json
  examples/medplum-task-demo/tsconfig.json
  packages/react/esbuild.mjs
  scripts/update-example-changes.sh
Labels: react

#3465 Agent request response
  packages/agent/src/app.ts
  packages/agent/src/channel.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.test.ts
  packages/agent/src/hl7.ts
  packages/core/src/agent.ts
  packages/core/src/client.ts
  packages/core/src/contenttype.ts
  packages/core/src/index.ts
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/agent/websockets.test.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentpush.ts
Labels: integration

#3492 Adding documentation related to #3000 CPOE
  packages/docs/docs/charting/ordering-labs-imaging.md
  packages/docs/docs/integration/health-gorilla.md
Labels: documentation, integration

#3505 Fixes #3484 Fixes #3485 - agent properties file
  packages/agent/installer.nsi
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
Labels: integration

#3488 Implement ConceptMap translate operation
  packages/core/src/utils.ts
  packages/server/src/fhir/operations/README.md
  packages/server/src/fhir/operations/conceptmaptranslate.test.ts
  packages/server/src/fhir/operations/conceptmaptranslate.ts
  packages/server/src/fhir/operations/definitions.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#3510 Updated health gorilla demo bots for prod testing
  examples/medplum-demo-bots/src/health-gorilla/health-gorilla-questionnaire.json
  examples/medplum-demo-bots/src/health-gorilla/questionnaire-builder.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
Labels: integration

#3325 Create reference lookup tables
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/reference.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v48.ts
  packages/server/src/migrations/schema/v53.ts
Labels: fhir-datastore, search

#3524 Fix npm ci on Windows runner
  .github/workflows/publish.yml
Labels: integration

#3528 Adding charting resources to documentation
  packages/docs/docs/charting/index.md
Labels: documentation, charting

#3520 Document ConceptMap translate operation
  packages/docs/docs/api/fhir/operations/conceptmap-translate.md
  packages/server/src/fhir/operations/conceptmaptranslate.test.ts
  packages/server/src/fhir/operations/conceptmaptranslate.ts
Labels: documentation

#3522 Document AccessPolicy criteria limitations
  packages/docs/docs/access/access-policies.md
Labels: documentation, auth

#3346 Forms for resource profiles
  packages/app/src/AppRoutes.tsx
  packages/app/src/admin/SecretsPage.tsx
  packages/app/src/admin/SitesPage.tsx
  packages/app/src/resource/ProfilesPage.test.tsx
  packages/app/src/resource/ProfilesPage.tsx
  packages/app/src/resource/ResourcePage.tsx
  packages/app/src/resource/utils.test.ts
  packages/app/src/resource/utils.ts
  packages/app/src/utils.test.ts
  packages/app/src/utils.ts
  packages/core/src/base-schema.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/fhirpath/utils.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/core/src/typeschema/types.test.ts
  packages/core/src/typeschema/types.ts
  packages/core/src/typeschema/validation.ts
  packages/mock/src/index.ts
  packages/mock/src/test-resources/fish-patient.ts
  packages/react/src/AddressInput/AddressInput.stories.tsx
  packages/react/src/AddressInput/AddressInput.test.tsx
  packages/react/src/AddressInput/AddressInput.tsx
  packages/react/src/BackboneElementDisplay/BackboneElementDisplay.tsx
  packages/react/src/BackboneElementInput/BackbonElementInput.utils.ts
  packages/react/src/BackboneElementInput/BackboneElementInput.test.tsx
  packages/react/src/BackboneElementInput/BackboneElementInput.tsx
  packages/react/src/CheckboxFormSection/CheckboxFormSection.tsx
  packages/react/src/ContactDetailInput/ContactDetailInput.stories.tsx
  packages/react/src/ContactDetailInput/ContactDetailInput.tsx
  packages/react/src/ContactPointInput/ContactPointInput.stories.tsx
  packages/react/src/ContactPointInput/ContactPointInput.tsx
  packages/react/src/ElementsInput/ElementsInput.tsx
  packages/react/src/ExtensionInput/ExtensionInput.stories.tsx
  packages/react/src/ExtensionInput/ExtensionInput.test.tsx
  packages/react/src/ExtensionInput/ExtensionInput.tsx
  packages/react/src/FormSection/FormSection.stories.tsx
  packages/react/src/FormSection/FormSection.tsx
  packages/react/src/HumanNameInput/HumanNameInput.stories.tsx
  packages/react/src/HumanNameInput/HumanNameInput.tsx
  packages/react/src/IdentifierInput/IdentifierInput.stories.tsx
  packages/react/src/IdentifierInput/IdentifierInput.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.test.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.tsx
  packages/react/src/ResourceForm/ResourceForm.tsx
  packages/react/src/ResourceForm/ResourceForm.utils.ts
  packages/react/src/ResourcePropertyDisplay/ResourcePropertyDisplay.utils.ts
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.stories.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.test.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.utils.ts
  packages/react/src/SliceInput/SliceInput.tsx
  packages/react/src/SliceInput/SliceInput.utils.ts
  packages/react/src/index.ts
  sonar-project.properties
Labels: react

#3523 Document how to find 500 errors in Athena
  packages/docs/docs/self-hosting/aws-athena-guide.md
Labels: documentation

#3538 Fixes #3469 - handle resolved choice-of-type property names
  .vscode/settings.json
  packages/core/src/base-schema.test.ts
  packages/core/src/base-schema.ts
  packages/core/src/fhirpath/utils.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/core/src/types.ts
Labels: fhir-datastore

#3542 Add hosted zone override setting
  packages/cdk/src/backend.ts
  packages/cdk/src/frontend.ts
  packages/cdk/src/index.test.ts
  packages/cdk/src/storage.ts
  packages/core/src/config.ts
  packages/docs/docs/self-hosting/config-settings.md
Labels: self-host

#3567 Add StructureDefinition to default access policy
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/accesspolicy.ts
Labels: auth

#3566 Fixed sonar warnings and added code coverage
  packages/core/src/schema.test.ts
  packages/server/src/fhir/operations/resourcegraph.test.ts
  packages/server/src/fhir/operations/resourcegraph.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: security

#3530 Add comment to show how to set baseUrl in FooMedical
  examples/foomedical/src/main.tsx
Labels: documentation

#3574 Update FHIR Basics
  packages/docs/docs/fhir-basics.md
  packages/docs/docs/medications/medication-codes.md
  packages/examples/src/medications/medication-codes.ts
Labels: documentation

#3556 Adding a draft of case studies page
  packages/docs/blog/2023-06-19-ensage-case-study.md
  packages/docs/blog/2023-07-18-summer-case-study.md
  packages/docs/blog/2023-09-10-titan-case-study.md
  packages/docs/docusaurus.config.js
  packages/docs/src/components/ProfileCard.tsx
  packages/docs/src/components/link.svg
  packages/docs/src/components/youtube.svg
  packages/docs/src/pages/case-studies.tsx
  packages/docs/static/img/blog/ensage.jpeg
  packages/docs/static/img/blog/ro-logo.png
  packages/docs/static/img/blog/titan-logo.jpeg
Labels: documentation

#3584 RadAI case study
  packages/docs/blog/2023-12-18-radai-case-study.md
Labels: documentation, integration

#3588 Fixing and editing copy
  packages/docs/blog/2023-07-18-summer-case-study.md
  packages/docs/blog/2023-12-18-radai-case-study.md
  packages/docs/src/pages/case-studies.tsx
Labels: documentation

#3552 Reference input profile support
  packages/docs/static/img/blinky-the-fish.png
  packages/mock/src/test-resources/fish-patient.ts
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/ReferenceInput/ReferenceInput.stories.tsx
  packages/react/src/ReferenceInput/ReferenceInput.test.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
  packages/react/src/ResourceInput/ResourceInput.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.tsx
Labels: react

#3601 Display error from the server
  packages/app/src/SetPasswordPage.tsx
Labels: auth

#3600 Added redirectUri to reset password request
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/auth/resetpassword.ts
Labels: auth

#3602 Implement oauth2 userinfo email_verified
  packages/server/src/auth/register.ts
  packages/server/src/auth/setpassword.test.ts
  packages/server/src/auth/setpassword.ts
  packages/server/src/oauth/userinfo.ts
Labels: auth

#3603 Fix typo in `filter-search-parameter.ts`
  packages/examples/src/search/filter-search-parameter.ts
Labels: documentation

#3593 Fixes #3137 - handle multiple memberships in invite
  packages/core/src/client.ts
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/profile.test.ts
Labels: auth

#3594 Improve form based on US Core Implantable Device
  packages/app/src/admin/SecretsPage.test.tsx
  packages/app/src/admin/SitesPage.test.tsx
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/react/src/ElementsInput/ElementsInput.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.test.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.utils.ts
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.tsx
  packages/react/src/SliceInput/SliceInput.tsx
  packages/react/src/SliceInput/SliceInput.utils.ts
Labels: react

#3607 Fixes #3560 - global server heartbeat for websockets
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/core/src/agent.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/server/src/agent/websockets.test.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/app.ts
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/fhir/operations/resourcegraph.test.ts
  packages/server/src/fhircast/websocket.test.ts
  packages/server/src/fhircast/websocket.ts
  packages/server/src/heartbeat.ts
  packages/server/src/websockets.ts
Labels: communications, subscriptions, integration

#3609 Add additional logging for /invite endpoint
  packages/server/src/admin/invite.ts
Labels: audit-logging, auth

#3619 Better agent websocket reconnect
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
Labels: integration

#3620 Added chromatic badge
  README.md
Labels: react

#3629 adding year in review post
  packages/docs/blog/2023-12-31-year-in-review.md
  packages/docs/static/img/blog/2023-in-review.png
Labels: documentation

#3631 Adding landing page for enterprise
  packages/docs/docs/integration/index.md
  packages/docs/src/pages/about.module.css
  packages/docs/src/pages/enterprise.tsx
  packages/docs/static/img/blog/azure-logo.png
  packages/docs/static/img/blog/candid-health-logo.jpeg
  packages/docs/static/img/blog/ciso-dashboard.jpg
  packages/docs/static/img/blog/datadog-logo.jpeg
  packages/docs/static/img/blog/epic-logo.png
  packages/docs/static/img/blog/google-logo.jpeg
  packages/docs/static/img/blog/health-gorilla-logo.png
  packages/docs/static/img/blog/labcorp-logo.png
  packages/docs/static/img/blog/okta-logo.png
  packages/docs/static/img/blog/open-ai-logo.png
  packages/docs/static/img/blog/quest-logo.jpeg
  packages/docs/static/img/blog/splunk-logo.jpg
  packages/docs/static/img/blog/sumologic-logo.jpg
  packages/docs/static/img/blog/workshop.svg
  packages/docs/static/img/icons/claims-dashboard.svg
  packages/docs/static/img/icons/data-analytics.svg
  packages/docs/static/img/icons/empi.svg
  packages/docs/static/img/icons/hie.svg
  packages/docs/static/img/icons/identity.svg
  packages/docs/static/img/icons/lab-imaging.svg
  packages/docs/static/img/icons/lock.svg
  packages/docs/static/img/icons/payors.svg
  packages/docs/static/img/icons/value-based-care.svg
  packages/docs/static/img/icons/workforce.svg
Labels: documentation, enterprise
