Repository medplum/medplum, pull requests merged in 2023-08, with the labels that each got.

#2577 Save Bot input in S3
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/storage.ts
  packages/server/src/workers/download.ts
Labels: audit-logging, bots

#2585 Added option to disable email auth in `SignInForm`.
  packages/react/src/auth/AuthenticationForm.tsx
  packages/react/src/auth/SignInForm.stories.tsx
  packages/react/src/auth/SignInForm.test.tsx
  packages/react/src/auth/SignInForm.tsx
Labels: auth, react

#2593 Fix several typos in User Management Guide
  packages/docs/docs/auth/user-management-guide.md
Labels: documentation, auth

#2586 Fix logging of some error messages
  packages/server/src/admin/invite.ts
  packages/server/src/fhir/repo.ts
Labels: audit-logging

#2589 Improve logging for constraint validation errors
  packages/core/src/outcomes.ts
  packages/core/src/schema.ts
  packages/core/src/typeschema/validation.ts
Labels: audit-logging

#2612 Fixes #2611 - add refresh button to SearchControl
  packages/react/src/SearchControl/SearchControl.test.tsx
  packages/react/src/SearchControl/SearchControl.tsx
Labels: react

#2578 Stream HL7 over websockets
  package-lock.json
  packages/agent/README.md
  packages/agent/package.json
  packages/agent/src/__mocks__/ws.ts
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
  packages/docs/docs/agent/index.md
  packages/docs/docs/agent/medplum-agent-connection-diagram.webp
  packages/docs/docs/agent/medplum-agent-overview.webp
  packages/docs/sidebars.js
  packages/hl7/package.json
  packages/hl7/src/client.ts
  packages/hl7/src/connection.test.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/events.ts
  packages/hl7/src/index.ts
  packages/hl7/src/server.test.ts
  packages/hl7/src/server.ts
  packages/server/src/admin/bot.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/test.setup.ts
  packages/server/src/websockets.test.ts
  packages/server/src/websockets.ts
Labels: integration

#2592 Documentation about the LOINC code system
  packages/docs/docs/careplans/loinc.md
Labels: documentation, careplans

#2624 Fixes #2595 - use membership.profile in endpoint endpoint
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
Labels: auth

#2614 Batch upload tool to handle multiple files and display the results
  packages/app/src/BatchPage.tsx
Labels: react

#2597 Add support for _elements and _summary search parameters
  packages/core/src/client.ts
  packages/core/src/search/parse.test.ts
  packages/core/src/search/search.ts
  packages/core/src/typeschema/types.test.ts
  packages/core/src/typeschema/types.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore

#2634 Added copy button to resource ID on resource page
  packages/react/src/ResourcePropertyDisplay/ResourcePropertyDisplay.tsx
Labels: react

#2643 Document GraphQL list filtering with FHIRPath
  packages/docs/docs/graphql/basic-queries.md
  packages/examples/src/graphql/basic-query.ts
Labels: documentation

#2641 Improve handling of primitive extension properties
  packages/core/src/fhirpath/parse.ts
  packages/core/src/fhirpath/utils.ts
  packages/core/src/schema.test.ts
  packages/core/src/schema.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
Labels: fhir-datastore

#2648 Document system only search
  packages/docs/docs/search/basic-search.mdx
Labels: documentation

#2650 Fixed JSON escaping of HL7 strings from lambda bots
  packages/app/src/resource/BotEditor.tsx
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: bots, integration

#2649 Enable profile validation logic
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#2653 Allow bots to return Hl7Message instances
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.ts
Labels: integration

#2646 Blog post on system strings
  packages/docs/blog/2023-08-08-system-strings.md
Labels: documentation, fhir-datastore

#2655 Dependency upgrades
  examples/foomedical/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-task-demo/package.json
  package-lock.json
  package.json
  packages/app/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/examples/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/react/package.json
  packages/server/package.json
Labels: dependencies

#2660 Fixes #1236 - login UX when user does not have membership
  packages/server/src/auth/google.ts
  packages/server/src/auth/login.test.ts
  packages/server/src/auth/login.ts
  packages/server/src/auth/newuser.ts
  packages/server/src/auth/register.ts
  packages/server/src/auth/setpassword.test.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#2661 Use repo.searchOne where possible
  packages/server/src/auth/google.ts
  packages/server/src/auth/newuser.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/seed.ts
  packages/server/src/workers/utils.ts
Labels: search

#2665 Add default base URL to agent installer
  packages/agent/installer.nsi
Labels: integration

#2590 JWT Assertion login for CLI
  packages/cli/src/auth.ts
  packages/cli/src/profile-auth.test.ts
  packages/cli/src/util/command.ts
  packages/cli/src/utils.ts
  packages/docs/docs/cli/external-fhir-servers.md
Labels: auth

#2666 Keep super admin notifications open until user closes
  packages/app/src/admin/SuperAdminPage.tsx
Labels: self-host

#2656 Fixes #1418 - bot layer docs
  packages/docs/docs/bots/bot-lambda-layer.md
  packages/docs/docs/bots/consuming-webhooks.md
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: documentation, bots

#2669 Clarify that patients can be part of more than one group
  packages/docs/docs/fhir-datastore/family-relationships/family-relationships.mdx
Labels: documentation

#2671 Clarify user admin
  packages/docs/docs/auth/user-management-guide.md
  packages/examples/src/auth/user-management-guide.ts
Labels: documentation, auth

#2677 Updating documentation for b10
  packages/docs/blog/2023-08-08-system-strings.md
  packages/docs/blog/2023-08-15-onc-b10-certification-medplum.md
  packages/docs/docs/compliance/onc.md
Labels: documentation, compliance

#2681 Add ReCAPTCHA site key to default app config
  packages/app/.env.defaults
Labels: react

#2682 fix(docs): correct client credentials flow python example
  packages/docs/docs/auth/client-credentials.md
Labels: auth

#2667 'Add Page' to Questionnaire
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.test.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: react

#2676 Add Category input to ReferenceRangeEditor component
  packages/react/src/ReferenceRangeEditor/ReferenceRangeEditor.stories.tsx
  packages/react/src/ReferenceRangeEditor/ReferenceRangeEditor.test.tsx
  packages/react/src/ReferenceRangeEditor/ReferenceRangeEditor.tsx
  packages/react/src/stories/referenceLab.ts
Labels: react

#2420 Add validation benchmarks
  package-lock.json
  packages/core/src/typeschema/validation.test.ts
  packages/generator/package.json
  packages/generator/src/benchmarks.ts
Labels: fhir-datastore

#2687 Change extension url for Questionnaire Page
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: questionnaires, react

#2685 Allow Target Type input for references
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.test.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: react

#2686 Adding blog content
  packages/docs/blog/2023-08-17-yc-oss-faq.md
  packages/docs/static/img/blog/yc-oss-2.jpeg
  packages/docs/static/img/blog/yc-oss.jpeg
Labels: documentation

#2696 Fixed cli test on windows
  packages/cli/src/profile-auth.test.ts
Labels: integration

#2692 Add medplum version to <meta> tag in app.
  packages/app/index.html
  packages/app/vite.config.ts
Labels: medplum-app

#2695 Updating solutions to include reference to EMPI use cases
  packages/docs/docs/careplans/loinc.md
  packages/docs/docs/fhir-datastore/patient-deduplication/patient-deduplication.md
  packages/docs/docs/questionnaires/basic-tutorial.md
  packages/docs/src/pages/solutions/index.md
  packages/docs/src/pages/solutions/lab.md
Labels: auth, fhir-datastore

#2698 Fixes #2675 - added Medplum resource types to navbar
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/Agent.d.ts
  packages/react/src/AppShell/Navbar.tsx
Labels: react

#2684 Add FHIRPath criteria for write operations to AccessPolicy
  packages/core/src/access.test.ts
  packages/core/src/access.ts
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/static/data/medplumDefinitions/accesspolicy.json
  packages/docs/static/data/medplumDefinitions/asyncjob.json
  packages/docs/static/data/medplumDefinitions/bot.json
  packages/docs/static/data/medplumDefinitions/bulkdataexport.json
  packages/docs/static/data/medplumDefinitions/domainconfiguration.json
  packages/docs/static/data/medplumDefinitions/login.json
  packages/docs/static/data/medplumDefinitions/passwordchangerequest.json
  packages/docs/static/data/medplumDefinitions/project.json
  packages/fhirtypes/dist/AccessPolicy.d.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#2674 Patient Deduplication Reference Implementation
  examples/medplum-demo-bots/medplum.config.json
  examples/medplum-demo-bots/src/deduplication/README.md
  examples/medplum-demo-bots/src/deduplication/find-matching-patients.test.ts
  examples/medplum-demo-bots/src/deduplication/find-matching-patients.ts
  examples/medplum-demo-bots/src/deduplication/merge-matching-patients.test.ts
  examples/medplum-demo-bots/src/deduplication/merge-matching-patients.ts
  examples/medplum-demo-bots/src/deduplication/merge-questionnaire.json
  examples/medplum-demo-bots/src/deduplication/patient-data.json
  examples/medplum-demo-bots/src/patient-deduplication.test.ts
  examples/medplum-demo-bots/src/patient-deduplication.ts
  examples/medplum-demo-bots/tsconfig.json
  packages/docs/docs/fhir-datastore/patient-deduplication/patient-deduplication.md
Labels: auth, fhir-datastore

#2701 Array search via subqueries, minor refactor
  packages/core/src/search/parse.test.ts
  packages/core/src/search/search.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: search

#2711 fix(): fix blame page
  packages/react/src/ResourceBlame/ResourceBlame.tsx
Labels: react

#2713 Add loading feedback while Batch Upload tool is working
  packages/app/src/BatchPage.tsx
Labels: medplum-app

#2700 Enable graphql __type
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/graphql/graphql.ts
  packages/server/src/fhir/operations/graphql.test.ts
Labels: fhir-datastore

#2712 fix(client): read `clientSecret` from medplum client constructor options
  packages/core/src/client.ts
Labels: fhir-datastore

#2714 feat(QuestionnaireForm): add support for `exists`, `!=`, etc. operators
  packages/core/src/fhirpath/utils.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: react

#2722 fix(admin/client): use `:projectId` param to create client as superadmin
  packages/server/src/admin/client.test.ts
  packages/server/src/admin/client.ts
Labels: self-host

#2723 feat(Storybook): enable viewing story source code
  package-lock.json
  packages/react/.storybook/main.ts
  packages/react/package.json
Labels: react

#2579 Organizing communications docs
  packages/docs/docs/communications/organizing-communications.md
  packages/examples/src/communications/organizing-communications.ts
Labels: documentation, communications

#2728 Fixes #2727 - add signingKeyId to param store
  packages/cdk/src/index.test.ts
  packages/cdk/src/storage.ts
  packages/cli/src/aws/init.test.ts
  packages/cli/src/aws/init.ts
  packages/core/src/config.ts
  packages/docs/docs/self-hosting/config-settings.md
Labels: self-host

#2721 Draft agent documentation
  packages/docs/docs/agent/index.md
Labels: integration

#2651 Capturing vital signs documentation
  packages/docs/docs/charting/capturing-vital-signs.md
Labels: charting

#2733 Fixes #2709 - publish agent installer with release
  .github/workflows/publish.yml
Labels: integration

#2735 Fixes #2734 - Update vercel HSTS policy
  vercel.json
Labels: security

#2736 Fixes #2729 - Added WAF to security docs
  packages/docs/src/pages/security.md
Labels: security

#2690 Add repeatable items and groups to Questionnaire
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.test.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: questionnaires, react

#2741 Agent localhost testing documentation and examples
  packages/docs/docs/agent/index.md
Labels: documentation, integration

#2746 fix(ValueSet-expand): delete null `display` fields before resp
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#2749 Allow search on name and address using stop word
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/search.test.ts
Labels: search

#2720 Update handling of AccessPolicy write criteria and add docs
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/docs/auth/access-control.md
  packages/docs/static/data/medplumDefinitions/accesspolicy.json
  packages/fhirtypes/dist/AccessPolicy.d.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#2750 Document search implementation
  packages/docs/docs/contributing/search-architecture.md
Labels: documentation
