Repository medplum/medplum, pull requests merged in 2023-06, with the labels that each got.

#2145 Support External FHIR API auth
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: integration

#2166 Fixes #2165 - CLI Bulk Export multiple files with same resource type
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
Labels: integration

#2172 Fixes #2168: remove unused code style link
  README.md
Labels: documentation

#2163 add GET support for system level export
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/server/src/fhir/operations/export.test.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore, integration

#2180 Fixes #2179: _type param for group level export operations
  packages/server/src/fhir/operations/groupexport.test.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/operations/utils/bulkexporter.ts
Labels: fhir-datastore

#2169 GraphQL Mutations
  packages/fhir-router/src/graphql.test.ts
  packages/fhir-router/src/graphql.ts
Labels: fhir-datastore

#2189 CLI Bulk command Docs
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
  packages/docs/docs/cli/index.md
  packages/examples/src/api/fhir/operations/bulk-fhir.py
Labels: integration

#2199 Enable permalinks in graphiql
  packages/graphiql/src/index.tsx
Labels: search

#2204 Fixes #2203 - double encoded graphiql permalinks
  packages/graphiql/src/index.tsx
Labels: search

#2197 CLI Global Options - Part 1 - bulk commands
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
  packages/cli/src/index.ts
  packages/cli/src/util/client.test.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/command.ts
  packages/core/src/client.ts
Labels: integration

#2206 CLI Global Options - Part 2 - rest, project, auth
  packages/cli/src/auth.test.ts
  packages/cli/src/auth.ts
  packages/cli/src/index.test.ts
  packages/cli/src/project.test.ts
  packages/cli/src/project.ts
  packages/cli/src/rest.test.ts
  packages/cli/src/rest.ts
Labels: integration

#2210 Fixes #2127 Fixes #2152 Pass admin status to client
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/server/src/auth/me.ts
Labels: auth

#2207 CLI Global Options - Part 3 - bot commands
  packages/cli/src/bot.test.ts
  packages/cli/src/bots.ts
  packages/cli/src/index.test.ts
Labels: integration

#2208 CLI Global Options - Part 4 - Refactor main
  packages/cli/src/auth.test.ts
  packages/cli/src/aws/describe.test.ts
  packages/cli/src/aws/init.test.ts
  packages/cli/src/aws/list.test.ts
  packages/cli/src/aws/update-app.test.ts
  packages/cli/src/aws/update-server.test.ts
  packages/cli/src/bot.test.ts
  packages/cli/src/bulk.test.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/project.test.ts
  packages/cli/src/rest.test.ts
Labels: integration

#2212 CLI Global Options - Part 5 - missing global options for rest and auth subcommands
  packages/cli/src/bots.ts
  packages/cli/src/bulk.ts
  packages/cli/src/index.ts
  packages/cli/src/project.ts
  packages/cli/src/util/command.ts
Labels: integration

#2217 Fixes #2213 : CLI Global options for authorizeUrl
  packages/cli/src/auth.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/command.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: integration

#2223 Fixed auth exchange tests
  packages/server/src/auth/exchange.test.ts
Labels: auth

#2224 Show notification errors from /oauth/token
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/react/src/auth/SignInForm.tsx
Labels: auth

#2202 Support for Subscription on deleted resources
  packages/docs/docs/subscriptions/subscription-extensions.md
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.ts
Labels: subscriptions

#2227 Move GraphQL to own folder
  packages/fhir-router/src/graphql.ts
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/graphql/graphql.ts
  packages/fhir-router/src/graphql/index.ts
  packages/fhir-router/src/graphql/input-types.ts
  packages/fhir-router/src/graphql/output-types.ts
  packages/fhir-router/src/graphql/utils.ts
Labels: fhir-datastore

#2236 CLI global options documentation
  packages/docs/docs/cli/index.md
Labels: documentation

#2239 Fixes 2219: add flag for CLI bulk import to add extensions for missing values
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
Labels: integration

#2240 Documentation for Adding Subscriptions to Extension
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation, subscriptions

#2228 fhirPathCriteria match extension
  packages/core/src/fhirlexer/tokenize.ts
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/parse.test.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.ts
Labels: fhir-datastore

#2245 Enable Bot execute with HTTP GET
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/routes.ts
Labels: bots

#2242 Updating contributing guides, includes updated images
  packages/docs/docs/compliance/clia-cap.md
  packages/docs/docs/contributing/contribute-without-coding.md
  packages/docs/static/img/blog/connect-via-g10.png
  packages/docs/static/img/blog/connect-via-integrator-vpn.png
Labels: documentation

#2171 Add new validator in log-only mode
  packages/core/src/index.ts
  packages/core/src/outcomes.ts
  packages/core/src/schema.ts
  packages/core/src/typeschema/__test__/base-patient.json
  packages/core/src/typeschema/__test__/capability-statement.json
  packages/core/src/typeschema/types.test.ts
  packages/core/src/typeschema/types.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/index.ts
Labels: fhir-datastore

#2251 FhirPathCriteria Docs
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation, fhir-datastore

#2252 Fixes #2225 - Added AWS Athena guide
  packages/docs/docs/self-hosting/aws-athena-guide.md
Labels: self-host

#2255 Fixes #2254 - handle punctuation in ValueSet expand
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#2256 Fixes #2253 - increase server keep alive timeout
  packages/server/src/config.ts
  packages/server/src/index.test.ts
  packages/server/src/index.ts
Labels: fhir-datastore

#2257 Unify the schema loading flows
  packages/server/src/fhir/structure.ts
  packages/server/src/index.ts
Labels: fhir-datastore

#2214 Upload Introspection Query
  scripts/cicd-deploy.sh
  scripts/deploy-introspection-schema.sh
Labels: fhir-datastore

#2260 Updated discord link
  examples/foomedical/README.md
  examples/medplum-hello-world/README.md
  packages/docs/blog/2022-12-26-year-in-review.md
  packages/docs/blog/2023-04-07-dependency-warnings.md
  packages/docs/blog/2023-04-14-medplum-mitre-talk.md
  packages/docs/docs/auth/access-control.md
  packages/docs/docs/bots/bots-in-production.md
  packages/docs/docs/contributing/contribute-without-coding.md
  packages/docs/docs/fhir-datastore/family-relationships/family-relationships.mdx
  packages/docs/docs/fhir-datastore/provider-directory/provider-organizations.md
  packages/docs/docs/home.md
  packages/docs/docs/self-hosting/install-on-aws.md
  packages/docs/docusaurus.config.js
  packages/docs/src/pages/products/integration.md
Labels: documentation

#2263 Validate super admin client assigned IDs
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: self-host

#2264 Fixes #2261 - Use Data Absent Reason extension for unsupported BCDA r…
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
  packages/cli/src/utils.ts
Labels: fhir-datastore, integration

#2265 Fixes #2176: Target Directory Options for Bulk CLI commands
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
Labels: integration

#2258 Adding additional blog content and updating the number of items blog …
  packages/docs/blog/2023-05-08-codex-and-the-power-of-g10.md
  packages/docs/blog/2023-06-15-ro-case-study.md
  packages/docs/blog/2023-06-19-ensage-case-study.md
  packages/docs/docusaurus.config.js
  packages/docs/src/pages/solutions/custom-ehr.md
  packages/docs/src/pages/solutions/lab.md
  packages/docs/src/pages/solutions/provider-portal.md
  packages/docs/static/img/blog/ensage-platform-architecture.jpg
Labels: documentation

#2270 Add projectId columns to all resource tables
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v44.ts
Labels: fhir-datastore

#2271 Add Non-nullable fields for graphql
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/graphql/graphql.ts
  packages/fhir-router/src/graphql/output-types.ts
Labels: fhir-datastore

#2275 Only deploy image built with Node.js 18
  .github/workflows/build.yml
Labels: self-host

#2272 Fixes #2126 - Moved access helpers to core
  packages/core/src/access.test.ts
  packages/core/src/access.ts
  packages/core/src/index.ts
  packages/core/src/search/match.ts
  packages/core/src/search/search.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#2276 Require prefer: respond-async for super admin tools
  packages/app/src/admin/SuperAdminPage.tsx
  packages/core/src/client.ts
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/cors.test.ts
  packages/server/src/cors.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/outcomes.ts
Labels: self-host

#2289 Fixes #2195 - updated cdk init docs
  packages/cli/src/aws/index.ts
  packages/docs/docs/self-hosting/install-on-aws.md
  scripts/deploy-bot-layer.sh
Labels: self-host

#2288 Validating Fixed and Pattern Values
  packages/core/src/typeschema/types.test.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Labels: fhir-datastore

#2290 Add non-null requirements to values in GraphQL array types
  packages/fhir-router/src/graphql/input-types.ts
  packages/fhir-router/src/graphql/output-types.ts
Labels: fhir-datastore

#2292 Fixes #2277 - Updated access policies docs
  packages/docs/docs/auth/access-control.md
  packages/docs/docusaurus.config.js
Labels: documentation, auth

#2291 Add logs and parity tests for new validator
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#2293 Fixes #2182- All Patient Export
  packages/server/src/fhir/operations/export.test.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/groupexport.test.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/patient.test.ts
  packages/server/src/fhir/patient.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#2308 Copy .env.defaults to .env if not exists
  packages/app/vite.config.ts
  packages/graphiql/vite.config.ts
  sonar-project.properties
Labels: self-host

#2178 Split custom Medplum search parameter definitions into separate file
  packages/app/src/BulkAppPage.test.tsx
  packages/app/src/resource/AppsPage.test.tsx
  packages/app/src/resource/ResourcePage.test.tsx
  packages/app/src/test.setup.ts
  packages/core/src/search/match.test.ts
  packages/core/src/types.ts
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/definitions/dist/fhir/r4/search-parameters.json
  packages/generator/src/docs.ts
  packages/generator/src/migrate.ts
  packages/generator/src/storybook.ts
  packages/react/src/FhirPathTable/FhirPathTable.test.tsx
  packages/react/src/test.setup.ts
  packages/server/src/fhir/structure.ts
  packages/server/src/index.ts
  packages/server/src/seeds/searchparameters.ts
Labels: fhir-datastore

#2309 Bring back sourcemaps
  packages/app/vite.config.ts
  packages/cdk/esbuild.mjs
  packages/cli/esbuild.mjs
  packages/core/esbuild.mjs
  packages/fhir-router/esbuild.mjs
  packages/graphiql/vite.config.ts
  packages/mock/esbuild.mjs
  packages/react/esbuild.mjs
Labels: self-host

#2322 Fixes #2306 - remove console.log from export tests due to race conditions
  packages/server/src/admin/super.test.ts
  packages/server/src/fhir/operations/export.test.ts
  packages/server/src/fhir/operations/groupexport.test.ts
  packages/server/src/test.setup.ts
Labels: bug

#2326 Add app to publish.sh
  scripts/publish.sh
Labels: self-host

#2329 Remove PWA and service worker
  package-lock.json
  packages/app/package.json
  packages/app/src/index.tsx
  packages/app/vite.config.ts
  scripts/deploy-app.sh
Labels: self-host

#2313 Fixes #2310 - CLI rest with --fhir-url-path
  packages/cli/src/rest.test.ts
  packages/cli/src/rest.ts
Labels: integration

#2336 Fixes #2315 - allow bot success without return value
  packages/server/src/fhir/operations/execute.ts
Labels: bots

#2340 Minor tweaks to aws init tool and docs
  packages/cli/src/aws/init.test.ts
  packages/cli/src/aws/init.ts
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: self-host

#2338 Log resource for validator latency warning
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore
