Repository medplum/medplum, pull requests merged in 2023-10, with the labels that each got.

#2954 Fixes #2112 - custom password reset emails
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/docs/docs/api/project-admin/invite.md
  packages/docs/docs/app/invite/invite.md
  packages/docs/docs/auth/custom-emails.mdx
  packages/docs/docs/auth/custom-welcome-emails.mdx
  packages/examples/src/auth/custom-emails.ts
  packages/examples/src/auth/custom-welcome-emails.ts
  packages/fhirtypes/dist/PasswordChangeRequest.d.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/newuser.ts
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/auth/utils.ts
Labels: communications, auth

#2960 Updated Health Gorilla callback bot
  examples/medplum-demo-bots/src/health-gorilla/receive-from-health-gorilla.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
Labels: integration

#2950 Evaluate X-Fhir-Query helper
  examples/medplum-demo-bots/src/candid-health/send-to-candid.test.ts
  examples/medplum-demo-bots/src/candid-health/send-to-candid.ts
  examples/medplum-demo-bots/src/finalize-reports.test.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
  examples/medplum-demo-bots/src/lab-integration/read-oru-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/read-oru-message.ts
  examples/medplum-demo-bots/src/lab-integration/send-orm-message.test.ts
  examples/medplum-demo-bots/src/questionnaire-bots/conditions-list/conditions-list-questionnaire.test.ts
  examples/medplum-demo-bots/src/questionnaire-bots/conditions-list/conditions-list-questionnaire.ts
  examples/medplum-demo-bots/src/questionnaire-bots/medications-list/patient-medication-questionnaire.test.ts
  examples/medplum-demo-bots/src/questionnaire-bots/medications-list/patient-medication-questionnaire.ts
  examples/medplum-demo-bots/src/sample-account-setup.ts
  packages/core/src/constants.ts
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/core/src/format.test.ts
  packages/core/src/index.ts
  packages/core/src/search/search.test.ts
  packages/core/src/search/search.ts
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/core/src/typeschema/types.test.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/examples/src/bots/finalize-report.test.ts
  packages/examples/src/careplans/diagnostic-catalog.ts
  packages/examples/src/careplans/reference-ranges.ts
  packages/examples/src/communications/organizing-communications.ts
  packages/examples/src/search/includes.ts
  packages/examples/src/tutorials/api-basics/create-fhir-data.ts
  packages/examples/src/tutorials/api-basics/publish-and-subscribe.ts
  packages/fhir-router/src/batch.test.ts
  packages/mock/src/mocks/simpsons.ts
  packages/react/src/stories/covid19.ts
  packages/react/src/stories/healthgorilla.ts
  packages/react/src/stories/referenceLab.ts
  packages/server/src/auth/login.test.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expunge.test.ts
  packages/server/src/fhir/operations/patienteverything.test.ts
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/search.test.ts
Labels: search

#2962 Real world testing plan for review
  packages/docs/docs/compliance/onc.md
Labels: compliance

#2961 Added setIdentifier helper
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Labels: integration

#2966 Update README.md
  examples/medplum-hello-world/README.md
Labels: documentation

#2967 FHIRcast .NET client example and docs
  packages/docs/docs/fhircast/dotnet-client.md
  packages/docs/docs/fhircast/index.md
  packages/docs/docs/fhircast/run-powercast-example.png
  packages/docs/docs/fhircast/testpowercast-configuration-data.png
  packages/docs/docs/fhircast/testpowercast-subscribe.png
  packages/docs/sidebars.js
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
  packages/server/src/fhircast/websocket.test.ts
  packages/server/src/fhircast/websocket.ts
Labels: communications, fhir-datastore

#2895 Persisting currentValues for special cases
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
  packages/react/src/utils/questionnaire.test.ts
  packages/react/src/utils/questionnaire.ts
Labels: questionnaires

#2965 Add `FHIRcast` client example
  examples/medplum-fhircast-demo/.gitignore
  examples/medplum-fhircast-demo/README.md
  examples/medplum-fhircast-demo/index.html
  examples/medplum-fhircast-demo/package.json
  examples/medplum-fhircast-demo/public/favicon.ico
  examples/medplum-fhircast-demo/src/App.tsx
  examples/medplum-fhircast-demo/src/components/Publisher.tsx
  examples/medplum-fhircast-demo/src/components/Subscriber.tsx
  examples/medplum-fhircast-demo/src/components/TopicGenerator.tsx
  examples/medplum-fhircast-demo/src/components/TopicLoader.tsx
  examples/medplum-fhircast-demo/src/components/WebSocketHandler.tsx
  examples/medplum-fhircast-demo/src/config.ts
  examples/medplum-fhircast-demo/src/hooks/index.ts
  examples/medplum-fhircast-demo/src/index.css
  examples/medplum-fhircast-demo/src/main.tsx
  examples/medplum-fhircast-demo/src/utils.ts
  examples/medplum-fhircast-demo/src/vite-env.d.ts
  examples/medplum-fhircast-demo/tsconfig.json
  examples/medplum-fhircast-demo/vite.config.ts
  package-lock.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
Labels: communications, fhir-datastore

#2976 Limit SQL subqueries for existence checking
  packages/docs/docs/contributing/search-architecture.md
  packages/server/src/fhir/sql.ts
Labels: search

#2978 Refresh session profile if not present in client
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/jwt.ts
Labels: auth

#2980 Update Health Gorilla demo to order multiple tests
  examples/medplum-demo-bots/src/health-gorilla/receive-from-health-gorilla.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
Labels: integration

#2989 Fixes #2987 Fixes #2988 - use HumanName.text
  packages/core/src/format.test.ts
  packages/core/src/format.ts
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/humanname.ts
Labels: search

#3010 Update based on Reshma mocks
  examples/medplum-chart-demo/src/App.tsx
  examples/medplum-chart-demo/src/components/Allergies.tsx
  examples/medplum-chart-demo/src/components/Chart.tsx
  examples/medplum-chart-demo/src/components/PatientChart.tsx
  examples/medplum-chart-demo/src/components/PatientHistory.tsx
  examples/medplum-chart-demo/src/components/PatientOverview.tsx
  examples/medplum-chart-demo/src/components/ProblemList.tsx
  examples/medplum-chart-demo/src/components/SmokingStatus.tsx
  examples/medplum-chart-demo/src/components/SoapNote.tsx
  examples/medplum-chart-demo/src/components/Task.tsx
  examples/medplum-chart-demo/src/components/TaskList.tsx
  examples/medplum-chart-demo/src/components/Timeline.tsx
  examples/medplum-chart-demo/src/components/Vitals.tsx
  examples/medplum-chart-demo/src/components/Vitals.utils.ts
  examples/medplum-chart-demo/src/pages/PatientHeader.tsx
  examples/medplum-chart-demo/src/pages/PatientPage.tsx
Labels: react

#2986 Fixes #2955 - aws lambda client retry policy
  package-lock.json
  packages/server/package.json
  packages/server/src/fhir/operations/deploy.test.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/storage.test.ts
Labels: bots

#3014 feat(server/bullmq): remove all finalized jobs by default
  packages/server/medplum.config.json
  packages/server/src/app.ts
  packages/server/src/config.ts
  packages/server/src/workers/cron.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.test.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/subscription.ts
Labels: bots

#3023 Health Gorilla order form update
  examples/medplum-demo-bots/src/health-gorilla/health-gorilla-questionnaire.json
  examples/medplum-demo-bots/src/health-gorilla/questionnaire-builder.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/utils/questionnaire.ts
Labels: integration

#3022 Handle search on numeric array columns
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: search

#2807 Add documentation for representing prescriptions and medication orders
  packages/docs/docs/medications/representing-prescriptions-and-medication-orders.md
  packages/examples/src/medications/representing-prescriptions-and-medication-orders.ts
Labels: documentation, fhir-datastore

#3033 Fix primitive extensions on choice types
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
Labels: fhir-datastore

#3034 Fixes #3032 - send slack message on deploy and publish
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
Labels: integration

#2999 Client Chart Example
  examples/medplum-chart-demo/.gitignore
  examples/medplum-chart-demo/README.md
  examples/medplum-chart-demo/index.html
  examples/medplum-chart-demo/package.json
  examples/medplum-chart-demo/src/App.tsx
  examples/medplum-chart-demo/src/components/Allergies.tsx
  examples/medplum-chart-demo/src/components/DiagnosticReportTask.tsx
  examples/medplum-chart-demo/src/components/PatientChart.tsx
  examples/medplum-chart-demo/src/components/ProblemList.tsx
  examples/medplum-chart-demo/src/components/QuestionnaireTask.tsx
  examples/medplum-chart-demo/src/components/SmokingStatus.tsx
  examples/medplum-chart-demo/src/components/SoapNote.tsx
  examples/medplum-chart-demo/src/components/TaskList.tsx
  examples/medplum-chart-demo/src/components/Vitals.tsx
  examples/medplum-chart-demo/src/components/Vitals.utils.ts
  examples/medplum-chart-demo/src/main.tsx
  examples/medplum-chart-demo/src/pages/HomePage.tsx
  examples/medplum-chart-demo/src/pages/LandingPage.tsx
  examples/medplum-chart-demo/src/pages/PatientPage.tsx
  examples/medplum-chart-demo/src/pages/ResourcePage.tsx
  examples/medplum-chart-demo/src/pages/SearchPage.tsx
  examples/medplum-chart-demo/src/pages/SignInPage.tsx
  examples/medplum-chart-demo/src/vite-env.d.ts
  examples/medplum-chart-demo/tsconfig.json
  examples/medplum-chart-demo/vercel.json
  examples/medplum-chart-demo/vite.config.ts
  package-lock.json
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
Labels: react

#3024 feat(client): add `fhircast{Publish, Subscribe, Connect}`
  examples/medplum-fhircast-demo/README.md
  examples/medplum-fhircast-demo/src/components/ConnectionHandler.tsx
  examples/medplum-fhircast-demo/src/components/Publisher.tsx
  examples/medplum-fhircast-demo/src/components/Subscriber.tsx
  examples/medplum-fhircast-demo/src/components/TopicGenerator.tsx
  examples/medplum-fhircast-demo/src/components/TopicLoader.tsx
  examples/medplum-fhircast-demo/src/components/WebSocketHandler.tsx
  examples/medplum-fhircast-demo/src/utils.ts
  package-lock.json
  packages/app/src/MfaPage.tsx
  packages/app/src/resource/BotEditor.tsx
  packages/core/package.json
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/eventtarget.ts
  packages/core/src/fhircast/index.test.ts
  packages/core/src/fhircast/index.ts
  packages/core/src/fhircast/test-utils.test.ts
  packages/core/src/fhircast/test-utils.ts
  packages/core/src/index.ts
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/auth/MfaForm.tsx
  packages/react/src/auth/RegisterForm.tsx
  packages/react/src/auth/SignInForm.tsx
Labels: subscriptions, self-host

#3037 Fix slack webhook url
  scripts/cicd-deploy.sh
Labels: integration

#3036 Update README.md
  README.md
Labels: hacktoberfest-accepted

#3040 Dependency upgrades
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-fhircast-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-task-demo/package.json
  package-lock.json
  package.json
  packages/agent/package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/mock/package.json
  packages/react/package.json
  packages/server/package.json
Labels: dependencies

#3039 Fixes #389 - rename validate to validateResource
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/generator/src/benchmarks.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#3046 Fixes #3045 - expose require in VM context bots
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: self-host, bots

#3049 fix(websocket): handle invalid WS conns gracefully
  packages/server/src/websockets.test.ts
  packages/server/src/websockets.ts
Labels: subscriptions

#3042 Fixed Typo and Grammar
  examples/foomedical/README.md
Labels: hacktoberfest-accepted

#3051 Fixes #3050 - project admins reading project-scoped users
  packages/core/src/access.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#3061 Updating test plan in relation to #2794
  packages/docs/docs/compliance/onc.md
Labels: compliance

#3067 Updating document to 2023 version
  packages/docs/docs/compliance/soc2.md
Labels: documentation

#3062 Added 'Diagnoses' and 'Billing' to Health Gorilla order form
  examples/medplum-demo-bots/src/health-gorilla/health-gorilla-questionnaire.json
  examples/medplum-demo-bots/src/health-gorilla/questionnaire-builder.ts
  packages/app/src/BatchPage.tsx
  packages/app/src/FormPage.test.tsx
  packages/app/src/resource/ResourcePage.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: integration

#3072 Fixes #3069 - docs import warning
  packages/docs/docs/fhir-datastore/family-relationships/family-relationships.mdx
Labels: documentation

#3066 fix(client/auth): respect `accessToken` in constructor
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: auth

#3070 fix(build): put placeholder env vars in build step
  .github/workflows/build.yml
  scripts/build.sh
  scripts/test.sh
  turbo.json
Labels: bug

#3075 fix(tesh.sh): add shebang for `test.sh`
  scripts/test.sh
Labels: bug

#3078 Add expression (path) to OutcomeError message display
  packages/react/src/OperationOutcomeAlert/OperationOutcomeAlert.tsx
Labels: react

#3068 Add documentation about resource profiles
  packages/docs/docs/fhir-datastore/profiles.md
Labels: documentation

#3074 Clarify authentication Docs
  packages/docs/docs/access/index.md
  packages/docs/docs/access/ip-access-rules.md
  packages/docs/docs/auth/index.md
  packages/docs/docs/auth/methods/domain-level-identity-providers.md
  packages/docs/docs/auth/methods/external-identity-providers.mdx
  packages/docs/docs/auth/methods/index.md
  packages/docs/docs/auth/methods/oauth-auth-code.md
  packages/docs/sidebars.js
  vercel.json
Labels: documentation, auth

#3073 Fixes #3071 - useSearch hooks
  packages/app/src/BulkAppPage.tsx
  packages/app/src/lab/AssaysPage.tsx
  packages/app/src/lab/PanelsPage.tsx
  packages/app/src/resource/AppsPage.tsx
  packages/react/src/Scheduler/Scheduler.tsx
  packages/react/src/index.ts
  packages/react/src/useSearch/useSearch.test.tsx
  packages/react/src/useSearch/useSearch.ts
  packages/react/src/useSearch/useSearchOne.test.tsx
  packages/react/src/useSearch/useSearchResources.test.tsx
Labels: react

#3030 Add documentation for advanced search parameters
  packages/docs/docs/search/advanced-search-parameters.md
  packages/docs/docs/search/basic-search.mdx
  packages/docs/docs/search/filter-search-parameter.md
  packages/docs/docs/search/includes.mdx
  packages/docs/docs/search/paginated-search.mdx
  packages/examples/src/search/advanced-search-parameters.ts
  packages/examples/src/search/filter-search-parameter.ts
Labels: documentation, search

#3085 Agent push update
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
  packages/cli/src/hl7.ts
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/Agent.d.ts
  packages/server/src/agent/websockets.test.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentpush.test.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/websockets.test.ts
  packages/server/src/websockets.ts
Labels: integration

#3095 Fixed apps page when user does not have access to ClientApplication
  packages/app/src/resource/AppsPage.test.tsx
  packages/app/src/resource/AppsPage.tsx
Labels: medplum-app

#3100 Check required fields in questionnaire form
  packages/react/src/QuantityInput/QuantityInput.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
  packages/react/src/ResourceInput/ResourceInput.tsx
Labels: questionnaires

#3104 Fix app flash on token refresh
  packages/core/src/client.ts
Labels: react

#3112 Fixes #3108 - change default storage bucket name
  packages/cli/src/aws/init.test.ts
  packages/cli/src/aws/init.ts
Labels: self-host

#3113 Fixes #3107 - Use correct CloudFormation region check
  packages/cli/src/aws/utils.ts
Labels: self-host

#3111 Fixes #3063 Fixes #3106 - pushToAgent update and docs
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/docs/docs/agent/medplum-agent-push-1.webp
  packages/docs/docs/agent/medplum-agent-push-2.webp
  packages/docs/docs/agent/medplum-agent-push-3.webp
  packages/docs/docs/agent/medplum-agent-push-4.webp
  packages/docs/docs/agent/medplum-agent-push-5.webp
  packages/docs/docs/agent/push.md
Labels: integration

#3080 feat(cdk): add initial support for external secrets
  biome.json
  packages/cdk/src/backend.ts
  packages/cdk/src/config.test.ts
  packages/cdk/src/config.ts
  packages/cdk/src/index.ts
  packages/core/src/config.ts
  packages/core/src/types.ts
Labels: self-host

#3143 feat(client/fhircast): add support for `STU3` events
  examples/medplum-fhircast-demo/src/components/Publisher.tsx
  examples/medplum-fhircast-demo/src/hooks/index.ts
  packages/core/src/client-fhircast.test.ts
  packages/core/src/client-test-utils.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/fhircast/index.test.ts
  packages/core/src/fhircast/index.ts
  packages/core/src/fhircast/test-utils.test.ts
  packages/core/src/fhircast/test-utils.ts
  packages/docs/docs/fhircast/dotnet-client.md
  packages/docs/docs/fhircast/index.md
  packages/server/src/app.ts
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
  packages/server/src/fhircast/websocket.test.ts
  packages/server/src/websockets.test.ts
Labels: fhircast, websockets

#3109 Refactor QuestionnaireForm
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormComponents/QuestionnaireFormGroup.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormComponents/QuestionnaireFormPageSequence.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireRepeatableItem.tsx
  packages/react/src/utils/questionnaire.ts
Labels: questionnaires

#3156 Blog Post: Digital Health Operations
  packages/docs/blog/2023-10-27-digital-health-operations/2023-10-27-digital-health-operations.md
  packages/docs/blog/2023-10-27-digital-health-operations/summer-health-charting.gif
Labels: documentation

#3168 test(client/fhircast): multiple of same key on `diagnosticreport-open`
  packages/core/src/fhircast/index.test.ts
Labels: communications, fhir-datastore

#3164 Index medplum-resource search params in example bots
  examples/medplum-demo-bots/src/candid-health/send-to-candid.test.ts
  examples/medplum-demo-bots/src/deduplication/find-matching-patients.test.ts
  examples/medplum-demo-bots/src/finalize-reports.test.ts
  examples/medplum-demo-bots/src/lab-integration/read-oru-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/send-orm-message.test.ts
  examples/medplum-demo-bots/src/sample-account-setup.test.ts
Labels: bots

#3173 Updating integrations page with refreshed content
  examples/medplum-chart-demo/src/components/tasks/DiagnosticReportTask.tsx
  examples/medplum-chart-demo/src/components/tasks/QuestionnaireTask.tsx
  packages/docs/docs/integration/index.md
  packages/docs/src/pages/pricing.tsx
Labels: documentation, integration

#3171 Markdown fixes for Docusaurus 3
  packages/core/src/client.ts
  packages/docs/blog/2023-08-30-empi-implementation.mdx
  packages/docs/docs/access/ip-access-rules.md
  packages/docs/docs/agent/push.md
  packages/docs/docs/app/app-introduction/index.md
  packages/docs/docs/app/index.md
  packages/docs/docs/auth/methods/domain-level-identity-providers.md
  packages/docs/docs/auth/methods/external-identity-providers.mdx
  packages/docs/docs/auth/methods/external-ids.md
  packages/docs/docs/bots/unit-testing-bots.mdx
  packages/docs/docs/careplans/diagnostic-catalog/diagnostic-catalog.mdx
  packages/docs/docs/careplans/loinc.mdx
  packages/docs/docs/careplans/reference-ranges.mdx
  packages/docs/docs/charting/capturing-vital-signs.mdx
  packages/docs/docs/cli/external-fhir-servers.md
  packages/docs/docs/communications/organizing-communications.mdx
  packages/docs/docs/contributing/run-the-stack.md
  packages/docs/docs/fhir-datastore/patient-deduplication/matching.mdx
  packages/docs/docs/fhir-datastore/patient-deduplication/merging.mdx
  packages/docs/docs/fhir-datastore/provider-directory/provider-credentials.mdx
  packages/docs/docs/graphql/basic-queries.mdx
  packages/docs/docs/graphql/connections.mdx
  packages/docs/docs/graphql/mutations.mdx
  packages/docs/docs/medications/formulary/index.mdx
  packages/docs/docs/medications/representing-prescriptions-and-medication-orders.mdx
  packages/docs/docs/search/advanced-search-parameters.mdx
  packages/docs/docs/search/filter-search-parameter.mdx
  packages/docs/docs/search/includes.mdx
  packages/docs/docs/self-hosting/datadog.md
  packages/docs/docs/self-hosting/install-on-aws.md
  packages/docs/docs/self-hosting/load-testing.md
  packages/docs/src/components/ResourceTables.tsx
Labels: documentation

#3167 Add support for reference type
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
  packages/react/src/utils/questionnaire.test.ts
  packages/react/src/utils/questionnaire.ts
Labels: questionnaires

#3165 Fixed warnings in publish action
  .github/workflows/publish.yml
  packages/agent/package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/definitions/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/examples/package.json
  packages/fhir-router/package.json
  packages/fhirtypes/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/hl7/package.json
  packages/mock/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
Labels: self-host
