Repository medplum/medplum, pull requests merged in 2023-01, with the labels that each got.

#1380 Fixes #1379 - Node.js 18
  Dockerfile
  package.json
  packages/server/src/fhir/operations/deploy.ts
  scripts/deploy-bot-layer.sh
Labels: bots

#1382 Check in annotated data models for Charting page
  packages/docs/docs/charting/index.md
  packages/docs/static/img/tutorials/charting-annotation-1.png
  packages/docs/static/img/tutorials/charting-annotation-2.png
  packages/docs/static/img/tutorials/charting-annotation-3.png
Labels: documentation, charting

#1373 Only set meta.account on resource creation
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: security

#1389 Fixes 1376 - Implement :in modifier on token params
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/sql.ts
Labels: search

#1393 Fixes #1390 - Added jwksUri to fhir.schema.json
  packages/definitions/dist/fhir/r4/fhir.schema.json
Labels: auth

#1396 Fixes #1328 - Added getExtension() helper function
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Labels: fhir-datastore

#1403 Update tutorial screenshots
  packages/docs/docs/tutorials/create-a-patient.md
  packages/docs/docs/tutorials/register.md
  packages/docs/static/img/hello-world/new-patient-button.png
  packages/docs/static/img/hello-world/ok-button.png
  packages/docs/static/img/hello-world/patient-name.png
  packages/docs/static/img/hello-world/patients-menu-item.png
  packages/docs/static/img/hello-world/top-left-menu.png
Labels: documentation, medplum-app

#1406 Fix documentation
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: documentation, self-host

#1402 Updating overview related to #1323 for ONC G10
  packages/docs/docs/api/fhir/overview.md
  packages/docs/docs/api/index.md
  packages/docs/docs/fhir-datastore/migration-logic.md
  packages/docs/docs/tutorials/register.md
Labels: documentation, compliance

#1407 Documenting the patient FHIR operation, fixes #1212
  packages/docs/docs/api/fhir/operations/patient-everything.md
  packages/docs/docs/charting/index.md
Labels: documentation, fhir-datastore

#1409 Fix token expired
  packages/core/src/client.ts
Labels: medplum-app, auth

#1410 Updating documentation for ONC certification, related to #1323
  packages/docs/docs/api/fhir/resources/allergyintolerance.mdx
  packages/docs/docs/api/fhir/resources/careplan.mdx
  packages/docs/docs/api/fhir/resources/careteam.mdx
  packages/docs/docs/api/fhir/resources/condition.mdx
  packages/docs/docs/api/fhir/resources/device.mdx
  packages/docs/docs/api/fhir/resources/diagnosticreport.mdx
  packages/docs/docs/api/fhir/resources/documentreference.mdx
  packages/docs/docs/api/fhir/resources/goal.mdx
  packages/docs/docs/api/fhir/resources/immunization.mdx
  packages/docs/docs/api/fhir/resources/medication.mdx
  packages/docs/docs/api/fhir/resources/medicationrequest.mdx
  packages/docs/docs/api/fhir/resources/observation.mdx
  packages/docs/docs/api/fhir/resources/patient.mdx
  packages/docs/docs/api/fhir/resources/procedure.mdx
  packages/docs/docs/api/fhir/resources/provenance.mdx
  packages/docs/docs/compliance/onc.md
  packages/docs/docs/fhir-datastore/understanding-uscdi-dataclasses.md
  packages/docs/docs/tutorials/register.md
Labels: documentation, medications, charting, compliance

#1404 Add server config option for logging AuditEvents
  packages/server/src/admin/super.test.ts
  packages/server/src/app.test.ts
  packages/server/src/config.ts
  packages/server/src/logger.ts
  packages/server/src/oauth/middleware.ts
Labels: audit-logging

#1415 Server config default values
  packages/server/src/config.ts
  packages/server/src/email/email.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/storage.test.ts
  packages/server/src/fhir/storage.ts
Labels: self-host

#1412 Update Hello World Tutorial
  packages/docs/docs/tutorials/create-a-patient.md
  packages/docs/docs/tutorials/hello-world-part-1.md
  packages/docs/docs/tutorials/medplum-hello-world.md
Labels: documentation

#1394 Fixes #1381 - Okta
  packages/app/src/OAuthPage.test.tsx
  packages/app/src/SignInPage.test.tsx
  packages/app/src/SignInPage.tsx
  packages/core/src/client.ts
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/search-parameters.json
  packages/fhirtypes/dist/DomainConfiguration.d.ts
  packages/fhirtypes/dist/Resource.d.ts
  packages/fhirtypes/dist/SmartAppLaunch.d.ts
  packages/fhirtypes/dist/index.d.ts
  packages/mock/src/client.ts
  packages/react/src/OperationOutcomeAlert/OperationOutcomeAlert.tsx
  packages/react/src/auth/AuthenticationForm.tsx
  packages/react/src/auth/NewUserForm.tsx
  packages/react/src/auth/SignInForm.test.tsx
  packages/react/src/auth/SignInForm.tsx
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
  packages/server/src/auth/google.ts
  packages/server/src/auth/method.test.ts
  packages/server/src/auth/method.ts
  packages/server/src/auth/routes.ts
  packages/server/src/auth/status.test.ts
  packages/server/src/auth/status.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v29.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#1421 Fixed loading AWS config settings outside of us-east-1
  packages/server/src/__mocks__/@aws-sdk/client-secrets-manager.ts
  packages/server/src/__mocks__/@aws-sdk/client-ssm.ts
  packages/server/src/config.test.ts
  packages/server/src/config.ts
Labels: self-host

#1419 Updating auth documentation Okta auth related to #1381
  packages/docs/docs/auth/auth-in-applications.md
  packages/docs/docs/auth/index.md
  packages/docs/docs/auth/okta-auth.md
  packages/docs/static/img/auth/auth-flow.png
  packages/docs/static/img/auth/okta-app-integration.png
  packages/docs/static/img/auth/okta-applications.png
  packages/docs/static/img/auth/okta-assignments.png
  packages/docs/static/img/auth/okta-find-url.png
  packages/docs/static/img/auth/okta-integration-config.png
Labels: documentation, auth

#1426 Minor revokeLogin cleanup
  packages/server/src/auth/revoke.ts
Labels: auth

#1425 Fixes #1388 - Added scope to signInWithRedirect
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: auth

#1429 Dependency upgrades
  package-lock.json
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/infra/package.json
  packages/react/package.json
  packages/react/src/ReferenceRangeEditor/ReferenceRangeEditor.tsx
  packages/server/package.json
  scripts/build.sh
  scripts/reinstall.sh
Labels: dependencies

#1416 Infra init tool
  package-lock.json
  packages/docs/docs/self-hosting/config-settings.md
  packages/docs/docs/self-hosting/install-on-aws.md
  packages/infra/jest.config.json
  packages/infra/package.json
  packages/infra/src/__mocks__/@aws-sdk/client-acm.ts
  packages/infra/src/__mocks__/@aws-sdk/client-ssm.ts
  packages/infra/src/__mocks__/@aws-sdk/client-sts.ts
  packages/infra/src/backend.ts
  packages/infra/src/config.ts
  packages/infra/src/frontend.ts
  packages/infra/src/index.test.ts
  packages/infra/src/index.ts
  packages/infra/src/init.test.ts
  packages/infra/src/init.ts
  packages/infra/src/storage.ts
  packages/server/jest.config.json
  sonar-project.properties
Labels: self-host

#1428 Fixes from checklist review related to #1323
  packages/docs/docs/api/fhir/resources/condition.mdx
  packages/docs/docs/api/fhir/resources/encounter.mdx
  packages/docs/docs/api/index.md
  packages/docs/docs/auth/smart-scopes.md
  packages/docs/docs/fhir-datastore/understanding-uscdi-dataclasses.md
  packages/docs/static/img/auth/smart-scopes.png
Labels: documentation, compliance

#1438 Fix docs bug for BotEvent.input
  packages/docs/docs/bots/bot-basics.md
Labels: documentation, bots

#1433 Adding sample data to the tutorial
  packages/docs/docs/app/index.md
  packages/docs/docs/fhir-datastore/understanding-uscdi-dataclasses.md
  packages/docs/docs/tutorials/browse-sample-data.md
  packages/docs/docs/tutorials/create-a-patient.md
  packages/docs/docs/tutorials/importing-sample-data.md
  packages/docs/docs/tutorials/medplum-hello-world.md
  packages/docs/static/img/tutorials/batch-create.png
  packages/docs/static/img/tutorials/resource-tabs.png
Labels: documentation, medplum-app

#1437 Asynchronous Encounters Guide
  packages/docs/docs/communications/async-encounters.md
  packages/docs/static/img/communications/async-encounters1.png
  packages/docs/static/img/communications/async-encounters2.png
Labels: documentation, communications

#1439 Updating documentation post ONC review based on feedback and changes
  packages/docs/docs/api/fhir/resources/observation.mdx
  packages/docs/docs/api/fhir/resources/patient.mdx
  packages/docs/docs/api/fhir/resources/questionnaireresponse.mdx
  packages/docs/docs/compliance/onc.md
  packages/docs/docs/fhir-datastore/understanding-uscdi-dataclasses.md
Labels: documentation, compliance

#1444 Minor file cleanup
  .gitignore
  packages/cli/.npmignore
  packages/core/.npmignore
  packages/mock/.npmignore
  packages/mock/src/client.test.ts
  packages/react/.npmignore
  packages/react/src/ResourceTimeline/ResourceTimeline.tsx
Labels: fhir-datastore

#1445 Fixed CloudFront OAI
  packages/infra/src/frontend.ts
  packages/infra/src/storage.ts
Labels: self-host

#1446 Import existing VPC
  packages/docs/docs/self-hosting/config-settings.md
  packages/infra/src/backend.ts
  packages/infra/src/config.ts
Labels: self-host

#1447 Enable custom AWS lambda function names
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/Bot.d.ts
  packages/server/src/config.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: self-host, bots
