Repository medplum/medplum, pull requests merged in 2023-05, with the labels that each got.

#1945 Adding GMP related documentation
  packages/docs/docs/compliance/gmp.md
  packages/docs/docs/compliance/index.md
Labels: documentation, compliance

#1946 Add unit test coverage for fhir router graphql
  packages/fhir-router/src/graphql.test.ts
Labels: fhir-datastore

#1932 Project Invite Command
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/project.test.ts
  packages/cli/src/project.ts
  packages/cli/src/projects.ts
  packages/docs/docs/cli/index.md
Labels: integration

#1955 add test coverage for cli aws update-server
  packages/cli/src/aws/update-app.test.ts
  packages/cli/src/aws/update-server.test.ts
Labels: self-host

#1962 Fixes#1959 fix race condition in export test
  packages/server/src/fhir/operations/export.test.ts
Labels: fhir-datastore

#1963 Fixes #1951: Add a QuestionnaireResponse tab to the Questionnaire resource page
  packages/app/src/AppRoutes.tsx
  packages/app/src/resource/QuestionnaireResponsePage.test.tsx
  packages/app/src/resource/QuestionnaireResponsePage.tsx
  packages/app/src/resource/ResourcePage.tsx
Labels: questionnaires

#1967 'Category' CodeableConcept column for Bot
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/search-parameters.json
  packages/fhirtypes/dist/Bot.d.ts
  packages/generator/package.json
Labels: bots

#1972 Add s to the end of the http(s)://
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation, subscriptions

#1973 Fix error when :iterate tries to search past leaf resources
  packages/server/src/fhir/repo.ts
Labels: search

#1982 Update index.md
  packages/docs/docs/api/index.md
Labels: documentation

#1985 Community Request: Gracefully Handle 404s
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: fhir-datastore

#1940 Document search inclusion parameters
  package-lock.json
  packages/docs/docs/search/includes.mdx
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/examples/src/search/includes.ts
Labels: search

#1978 Follow canonical references in _(rev)include searches
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: search

#1974 Fixes #1957 - additional containers in CDK config
  packages/cdk/src/backend.ts
  packages/cdk/src/config.ts
  packages/cdk/src/index.test.ts
  packages/docs/docs/self-hosting/datadog.md
Labels: self-host

#1994 Edge case fix for 404 response
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: fhir-datastore

#1998 Documentation for Modeling Provider Organizations
  packages/docs/docs/fhir-datastore/provider-model.md
Labels: documentation, fhir-datastore

#1997 Fixes #1952: Add a subscription tab to Bots page
  packages/app/src/AppRoutes.tsx
  packages/app/src/resource/ResourcePage.tsx
  packages/app/src/resource/SubscriptionsPage.test.tsx
  packages/app/src/resource/SubscriptionsPage.tsx
Labels: medplum-app, subscriptions, bots

#2004 #1810 Add HL7 Helper Methods to SDK
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/hl7.test.ts
  packages/core/src/hl7.ts
  packages/core/src/index.ts
  packages/core/src/sftp.test.ts
  packages/core/src/sftp.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Labels: integration

#1993 Fixes 1947: Add a tab for Audit Events for a resource
  packages/app/src/AppRoutes.tsx
  packages/app/src/resource/AuditEventPage.test.tsx
  packages/app/src/resource/AuditEventPage.tsx
  packages/app/src/resource/ResourcePage.tsx
Labels: audit-logging, medplum-app

#1999 Example of generating the datetime db migration
  packages/generator/src/migrate.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v40.ts
Labels: fhir-datastore

#1979 Workflow to sync repos in examples to remote repos
  .github/workflows/sync-repos.yml
  package.json
Labels: react

#1980 Return empty array if binding isn't there
  packages/react/src/CodingInput/CodingInput.test.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: fhir-datastore

#2005 Export API for a system level export returning one resource per resource type
  packages/server/src/fhir/operations/export.test.ts
  packages/server/src/fhir/operations/export.ts
Labels: fhir-datastore

#1996 Index Period fields as full datetimes
  packages/core/src/search/details.test.ts
  packages/core/src/search/details.ts
  packages/generator/src/migrate.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v40.ts
Labels: search

#2016 Fixes #2015 - handle empty strings in name search
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/lookuptable.ts
Labels: bug, search

#1992 Code cleanup for canonical references in search includes
  packages/core/src/search/details.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: search

#2018 Fixes #2001 - better model for appshell navbar active link
  packages/react/src/AppShell/Navbar.test.tsx
  packages/react/src/AppShell/Navbar.tsx
Labels: react

#2025 Fixes #1983 - Upgraded dependencies, added CycloneDX
  package-lock.json
  package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/docs/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/openapi.ts
  scripts/reinstall.sh
Labels: security, compliance

#2027 Fixes: #2026 Gateway timeout for System level exports
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/utils/bulkexporter.ts
Labels: fhir-datastore

#2014 Cancel in-progress CI jobs when new commit is pushed
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/sonar.yml
Labels: enhancement

#2029 Fixes #2028: Move group export to background job
  packages/server/src/fhir/operations/groupexport.test.ts
  packages/server/src/fhir/operations/groupexport.ts
Labels: fhir-datastore

#2020 Move hello world to main repo
  .github/workflows/sync-repos.yml
  examples/medplum-hello-world/.eslintignore
  examples/medplum-hello-world/.eslintrc.json
  examples/medplum-hello-world/.gitattributes
  examples/medplum-hello-world/.github/dependabot.yml
  examples/medplum-hello-world/.gitignore
  examples/medplum-hello-world/README.md
  examples/medplum-hello-world/index.html
  examples/medplum-hello-world/package.json
  examples/medplum-hello-world/src/App.tsx
  examples/medplum-hello-world/src/favicon.svg
  examples/medplum-hello-world/src/main.tsx
  examples/medplum-hello-world/src/pages/HomePage.tsx
  examples/medplum-hello-world/src/pages/LandingPage.tsx
  examples/medplum-hello-world/src/pages/PatientHeader.tsx
  examples/medplum-hello-world/src/pages/PatientPage.tsx
  examples/medplum-hello-world/src/pages/ResourcePage.tsx
  examples/medplum-hello-world/src/pages/SignInPage.tsx
  examples/medplum-hello-world/src/vite-env.d.ts
  examples/medplum-hello-world/tsconfig.json
  examples/medplum-hello-world/vite.config.ts
  package-lock.json
  package.json
  scripts/reinstall.sh
  scripts/upgrade.sh
Labels: react

#2030 Updating CLIA/CAP documentation and queries
  packages/docs/docs/compliance/clia-cap.md
  packages/docs/docs/self-hosting/install-on-ubuntu.md
Labels: documentation, compliance

#2035 Measure $evaluate-measure operation
  packages/docs/docs/api/fhir/operations/evaluate-measure.md
  packages/server/src/fhir/operations/evaluatemeasure.test.ts
  packages/server/src/fhir/operations/evaluatemeasure.ts
  packages/server/src/fhir/routes.ts
Labels: analytics

#2039 Adding questionnaire tutorial to documentation
  packages/docs/docs/questionnaires/basic-tutorial.md
Labels: questionnaires

#2038 Fixed www CSP and lighthouse issues
  packages/docs/docusaurus.config.js
  packages/docs/src/css/custom.css
  packages/docs/src/pages/index.tsx
  vercel.json
Labels: audit-logging, compliance

#2040 Fixes #2008 - handle existing s3 bucket policy in cdk
  packages/cdk/src/frontend.ts
  packages/cdk/src/oai.ts
  packages/cdk/src/storage.ts
Labels: self-host

#2041 Guidance on Provider Credentials
  packages/docs/docs/fhir-datastore/provider-credentials.md
  packages/docs/docs/fhir-datastore/provider-organizations.md
  packages/examples/src/fhir-datastore/provider-credentials.ts
Labels: fhir-datastore

#2050 Fixes #2045 Fixes #2046 - more CDK config settings
  packages/cdk/src/backend.ts
  packages/cdk/src/config.ts
  packages/cdk/src/frontend.ts
  packages/cdk/src/index.test.ts
  packages/docs/docs/self-hosting/config-settings.md
Labels: self-host

#2044 Update cache when navigating to Timeline
  packages/app/src/FormPage.test.tsx
  packages/app/src/FormPage.tsx
  packages/app/src/resource/AppsPage.tsx
  packages/core/src/client.ts
Labels: react

#2037 Create AsyncJob resource for async/background operations - Part 1
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/AsyncJob.d.ts
  packages/fhirtypes/dist/Resource.d.ts
  packages/fhirtypes/dist/index.d.ts
  packages/generator/src/migrate.ts
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/job.test.ts
  packages/server/src/fhir/job.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.test.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v41.ts
Labels: fhir-datastore

#2069 Updating to the Type 2 report link
  packages/docs/docs/compliance/soc2.md
Labels: compliance

#2055 Fixes #2054 - Add db indexes to all search params
  packages/core/src/search/details.test.ts
  packages/core/src/search/details.ts
  packages/generator/src/migrate.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v42.ts
Labels: fhir-datastore

#2075 Use postgres explain hack for fast 'estimate' count
  packages/react/src/SearchControl/SearchControl.tsx
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#2081 Fixes #2076 - remove react-router-dom from react
  package-lock.json
  packages/app/src/App.tsx
  packages/react/package.json
  packages/react/src/AppShell/AppShell.tsx
  packages/react/src/AppShell/HeaderSearchInput.tsx
  packages/react/src/AppShell/Navbar.test.tsx
  packages/react/src/AppShell/Navbar.tsx
  packages/react/src/BookmarkDialog/BookmarkDialog.test.tsx
  packages/react/src/BookmarkDialog/BookmarkDialog.tsx
Labels: react

#2086 Fixes #2084 - handle malformed value in CodeableConceptInput
  packages/react/src/CodeableConceptInput/CodeableConceptInput.test.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: fhir-datastore

#2085 Suppress debug console output in tests
  packages/cli/src/index.test.ts
  packages/core/src/sftp.ts
Labels: integration

#2090 Update install-on-ubuntu with postgres 12 notes
  packages/docs/docs/self-hosting/install-on-ubuntu.md
Labels: documentation, self-host

#2088 Fixes #2024 Add bulk export commands to CLI
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
  packages/cli/src/index.ts
Labels: integration

#2089 Debian build script
  .gitignore
  scripts/build-server-deb.sh
Labels: self-host

#2094 Clear header search
  packages/react/src/AppShell/AppShell.tsx
  packages/react/src/AppShell/Header.tsx
  packages/react/src/AppShell/HeaderSearchInput.tsx
Labels: react

#2095 Include login param for SignInForm when used with external auth
  packages/server/src/auth/external.ts
Labels: auth

#2098 Hello world suggestions
  examples/medplum-hello-world/src/components/PatientHistory.tsx
  examples/medplum-hello-world/src/components/PatientOverview.tsx
  examples/medplum-hello-world/src/components/Timeline.tsx
  examples/medplum-hello-world/src/pages/PatientPage.tsx
Labels: react

#2101 Fixes #2100 - support reference strings in _compartment search
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#2097 bulk import command for Medplum CLI
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
Labels: compliance, integration

#2096 Add Outlet components to ResourcePage in the examples/medplum-hello-world
  examples/medplum-hello-world/src/App.tsx
  examples/medplum-hello-world/src/components/PatientHistory.tsx
  examples/medplum-hello-world/src/components/PatientOverview.tsx
  examples/medplum-hello-world/src/components/Timeline.tsx
  examples/medplum-hello-world/src/pages/PatientPage.tsx
Labels: react

#2111 Fixes #2105 Intermittent test failure ResourceBlame/ResourceBlame.test.tsx
  packages/react/src/ResourceBlame/ResourceBlame.test.tsx
Labels: fhir-datastore

#2118 Fixed MockClient to work with new exception handling
  packages/fhir-router/src/fhirrouter.test.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
Labels: fhir-datastore

#2116 Remove concurrency checkon sonar jobs
  .github/workflows/sonar.yml
Labels: security

#2110 Revert clear cache on submit questionnaire
  packages/app/src/FormPage.test.tsx
  packages/app/src/FormPage.tsx
  packages/app/src/resource/AppsPage.tsx
Labels: questionnaires, medplum-app

#2113 Fixes #2109 - Handle invalid FHIRPath expression in csv export
  packages/server/src/fhir/operations/csv.test.ts
  packages/server/src/fhir/operations/csv.ts
Labels: fhir-datastore

#2115 Fixes #2114 - prevent reset password enum attack
  packages/app/src/ResetPasswordPage.test.tsx
  packages/app/src/ResetPasswordPage.tsx
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/auth/resetpassword.ts
Labels: security, auth

#2067 Notification in UI for unreachable network
  packages/app/src/ChangePasswordPage.test.tsx
  packages/app/src/SetPasswordPage.test.tsx
  packages/app/src/resource/ResourcePage.test.tsx
  packages/app/src/resource/ResourceVersionPage.test.tsx
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/fhir-router/src/fhirrouter.test.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
  packages/react/src/MedplumProvider/MedplumProvider.tsx
Labels: security

#2128 Fixes #2121 - Added NIST cloud security guidelines to docs
  packages/docs/src/pages/security.md
Labels: documentation, security

#2129 Fixes #2123 - enable S3 bucket versioning by default
  packages/cdk/src/frontend.ts
  packages/cdk/src/storage.ts
Labels: security

#2102 CLI Export from External FHIR Server
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: fhir-datastore

#2134 Fix double status bug in SignInForm
  packages/react/src/auth/SignInForm.tsx
Labels: auth, react

#2132 Added CDK cacheNodeType setting
  packages/cdk/src/backend.ts
  packages/cdk/src/index.test.ts
  packages/core/src/config.ts
  packages/docs/docs/self-hosting/config-settings.md
Labels: self-host

#2135 Fixes #2122 - Add CloudFront logging to CDK config
  packages/cdk/src/backend.ts
  packages/cdk/src/frontend.ts
  packages/cdk/src/storage.ts
  packages/core/src/config.ts
Labels: self-host

#2140 Minor fixes to build-server-deb.sh
  scripts/build-server-deb.sh
Labels: self-host

#2142 Fixes #2108 - support large file bulk import in CLI
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
Labels: fhir-datastore, integration

#2131 Introspection query enabled setting in server config
  .github/workflows/build.yml
  packages/fhir-router/src/fhirrouter.ts
  packages/fhir-router/src/graphql.test.ts
  packages/fhir-router/src/graphql.ts
  packages/graphiql/src/config.ts
  packages/graphiql/src/index.tsx
  packages/server/src/config.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore
