Repository medplum/medplum, pull requests merged in 2023-11, with the labels that each got.

#3180 Add react-hooks to README folder structure
  README.md
Labels: documentation

#3187 Add example of how to use optional --base-url flag
  packages/docs/docs/cli/index.md
Labels: documentation

#3186 Fix NPE in reference validation logic
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/references.ts
Labels: fhir-datastore

#3175 Add documentation for FHIR batch requests
  packages/docs/docs/fhir-datastore/fhir-batch-requests.md
  packages/examples/src/fhir-datastore/fhir-batch-requests.ts
Labels: documentation

#3181 feat(fhircast): add support for `GetCurrentContext`
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
Labels: fhir-datastore, integration

#3192 Show display for empty answer selection
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
Labels: questionnaires

#3193 feat(fhircast/hub): add `context.versionId` to `DiagnosticReport-open`
  packages/core/src/fhircast/index.ts
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
Labels: communications, fhir-datastore

#3166 Implement search chaining
  packages/core/src/search/details.ts
  packages/core/src/search/search.test.ts
  packages/core/src/search/search.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/server/src/config.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/expunge.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/index.test.ts
  packages/server/src/seed.test.ts
Labels: search

#3182 Add documentation on resource history
  packages/docs/docs/fhir-datastore/binary-data.mdx
  packages/docs/docs/fhir-datastore/deleting-data.md
  packages/docs/docs/fhir-datastore/diff-page.png
  packages/docs/docs/fhir-datastore/family-relationships/family-relationships.mdx
  packages/docs/docs/fhir-datastore/history-tab.png
  packages/docs/docs/fhir-datastore/patient-deduplication/patient-deduplication.md
  packages/docs/docs/fhir-datastore/provider-directory/index.md
  packages/docs/docs/fhir-datastore/raw-page.png
  packages/docs/docs/fhir-datastore/resource-history.md
  packages/docs/docs/fhir-datastore/understanding-uscdi-dataclasses.md
  packages/docs/sidebars.js
  packages/examples/src/fhir-datastore/resource-history.ts
Labels: documentation

#3207 Fixes #3203 - check references on write with access policy
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#3206 Adjust limit for chained searches
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#3208 Suppress warnings from system repo
  packages/server/src/context.ts
Labels: fhir-datastore

#3214 Support custom creation paths
  packages/app/src/HomePage.test.tsx
  packages/app/src/HomePage.tsx
  packages/app/src/HomePage.utils.ts
Labels: react

#3220 Fixes #2890 - search filter editor partial name matching
  packages/react/src/SearchControl/SearchControlField.test.ts
  packages/react/src/SearchControl/SearchControlField.ts
Labels: medplum-app

#3212 feat(client/fhircast): add `DiagnosticReport-{update,select}` events
  examples/medplum-fhircast-demo/src/components/Subscriber.tsx
  packages/core/src/client-fhircast.test.ts
  packages/core/src/client.ts
  packages/core/src/fhircast/index.test.ts
  packages/core/src/fhircast/index.ts
  packages/core/src/fhircast/test-utils.test.ts
  packages/core/src/fhircast/test-utils.ts
  packages/server/src/fhircast/routes.ts
Labels: communications, fhir-datastore

#3172 Replace typedoc with api-documenter
  package-lock.json
  package.json
  packages/core/.npmignore
  packages/core/api-extractor.json
  packages/core/package.json
  packages/core/src/client.ts
  packages/core/src/schema.ts
  packages/core/src/typeschema/types.ts
  packages/docs/blog/2023-04-14-medplum-mitre-talk.md
  packages/docs/blog/2023-05-08-codex-and-the-power-of-g10.md
  packages/docs/blog/2023-09-06-graphql-vs-rest.md
  packages/docs/docs/access/projects.md
  packages/docs/docs/api/fhir/operations/bot-execute.mdx
  packages/docs/docs/api/fhir/operations/patient-everything.md
  packages/docs/docs/api/fhir/operations/validate-a-resource.mdx
  packages/docs/docs/api/fhir/operations/valueset-expand.mdx
  packages/docs/docs/api/index.md
  packages/docs/docs/auth/index.md
  packages/docs/docs/auth/methods/external-identity-providers.mdx
  packages/docs/docs/auth/methods/index.md
  packages/docs/docs/auth/methods/token-exchange.md
  packages/docs/docs/bots/bot-basics.md
  packages/docs/docs/bots/bot-for-questionnaire-response/bot-for-questionnaire-response.md
  packages/docs/docs/bots/bot-secrets.md
  packages/docs/docs/bots/file-uploads.md
  packages/docs/docs/careplans/reference-ranges.mdx
  packages/docs/docs/compliance/clia-cap.md
  packages/docs/docs/fhir-datastore/fhir-batch-requests.md
  packages/docs/docs/graphql/index.md
  packages/docs/docs/integration/index.md
  packages/docs/docs/search/basic-search.mdx
  packages/docs/docs/search/paginated-search.mdx
  packages/docs/docs/tutorials/importing-sample-data.md
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/docs/sidebars.js
  packages/docs/src/pages/products/scheduling.md
  packages/docs/src/pages/solutions/provider-portal.md
Labels: documentation

#3226 Fixes #3215 - external auth fixes for Azure SSO
  packages/core/src/client.ts
  packages/core/src/typeschema/types.ts
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/BackboneElement.d.ts
  packages/fhirtypes/dist/Expression.d.ts
  packages/fhirtypes/dist/IdentityProvider.d.ts
  packages/fhirtypes/dist/MoneyQuantity.d.ts
  packages/fhirtypes/dist/Reference.d.ts
  packages/fhirtypes/dist/SimpleQuantity.d.ts
  packages/generator/src/index.ts
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
  packages/server/src/fhir/smart.ts
  packages/server/src/wellknown.ts
Labels: auth

#3241 Fixes #2703 - document agent system requirements
  packages/docs/docs/agent/index.md
  packages/docs/docs/agent/push.md
  packages/docs/docs/agent/requirements.md
Labels: documentation, integration

#3244 Log more details on external auth failure
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
  packages/server/src/logger.ts
Labels: audit-logging

#3232 feat(fhircast): add `context.priorVersionId` to `DiagnosticReport-update`
  packages/core/src/fhircast/index.ts
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
Labels: communications, fhir-datastore

#3237 fix(fhircast): event name casing
  examples/medplum-fhircast-demo/src/components/Publisher.tsx
  examples/medplum-fhircast-demo/src/components/Subscriber.tsx
  packages/core/src/client-fhircast.test.ts
  packages/core/src/client.ts
  packages/core/src/fhircast/index.test.ts
  packages/core/src/fhircast/index.ts
  packages/core/src/fhircast/test-utils.test.ts
  packages/docs/docs/fhircast/dotnet-client.md
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
  packages/server/src/fhircast/websocket.test.ts
Labels: communications, fhir-datastore

#3218 Fix `:missing` modifier for token search params
  packages/server/src/fhir/lookups/token.test.ts
  packages/server/src/fhir/lookups/token.ts
Labels: search

#3255 Fix broken links identified by Ahrefs
  packages/docs/blog/2023-08-08-system-strings.md
  packages/docs/docs/cli/external-fhir-servers.md
  packages/docs/docs/fhir-datastore/family-relationships/family-relationships.mdx
  vercel.json
Labels: documentation

#3256 Added redirects for common search landing pages
  vercel.json
Labels: documentation

#3257 Added Health Gorilla ABN check
  examples/medplum-demo-bots/src/health-gorilla/health-gorilla-questionnaire.json
  examples/medplum-demo-bots/src/health-gorilla/questionnaire-builder.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
Labels: integration

#3264 Updated Health Gorilla demo to use organization references
  examples/medplum-demo-bots/src/health-gorilla/receive-from-health-gorilla.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
Labels: integration

#2780 fix(react-native-example): get login working on mobile
  examples/medplum-react-native-example/package.json
  examples/medplum-react-native-example/src/App.tsx
  examples/medplum-react-native-example/src/CustomButton.tsx
  examples/medplum-react-native-example/src/Home.tsx
  examples/medplum-react-native-example/tsconfig.json
  package-lock.json
  packages/app/src/resource/BotEditor.tsx
  packages/core/jest.config.json
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/contenttype.ts
  packages/core/test.setup.cjs
  packages/eslint-config/index.cjs
  packages/expo-polyfills/.gitignore
  packages/expo-polyfills/.npmignore
  packages/expo-polyfills/README.md
  packages/expo-polyfills/babel.config.cjs
  packages/expo-polyfills/esbuild.mjs
  packages/expo-polyfills/jest.config.json
  packages/expo-polyfills/package.json
  packages/expo-polyfills/src/index.test.ts
  packages/expo-polyfills/src/index.ts
  packages/expo-polyfills/tsconfig.build.json
  packages/expo-polyfills/tsconfig.json
  packages/react/src/test.setup.ts
  packages/server/src/fhir/operations/execute.ts
  sonar-project.properties
Labels: auth

#3250 Adding Health Gorilla setup documentation and samples
  examples/medplum-demo-bots/src/health-gorilla/README.md
  examples/medplum-demo-bots/src/health-gorilla/samples.md
  packages/docs/docs/integration/index.md
  packages/docs/docs/tutorials/medplum-hello-world.md
Labels: documentation, integration

#3267 Clarify project admin vs. Super admin
  packages/docs/docs/access/admin.md
Labels: documentation, auth

#3283 Remove option for 1 AZ in AWS setup
  packages/cli/src/aws/init.ts
Labels: self-host

#3292 feat(fhircast): add `fhircastGetContext`, split `STU2` and `STU3`
  packages/core/src/client-fhircast.test.ts
  packages/core/src/client.ts
  packages/core/src/fhircast/index.ts
  packages/server/src/app.ts
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
Labels: communications, fhir-datastore

#3263 Make @medplum/core a module
  package-lock.json
  packages/app/tsconfig.json
  packages/app/vite.config.ts
  packages/core/babel.config.cjs
  packages/core/babel.config.json
  packages/core/esbuild.mjs
  packages/core/package.json
  packages/core/src/client.ts
  packages/core/tsconfig.json
Labels: fhir-datastore

#3298 Update domain level idp docs
  packages/docs/docs/auth/methods/domain-level-identity-providers.md
Labels: documentation, auth

#3302 Document setting up Google auth for Medplum App
  packages/docs/docs/auth/methods/google-auth.md
Labels: documentation

#3299 Fix Admin Users doc page title
  packages/docs/docs/access/admin.md
Labels: documentation

#3314 Fixes #3269 - use shawl for agent service admin
  .github/workflows/publish.yml
  package-lock.json
  packages/agent/installer.nsi
  packages/agent/package.json
  packages/agent/src/main.ts
Labels: integration

#3319 Fixed FHIR link
  packages/docs/docs/fhir-basics.md
Labels: documentation

#3321 Configure agent service name and automatic start
  packages/agent/installer.nsi
Labels: integration

#3327 Make Postgres version configurable in CDK
  packages/cdk/src/backend.ts
  packages/core/src/config.ts
Labels: self-host

#3307 feat(expo): add `ExpoClientStorage` for persisted store in RN
  examples/medplum-react-native-example/src/App.tsx
  examples/medplum-react-native-example/src/Home.tsx
  package-lock.json
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/storage.ts
  packages/expo-polyfills/README.md
  packages/expo-polyfills/jest.config.json
  packages/expo-polyfills/package.json
  packages/expo-polyfills/src/index.test.ts
  packages/expo-polyfills/src/index.ts
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
  packages/react-hooks/README.md
  packages/react-hooks/src/MedplumProvider/MedplumProvider.test.tsx
  packages/react-hooks/src/MedplumProvider/MedplumProvider.tsx
Labels: integration

#3280 Document performing insurance eligibility checks
  packages/docs/docs/billing/insurance-eligibility-checks.md
  packages/examples/src/billing/insurance-eligibility-checks.ts
Labels: documentation, billing

#3312 Create documentation for chained search
  packages/docs/docs/search/chained-search.md
  packages/docs/docs/search/paginated-search.mdx
  packages/examples/src/search/chained-search.ts
Labels: documentation, search

#3334 Tighter input validation on security endpoints
  packages/server/src/auth/newproject.ts
  packages/server/src/auth/newuser.test.ts
  packages/server/src/auth/newuser.ts
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/auth/resetpassword.ts
Labels: security

#3333 More Health Gorilla docs
  examples/medplum-demo-bots/src/health-gorilla/samples.md
Labels: documentation, integration

#3337 Correctly handle hidden fields under mutually exclusive access policies
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#3331 Fix patient search parameter target type
  packages/definitions/dist/fhir/r4/search-parameters.json
Labels: search

#3342 Dual build type definitions for CJS/ESM
  packages/core/.npmignore
  packages/core/package.json
  packages/definitions/package.json
  packages/expo-polyfills/package.json
  packages/fhir-router/.npmignore
  packages/fhir-router/package.json
  packages/hl7/.npmignore
  packages/hl7/package.json
  packages/mock/.npmignore
  packages/mock/package.json
  packages/react-hooks/.npmignore
  packages/react-hooks/package.json
  packages/react/.npmignore
  packages/react/package.json
Labels: integration

#3351 Fixed - Project specific reset password
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/auth/resetpassword.ts
Labels: auth

#3361 Improve cross linking to `$clone` operation docs
  packages/docs/docs/bots/unit-testing-bots.mdx
  packages/docs/docs/fhir-datastore/create-fhir-data.mdx
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
Labels: documentation

#3354 feat(config): expose db `ssl` config
  packages/server/src/config.test.ts
  packages/server/src/config.ts
  packages/server/src/database.test.ts
  packages/server/src/database.ts
Labels: self-host

#3377 Fixes #3370 - revert .d.cts and .d.mts file extensions
  packages/core/package.json
  packages/expo-polyfills/package.json
  packages/fhir-router/package.json
  packages/hl7/package.json
  packages/mock/package.json
  packages/react-hooks/package.json
  packages/react/package.json
Labels: bots

#3378 Add autoClose false to persist error toasts
  packages/app/src/HomePage.tsx
  packages/app/src/MfaPage.tsx
  packages/app/src/SecurityPage.tsx
  packages/app/src/admin/CreateBotPage.tsx
  packages/app/src/admin/CreateClientPage.tsx
  packages/app/src/admin/InvitePage.tsx
  packages/app/src/admin/SitesPage.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/app/src/components/QuickServiceRequests.tsx
  packages/app/src/resource/AppsPage.tsx
  packages/app/src/resource/BotEditor.tsx
  packages/app/src/resource/BuilderPage.tsx
  packages/app/src/resource/DeletePage.tsx
  packages/app/src/resource/EditPage.tsx
  packages/app/src/resource/JsonPage.tsx
  packages/app/src/resource/QuestionnaireBotsPage.tsx
  packages/app/src/resource/ReferenceRangesPage.tsx
  packages/app/src/resource/ResourcePage.tsx
Labels: medplum-app

#3352 Add exception handling for invalid /authorize url
  packages/server/src/auth/method.test.ts
  packages/server/src/auth/method.ts
Labels: auth

#3386 Update team page
  packages/docs/src/pages/about.tsx
  packages/docs/static/img/people/derrickfarris.jpg
  packages/docs/static/img/people/jamestouri.jpg
  packages/docs/static/img/people/mattlong.jpg
Labels: documentation

#3357 Docs: FHIR Profile Creation & Search
  packages/docs/docs/fhir-datastore/profiles.md
Labels: documentation, fhir-datastore

#3359 Improve examples in the include search docs
  packages/docs/docs/search/includes.mdx
  packages/examples/src/search/includes.ts
Labels: documentation

#3350 feat(fhircast): add `heartbeat` event
  packages/core/src/fhircast/index.test.ts
  packages/core/src/fhircast/index.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/app.ts
  packages/server/src/fhircast/websocket.test.ts
  packages/server/src/fhircast/websocket.ts
  packages/server/src/websockets.ts
Labels: communications
