Repository medplum/medplum, pull requests merged in 2023-09, with the labels that each got.

#2742 Fixes #2568 - move react native example into monorepo
  examples/medplum-react-native-example/.gitattributes
  examples/medplum-react-native-example/.gitignore
  examples/medplum-react-native-example/README.md
  examples/medplum-react-native-example/app.json
  examples/medplum-react-native-example/assets/adaptive-icon.png
  examples/medplum-react-native-example/assets/favicon.png
  examples/medplum-react-native-example/assets/icon.png
  examples/medplum-react-native-example/assets/splash.png
  examples/medplum-react-native-example/babel.config.js
  examples/medplum-react-native-example/package.json
  examples/medplum-react-native-example/src/App.tsx
  examples/medplum-react-native-example/src/main.ts
  examples/medplum-react-native-example/tsconfig.json
  examples/medplum-task-demo/tsconfig.json
  package-lock.json
  packages/app/package.json
  scripts/reinstall.sh
Labels: react

#2765 Agent installer performs silent upgrades
  .github/workflows/publish.yml
  packages/agent/installer.nsi
Labels: integration

#2770 New www 'about' page
  packages/docs/src/components/CardContainer.module.css
  packages/docs/src/components/ProfileCard.module.css
  packages/docs/src/components/ProfileCard.tsx
  packages/docs/src/components/github.svg
  packages/docs/src/components/landing/FeatureGrid.module.css
  packages/docs/src/components/landing/FeatureGrid.tsx
  packages/docs/src/components/landing/LandingPage.tsx
  packages/docs/src/components/linkedin.svg
  packages/docs/src/pages/about.module.css
  packages/docs/src/pages/about.tsx
  packages/docs/static/img/about-jumbotron.svg
  packages/docs/static/img/people/jamestouri.jpg
  packages/docs/static/img/people/mattwiller.jpg
Labels: documentation

#2775 Fixes #2771 - handle numeric return values from bots
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: bots

#2776 Adding blog material
  packages/docs/blog/2023-09-03-congrats-YCS23.md
Labels: documentation

#2777 Fixed links on about page
  packages/docs/src/pages/about.tsx
Labels: documentation

#2716 Example on Lab Ordering demo
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: compliance, integration

#2754 Adding EMPI documentation
  packages/docs/blog/2023-08-30-empi-implementation.md
Labels: documentation, fhir-datastore

#2779 Fixes #2761 - docs for bot logs and aws athena
  packages/docs/docs/self-hosting/aws-athena-guide.md
Labels: documentation

#2781 Blog Post: GraphQL vs. Rest
  .github/workflows/build.yml
  packages/docs/blog/2023-09-06-graphql-vs-rest.md
Labels: documentation, search

#2791 Lab order bot
  examples/medplum-demo-bots/package.json
  examples/medplum-demo-bots/src/health-gorilla/README.md
  examples/medplum-demo-bots/src/health-gorilla/health-gorilla-diagram.webp
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
  packages/core/src/client.ts
  packages/core/src/jwt.ts
Labels: integration

#2787 UI Clone for Lab Order Questionnaire
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: integration

#2809 Fixes #2808 - handle observation groups in DiagnosticReportDisplay
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.stories.tsx
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.test.tsx
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.tsx
  packages/react/src/stories/healthgorilla.ts
Labels: react

#2591 Move "public" resources into R4 Project
  package-lock.json
  packages/core/src/access.test.ts
  packages/core/src/access.ts
  packages/server/package.json
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v48.ts
  packages/server/src/seed.ts
  packages/server/src/seeds/searchparameters.ts
  packages/server/src/seeds/structuredefinitions.ts
  packages/server/src/seeds/valuesets.ts
Labels: fhir-datastore

#2786 Fixes #2784 - Data migrations framework
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/database.ts
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/v1.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/migration.ts
  packages/server/src/migrations/schema/v1.ts
  packages/server/src/migrations/schema/v10.ts
  packages/server/src/migrations/schema/v11.ts
  packages/server/src/migrations/schema/v12.ts
  packages/server/src/migrations/schema/v13.ts
  packages/server/src/migrations/schema/v14.ts
  packages/server/src/migrations/schema/v15.ts
  packages/server/src/migrations/schema/v16.ts
  packages/server/src/migrations/schema/v17.ts
  packages/server/src/migrations/schema/v18.ts
  packages/server/src/migrations/schema/v19.ts
  packages/server/src/migrations/schema/v2.ts
  packages/server/src/migrations/schema/v20.ts
  packages/server/src/migrations/schema/v21.ts
  packages/server/src/migrations/schema/v22.ts
  packages/server/src/migrations/schema/v23.ts
  packages/server/src/migrations/schema/v24.ts
  packages/server/src/migrations/schema/v25.ts
  packages/server/src/migrations/schema/v26.ts
  packages/server/src/migrations/schema/v27.ts
  packages/server/src/migrations/schema/v28.ts
  packages/server/src/migrations/schema/v29.ts
  packages/server/src/migrations/schema/v3.ts
  packages/server/src/migrations/schema/v30.ts
  packages/server/src/migrations/schema/v31.ts
  packages/server/src/migrations/schema/v32.ts
  packages/server/src/migrations/schema/v33.ts
  packages/server/src/migrations/schema/v34.ts
  packages/server/src/migrations/schema/v35.ts
  packages/server/src/migrations/schema/v36.ts
  packages/server/src/migrations/schema/v37.ts
  packages/server/src/migrations/schema/v38.ts
  packages/server/src/migrations/schema/v39.ts
  packages/server/src/migrations/schema/v4.ts
  packages/server/src/migrations/schema/v40.ts
  packages/server/src/migrations/schema/v41.ts
  packages/server/src/migrations/schema/v42.ts
  packages/server/src/migrations/schema/v43.ts
  packages/server/src/migrations/schema/v44.ts
  packages/server/src/migrations/schema/v45.ts
  packages/server/src/migrations/schema/v46.ts
  packages/server/src/migrations/schema/v47.ts
  packages/server/src/migrations/schema/v48.ts
  packages/server/src/migrations/schema/v49.ts
  packages/server/src/migrations/schema/v5.ts
  packages/server/src/migrations/schema/v6.ts
  packages/server/src/migrations/schema/v7.ts
  packages/server/src/migrations/schema/v8.ts
  packages/server/src/migrations/schema/v9.ts
Labels: fhir-datastore

#2821 Health Gorilla demo bots part 2
  examples/medplum-demo-bots/src/health-gorilla/README.md
  examples/medplum-demo-bots/src/health-gorilla/receive-from-health-gorilla.ts
  examples/medplum-demo-bots/src/health-gorilla/send-to-health-gorilla.ts
Labels: bots, integration

#2820 Add ValueSetAutocomplete to QuestionnaireItem Choice
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.test.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
Labels: questionnaires

#2825 Fixes #2815 - add cloudtrail alarms to CDK
  packages/cdk/src/cloudtrail.ts
  packages/cdk/src/index.test.ts
  packages/cdk/src/index.ts
  packages/core/src/config.ts
Labels: self-host

#2838 Migrate $validate to new validator
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#2840 Handle :missing modifier in access policy check utility
  packages/core/src/search/match.test.ts
  packages/core/src/search/match.ts
Labels: security

#2844 Better pointers to FHIR Scheduling materials
  packages/docs/docs/scheduling/index.md
Labels: scheduling

#2845 Fix project ID in super admin rebuild tools
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/seed.ts
  packages/server/src/seeds/searchparameters.ts
  packages/server/src/seeds/structuredefinitions.ts
  packages/server/src/seeds/valuesets.ts
Labels: self-host

#2846 Fixes #2804 - sort tasks in priority order
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/react/src/ResourcePropertyDisplay/ResourcePropertyDisplay.tsx
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v50.ts
Labels: fhir-datastore, search

#2836 Persistent state for components in previous pages
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
  packages/react/src/utils/questionnaire.test.ts
  packages/react/src/utils/questionnaire.ts
Labels: questionnaires, react

#2849 Adding Epic connect bot
  examples/medplum-demo-bots/src/epic/README.md
  examples/medplum-demo-bots/src/epic/epic-query-patient.ts
Labels: auth, bots, integration

#2841 Fixes #2835 - resource crawler, download all attachments
  packages/core/src/index.ts
  packages/core/src/typeschema/crawler.test.ts
  packages/core/src/typeschema/crawler.ts
  packages/core/src/typeschema/validation.ts
  packages/server/src/workers/download.ts
Labels: fhir-datastore

#2814 Configuring bot logging
  packages/docs/docs/bots/bots-in-production.md
Labels: documentation, bots

#2855 Updating README for epic connect bot
  examples/medplum-demo-bots/src/epic/README.md
Labels: documentation, integration

#2854 Fixes #2823 Fixes #2826 Fixes #2848 Fixes #2850 - cli auth cleanup
  examples/medplum-demo-bots/src/epic/epic-query-patient.ts
  packages/cli/src/auth.ts
  packages/cli/src/profile-auth.test.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/command.ts
  packages/cli/src/utils.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
Labels: integration

#2857 Dependency upgrades
  examples/foomedical/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-task-demo/package.json
  package-lock.json
  package.json
  packages/agent/package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/examples/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/react/package.json
  packages/server/package.json
Labels: dependencies

#2858 Fixes #2796 - copy binary content in project clone
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/storage.test.ts
  packages/server/src/fhir/storage.ts
Labels: fhir-datastore, self-host

#2757 Create docs for promoting a user to admin
  packages/docs/docs/app/invite/invite.md
  packages/docs/docs/auth/user-management-guide/promote-to-admin.png
  packages/docs/docs/auth/user-management-guide/user-management-guide.md
  packages/examples/src/auth/user-management-guide.ts
Labels: documentation, auth

#2866 Updating bots based on feedback and correcting for use of deprecated …
  examples/medplum-demo-bots/src/epic/epic-query-patient.ts
  examples/medplum-demo-bots/src/hl7-bot.ts
Labels: integration

#2782 Monitoring bots documentation
  packages/docs/docs/bots/monitoring-bots.md
Labels: documentation, bots

#2760 Update Patient Dedupe Docs
  examples/medplum-demo-bots/src/deduplication/merge-matching-patients.ts
  packages/docs/docs/fhir-datastore/patient-deduplication/architecture-overview.md
  packages/docs/docs/fhir-datastore/patient-deduplication/ingestion.md
  packages/docs/docs/fhir-datastore/patient-deduplication/matching.md
  packages/docs/docs/fhir-datastore/patient-deduplication/merging.md
  packages/docs/docs/fhir-datastore/patient-deduplication/patient-deduplication.md
  packages/examples/src/fhir-datastore/patient-deduplication/matching.ts
Labels: fhir-datastore

#2872 Updating SOC2 report link to 2023 version
  packages/docs/docs/compliance/soc2.md
Labels: documentation, compliance

#2870 Fixes #2847 - Create new resources from JSON input
  packages/app/src/AppRoutes.tsx
  packages/app/src/CreateResourcePage.test.tsx
  packages/app/src/CreateResourcePage.tsx
  packages/app/src/resource/FormCreatePage.tsx
  packages/app/src/resource/JsonCreatePage.tsx
  packages/app/src/resource/useCreateResource.ts
Labels: medplum-app

#2875 Bind async callbacks to context local storage
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#2896 Add Value Set Autocomplete to Kitchen Sink
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
Labels: questionnaires

#2913 Clarify that paginated search should use_sort for consistency
  packages/docs/docs/search/paginated-search.mdx
Labels: documentation

#2873 Create documentation for the Apps Tab
  packages/docs/docs/app/apps-tab.md
  packages/docs/docs/app/apps-tab.png
Labels: medplum-app

#2907 Add request IDs to error responses
  packages/server/src/fhir/outcomes.ts
Labels: fhir-datastore

#2900 Fixes #2899 - agent push
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/docs/docs/agent/push.md
  packages/fhirtypes/dist/Agent.d.ts
  packages/server/src/fhir/operations/agentpush.test.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/websockets.test.ts
  packages/server/src/websockets.ts
Labels: integration

#2885 Split tsquery handling by language config
  packages/docs/docs/contributing/search-architecture.md
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v51.ts
Labels: search

#2905 Fixes #2898 - export CDK types
  packages/cdk/src/backend.ts
  packages/cdk/src/cloudtrail.ts
  packages/cdk/src/frontend.ts
  packages/cdk/src/index.ts
  packages/cdk/src/oai.ts
  packages/cdk/src/stack.ts
  packages/cdk/src/storage.ts
Labels: self-host

#2897 Update contributing docs
  README.md
  packages/docs/docs/bots/bot-lambda-layer.md
  packages/docs/docs/contributing/clone-the-repo.md
  packages/docs/docs/contributing/contribute-without-coding.md
  packages/docs/docs/contributing/index.md
  packages/docs/docs/contributing/local-dev-setup.md
  packages/docs/docs/contributing/run-the-stack.md
  packages/docs/docs/contributing/server-profiling.md
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: documentation

#2883 Dynamically move items in QuestionnaireBuilder
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.test.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
Labels: questionnaires

#2924 Fixes #2901 - cli command to update s3 bucket policies
  packages/cli/src/aws/describe.test.ts
  packages/cli/src/aws/index.ts
  packages/cli/src/aws/list.test.ts
  packages/cli/src/aws/update-app.ts
  packages/cli/src/aws/update-bucket-policies.test.ts
  packages/cli/src/aws/update-bucket-policies.ts
  packages/cli/src/aws/utils.ts
  packages/cli/src/index.ts
Labels: self-host

#2940 CLI logging cleanup
  packages/cli/src/aws/update-bucket-policies.ts
  packages/cli/src/index.ts
Labels: integration

#2941 ValueSet expand operation handle only punctuation string
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#2948 Use --client-id and --client-secret in bot commands
  packages/cli/src/auth.test.ts
  packages/cli/src/auth.ts
  packages/cli/src/bot.test.ts
  packages/cli/src/bots.ts
  packages/cli/src/util/client.ts
  packages/cli/src/utils.ts
Labels: integration

#2949 CLI tools to send and receive HL7 messages
  package-lock.json
  packages/cli/package.json
  packages/cli/src/hl7.test.ts
  packages/cli/src/hl7.ts
  packages/cli/src/index.ts
Labels: integration

#2951 Ignore unrecognized references in convertToTransactionBundle
  packages/core/src/bundle.test.ts
  packages/core/src/bundle.ts
Labels: fhir-datastore
