Repository medplum/medplum, pull requests merged in 2023-03, with the labels that each got.

#1600 Initial Docs on parameterized access policies
  packages/docs/docs/auth/access-control.md
Labels: documentation, auth

#1584 Typeguards for `isResource` and `isReference`
  packages/app/src/admin/AccessPolicyInput.tsx
  packages/app/src/admin/UserConfigurationInput.tsx
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/functions.ts
  packages/core/src/fhirpath/utils.ts
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/react/src/MedplumLink/MedplumLink.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/useResource/useResource.ts
  packages/server/src/openapi.ts
Labels: fhir-datastore

#1602 Project admin resource access
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#1604 Add CDK options for custom RDS secrets
  packages/docs/docs/self-hosting/config-settings.md
  packages/infra/src/backend.ts
  packages/infra/src/config.ts
  packages/infra/src/index.test.ts
Labels: self-host

#1605 Move IP access rules from Project to AccessPolicy
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/AccessPolicy.d.ts
  packages/fhirtypes/dist/Project.d.ts
  packages/fhirtypes/dist/Quantity.d.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/utils.ts
Labels: security, auth

#1609 Dependency upgrades
  package-lock.json
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/infra/package.json
  packages/react/package.json
  packages/server/package.json
Labels: dependencies

#1611 Fixed MoneyQuantity and SimpleQuantity types
  packages/fhirtypes/dist/MoneyQuantity.d.ts
  packages/fhirtypes/dist/SimpleQuantity.d.ts
  packages/fhirtypes/dist/index.d.ts
  packages/generator/src/index.ts
Labels: fhir-datastore

#1614 Move schema validator out of server into core
  packages/core/src/index.ts
  packages/core/src/outcomes.ts
  packages/core/src/schema.test.ts
  packages/core/src/schema.ts
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/fhir-router/src/graphql.ts
  packages/fhirtypes/dist/Resource.d.ts
  packages/generator/src/index.ts
  packages/generator/src/migrate.ts
  packages/server/src/admin/super.ts
  packages/server/src/app.ts
  packages/server/src/fhir/jsonschema.ts
  packages/server/src/fhir/metadata.ts
  packages/server/src/fhir/operations/csv.ts
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/utils.ts
  packages/server/src/workers/index.test.ts
Labels: fhir-datastore

#1617 Project clone operation
  packages/core/src/types.ts
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/test.setup.ts
Labels: self-host

#1620 Fixes #1618 - implemented token :text filter
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.test.ts
Labels: search

#1621 Allow code challenge in PKCE optional mode
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
Labels: auth

#1616 Remove Vercel URL rewrites
  vercel.json
Labels: medplum-app

#1624 FHIR Mapper tests
  packages/core/src/fhirmapper/parse.test.ts
Labels: fhir-datastore

#1622 Resource input to useResource is always pass-through
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/react/src/useResource/useResource.test.tsx
  packages/react/src/useResource/useResource.ts
Labels: fhir-datastore

#1625 Fixes #1619 - evaluate _filter search parameters
  packages/core/src/fhirlexer/tokenize.ts
  packages/core/src/fhirmapper/index.ts
  packages/core/src/filter/README.md
  packages/core/src/filter/index.ts
  packages/core/src/filter/parse.test.ts
  packages/core/src/filter/parse.ts
  packages/core/src/filter/tokenize.ts
  packages/core/src/filter/types.ts
  packages/core/src/index.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/subscription.ts
Labels: search

#1626 Expunge resource and Expunge compartment operations
  packages/server/src/fhir/operations/expunge.test.ts
  packages/server/src/fhir/operations/expunge.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
Labels: medplum-app, fhir-datastore, self-host

#1631 Documentation and content related to tasks and patient deduplication
  packages/docs/blog/2023-03-06-task-management-apps.md
  packages/docs/blog/2023-03-08-patient-deduplication.md
  packages/docs/static/img/blog/tat-dashboard-sample.jpg
  packages/mock/src/client.test.ts
Labels: fhir-datastore, react

#1634 Fixed pagination bug on project admin pages
  packages/app/src/admin/BotsPage.tsx
  packages/app/src/admin/ClientsPage.tsx
  packages/app/src/admin/MembersTable.tsx
  packages/app/src/admin/PatientsPage.tsx
  packages/app/src/admin/ProjectDetailsPage.tsx
  packages/app/src/admin/ProjectPage.tsx
  packages/app/src/admin/UsersPage.tsx
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
  packages/server/src/admin/project.test.ts
  packages/server/src/admin/project.ts
  packages/server/src/admin/utils.ts
  packages/server/src/auth/login.test.ts
Labels: medplum-app, auth

#1629 Upgrade to Mantine 6
  package-lock.json
  package.json
  packages/app/package.json
  packages/app/src/AppHeader.tsx
  packages/app/src/AppNavbar.tsx
  packages/app/src/HomePage.tsx
  packages/app/src/SecurityPage.test.tsx
  packages/app/src/admin/SecretsPage.test.tsx
  packages/app/src/admin/SitesPage.test.tsx
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/index.tsx
  packages/app/src/resource/AppsPage.test.tsx
  packages/app/src/resource/BotEditor.test.tsx
  packages/app/src/resource/BuilderPage.test.tsx
  packages/app/src/resource/EditPage.test.tsx
  packages/app/src/resource/JsonPage.test.tsx
  packages/app/src/resource/ReferenceRangesPage.test.tsx
  packages/app/src/resource/ResourcePage.test.tsx
  packages/examples/package.json
  packages/graphiql/package.json
  packages/infra/package.json
  packages/mock/package.json
  packages/react/package.json
  packages/react/src/DescriptionList/DescriptionList.tsx
  packages/react/src/Panel/Panel.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/ResourceBlame/ResourceBlame.tsx
  packages/react/src/ResourceDiffTable/ResourceDiffTable.tsx
  packages/react/src/ResourceTimeline/ResourceTimeline.tsx
  packages/react/src/SearchControl/SearchControl.tsx
  packages/react/src/SearchFieldEditor/SearchFieldEditor.tsx
  packages/react/src/SearchFilterEditor/SearchFilterEditor.tsx
  packages/react/src/TimingInput/TimingInput.tsx
  packages/server/package.json
  scripts/reinstall.sh
  scripts/upgrade.sh
Labels: medplum-app, react

#1636 Rename infra package to cdk
  .gitignore
  README.md
  package-lock.json
  packages/README.md
  packages/cdk/.gitignore
  packages/cdk/README.md
  packages/cdk/babel.config.json
  packages/cdk/cdk.json
  packages/cdk/jest.config.json
  packages/cdk/package.json
  packages/cdk/src/__mocks__/@aws-sdk/client-acm.ts
  packages/cdk/src/__mocks__/@aws-sdk/client-ssm.ts
  packages/cdk/src/__mocks__/@aws-sdk/client-sts.ts
  packages/cdk/src/backend.ts
  packages/cdk/src/config.ts
  packages/cdk/src/frontend.ts
  packages/cdk/src/index.test.ts
  packages/cdk/src/index.ts
  packages/cdk/src/init.test.ts
  packages/cdk/src/init.ts
  packages/cdk/src/storage.ts
  packages/cdk/src/waf.ts
  packages/cdk/tsconfig.json
  packages/docs/docs/self-hosting/config-settings.md
  packages/docs/docs/self-hosting/install-on-aws.md
  scripts/build.sh
Labels: self-host

#1638 Prepare cdk package for publishing
  packages/cdk/package.json
  packages/cdk/rollup.config.mjs
  packages/cdk/src/index.ts
  packages/cli/.npmignore
  packages/cli/package.json
  packages/cli/rollup.config.mjs
  packages/cli/src/index.ts
  packages/core/.npmignore
  packages/react/.npmignore
Labels: self-host

#1643 More CDK docs
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: self-host

#1641 CDK error handling and warnings in init tool
  packages/cdk/package.json
  packages/cdk/src/__mocks__/@aws-sdk/client-acm.ts
  packages/cdk/src/__mocks__/@aws-sdk/client-sts.ts
  packages/cdk/src/init.test.ts
  packages/cdk/src/init.ts
Labels: self-host

#1646 Fixed jsdom warning in react test output
  packages/react/src/ServiceRequestTimeline/ServiceRequestTimeline.test.tsx
Labels: react

#1645 Add cdk to publish script
  scripts/publish.sh
Labels: self-host

#1647 Merge search parsers
  packages/core/src/client.test.ts
  packages/core/src/index.ts
  packages/core/src/search/parse.test.ts
  packages/core/src/search/parse.ts
  packages/core/src/search/search.test.ts
  packages/core/src/search/search.ts
  packages/react/src/SearchControl/SearchUtils.tsx
Labels: search

#1651 Add CDK dependencies between Fargate, RDS, and Redis
  packages/cdk/src/backend.ts
Labels: self-host

#1654 Fixes #1637 - link to profile resource on membership page
  packages/app/src/admin/EditMembershipPage.test.tsx
  packages/app/src/admin/EditMembershipPage.tsx
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
  packages/mock/src/mocks/project.ts
Labels: medplum-app

#1653 Fixes #1642 - update subscription status code check
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: subscriptions

#1659 Add more constraints to project admin synthetic access policy
  packages/core/src/search/match.test.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/accesspolicy.ts
Labels: auth

#1656 Adding some documentation on invite and reparenting external auth art…
  packages/docs/docs/auth/_category_.json
  packages/docs/docs/auth/access-control.md
  packages/docs/docs/auth/client-credentials.md
  packages/docs/docs/auth/custom-domain.md
  packages/docs/docs/auth/external-identity-providers.mdx
  packages/docs/docs/auth/external-ids.md
  packages/docs/docs/auth/logout.md
  packages/docs/docs/auth/oauth-auth-code.md
  packages/docs/docs/auth/smart-scopes.md
  packages/docs/docs/auth/user-management-guide.md
  packages/docs/docs/fhir-datastore/understanding-uscdi-dataclasses.md
Labels: documentation, auth

#1655 Updated 'Install on AWS' to only build required packages
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: documentation, self-host

#1661 Document logAuditEvents server setting
  packages/docs/docs/self-hosting/config-settings.md
Labels: documentation, audit-logging

#1666 Fixes #1662 - inline errors in resource form
  packages/app/src/resource/EditPage.tsx
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/react/src/BackboneElementInput/BackboneElementInput.tsx
  packages/react/src/CheckboxFormSection/CheckboxFormSection.tsx
  packages/react/src/DateTimeInput/DateTimeInput.tsx
  packages/react/src/FormSection/FormSection.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.tsx
Labels: medplum-app, react

#1668 Fix Observation token index
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/lookups/util.ts
  packages/server/src/fhir/repo.test.ts
Labels: search

#1667 Updating terms to include use of UMLS
  packages/docs/src/pages/terms.md
Labels: documentation, compliance

#1669 Fixed JsonInput on Batch page
  packages/app/src/BatchPage.tsx
  packages/app/src/components/ResourceHeader.tsx
Labels: medplum-app

#1671 Optimize performance of slow token table join
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#1670 Updating documentation and image
  packages/docs/docs/compliance/onc.md
  packages/docs/static/img/compliance/onc-2015-edition-cures.png
Labels: documentation, compliance

#1672 Added restful commands to medplum cli
  packages/cli/README.md
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/storage.test.ts
  packages/cli/src/storage.ts
  packages/core/src/client.ts
  packages/core/src/index.ts
  packages/mock/src/client.ts
Labels: fhir-datastore, integration

#1675 Additions to the terms
  packages/docs/src/pages/terms.md
Labels: compliance

#1674 CMS FHIR documentation
  packages/docs/docs/compliance/cms-fhir.md
  packages/docs/docs/compliance/index.md
Labels: documentation, compliance

#1680 Add spacing to buttons in BotEditor.tsx
  packages/app/src/resource/BotEditor.css
  packages/app/src/resource/BotEditor.tsx
Labels: medplum-app

#1681 add link for resource type on Resource Headers
  packages/app/src/components/ResourceHeader.tsx
Labels: medplum-app

#1677 Basic stories for most developer-facing components
  packages/fhirtypes/dist/OperationOutcome.d.ts
  packages/react/src/AddressDisplay/AddressDisplay.stories.tsx
  packages/react/src/AnnotationInput/AnnotationInput.stories.tsx
  packages/react/src/AttachmentArrayDisplay/AttachmentArrayDisplay.stories.tsx
  packages/react/src/AttachmentDisplay/AttachmentDisplay.stories.tsx
  packages/react/src/BackboneElementDisplay/BackboneElementDisplay.stories.tsx
  packages/react/src/BackboneElementInput/BackboneElementInput.stories.tsx
  packages/react/src/CalendarInput/CalendarInput.stories.tsx
  packages/react/src/CodingDisplay/CodingDisplay.stories.tsx
  packages/react/src/CodingInput/CodingInput.stories.tsx
  packages/react/src/ContactDetailDisplay/ContactDetailDisplay.stories.tsx
  packages/react/src/ContactDetailInput/ContactDetailInput.stories.tsx
  packages/react/src/ContactPointDisplay/ContactPointDisplay.stories.tsx
  packages/react/src/ContactPointInput/ContactPointInput.stories.tsx
  packages/react/src/DateTimeInput/DateTimeInput.stories.tsx
  packages/react/src/DefaultResourceTimeline/DefaultResourceTimeline.stories.tsx
  packages/react/src/Document/Document.stories.tsx
  packages/react/src/ErrorBoundary/ErrorBoundary.stories.tsx
  packages/react/src/ExtensionInput/ExtensionInput.stories.tsx
  packages/react/src/ExtensionInput/ExtensionInput.tsx
  packages/react/src/Form/Form.stories.tsx
  packages/react/src/FormSection/FormSection.stories.tsx
  packages/react/src/GoogleButton/GoogleButton.stories.tsx
  packages/react/src/HumanNameDisplay/HumanNameDisplay.stories.tsx
  packages/react/src/HumanNameInput/HumanNameInput.stories.tsx
  packages/react/src/HumanNameInput/HumanNameInput.tsx
  packages/react/src/IdentifierDisplay/IdentifierDisplay.stories.tsx
  packages/react/src/IdentifierInput/IdentifierInput.stories.tsx
  packages/react/src/MedplumLink/MedplumLink.stories.tsx
  packages/react/src/MoneyDisplay/MoneyDisplay.stories.tsx
  packages/react/src/OperationOutcomeAlert/OperationOutcomeAlert.stories.tsx
  packages/react/src/Panel/Panel.stories.tsx
  packages/react/src/QuantityDisplay/QuantityDisplay.stories.tsx
  packages/react/src/RangeDisplay/RangeDisplay.stories.tsx
  packages/react/src/RangeInput/RangeInput.stories.tsx
  packages/react/src/RatioDisplay/RatioDisplay.stories.tsx
  packages/react/src/RatioInput/RatioInput.stories.tsx
  packages/react/src/ReferenceDisplay/ReferenceDisplay.stories.tsx
  packages/react/src/ResourceBadge/ResourceBadge.stories.tsx
  packages/react/src/ResourceDiff/ResourceDiff.stories.tsx
  packages/react/src/ResourceDiffTable/ResourceDiffTable.stories.tsx
  packages/react/src/ResourceName/ResourceName.stories.tsx
  packages/react/src/ResourceName/ResourceName.tsx
  packages/react/src/ResourcePropertyDisplay/ResourcePropertyDisplay.stories.tsx
  packages/react/src/ResourcePropertyDisplay/ResourcePropertyDisplay.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.stories.tsx
  packages/react/src/ResourceTimeline/ResourceTimeline.stories.tsx
  packages/react/src/SearchFieldEditor/SearchFieldEditor.stories.tsx
  packages/react/src/ServiceRequestTimeline/ServiceRequestTimeline.stories.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.stories.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: documentation, react

#1683 Hide Navbar when clicking on the NavbarLinkProps
  packages/app/src/AppNavbar.tsx
Labels: medplum-app

#1685 Fixes #1684 - duplicate matches in lookup table match
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/sql.ts
Labels: search

#1687 Wrap CLI login URL in quotes
  packages/cli/src/index.ts
Labels: integration

#1691 Fixes #1678 - added external auth token exchange
  packages/server/src/auth/exchange.test.ts
  packages/server/src/auth/exchange.ts
  packages/server/src/auth/routes.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#1701 Fixed total count when joining lookup tables
  packages/server/src/auth/exchange.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: search

#1698 Gracefully handle SES failure
  packages/app/src/admin/InvitePage.tsx
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
Labels: self-host

#1705 Rebuild Compartments super admin feature
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/docs/docs/self-hosting/super-admin-guide.md
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: self-host

#1708 Return the new project as the result of project clone
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/operations/projectclone.ts
Labels: self-host

#1709 Use SCIM endpoints as super admin user
  packages/server/src/admin/utils.ts
  packages/server/src/scim/routes.test.ts
Labels: auth, self-host

#1706 Refresh user list after invite
  packages/app/src/admin/CreateBotPage.tsx
  packages/app/src/admin/CreateClientPage.tsx
  packages/app/src/admin/InvitePage.tsx
Labels: medplum-app

#1712 Fix total count for search by Reference.identifier
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: search

#1714 Add docs for super admin cli expunge project
  packages/docs/docs/self-hosting/super-admin-cli.md
Labels: self-host

#1717 Fixed login.superAdmin for client applications
  packages/server/src/oauth/middleware.test.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
Labels: auth, integration

#1716 Create bot from CLI
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
Labels: bots, integration

#1724 Adding r5 announcement
  packages/docs/blog/2023-03-27-fhir-r5.md
Labels: documentation, fhir-datastore

#1727 Fixes #1721 Fixes #1722 - CDK init tool polish
  packages/cdk/src/init.test.ts
  packages/cdk/src/init.ts
Labels: self-host

#1734 Adding documentation on estimating database size
  packages/docs/blog/2023-03-28-estimating-rds-size.md
Labels: documentation, fhir-datastore, self-host

#1740 Updating user management guide based on feedback
  packages/docs/docs/auth/user-management-guide.md
Labels: documentation, auth

#1742 Fixes #1736 - index guards on search field editor
  packages/react/src/SearchFieldEditor/SearchFieldEditor.test.tsx
  packages/react/src/SearchFieldEditor/SearchFieldEditor.tsx
Labels: react

#1741 Added MedplumClient.executeBot and docs for $execute operation
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/docs/docs/api/fhir/operations/bot-execute.mdx
  packages/docs/docs/bots/bot-basics.md
  packages/examples/src/api/fhir/operations/bot-execute.ts
Labels: bots

#1744 Gracefully handle malformed UUIDs in _id
  packages/core/src/search/details.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#1745 Fixes #1735 - dotenv before env vars in CLI
  packages/cli/src/index.ts
Labels: integration

#1747 Make Recaptcha optional for Password Reset
  packages/app/src/ResetPasswordPage.test.tsx
  packages/app/src/ResetPasswordPage.tsx
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/auth/resetpassword.ts
Labels: security, self-host

#1750 Verify Client provided ProjectId and custom recaptchaSiteKey
  packages/server/src/auth/google.test.ts
  packages/server/src/auth/newuser.test.ts
  packages/server/src/auth/newuser.ts
Labels: auth
