Repository medplum/medplum, pull requests merged in 2023-07, with the labels that each got.

#2324 Fixes #2311 - better expression parsing in getSearchParameterDetails
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/search/details.test.ts
  packages/core/src/search/details.ts
  packages/generator/src/migrate.ts
  packages/react/src/SearchControl/SearchControlField.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v45.ts
Labels: search

#2344 update CLI docs on bulk target-directory
  packages/docs/docs/cli/index.md
Labels: documentation

#2345 Fixes #2343: Update project operation $expunge everything to use AsyncJob
  packages/server/src/fhir/operations/expunge.test.ts
  packages/server/src/fhir/operations/expunge.ts
Labels: self-host

#2347 Update client-lambda manual mock to use aws-sdk-client-mock
  packages/server/src/__mocks__/@aws-sdk/client-lambda.ts
  packages/server/src/fhir/operations/deploy.test.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/workers/subscription.test.ts
Labels: self-host

#2359 Fixes #2333 - added $versions operation
  packages/server/src/fhir/routes.test.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#2360 Fixes #2304 - ProjectMembership access-policy search param
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/server/src/migrations/index.ts
  packages/server/src/migrations/v46.ts
Labels: auth

#2357 Fixes #2052 - Config option to save audit events
  packages/docs/docs/self-hosting/config-settings.md
  packages/server/src/config.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/util/auditevent.ts
Labels: audit-logging

#2358 Update lib-storage.ts manual mock to use aws-sdk-client-mock
  package-lock.json
  packages/server/package.json
  packages/server/src/__mocks__/@aws-sdk/client-s3.ts
  packages/server/src/__mocks__/@aws-sdk/lib-storage.ts
  packages/server/src/fhir/storage.test.ts
Labels: fhir-datastore

#2361 Split repo.ts and search.ts
  packages/fhir-router/src/repo.ts
  packages/server/src/admin/invite.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#2337 Implement slice validation
  packages/core/src/typeschema/types.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/core/src/utils.ts
Labels: fhir-datastore

#2325 #1314 Add an API Collection for Postman, as well as an env template a…
  examples/medplum-postman-examples/README.md
  examples/medplum-postman-examples/medplum.postman_collection.json
  examples/medplum-postman-examples/medplum.postman_environment.json
Labels: documentation

#2381 Update client-sesv2 manual mock to use aws-sdk-client-mock
  packages/server/src/__mocks__/@aws-sdk/client-sesv2.ts
  packages/server/src/admin/invite.test.ts
  packages/server/src/auth/profile.test.ts
  packages/server/src/auth/revoke.test.ts
  packages/server/src/email/email.test.ts
  packages/server/src/oauth/authorize.test.ts
  packages/server/src/oauth/token.test.ts
Labels: self-host

#2303 Adding documentation and examples for CLI optional params to connect …
  packages/docs/docs/cli/external-fhir-servers.md
Labels: documentation, integration

#2382 Cut over to new validation logic
  packages/core/src/index.ts
  packages/core/src/schema.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
Labels: fhir-datastore

#2390 Fix merge conflict in validation test
  packages/core/src/typeschema/validation.test.ts
Labels: fhir-datastore

#2392 Fixes regression in string array filters
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#2380 Add `~` to SearchControl count to indicate estimated counts
  packages/react/src/SearchControl/SearchControl.tsx
Labels: fhir-datastore

#2394 Added docs on $resend operation
  packages/docs/docs/api/fhir/operations/resend.md
  packages/docs/docs/subscriptions/index.md
  packages/docs/docs/subscriptions/publish-and-subscribe.md
  packages/docs/docs/subscriptions/subscription-extensions.md
Labels: documentation

#2391 Updating broken links found during demo
  packages/docs/docs/self-hosting/install-on-aws.md
  packages/docs/docs/self-hosting/super-admin-guide.md
  packages/docs/docs/tutorials/importing-sample-data.md
Labels: documentation

#2404 Validate Medplum resource profiles
  packages/core/src/typeschema/validation.test.ts
Labels: fhir-datastore

#2407 Update manual mock to use aws-sdk-client-mock
  packages/server/src/__mocks__/@aws-sdk/client-secrets-manager.ts
  packages/server/src/__mocks__/@aws-sdk/client-ssm.ts
  packages/server/src/config.test.ts
Labels: self-host

#2414 Ignore graphiql in sonar analysis
  sonar-project.properties
Labels: fhir-datastore

#2415 Fix code complexity warning in search param details
  packages/core/src/search/details.ts
Labels: fhir-datastore

#2405 Document basic functionality of the Medplum App
  packages/docs/docs/app/app-introduction/app-homepage.png
  packages/docs/docs/app/app-introduction/index.md
  packages/docs/docs/app/index.md
Labels: documentation

#2321 Constraint validation
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/functions.ts
  packages/core/src/fhirpath/parse.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
Labels: fhir-datastore

#2421 Fix validation log condition
  packages/server/src/fhir/repo.ts
Labels: audit-logging, fhir-datastore

#2425 Adding tests to confirm hidden fields behavior
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#2424 Update bot-basics.md
  packages/docs/docs/bots/bot-basics.md
Labels: documentation, bots

#2408 Added jwt bearer token auth to MedplumClient
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/jwt.ts
  packages/react/src/auth/RegisterForm.test.tsx
  packages/react/src/auth/SignInForm.test.tsx
Labels: auth

#2433 Documentation on storing external documents
  packages/docs/docs/charting/external-documents.md
  packages/examples/src/charting/external-documents.ts
Labels: documentation

#2432 Change SearchControl to default to accurate
  packages/react/src/SearchControl/SearchControl.tsx
  packages/server/src/fhir/search.ts
Labels: react

#2403 Move medplum-demo-bots to /examples
  examples/medplum-demo-bots/.env.example
  examples/medplum-demo-bots/.gitattributes
  examples/medplum-demo-bots/.gitignore
  examples/medplum-demo-bots/README.md
  examples/medplum-demo-bots/__mocks__/ssh2-sftp-client.ts
  examples/medplum-demo-bots/medplum.config.json
  examples/medplum-demo-bots/package.json
  examples/medplum-demo-bots/renovate.json
  examples/medplum-demo-bots/src/examples/candid-health/README.md
  examples/medplum-demo-bots/src/examples/candid-health/send-to-candid.test.ts
  examples/medplum-demo-bots/src/examples/candid-health/send-to-candid.ts
  examples/medplum-demo-bots/src/examples/candid-health/sync-candid-tasks.test.ts
  examples/medplum-demo-bots/src/examples/candid-health/sync-candid-tasks.ts
  examples/medplum-demo-bots/src/examples/create-pdf.test.ts
  examples/medplum-demo-bots/src/examples/create-pdf.ts
  examples/medplum-demo-bots/src/examples/eligibility-check-opkit.test.ts
  examples/medplum-demo-bots/src/examples/eligibility-check-opkit.ts
  examples/medplum-demo-bots/src/examples/finalize-report.ts
  examples/medplum-demo-bots/src/examples/finalize-reports.test.ts
  examples/medplum-demo-bots/src/examples/form-data-upload.test.ts
  examples/medplum-demo-bots/src/examples/form-data-upload.ts
  examples/medplum-demo-bots/src/examples/hello-patient.test.ts
  examples/medplum-demo-bots/src/examples/hello-patient.ts
  examples/medplum-demo-bots/src/examples/hl7-bot.test.ts
  examples/medplum-demo-bots/src/examples/hl7-bot.ts
  examples/medplum-demo-bots/src/examples/lab-integration/README.md
  examples/medplum-demo-bots/src/examples/lab-integration/read-oru-message.test.ts
  examples/medplum-demo-bots/src/examples/lab-integration/read-oru-message.ts
  examples/medplum-demo-bots/src/examples/lab-integration/send-orm-message.test.ts
  examples/medplum-demo-bots/src/examples/lab-integration/send-orm-message.ts
  examples/medplum-demo-bots/src/examples/patient-deduplication.test.ts
  examples/medplum-demo-bots/src/examples/patient-deduplication.ts
  examples/medplum-demo-bots/src/examples/patient-intake.test.ts
  examples/medplum-demo-bots/src/examples/patient-intake.ts
  examples/medplum-demo-bots/src/examples/questionnaire-bots/conditions-list/README.md
  examples/medplum-demo-bots/src/examples/questionnaire-bots/conditions-list/conditions-list-questionnaire.test.ts
  examples/medplum-demo-bots/src/examples/questionnaire-bots/conditions-list/conditions-list-questionnaire.ts
  examples/medplum-demo-bots/src/examples/questionnaire-bots/medications-list/README.md
  examples/medplum-demo-bots/src/examples/questionnaire-bots/medications-list/patient-medication-questionnaire.test.ts
  examples/medplum-demo-bots/src/examples/questionnaire-bots/medications-list/patient-medication-questionnaire.ts
  examples/medplum-demo-bots/src/examples/sample-account-setup.test.ts
  examples/medplum-demo-bots/src/examples/sample-account-setup.ts
  examples/medplum-demo-bots/src/examples/sftp-upload.test.ts
  examples/medplum-demo-bots/src/examples/sftp-upload.ts
  examples/medplum-demo-bots/src/examples/stripe-bots/README.md
  examples/medplum-demo-bots/src/examples/stripe-bots/stripe-create-invoice.test.ts
  examples/medplum-demo-bots/src/examples/stripe-bots/stripe-create-invoice.ts
  examples/medplum-demo-bots/tsconfig.json
  examples/medplum-demo-bots/vite.config.ts
  package-lock.json
Labels: bots

#2422 Preliminary article on auth integration patterns
  packages/docs/docs/auth/auth-integration.png
  packages/docs/docs/auth/authentication-integration-patterns.md
  packages/docs/docs/auth/client-auth.png
  packages/docs/docs/auth/device-auth.png
  packages/docs/docs/auth/server-auth.png
Labels: documentation, auth

#2449 Enable sourcemaps in server docker image
  packages/server/tsconfig.build.json
  scripts/deploy-server.sh
Labels: self-host

#2453 Instructions on setting up new patient registration
  packages/docs/docs/auth/open-patient-registration.md
Labels: documentation

#2437 Add server config for logLevel
  packages/docs/docs/self-hosting/config-settings.md
  packages/server/src/config.ts
  packages/server/src/index.ts
  packages/server/src/logger.test.ts
  packages/server/src/logger.ts
Labels: audit-logging

#2455 Allow `/email` path in CORS
  packages/server/src/cors.ts
Labels: communications

#2445 Add bundle to resource array in MedplumClient
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/docs/docs/search/basic-search.mdx
  packages/docs/docs/search/paginated-search.mdx
Labels: fhir-datastore

#2441 Update validation invariant logging
  packages/core/src/fhirpath/parse.ts
  packages/server/src/fhir/repo.ts
Labels: audit-logging

#2463 fix: make binary storage type optional
  packages/server/src/config.ts
  packages/server/src/fhir/storage.ts
Labels: fhir-datastore

#2465 Minor clarification on when dedupe pipelines should be run
  packages/docs/docs/fhir-datastore/patient-deduplication/patient-deduplication.md
Labels: documentation

#2460 Change Storage for multiple files in the .medplum/ folder
  packages/cli/src/auth.test.ts
  packages/cli/src/project.test.ts
  packages/cli/src/storage.test.ts
  packages/cli/src/storage.ts
  packages/cli/src/util/client.ts
Labels: integration

#2470 Clarification about search modifiers in graphQL
  packages/docs/docs/graphql/basic-queries.md
Labels: documentation, search

#2471 More dedup clarification based on feedback
  packages/docs/docs/fhir-datastore/patient-deduplication/patient-deduplication.md
Labels: fhir-datastore

#2457 Docs on auth integration patterns
  packages/docs/blog/2023-06-19-ensage-case-study.md
  packages/docs/docs/auth/auth-integration.png
  packages/docs/docs/auth/authentication-integration-patterns.md
  packages/docs/docs/auth/client-auth.png
  packages/docs/docs/auth/device-auth.png
  packages/docs/docs/auth/server-auth.png
Labels: documentation, auth

#2464 Dependency upgrades
  examples/foomedical/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-hello-world/package.json
  package-lock.json
  package.json
  packages/app/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/examples/package.json
  packages/examples/src/tutorials/api-basics/create-fhir-data.ts
  packages/examples/src/tutorials/api-basics/publish-and-subscribe.ts
  packages/generator/package.json
  packages/graphiql/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/workers/cron.ts
Labels: dependencies

#2476 Updated email binary attachments flow
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/config.ts
  packages/server/src/email/email.test.ts
  packages/server/src/email/email.ts
  packages/server/src/email/routes.ts
Labels: communications

#2478 Fixes full truth table for FHIRPath 'or' atom
  packages/core/src/fhirpath/atoms.test.ts
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/parse.test.ts
Labels: fhir-datastore

#2479 Need for updated link noted by partner
  packages/docs/src/components/landing/LandingPage.tsx
Labels: documentation

#2474 Updating the example from bug bash for clarity
  packages/docs/docs/auth/access-control.md
Labels: documentation, auth

#2482 Fix #2481 - _include and _revinclude in search query
  packages/core/src/search/search.test.ts
  packages/core/src/search/search.ts
Labels: search

#2472 Read clientId from member var in startNewUser
  packages/core/src/client.ts
Labels: auth

#2480 Bot editor improvements
  packages/app/src/resource/BotEditor.css
  packages/app/src/resource/BotEditor.tsx
  packages/app/src/resource/BotRunner.tsx
  packages/app/src/resource/CodeEditor.tsx
Labels: bots

#2475 Guide on using `Task` resource
  packages/docs/docs/careplans/tasks/task-state-machine.svg
  packages/docs/docs/careplans/tasks/tasks.md
Labels: careplans, charting

#2349 Initial websocket connectivity support
  package-lock.json
  packages/server/package.json
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/app.ts
  packages/server/src/index.test.ts
  packages/server/src/websockets.test.ts
  packages/server/src/websockets.ts
Labels: fhir-datastore

#2486 Fixes #1790 - Merge /invite and project membership
  packages/app/src/admin/InvitePage.tsx
  packages/cli/src/project.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/docs/docs/auth/user-management-guide.md
  packages/server/src/admin/invite.ts
  packages/server/src/scim/utils.ts
  packages/server/src/test.setup.ts
Labels: auth

#2487 Use 429 status for too many external auth requests
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#2485 Move Medplum Task Demos to examples folder
  examples/medplum-task-demo/.gitattributes
  examples/medplum-task-demo/.gitignore
  examples/medplum-task-demo/README.md
  examples/medplum-task-demo/index.html
  examples/medplum-task-demo/package.json
  examples/medplum-task-demo/screenshot.png
  examples/medplum-task-demo/src/App.tsx
  examples/medplum-task-demo/src/HomePage.tsx
  examples/medplum-task-demo/src/LandingPage.tsx
  examples/medplum-task-demo/src/ResourcePage.tsx
  examples/medplum-task-demo/src/SignInPage.tsx
  examples/medplum-task-demo/src/TaskList.tsx
  examples/medplum-task-demo/src/TaskRow.styles.ts
  examples/medplum-task-demo/src/TaskRow.tsx
  examples/medplum-task-demo/src/index.css
  examples/medplum-task-demo/src/main.tsx
  examples/medplum-task-demo/src/utils.ts
  examples/medplum-task-demo/src/vite-env.d.ts
  examples/medplum-task-demo/tsconfig.json
  examples/medplum-task-demo/vite.config.ts
  package-lock.json
Labels: charting, react

#2327 Add baseUrl to Medplum config file
  packages/cli/src/aws/init.ts
  packages/core/src/config.ts
Labels: fhir-datastore, self-host

#2477 Profile Subcommands
  packages/cli/src/index.ts
  packages/cli/src/profiles.test.ts
  packages/cli/src/profiles.ts
  packages/cli/src/util/command.ts
Labels: integration

#2461 Load and validate profiles for resources that claim conformance
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/server/src/fhir/__test__/us-core-patient.json
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/seed.ts
  packages/server/src/seeds/structuredefinitions.ts
  packages/server/src/util/time.test.ts
  packages/server/src/util/time.ts
Labels: fhir-datastore

#2498 Fixed sort by _id
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#2501 Enable FHIRPath constraint validation in Strict Mode
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#2499 Update healthcheck example in "Run the Stack"
  packages/docs/docs/contributing/run-the-stack.md
  packages/docs/docs/self-hosting/super-admin-guide.md
Labels: documentation, self-host

#2504 Updated HL7 utils
  packages/core/src/hl7.test.ts
  packages/core/src/hl7.ts
Labels: integration

#2505 Use built-in EventTarget
  packages/core/src/client.ts
  packages/core/src/eventtarget.test.ts
  packages/core/src/eventtarget.ts
  packages/react/src/BookmarkDialog/BookmarkDialog.tsx
  packages/react/src/MedplumProvider/MedplumProvider.tsx
Labels: integration

#2506 Fix SearchControl values with SearchParameter without ElementDefinition
  packages/react/src/SearchControl/SearchUtils.tsx
Labels: search

#2494 Case study materials pediatrics
  packages/docs/blog/2023-07-18-summer-case-study.md
  packages/docs/src/pages/solutions/custom-ehr.md
  packages/docs/src/pages/solutions/index.md
Labels: documentation

#2511 Guide on patient insurance
  examples/medplum-demo-bots/src/examples/candid-health/send-to-candid.test.ts
  packages/docs/docs/billing/index.md
  packages/docs/docs/billing/patient-insurance.md
Labels: documentation, billing

#2520 Add section on upgrading AWS infrastructure
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: documentation, self-host

#2525 Fixes #2454 #2517 #2523 - ResourceInput improvements
  packages/app/src/resource/ResourcePage.test.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/CodeInput/CodeInput.tsx
  packages/react/src/CodeableConceptInput/CodeableConceptInput.tsx
  packages/react/src/CodingInput/CodingInput.tsx
  packages/react/src/ReferenceInput/ReferenceInput.test.tsx
  packages/react/src/ResourceInput/ResourceInput.test.tsx
  packages/react/src/ResourceInput/ResourceInput.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.test.tsx
  packages/react/src/SearchFilterEditor/SearchFilterEditor.test.tsx
  packages/react/src/SearchFilterValueInput/SearchFilterValueInput.test.tsx
Labels: react

#2527 Fixes #2524 - added Medplum ValueSets
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/AccessPolicy.d.ts
  packages/fhirtypes/dist/AsyncJob.d.ts
  packages/fhirtypes/dist/Bot.d.ts
  packages/fhirtypes/dist/BulkDataExport.d.ts
  packages/fhirtypes/dist/Composition.d.ts
  packages/fhirtypes/dist/Login.d.ts
  packages/fhirtypes/dist/Project.d.ts
  packages/generator/src/valuesets.ts
  packages/server/src/auth/external.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/seeds/valuesets.ts
Labels: fhir-datastore

#2532 Lower log level for validator latency
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#2531 Update patient-everything.md to note that the EHI Export requirements
  packages/docs/docs/api/fhir/operations/patient-everything.md
Labels: documentation, compliance

#2533 Convert logs to JSON
  packages/server/src/admin/invite.ts
  packages/server/src/admin/super.test.ts
  packages/server/src/app.test.ts
  packages/server/src/auth/external.ts
  packages/server/src/auth/newproject.ts
  packages/server/src/auth/newuser.ts
  packages/server/src/auth/utils.ts
  packages/server/src/database.ts
  packages/server/src/email/email.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/expunge.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/operations/resourcegraph.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/rewrite.ts
  packages/server/src/index.ts
  packages/server/src/logger.test.ts
  packages/server/src/logger.ts
  packages/server/src/oauth/authorize.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/websockets.ts
Labels: audit-logging

#2528 Bot structure update
  packages/app/src/resource/BotEditor.test.tsx
  packages/app/src/resource/BotEditor.tsx
  packages/app/src/resource/CodeEditor.tsx
  packages/cli/src/aws/update-app.ts
  packages/cli/src/bot.test.ts
  packages/cli/src/utils.test.ts
  packages/cli/src/utils.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/Bot.d.ts
  packages/mock/src/mocks/bot.ts
  packages/server/src/admin/bot.test.ts
  packages/server/src/admin/bot.ts
  packages/server/src/config.ts
  packages/server/src/fhir/operations/deploy.test.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/storage.ts
  scripts/deploy-app.sh
  scripts/deploy-graphiql.sh
Labels: bots

#2538 Additional questionnaire resources
  packages/docs/docs/questionnaires/index.md
Labels: documentation, questionnaires

#2502 Profile flags
  packages/cli/src/auth.ts
  packages/cli/src/bulk.ts
  packages/cli/src/profiles.test.ts
  packages/cli/src/rest.test.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/command.ts
  packages/core/src/client.ts
  packages/docs/docs/cli/external-fhir-servers.md
Labels: integration

#2534 Guide on RxNorm and NDC codes
  packages/docs/docs/medications/medication-codes.md
Labels: documentation, medications

#2551 Fix broken docs links
  packages/docs/docs/fhir-datastore/provider-directory/provider-credentials.md
  packages/docs/docs/graphql/basic-queries.md
Labels: documentation

#2552 Updating page
  packages/docs/src/components/landing/LandingPage.tsx
Labels: documentation

#2555 HL7 fixes for SimHospital
  examples/medplum-demo-bots/src/examples/lab-integration/read-oru-message.test.ts
  examples/medplum-demo-bots/src/examples/lab-integration/read-oru-message.ts
  packages/agent/esbuild.mjs
  packages/agent/package.json
  packages/agent/src/main.ts
  packages/core/src/hl7.test.ts
  packages/core/src/hl7.ts
Labels: integration

#2522 Optimize bundles during batch upload
  packages/app/src/BatchPage.tsx
  packages/cli/src/rest.test.ts
  packages/core/src/bundle.test.ts
  packages/core/src/bundle.ts
  packages/core/src/crypto.ts
  packages/core/src/index.ts
  packages/fhir-router/src/repo.ts
Labels: fhir-datastore

#2556 Added _filter to graphql search params
  packages/fhir-router/src/graphql/utils.ts
  packages/server/src/fhir/operations/graphql.test.ts
  scripts/deploy-introspection-schema.sh
Labels: search

#2558 Added support for HL7 testing in bot editor
  packages/app/src/resource/BotEditor.test.tsx
  packages/app/src/resource/BotEditor.tsx
  packages/core/src/bundle.test.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/mock/src/client.ts
Labels: bots, integration

#2537 Guide on representing formulary using MedicationKnowledge
  packages/docs/docs/medications/formulary/formulary-examples.json
  packages/docs/docs/medications/formulary/formulary.md
Labels: documentation, medications

#2563 Fixes #2559 #2560 - EventTarget and URLSearchParams for react native
  packages/core/src/client.ts
  packages/core/src/eventtarget.test.ts
  packages/core/src/eventtarget.ts
  packages/core/src/index.ts
  packages/mock/src/client.ts
  packages/react/src/BookmarkDialog/BookmarkDialog.tsx
Labels: react

#2561 Adding content to solutions
  packages/docs/docs/integration/index.md
  packages/docs/src/pages/solutions/index.md
  packages/docs/src/pages/solutions/patient-portal.md
  packages/docs/src/pages/solutions/pediatrics.md
Labels: documentation

#2571 Fixed CLI update-app command, added --dryrun
  packages/cli/src/aws/index.ts
  packages/cli/src/aws/update-app.test.ts
  packages/cli/src/aws/update-app.ts
  packages/core/src/contenttype.ts
Labels: self-host

#2575 Reference documentation for all /admin/projects/... endpoints
  packages/docs/docs/api/oauth/_category_.json
  packages/docs/docs/api/project-admin/_category_.json
  packages/docs/docs/api/project-admin/bot.md
  packages/docs/docs/api/project-admin/client.md
  packages/docs/docs/api/project-admin/invite.md
Labels: documentation, auth

#2580 Document both POST and GET requests for $execute
  packages/docs/docs/api/fhir/operations/bot-execute.mdx
  packages/examples/src/api/fhir/operations/bot-execute.ts
Labels: documentation, bots

#2583 Document the _sort parameter
  packages/docs/docs/search/basic-search.mdx
  packages/examples/src/search/basic-search.ts
Labels: documentation, search

#2584 Add example of using GraphQL built-in types with mutations
  packages/docs/docs/graphql/mutations.md
  packages/examples/src/graphql/mutations.ts
Labels: fhir-datastore, search
