Repository medplum/medplum, pull requests merged in 2024-08, with the labels that each got.

#5003 Add indexes to lookup tables for common query patterns
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v73.ts
Labels: fhir-datastore

#5002 Allow display text override in ValueSet expansion
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/operations/expand.test.ts
Labels: fhir-datastore

#5010 Add index data to db-stats operation
  packages/server/src/fhir/operations/dbstats.ts
Labels: audit-logging, self-host

#5013 Use display text for CodeSystem property relationships
  packages/server/src/fhir/operations/codesystemlookup.test.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#5012 Handle timeout errors in database migrations
  packages/server/src/app.test.ts
  packages/server/src/database.ts
Labels: self-host

#5014 Use x-amzn-trace-id header if available
  packages/server/src/context.test.ts
  packages/server/src/context.ts
Labels: audit-logging

#5016 Re-drop token indexes
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v75.ts
Labels: fhir-datastore

#4791 Document future GraphQL query limits
  packages/docs/docs/graphql/query-limits.md
Labels: documentation

#5019 Add stub CodeSystems
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/server/src/seed.ts
Labels: fhir-datastore

#5020 Add disablePagination and excludeButtons to QuestionnaireForm
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormComponents/QuestionnaireFormPageSequence.tsx
Labels: react

#5017 Examples: Chart Example: update pkgs
  examples/medplum-chart-demo/package.json
  package-lock.json
Labels: example

#4968 [Photon Health] Add patient's allergies and medication history when syncing
  examples/medplum-photon-integration/src/bots/sync-patient.test.ts
  examples/medplum-photon-integration/src/bots/sync-patient.ts
  examples/medplum-photon-integration/src/bots/utils.ts
  examples/medplum-photon-integration/src/photon-types.d.ts
Labels: integration

#5028 Allow conditional references in Resource.meta
  packages/server/src/fhir/operations/codesystemlookup.test.ts
  packages/server/src/fhir/operations/dbstats.ts
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.test.ts
Labels: fhir-datastore

#5035 Don't re-use migration DB connection
  packages/server/src/database.ts
Labels: fhir-datastore

#5040 Defensive indexing of HumanName
  packages/server/src/fhir/lookups/humanname.ts
Labels: fhir-datastore

#5041 react-hooks types only bundled within @medplum/react
  api-extractor.json
  packages/react/api-extractor.json
Labels: react

#5043 Even more defensive check for indexing HumanName
  packages/server/src/fhir/lookups/humanname.ts
Labels: fhir-datastore

#5001 [Photon Health] Add props to photon elements
  examples/medplum-photon-integration/src/App.tsx
  examples/medplum-photon-integration/src/components/PatientPrescription.tsx
  examples/medplum-photon-integration/src/config.ts
  examples/medplum-photon-integration/src/custom.d.ts
Labels: integration, example

#5039 Log request duration as a number
  packages/server/src/app.ts
Labels: audit-logging

#5038 Add request ID to Postgres transaction error logs
  packages/server/src/fhir/repo.ts
  postgres/postgres.conf
Labels: audit-logging

#5037 Add sampling config for slow query log
  packages/server/src/config.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore

#5050 Split batch logs
  packages/fhir-router/src/batch.ts
  packages/server/src/fhir/routes.ts
Labels: audit-logging

#5054 Improve observability of reindex job
  packages/server/src/fhir/job.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: audit-logging

#5066 Add search mode to search results Bundle
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/token.test.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/test.setup.ts
Labels: search

#5067 Close BullMQ worker before queue
  packages/server/src/workers/cron.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/subscription.ts
Labels: fhir-datastore

#5068 Batch writes to resource tables in reindex
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5071 Use same array for batched reindex
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5073 Tests for useCachedBinaryUrl hook
  packages/react-hooks/src/useCachedBinaryUrl/useCachedBinaryUrl.test.ts
  packages/react-hooks/src/useCachedBinaryUrl/useCachedBinaryUrl.ts
Labels: fhir-datastore

#5074 Tests for patch button on Edit page
  packages/app/src/resource/EditPage.test.tsx
  packages/app/src/resource/EditPage.tsx
Labels: medplum-app

#5075 Updating compliance documentation to reflect new listing
  packages/docs/blog/2023-12-18-radai-case-study.md
  packages/docs/docs/compliance/onc.md
  packages/docs/docs/tutorials/index.md
Labels: documentation, compliance

#4690 Superbill and CMS 1500 Bots
  examples/medplum-demo-bots/src/billing-bots/README.md
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.ts
  examples/medplum-demo-bots/src/billing-bots/example-questionnaire.ts
  examples/medplum-demo-bots/src/billing-bots/superbill-pdf.png
  examples/medplum-demo-bots/src/billing-bots/superbill-test-data.ts
  examples/medplum-demo-bots/src/billing-bots/superbill.test.ts
  examples/medplum-demo-bots/src/billing-bots/superbill.ts
Labels: billing

#5033 [Patient Intake Sample] [Part 2] Add emergency contact, allergies, and medications to the questionnaire
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
Labels: example

#5049 [Patient Intake Sample] [Part 3] Add medical history and smoking status to the questionnaire
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
Labels: example

#5079 Defend against malformed account references in compartments
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5025 [Photon Health] Verify webhooks
  examples/medplum-photon-integration/src/bots/handle-webhooks.test.ts
  examples/medplum-photon-integration/src/bots/handle-webhooks.ts
  examples/medplum-photon-integration/src/photon-types.d.ts
Labels: example

#5080 Check if User.project is a UUID before writing to DB
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5081 More defensive compartments
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5086 Add compound Encounter index
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v76.ts
Labels: fhir-datastore

#5092 Support `in` ValueSet property filter
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.test.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.ts
Labels: fhir-datastore

#5103 Add stub CodeSystem for immunizations ValueSet
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
Labels: fhir-datastore

#5099 [Scheduling Sample] Add bot to handle booking an appointment
  examples/medplum-scheduling-demo/README.md
  examples/medplum-scheduling-demo/data/core/.gitkeep
  examples/medplum-scheduling-demo/package.json
  examples/medplum-scheduling-demo/src/App.tsx
  examples/medplum-scheduling-demo/src/bots/core/book-appointment.test.ts
  examples/medplum-scheduling-demo/src/bots/core/book-appointment.ts
  examples/medplum-scheduling-demo/src/components/AppointmentActions.tsx
  examples/medplum-scheduling-demo/src/components/CreateAppointment.tsx
  examples/medplum-scheduling-demo/src/components/PatientActions.tsx
  examples/medplum-scheduling-demo/src/components/RescheduleAppointment.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentsPage.tsx
  examples/medplum-scheduling-demo/src/pages/PatientSchedulePage.tsx
  examples/medplum-scheduling-demo/src/pages/SchedulePage.tsx
  examples/medplum-scheduling-demo/src/pages/UploadDataPage.tsx
  examples/medplum-scheduling-demo/src/scripts/deploy-bots.ts
Labels: example

#5105 Use trigram index for Coding display text
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v77.ts
Labels: fhir-datastore

#5106 Fix trigram extension in schema migration
  packages/server/src/migrations/schema/v77.ts
Labels: fhir-datastore

#5101 Enhance reindex job for full database reindex
  packages/server/src/admin/super.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#5110 Add projectId to Project-scoped Users
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
Labels: fhir-datastore

#5111 Write projectId in reindex
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/reindex.test.ts
Labels: fhir-datastore

#5114 Fix use of cursor in database reindex job
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#5116 Reset reindex cursor between resource types
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#5059 [Patient Intake Sample] Add the Onboarding > New Patient page
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/data/core/valuesets.json
  examples/medplum-patient-intake-demo/data/example/example-organization-data.json
  examples/medplum-patient-intake-demo/data/example/example-patient-data.json
  examples/medplum-patient-intake-demo/src/App.tsx
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
  examples/medplum-patient-intake-demo/src/components/PatientActions.tsx
  examples/medplum-patient-intake-demo/src/pages/IntakeFormPage.tsx
  examples/medplum-patient-intake-demo/src/pages/IntakeResponsePage.tsx
  examples/medplum-patient-intake-demo/src/pages/SearchPage.tsx
  examples/medplum-patient-intake-demo/src/pages/UploadDataPage.tsx
  examples/medplum-patient-intake-demo/src/scripts/deploy-bots.ts
Labels: example

#5122 Report lastUpdated timestamp for reindex job progress
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#5125 Allow adding to Meta.compartment
  packages/definitions/dist/fhir/r4/profiles-types.json
  packages/fhirtypes/dist/Meta.d.ts
  packages/server/src/config.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth, fhir-datastore

#5109 [Scheduling Sample] View Slot details, and update Encounter type mapping
  examples/medplum-scheduling-demo/README.md
  examples/medplum-scheduling-demo/data/core/.gitkeep
  examples/medplum-scheduling-demo/data/core/appointment-service-types.json
  examples/medplum-scheduling-demo/src/App.tsx
  examples/medplum-scheduling-demo/src/bots/core/book-appointment.test.ts
  examples/medplum-scheduling-demo/src/bots/core/book-appointment.ts
  examples/medplum-scheduling-demo/src/components/AppointmentActions.tsx
  examples/medplum-scheduling-demo/src/components/CreateAppointment.tsx
  examples/medplum-scheduling-demo/src/components/CreateEncounter.tsx
  examples/medplum-scheduling-demo/src/components/CreateUpdateSlot.tsx
  examples/medplum-scheduling-demo/src/components/RescheduleAppointment.tsx
  examples/medplum-scheduling-demo/src/components/SlotDetails.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentsPage.tsx
  examples/medplum-scheduling-demo/src/pages/PatientSchedulePage.tsx
  examples/medplum-scheduling-demo/src/pages/SchedulePage.tsx
  examples/medplum-scheduling-demo/src/pages/UploadDataPage.tsx
Labels: scheduling, example

#5123 [Scheduling Sample] Adjust appointment cancellation flow
  examples/medplum-scheduling-demo/src/bots/core/cancel-appointment.test.ts
  examples/medplum-scheduling-demo/src/bots/core/cancel-appointment.ts
  examples/medplum-scheduling-demo/src/components/AppointmentActions.tsx
  examples/medplum-scheduling-demo/src/pages/SchedulePage.tsx
  examples/medplum-scheduling-demo/src/pages/UploadDataPage.tsx
  examples/medplum-scheduling-demo/src/scripts/deploy-bots.ts
Labels: scheduling, example

#5137 [Scheduling Sample] Implement Block Availability Action
  examples/medplum-scheduling-demo/src/bots/core/block-availability.test.ts
  examples/medplum-scheduling-demo/src/bots/core/block-availability.ts
  examples/medplum-scheduling-demo/src/bots/core/cancel-appointment.test.ts
  examples/medplum-scheduling-demo/src/bots/core/cancel-appointment.ts
  examples/medplum-scheduling-demo/src/components/BlockAvailability.tsx
  examples/medplum-scheduling-demo/src/components/CreateUpdateSlot.tsx
  examples/medplum-scheduling-demo/src/pages/SchedulePage.tsx
  examples/medplum-scheduling-demo/src/pages/UploadDataPage.tsx
  examples/medplum-scheduling-demo/src/scripts/deploy-bots.ts
Labels: scheduling, example

#5139 Relax new transaction inside low-level repo operations
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5133 Document recommended instance sizes
  packages/docs/docs/self-hosting/config-settings.md
Labels: documentation, self-host

#5143 fix(subscriptions): reconnect on profile change
  packages/core/src/client-test-utils.ts
  packages/core/src/subscriptions/index.test.ts
  packages/core/src/subscriptions/index.ts
Labels: subscriptions

#5121 Enable Projects to set default profiles for resources
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/Project.d.ts
  packages/generator/src/jsonschema.ts
  packages/mock/src/mocks/structuredefinitions.json
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5134 Specify DB parameters for reader instances in CDK
  package-lock.json
  packages/cdk/package.json
  packages/cdk/src/backend.ts
  packages/core/src/config.ts
  packages/docs/docs/self-hosting/config-settings.md
Labels: self-host

#5158 Allow Project admin to use CodeSystem import
  packages/server/medplum.config.json
  packages/server/src/fhir/operations/codesystemimport.test.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/operations/subsumes.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore
