Repository medplum/medplum, pull requests merged in 2024-10, with the labels that each got.

#5328 feat(server): add `SearchParameter` for `{Appointment, Slot}.end`
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/docs/static/data/resourceDefinitions/appointment.json
  packages/docs/static/data/resourceDefinitions/slot.json
  packages/server/src/fhir/search-params.test.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v78.ts
Labels: search

#5330 Rewrite simple chained search for efficiency
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#5213 Correct handling of multiple query parameters
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/fhirrouter.test.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/urlrouter.ts
  packages/mock/src/client.ts
  packages/server/src/fhir/operations/agentupgrade.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/operations/utils/agentutils.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#5331 feat(server): add `DiagnosticReport.study` as `SearchParameter`
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/docs/static/data/resourceDefinitions/diagnosticreport.json
  packages/generator/src/migrate.ts
  packages/server/src/fhir/search-params.test.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v79.ts
Labels: search

#5336 Fix typo in docs
  packages/docs/docs/fhir-datastore/create-fhir-data.mdx
Labels: documentation

#5340 Clarify docs around batch processing
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
Labels: fhir-datastore

#5264 Allow setting multiple accounts per resource
  packages/core/src/base-schema.json
  packages/core/src/bundle.test.ts
  packages/definitions/dist/fhir/r4/profiles-types.json
  packages/fhirtypes/dist/Meta.d.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/subscription.test.ts
Labels: fhir-datastore

#5342 fix(BaseChat): only call `onMessageReceived` on new message
  packages/react/src/chat/BaseChat/BaseChat.test.tsx
  packages/react/src/chat/BaseChat/BaseChat.tsx
Labels: communications, react

#5233 [Photon Health] Fix webhook bot issues
  examples/medplum-photon-integration/package.json
  examples/medplum-photon-integration/src/bots/constants.ts
  examples/medplum-photon-integration/src/bots/handle-order-event.test.ts
  examples/medplum-photon-integration/src/bots/handle-order-event.ts
  examples/medplum-photon-integration/src/bots/handle-prescription-event.test.ts
  examples/medplum-photon-integration/src/bots/handle-prescription-event.ts
  examples/medplum-photon-integration/src/bots/sync-patient.ts
  examples/medplum-photon-integration/src/bots/test-data/order-event-test-data.ts
  examples/medplum-photon-integration/src/bots/utils.test.ts
  examples/medplum-photon-integration/src/bots/utils.ts
  examples/medplum-photon-integration/src/components/PatientPrescription.tsx
  examples/medplum-photon-integration/src/photon-types.d.ts
  package-lock.json
Labels: medications, example

#5339 Deduplicate search results
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: search

#5332 Update docs to reflect default config location
  packages/cli/src/aws/index.ts
  packages/cli/src/aws/update-config.test.ts
  packages/cli/src/aws/update-config.ts
  packages/cli/src/util/command.test.ts
  packages/cli/src/util/command.ts
Labels: documentation, self-host

#5337 refactor(server): make `code` for `Bot/$deploy` optional
  packages/app/src/resource/BotEditor.test.tsx
  packages/app/src/resource/BotEditor.tsx
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/server/src/fhir/operations/deploy.test.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/util/streams.ts
Labels: bots

#5210 [Photon Health] Sync formulary to Photon catalog
  examples/medplum-photon-integration/data/example-data.json
  examples/medplum-photon-integration/src/App.tsx
  examples/medplum-photon-integration/src/bots/sync-formulary.test.ts
  examples/medplum-photon-integration/src/bots/sync-formulary.ts
  examples/medplum-photon-integration/src/components/FormularyDisplay.tsx
  examples/medplum-photon-integration/src/pages/MedicationPage.tsx
  examples/medplum-photon-integration/src/pages/MedicationsPage.tsx
  examples/medplum-photon-integration/src/pages/UploadDataPage.tsx
  examples/medplum-photon-integration/src/scripts/deploy-bots.ts
Labels: example

#5354 Search for exact code match in ValueSet expand
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#5353 Deduplicate search results
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: search

#5359 Log all database errors
  packages/server/src/cloud/aws/deploy.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/projectinit.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/subscription.ts
Labels: audit-logging

#5361 Pass through already-normalized database errors
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/transaction.test.ts
Labels: fhir-datastore

#5360 Document assigning ownership via Project init
  packages/docs/docs/api/fhir/operations/project-init.md
Labels: documentation

#5370 Validate boolean search parameters
  packages/server/src/fhir/search.ts
Labels: search

#5368 Centralize escaping of text search query strings
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: search

#5369 Validate resource ID before reading from DB
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
Labels: fhir-datastore

#5366 fix(fhircast): align context change request with STU3
  packages/core/src/client-fhircast.test.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/server/src/fhir/outcomes.ts
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
Labels: fhir-datastore, integration

#5373 Handle database timeout error
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#5358 [Photon Health] Update sync patient bot to handle allergies and medication history
  examples/medplum-photon-integration/src/bots/sync-patient.test.ts
  examples/medplum-photon-integration/src/bots/sync-patient.ts
Labels: medications

#5393 Add compound index for Observation:_lastUpdated
  packages/generator/src/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v80.ts
Labels: fhir-datastore

#5398 Fix condition for GraphQL requests to use reader DB when available
  packages/server/src/fhir/operations/graphql.test.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#5308 Enable async batch processing
  packages/core/src/logger.ts
  packages/server/medplum.config.json
  packages/server/src/app.ts
  packages/server/src/async-batch.ts
  packages/server/src/config.ts
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/binary.test.ts
  packages/server/src/fhir/binary.ts
  packages/server/src/fhir/routes.test.ts
  packages/server/src/workers/batch.ts
  packages/server/src/workers/index.ts
Labels: fhir-datastore

#5404 Validate date search values
  packages/core/src/search/search.test.ts
  packages/core/src/search/search.ts
  packages/server/src/fhir/search.test.ts
Labels: search

#5411 Updating R5 and Real World Test Plan
  packages/docs/blog/2023-03-27-fhir-r5.md
  packages/docs/docs/compliance/onc.md
Labels: compliance

#5412 Validate access policy criteria against stated resource type
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#4949 Fix GraphQL max depth validation
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/graphql/graphql.ts
  packages/fhir-router/src/graphql/utils.ts
  packages/server/src/fhir/operations/graphql.test.ts
Labels: fhir-datastore

#5414 Include pre-expanded ValueSets and flatten expansion for output
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#5419 docs(client): add docs about `MedplumClient` lifecycle
  packages/docs/docs/react/lifecycle-events.mdx
Labels: documentation

#5408 Document asynchronous batch request pattern
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
  packages/examples/src/fhir-datastore/fhir-batch-requests.ts
Labels: documentation

#5417 Fix Fork link in examples' README
  examples/medplum-chart-demo/README.md
  examples/medplum-patient-intake-demo/README.md
  examples/medplum-provider/README.md
  examples/medplum-scheduling-demo/README.md
Labels: example

#5425 Document JSON formatting for Batch Patch
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
Labels: documentation

#5431 Add stub codesystems
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
Labels: fhir-datastore

#5444 Quote sort parameter for ValueSet expansion
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#5443 fix(patient-intake): `condition` -> `code` search param
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
Labels: bug, example

#5450 Fix ResearchStudy reference search parameter target
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
Labels: search

#5454 feat: backport `Flag.category` SearchParameter from R5
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/docs/static/data/resourceDefinitions/flag.json
  packages/server/src/fhir/search-params.test.ts
Labels: search

#5442 docs(useSubscription): add docs page for `useSubscription`
  packages/docs/docs/react/use-subscription.md
  packages/docs/docs/subscriptions/index.md
  packages/react-hooks/README.md
Labels: documentation, subscriptions

#5436 Generate CodeSystems referenced by base spec
  examples/medplum-demo-bots/src/stripe-bots/stripe-create-invoice.ts
  package-lock.json
  packages/definitions/dist/fhir/r4/valuesets-medplum-generated.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/docs/static/data/resourceDefinitions/evidencevariable.json
  packages/docs/static/data/resourceDefinitions/group.json
  packages/docs/static/data/resourceDefinitions/researchstudy.json
  packages/fhirtypes/dist/Money.d.ts
  packages/generator/package.json
  packages/generator/src/benchmarks.ts
  packages/generator/src/data/iso-4217-list-one.csv
  packages/generator/src/data/unsd-methodology.csv
  packages/generator/src/valuesets.ts
  packages/react/src/MoneyInput/MoneyInput.tsx
  packages/server/src/seeds/valuesets.ts
Labels: fhir-datastore

#4847 fix(react): make `@medplum/react-hooks` peer, mark as `external` in esbuild
  packages/react/esbuild.mjs
  packages/react/package.json
Labels: react

#5448 Enable criteria for wildcard access policies
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/test.setup.ts
Labels: fhir-datastore

#5457 Enable chained search over canonical references
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#5437 Use FHIR stringify in server responses
  packages/server/src/auth/newproject.test.ts
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/graphql.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/response.ts
  packages/server/src/fhir/routes.test.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore
