Repository medplum/medplum, pull requests merged in 2024-02, with the labels that each got.

#3873 Document how to switch to super admin project in projects
  packages/docs/docs/access/project-switcher.png
  packages/docs/docs/access/projects.md
Labels: documentation

#3915 Enhance request logging
  packages/server/src/app.ts
  packages/server/src/auth/login.ts
Labels: audit-logging

#3909 Enable linking between Projects
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/Project.d.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/job.test.ts
  packages/server/src/fhir/operations/graphql.test.ts
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/workers/cron.test.ts
  packages/server/src/workers/subscription.test.ts
Labels: fhir-datastore

#3932 Fixes #3786 - startAsyncRequest and token refresh
  packages/core/src/client-test-utils.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: auth

#3933 Added DoseSpot FAQ page
  packages/docs/docs/integration/dosespot.md
  packages/docs/docs/medications/e-prescibe.md
Labels: medications

#3939 Initial medplum-provider package for #3833
  examples/medplum-provider/.gitignore
  examples/medplum-provider/README.md
  examples/medplum-provider/index.html
  examples/medplum-provider/package.json
  examples/medplum-provider/postcss.config.mjs
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/components/soapnote/SoapNote.questionnaire.ts
  examples/medplum-provider/src/components/soapnote/SoapNote.tsx
  examples/medplum-provider/src/components/tasks/DiagnosticReportTask.tsx
  examples/medplum-provider/src/components/tasks/QuestionnaireTask.tsx
  examples/medplum-provider/src/components/tasks/TaskList.tsx
  examples/medplum-provider/src/main.tsx
  examples/medplum-provider/src/pages/HomePage.tsx
  examples/medplum-provider/src/pages/LandingPage.tsx
  examples/medplum-provider/src/pages/PatientPage.tsx
  examples/medplum-provider/src/pages/ResourcePage.tsx
  examples/medplum-provider/src/pages/SearchPage.module.css
  examples/medplum-provider/src/pages/SearchPage.tsx
  examples/medplum-provider/src/pages/SignInPage.tsx
  examples/medplum-provider/src/vite-env.d.ts
  examples/medplum-provider/tsconfig.json
  examples/medplum-provider/vercel.json
  examples/medplum-provider/vite.config.ts
  package-lock.json
Labels: charting, react

#3930 Fixed socket.dev dependency warnings
  package-lock.json
  package.json
Labels: dependencies

#3890 feat(subscriptions): add client utils for WebSocket subscriptions
  examples/medplum-live-chat-demo/src/components/Chat.tsx
  examples/medplum-live-chat-demo/tsconfig.json
  package-lock.json
  packages/core/src/client-subscriptions.test.ts
  packages/core/src/client-test-utils.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/index.ts
  packages/core/src/subscriptions/index.test.ts
  packages/core/src/subscriptions/index.ts
  packages/core/src/utils.ts
  packages/mock/package.json
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
  packages/mock/src/index.ts
  packages/mock/src/subscription-manager.test.ts
  packages/mock/src/subscription-manager.ts
  packages/react-hooks/package.json
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useSearch/useSearch.ts
  packages/react-hooks/src/useSubscription/useSubscription.test.tsx
  packages/react-hooks/src/useSubscription/useSubscription.ts
Labels: subscriptions

#3947 Patient tabs in example provider app
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/components/soapnote/SoapNote.tsx
  examples/medplum-provider/src/components/tasks/TaskList.tsx
  examples/medplum-provider/src/hooks/usePatient.ts
  examples/medplum-provider/src/main.tsx
  examples/medplum-provider/src/pages/LandingPage.tsx
  examples/medplum-provider/src/pages/PatientPage.tsx
  examples/medplum-provider/src/pages/patient/EditTab.tsx
  examples/medplum-provider/src/pages/patient/EncounterTab.tsx
  examples/medplum-provider/src/pages/patient/LabsTab.tsx
  examples/medplum-provider/src/pages/patient/MedsTab.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.module.css
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
  examples/medplum-provider/src/pages/patient/TasksTab.tsx
  examples/medplum-provider/src/pages/patient/TimelineTab.tsx
  examples/medplum-provider/vite.config.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/ResourceDiffTable/ResourceDiffTable.test.tsx
  packages/react/src/ResourceDiffTable/ResourceDiffTable.tsx
Labels: charting, react

#3963 Show system and code in ValueSetAutocomplete
  packages/react/src/ResourceInput/ResourceInput.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: react

#3964 Add maxValues prop to ResourceTypeInput
  packages/react/src/AppShell/Navbar.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/CodingInput/CodingInput.test.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.test.tsx
  packages/react/src/ResourceTypeInput/ResourceTypeInput.tsx
  packages/react/src/SearchFilterEditor/SearchFilterEditor.test.tsx
  packages/react/src/SearchFilterValueInput/SearchFilterValueInput.test.tsx
Labels: react

#3918 Apply pattern and fixed values to profile resources
  packages/app/src/AppRoutes.tsx
  packages/app/src/CreateResourcePage.tsx
  packages/app/src/resource/FormCreatePage.tsx
  packages/app/src/resource/ProfileTabs.tsx
  packages/app/src/resource/ProfilesPage.tsx
  packages/app/src/resource/useCreateResource.ts
  packages/core/src/default-values.test.ts
  packages/core/src/default-values.ts
  packages/core/src/elements-context.test.ts
  packages/core/src/elements-context.ts
  packages/core/src/index.ts
  packages/core/src/schema-crawler.ts
  packages/core/src/typeschema/slices.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/core/test.setup.cjs
  packages/definitions/dist/fhir/r4/testing/uscore-v5.0.1-structuredefinitions.json
  packages/generator/src/storybook.ts
  packages/react/src/AddressInput/AddressInput.tsx
  packages/react/src/BackboneElementInput/BackboneElementInput.tsx
  packages/react/src/ContactPointInput/ContactPointInput.tsx
  packages/react/src/ElementsInput/ElementsInput.tsx
  packages/react/src/ElementsInput/ElementsInput.utils.test.ts
  packages/react/src/ElementsInput/ElementsInput.utils.ts
  packages/react/src/ExtensionInput/ExtensionInput.stories.tsx
  packages/react/src/ExtensionInput/ExtensionInput.tsx
  packages/react/src/IdentifierInput/IdentifierInput.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.test.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.utils.test.ts
  packages/react/src/ResourceArrayInput/ResourceArrayInput.utils.ts
  packages/react/src/ResourceForm/ResourceForm.stories.tsx
  packages/react/src/ResourceForm/ResourceForm.test.tsx
  packages/react/src/ResourceForm/ResourceForm.tsx
  packages/react/src/ResourceInput/ResourceInput.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.tsx
  packages/react/src/SliceInput/SliceInput.tsx
  packages/react/src/SliceInput/SliceInput.utils.ts
  packages/react/src/utils/maybeWrapWithContext.tsx
  packages/server/src/fhir/operations/structuredefinitionexpandprofile.test.ts
Labels: fhir-datastore

#3913 Add Agent Dockerfile. Fixes #3912
  packages/agent/.dockerignore
  packages/agent/Dockerfile
Labels: integration

#3981 Websocket demo updates
  examples/medplum-websocket-subscriptions-demo/src/components/BundleDisplay.tsx
  examples/medplum-websocket-subscriptions-demo/src/main.tsx
  examples/medplum-websocket-subscriptions-demo/src/pages/HomePage.tsx
Labels: communications

#3972 Highlight Form tab on resource create page by default
  packages/app/src/CreateResourcePage.tsx
Labels: medplum-app, react

#3978 feat(subscriptions): cleanup WS Subscription resources, add feature flag
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/Project.d.ts
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/operations/getwsbindingtoken.test.ts
  packages/server/src/fhir/operations/getwsbindingtoken.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/subscriptions/websockets.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: subscriptions

#3862 Implement ValueSet expand operation over Coding table
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/Project.d.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/operations/codesystemimport.test.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/codesystemlookup.test.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.test.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/seeds/valuesets.ts
  packages/server/src/test.setup.ts
Labels: fhir-datastore

#3997 Add index for coding property relation
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v61.ts
Labels: fhir-datastore

#4003 feat(subscriptions): cleanup WS `Subscription`s, log access policy satisfied
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/operations/getwsbindingtoken.test.ts
  packages/server/src/fhir/operations/getwsbindingtoken.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/subscriptions/websockets.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: subscriptions

#4001 Fix version check in update-server CLI
  packages/cli/src/aws/update-server.test.ts
  packages/cli/src/aws/update-server.ts
Labels: self-host

#4014 Adding Flexpa case study content
  packages/docs/blog/2024-02-22-flexpa-case-study.md
  packages/docs/src/pages/case-studies.tsx
  packages/docs/static/img/blog/flexpa-logo.png
  packages/docs/static/img/blog/flexpa.png
Labels: documentation

#4004 Install on AWS Video
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: documentation, self-host

#3872 Document using Bot/$deploy
  packages/docs/docs/api/fhir/operations/bot-deploy.md
  packages/examples/src/api/fhir/operations/bot-deploy.ts
Labels: documentation

#4011 Cross-Project reference checks
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#4018 Log batch processing statistics
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/fhir-router/src/index.ts
  packages/server/src/fhir/routes.ts
Labels: audit-logging

#4035 Clean up lookup tables in Project expunge
  packages/server/src/fhir/operations/expunge.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#4032 Enable filtering out abstract codes from ValueSet expansion
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#4049 Add strict handling for query string Operation parameters
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
Labels: fhir-datastore

#4051 Fixes #4043 - responsive auth form
  packages/react/src/Panel/Panel.tsx
  packages/react/src/auth/AuthenticationForm.tsx
  packages/react/src/auth/SignInForm.tsx
Labels: react

#4052 fix(react-native-ex): add `minWidth` to inputs
  examples/medplum-react-native-example/src/Home.tsx
Labels: react

#4038 Add default DB query timeout
  packages/docs/docs/self-hosting/config-settings.md
  packages/server/src/config.ts
  packages/server/src/database.ts
Labels: fhir-datastore

#4044 Add callout about using AuditEvent as Subscription criteria
  packages/docs/docs/bots/bot-basics.md
  packages/docs/docs/subscriptions/publish-and-subscribe.md
Labels: documentation

#4050 Clarify in and ni operators for filter search param
  packages/docs/docs/search/filter-search-parameter.mdx
Labels: search

#4067 fix(ci): `npm ci` before tests
  .github/workflows/build.yml
Labels: self-host

#4068 Sample bot to parse ORM messages
  examples/medplum-demo-bots/src/lab-integration/receive-orm-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/receive-orm-message.ts
Labels: integration

#4062 Enhance batch logs
  packages/fhir-router/src/batch.ts
  packages/server/src/fhir/routes.ts
Labels: audit-logging

#4072 Fix setting query timeout
  packages/docs/docs/self-hosting/config-settings.md
  packages/server/src/database.ts
Labels: fhir-datastore
