Repository medplum/medplum, pull requests merged in 2024-06, with the labels that each got.

#4618 Fixed flaky repo tests
  packages/server/src/fhir/repo.test.ts
Labels: fhir-datastore

#4619 Fixes #4617 - replace Google QR code API
  package-lock.json
  packages/app/src/MfaPage.tsx
  packages/server/package.json
  packages/server/src/auth/mfa.ts
Labels: auth

#4622 Fixes #4572 - cdk options for custom security groups
  packages/cdk/src/backend.ts
  packages/cdk/src/index.test.ts
  packages/core/src/config.ts
  packages/core/src/subscriptions/index.ts
  packages/docs/docs/self-hosting/config-settings.md
Labels: self-host

#4626 JDs: Solutions engineer and Developer Experience Engineer
  packages/docs/src/pages/careers.md
  packages/docs/src/pages/careers/_about-medplum.mdx
  packages/docs/src/pages/careers/_benefits.mdx
  packages/docs/src/pages/careers/devex-engineer.md
  packages/docs/src/pages/careers/index.mdx
  packages/docs/src/pages/careers/solutions-engineer.md
Labels: documentation

#4494 Update Charting Demo
  examples/medplum-chart-demo/.gitignore
  examples/medplum-chart-demo/README.md
  examples/medplum-chart-demo/data/core/encounter-note-questionnaires.json
  examples/medplum-chart-demo/data/core/encounter-types.json
  examples/medplum-chart-demo/data/example/example-patient-data.json
  examples/medplum-chart-demo/esbuild-script.mjs
  examples/medplum-chart-demo/package.json
  examples/medplum-chart-demo/src/App.tsx
  examples/medplum-chart-demo/src/bots/core/charting-utils.test.ts
  examples/medplum-chart-demo/src/bots/core/charting-utils.ts
  examples/medplum-chart-demo/src/bots/core/general-encounter-note.ts
  examples/medplum-chart-demo/src/bots/core/general-encounter.test.ts
  examples/medplum-chart-demo/src/bots/core/gynecology-encounter-note.ts
  examples/medplum-chart-demo/src/bots/core/gynecology-encounter.test.ts
  examples/medplum-chart-demo/src/bots/core/observation-utils.ts
  examples/medplum-chart-demo/src/bots/core/obstetric-encounter-note.ts
  examples/medplum-chart-demo/src/bots/core/obstetric-encounter.test.ts
  examples/medplum-chart-demo/src/bots/core/test-data/general-encounter-test-data.ts
  examples/medplum-chart-demo/src/bots/core/test-data/gynecology-encounter-data.ts
  examples/medplum-chart-demo/src/bots/core/test-data/obstetric-encounter-note-test-data.ts
  examples/medplum-chart-demo/src/components/ClinicalImpressionDisplay.tsx
  examples/medplum-chart-demo/src/components/EncounterActions.tsx
  examples/medplum-chart-demo/src/components/EncounterDetails.tsx
  examples/medplum-chart-demo/src/components/EncounterHeader.tsx
  examples/medplum-chart-demo/src/components/EncounterNoteDisplay.tsx
  examples/medplum-chart-demo/src/components/PatientDetails.tsx
  examples/medplum-chart-demo/src/components/PatientObservations.tsx
  examples/medplum-chart-demo/src/components/actions/CreateEncounter.tsx
  examples/medplum-chart-demo/src/components/actions/EditType.tsx
  examples/medplum-chart-demo/src/components/graphs/LineChart.tsx
  examples/medplum-chart-demo/src/components/graphs/ObservationGraph.tsx
  examples/medplum-chart-demo/src/components/graphs/measurement-constants.ts
  examples/medplum-chart-demo/src/main.tsx
  examples/medplum-chart-demo/src/pages/EncounterPage.tsx
  examples/medplum-chart-demo/src/pages/HomePage.tsx
  examples/medplum-chart-demo/src/pages/PatientPage.tsx
  examples/medplum-chart-demo/src/pages/ResourcePage.tsx
  examples/medplum-chart-demo/src/pages/SearchPage.tsx
  examples/medplum-chart-demo/src/pages/UploadDataPage.tsx
  examples/medplum-chart-demo/src/scripts/deploy-bots.ts
  examples/medplum-chart-demo/src/utils.tsx
  examples/medplum-chart-demo/tsconfig-bots.json
  examples/medplum-chart-demo/vitest.config.js
  package-lock.json
Labels: charting

#4629 Add section about project linking
  packages/docs/docs/access/projects.md
Labels: documentation

#4636 Document `update-config`
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: documentation, self-host

#4641 Add Terminology Service docs
  packages/docs/docs/fhir-basics.md
  packages/docs/docs/terminology/index.md
  packages/docs/docs/terminology/medplum-terminology-services.md
  packages/docs/sidebars.ts
Labels: documentation

#4643 feat(server): add `disableGravatarProfiles` to Project settings
  packages/docs/docs/access/projects.md
  packages/server/src/auth/utils.ts
  packages/server/src/utils.test.ts
Labels: self-host

#4646 fix: remove gravatar
  packages/cdk/src/frontend.ts
  packages/docs/docs/access/projects.md
  packages/server/src/auth/utils.ts
  packages/server/src/utils.test.ts
Labels: self-host

#4647 Allow chained search in _filter
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#4637 Polish eligibility demo
  examples/medplum-chart-demo/data/core/example-bots.json
  examples/medplum-eligibility-demo/.gitignore
  examples/medplum-eligibility-demo/data/example/example-data.json
  examples/medplum-eligibility-demo/package.json
  examples/medplum-eligibility-demo/src/App.tsx
  examples/medplum-eligibility-demo/src/bots/bot-testing-data.ts
  examples/medplum-eligibility-demo/src/bots/process-eligibility-request.test.ts
  examples/medplum-eligibility-demo/src/pages/UploadDataPage.tsx
  examples/medplum-eligibility-demo/src/scripts/deploy-bots.ts
  examples/medplum-eligibility-demo/tsconfig-bots.json
Labels: billing

#4652 Refactor Docs Sidebar
  packages/docs/sidebars.ts
Labels: documentation

#4665 Document Terminology Service operation endpoints
  packages/docs/docs/api/fhir/operations/bot-deploy.mdx
  packages/docs/docs/api/fhir/operations/codesystem-lookup.md
  packages/docs/docs/api/fhir/operations/index.md
  packages/docs/docs/api/fhir/operations/index.mdx
  packages/docs/docs/api/fhir/operations/valueset-validate-code.mdx
  packages/examples/src/api/fhir/operations/operation-framework.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
Labels: documentation

#4674 SQL on FHIR ViewDefinition types
  packages/core/src/base-schema.json
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/MetadataResource.d.ts
  packages/fhirtypes/dist/ViewDefinition.d.ts
  packages/fhirtypes/dist/index.d.ts
  packages/generator/src/baseschema.ts
  packages/generator/src/index.ts
Labels: analytics

#4635 Fixes #4398 - add mapByIdentifier util function
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Labels: fhir-datastore

#4677 fix(react-hooks): make `loading` track `MedplumClient#isLoading()`
  packages/mock/src/client.ts
  packages/react-hooks/src/MedplumProvider/MedplumProvider.test.tsx
  packages/react-hooks/src/MedplumProvider/MedplumProvider.tsx
Labels: react

#4678 SQL-on-FHIR processResource
  .gitignore
  packages/core/src/sql-on-fhir/eval.test.ts
  packages/core/src/sql-on-fhir/eval.ts
  packages/core/src/sql-on-fhir/tests/basic.json
  packages/core/src/sql-on-fhir/tests/collection.json
  packages/core/src/sql-on-fhir/tests/combinations.json
  packages/core/src/sql-on-fhir/tests/constant.json
  packages/core/src/sql-on-fhir/tests/constant_types.json
  packages/core/src/sql-on-fhir/tests/fhirpath.json
  packages/core/src/sql-on-fhir/tests/fhirpath_numbers.json
  packages/core/src/sql-on-fhir/tests/fn_boundary.json
  packages/core/src/sql-on-fhir/tests/fn_empty.json
  packages/core/src/sql-on-fhir/tests/fn_extension.json
  packages/core/src/sql-on-fhir/tests/fn_first.json
  packages/core/src/sql-on-fhir/tests/fn_join.json
  packages/core/src/sql-on-fhir/tests/fn_oftype.json
  packages/core/src/sql-on-fhir/tests/fn_reference_keys.json
  packages/core/src/sql-on-fhir/tests/foreach.json
  packages/core/src/sql-on-fhir/tests/logic.json
  packages/core/src/sql-on-fhir/tests/union.json
  packages/core/src/sql-on-fhir/tests/validate.json
  packages/core/src/sql-on-fhir/tests/view_resource.json
  packages/core/src/sql-on-fhir/tests/where.json
Labels: analytics

#4180 feat(useSubscription): add `subscriptionProps` as optional param
  packages/core/src/client.ts
  packages/core/src/subscriptions/index.test.ts
  packages/core/src/subscriptions/index.ts
  packages/generator/src/mockclient.ts
  packages/mock/src/client.ts
  packages/mock/src/subscription-manager.ts
  packages/react-hooks/README.md
  packages/react-hooks/src/useSubscription/useSubscription.test.tsx
  packages/react-hooks/src/useSubscription/useSubscription.ts
  packages/server/src/workers/subscription.test.ts
Labels: subscriptions, react

#4633 Resolve conditional references
  packages/core/src/types.ts
  packages/core/src/typeschema/crawler.test.ts
  packages/core/src/typeschema/crawler.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/operations/resourcegraph.ts
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore

#4672 feat(subscriptions): add `unbind-from-token` message for WebSocket subscriptions
  packages/core/src/subscriptions/index.test.ts
  packages/core/src/subscriptions/index.ts
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/subscriptions/websockets.ts
Labels: subscriptions

#4680 Document remaining Terminology Service operations
  packages/docs/docs/api/fhir/operations/codesystem-import.mdx
  packages/docs/docs/api/fhir/operations/codesystem-subsumes.md
  packages/docs/docs/api/fhir/operations/codesystem-validate-code.md
  packages/docs/docs/api/fhir/operations/index.mdx
  packages/docs/docs/api/fhir/operations/valueset-validate-code.mdx
  packages/docs/docs/terminology/local-codes.md
  packages/examples/src/api/fhir/operations/codesystem-import.ts
Labels: documentation

#4657 feat(agent): add `keepAlive` setting to `Agent`
  package-lock.json
  packages/agent/esbuild.mjs
  packages/agent/package.json
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/dicom.test.ts
  packages/agent/src/hl7.test.ts
  packages/agent/src/hl7.ts
  packages/agent/src/net-utils.test.ts
  packages/hl7/src/base.ts
  packages/hl7/src/client.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/events.ts
  packages/hl7/src/server.test.ts
  packages/hl7/src/server.ts
  packages/server/src/fhir/operations/agentpush.ts
Labels: integration

#4699 Fixes subject input on PlanDefinitionApplyForm
  packages/app/src/resource/PlanDefinitionApplyForm.tsx
Labels: medplum-app

#4651 Deprecate non-strict mode
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/docs/access/projects.md
  packages/fhirtypes/dist/Project.d.ts
  packages/server/src/fhir/accesspolicy.ts
Labels: fhir-datastore

#4692 docs(useSubscription): clean up examples, add JSDoc comment
  packages/react-hooks/README.md
  packages/react-hooks/src/useSubscription/useSubscription.ts
Labels: documentation

#4613 feat(agent): `Agent/$upgrade` operation
  .gitignore
  biome.json
  package-lock.json
  packages/agent/package.json
  packages/agent/sea-config.json
  packages/agent/src/agent-main.test.ts
  packages/agent/src/agent-main.ts
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
  packages/agent/src/upgrader-test-utils.ts
  packages/agent/src/upgrader-utils.test.ts
  packages/agent/src/upgrader-utils.ts
  packages/agent/src/upgrader.test.ts
  packages/agent/src/upgrader.ts
  packages/app/src/resource/ToolsPage.test.tsx
  packages/app/src/resource/ToolsPage.tsx
  packages/core/src/agent.ts
  packages/core/src/logger.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentreloadconfig.ts
  packages/server/src/fhir/operations/agentupgrade.test.ts
  packages/server/src/fhir/operations/agentupgrade.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/getwsbindingtoken.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/operations/resourcegraph.ts
  packages/server/src/fhir/routes.ts
  scripts/build-agent-installer-win64.sh
  scripts/build-agent-macos.sh
  scripts/build-agent-sea-macos.sh
  scripts/build-agent-sea-win64.sh
Labels: integration

#4705 Updating video links for documentation
  packages/docs/docs/agent/index.md
  packages/docs/docs/billing/insurance-eligibility-checks.md
  packages/docs/docs/careplans/tasks/tasks.md
  packages/docs/docs/communications/index.md
  packages/docs/docs/integration/index.md
  packages/docs/docs/questionnaires/index.md
Labels: documentation

#4706 tweak(prepare-release): prepend `*` to each line of release notes
  scripts/prepare-release.sh
Labels: dependencies

#4721 Fixed athena 'create table' section
  packages/docs/docs/self-hosting/aws-athena-guide.md
Labels: analytics

#4702 More SQL-on-FHIR tests
  .gitignore
  packages/core/src/fhirlexer/tokenize.ts
  packages/core/src/fhirpath/functions.ts
  packages/core/src/fhirpath/parse.test.ts
  packages/core/src/fhirpath/parse.ts
  packages/core/src/index.ts
  packages/core/src/sql-on-fhir/eval.test.ts
  packages/core/src/sql-on-fhir/eval.ts
  packages/core/src/sql-on-fhir/test_report.json
Labels: analytics

#4722 Fix recursive filter application in ValueSet expand
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#4709 Adding new file with billing skeleton
  packages/docs/docs/integration/candid-health.md
Labels: documentation, billing

#4558 Optimize database reindex
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/job.test.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#4624 AWS Textract demo
  .github/workflows/deploy.yml
  .github/workflows/staging.yml
  package-lock.json
  packages/app/src/config.ts
  packages/app/src/resource/TimelinePage.tsx
  packages/cdk/src/backend.ts
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/Project.d.ts
  packages/react/src/AttachmentDisplay/AttachmentDisplay.test.tsx
  packages/react/src/AttachmentDisplay/AttachmentDisplay.tsx
  packages/server/package.json
  packages/server/src/cloud/aws/storage.ts
  packages/server/src/cloud/aws/textract.test.ts
  packages/server/src/cloud/aws/textract.ts
  packages/server/src/fhir/routes.ts
Labels: integration

#4743 Correct query limit for recursive ValueSet expansion
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#4759 Update cloudwatch logs permissions
  packages/cdk/src/backend.ts
Labels: audit-logging
