Repository medplum/medplum, pull requests merged in 2024-07, with the labels that each got.

#4751 Handle database reindex with re-entrant async job
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/job.test.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.test.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#4737 feat(otel): add basic metrics for pg
  packages/agent/tsconfig.json
  packages/cdk/tsconfig.json
  packages/cli/tsconfig.json
  packages/generator/tsconfig.json
  packages/server/src/healthcheck.test.ts
  packages/server/src/healthcheck.ts
  packages/server/src/otel/otel.test.ts
  packages/server/src/otel/otel.ts
  tsconfig.json
Labels: self-host

#4779 Add Node.js runtime metrics
  package-lock.json
  packages/server/package.json
  packages/server/src/otel/instrumentation.ts
Labels: self-host

#4780 Temporarily remove extraneous tracing spans
  packages/server/src/otel/instrumentation.ts
Labels: self-host

#4787 Updating listing details in accordaing with guidance
  packages/docs/docs/compliance/onc.md
  packages/docs/static/img/compliance/onc-2015-edition-cures.png
Labels: documentation, compliance

#4807 [Patient Intake Sample] Add upload pages
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/data/core/sexual-orientation-valueset.json
  examples/medplum-patient-intake-demo/src/App.tsx
  examples/medplum-patient-intake-demo/src/pages/UploadDataPage.tsx
Labels: react

#4777 Uses Medplum chat widget in Foomedical example
  examples/foomedical/src/Router.tsx
  examples/foomedical/src/pages/MessageTablePage.module.css
  examples/foomedical/src/pages/MessageTablePage.tsx
  examples/foomedical/src/pages/MessagesPage.tsx
Labels: react

#4813 Updating timestamp on network diagram (NET-11)
  packages/docs/docs/self-hosting/medplum-aws-architecture.png
Labels: compliance

#4818 Improve consent fields modeling in the patient intake questionnaire
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
Labels: react

#4808 [Patient Intake Sample] Adds page to allow customizing the intake form #4801
  examples/medplum-patient-intake-demo/src/App.tsx
  examples/medplum-patient-intake-demo/src/Questionnaire.context.tsx
  examples/medplum-patient-intake-demo/src/pages/IntakeFormPage.tsx
  examples/medplum-patient-intake-demo/src/pages/QuestionnaireCustomizationPage.tsx
Labels: react

#4809 Support negative reference match
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#4837 [Partial][Patient Inatake Sample] Adds Observations based on sexual orientation, housing status and educational level
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.tsx
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
Labels: react

#4864 metrics(db): add metric for reader `db.healthcheckRTT`
  packages/server/src/healthcheck.test.ts
  packages/server/src/healthcheck.ts
Labels: audit-logging, self-host

#4844 Re-write external IDP demo to use react
  examples/medplum-client-external-idp-demo/index.html
  examples/medplum-client-external-idp-demo/package.json
  examples/medplum-client-external-idp-demo/src/App.tsx
  examples/medplum-client-external-idp-demo/src/HomePage.tsx
  examples/medplum-client-external-idp-demo/src/SignInPage.tsx
  examples/medplum-client-external-idp-demo/src/main.ts
  examples/medplum-client-external-idp-demo/src/main.tsx
  examples/medplum-client-external-idp-demo/tsconfig.json
  package-lock.json
Labels: auth

#4866 On-behalf-of docs
  packages/docs/docs/auth/methods/on-behalf-of.md
  packages/docs/docs/auth/methods/on-behalf-of.webp
Labels: documentation, auth

#4886 Adding post on care flow
  packages/docs/blog/2024-07-16-awell-health.md
Labels: documentation

#4829 Precompute ValueSet expansions
  packages/core/src/utils.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/workers/expand.ts
  packages/server/src/workers/index.ts
Labels: fhir-datastore

#4888 Batch queries for CodeSystem import operation
  packages/server/src/fhir/operations/codesystemimport.ts
Labels: fhir-datastore

#4765 Deploy bot layer on staging deploys
  .github/workflows/staging.yml
Labels: bots

#4894 Remove extraneous log
  packages/server/src/fhir/operations/codesystemimport.ts
Labels: fhir-datastore

#4899 Fix chained search with modifiers
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore

#4858 Fix bug when selecting multiple values in AsyncAutocomplete
  packages/mock/src/mocks/valueset.ts
  packages/react/src/AppShell/HeaderSearchInput.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.stories.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.utils.ts
  packages/react/src/CodeInput/CodeInput.test.tsx
  packages/react/src/CodeableConceptInput/CodeableConceptInput.test.tsx
  packages/react/src/PatientSummary/AllergyDialog.tsx
  packages/react/src/PatientSummary/MedicationDialog.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/ResourceInput/ResourceInput.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.stories.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.test.tsx
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: react

#4836 [Photon Health] Set up prescription UX
  examples/medplum-photon-integration/.gitattributes
  examples/medplum-photon-integration/.github/dependabot.yml
  examples/medplum-photon-integration/.gitignore
  examples/medplum-photon-integration/README.md
  examples/medplum-photon-integration/index.html
  examples/medplum-photon-integration/package.json
  examples/medplum-photon-integration/postcss.config.mjs
  examples/medplum-photon-integration/public/favicon.ico
  examples/medplum-photon-integration/src/App.tsx
  examples/medplum-photon-integration/src/components/PatientHistory.tsx
  examples/medplum-photon-integration/src/components/PatientOverview.tsx
  examples/medplum-photon-integration/src/components/PatientPrescription.tsx
  examples/medplum-photon-integration/src/components/Timeline.tsx
  examples/medplum-photon-integration/src/custom.d.ts
  examples/medplum-photon-integration/src/main.tsx
  examples/medplum-photon-integration/src/pages/HomePage.tsx
  examples/medplum-photon-integration/src/pages/LandingPage.tsx
  examples/medplum-photon-integration/src/pages/PatientHeader.module.css
  examples/medplum-photon-integration/src/pages/PatientHeader.tsx
  examples/medplum-photon-integration/src/pages/PatientPage.tsx
  examples/medplum-photon-integration/src/pages/ResourcePage.tsx
  examples/medplum-photon-integration/src/pages/SignInPage.tsx
  examples/medplum-photon-integration/src/vite-env.d.ts
  examples/medplum-photon-integration/tsconfig.json
  examples/medplum-photon-integration/vercel.json
  examples/medplum-photon-integration/vite.config.ts
  package-lock.json
Labels: medications, react

#4916 Updating to correct date for listing
  packages/docs/docs/compliance/onc.md
Labels: compliance

#4752 Add clarifying notes to GraphQL docs
  packages/docs/docs/graphql/basic-queries.mdx
Labels: documentation

#4944 Add system URL to precomputed ValueSet expansion
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#4950 feat(fhir): add `Location.physicalType` search param
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
Labels: fhir-datastore

#4966 Document conditional reference resolution
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
  packages/examples/src/fhir-datastore/fhir-batch-requests.ts
Labels: documentation

#4945 Project feature flag for reference lookup table
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/Project.d.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/test.setup.ts
Labels: fhir-datastore

#4961 Expand nested ValueSet references
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/workers/expand.ts
Labels: fhir-datastore

#4972 Add search filter to reindex
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/admin/super.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#4964 [Scheduling Sample] Adds Appointments page with tabs and filters
  examples/medplum-scheduling-demo/src/App.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentsPage.tsx
  examples/medplum-scheduling-demo/src/pages/SearchPage.tsx
Labels: react

#4971 [Scheduling Sample] Appointment details page
  examples/medplum-scheduling-demo/src/App.tsx
  examples/medplum-scheduling-demo/src/components/AppointmentActions.tsx
  examples/medplum-scheduling-demo/src/components/AppointmentDetails.tsx
  examples/medplum-scheduling-demo/src/components/RescheduleAppointment.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentDetailPage.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentsPage.tsx
Labels: react

#4975 [Scheduling Sample] Adds Patient details page
  examples/medplum-scheduling-demo/src/components/CreateAppointment.tsx
  examples/medplum-scheduling-demo/src/components/PatientActions.tsx
  examples/medplum-scheduling-demo/src/components/PatientDetails.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentsPage.tsx
  examples/medplum-scheduling-demo/src/pages/PatientPage.tsx
Labels: react

#4974 Faster JOIN path for ValueSet hierarchy expansion
  packages/server/medplum.config.json
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v71.ts
Labels: fhir-datastore

#4924 Estimate GraphQL query complexity
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/graphql/graphql.ts
Labels: fhir-datastore

#4987 Remove ValueSet expand precomputation
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/workers/expand.ts
  packages/server/src/workers/index.ts
Labels: fhir-datastore

#4984 Document Terminology Service architecture
  packages/docs/docs/contributing/terminology-architecture.md
  packages/server/src/fhir/operations/codesystemlookup.ts
Labels: documentation

#4985 [Scheduling Sample] Adds calendar component and Slot management
  examples/medplum-scheduling-demo/package.json
  examples/medplum-scheduling-demo/src/App.tsx
  examples/medplum-scheduling-demo/src/Schedule.context.ts
  examples/medplum-scheduling-demo/src/components/CreateAppointment.tsx
  examples/medplum-scheduling-demo/src/components/CreateUpdateSlot.tsx
  examples/medplum-scheduling-demo/src/pages/SchedulePage.tsx
  package-lock.json
Labels: react

#4992 [Scheduling Sample] Displays appointments in the schedule calendar
  examples/medplum-scheduling-demo/src/components/CreateAppointment.tsx
  examples/medplum-scheduling-demo/src/components/CreateUpdateSlot.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentsPage.tsx
  examples/medplum-scheduling-demo/src/pages/SchedulePage.tsx
Labels: react
