Repository medplum/medplum, pull requests merged in 2024-12, with the labels that each got.

#5589 Migration generation improvements
  packages/generator/src/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v82.ts
Labels: self-host

#5513 Preserve sort order for chained search using implicit joins
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: search

#5619 Split config settings table into full sections
  packages/docs/docs/self-hosting/config-settings.md
Labels: documentation

#5637 Disambiguate code column in $expand SQL
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#5638 Client-side filtering in requestSchema to avoid loading extra SDs
  packages/core/src/client.ts
Labels: bug

#5628 Docs: Fixes invalid TS syntax for reverse chained search
  packages/examples/src/search/chained-search.ts
Labels: documentation, search

#5623 Conditionally show DoseSpot icon in medplum-provider
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/components/utils.ts
Labels: medications

#5650 Error in Heading caused sidebar issue migration-pipelines.md
  packages/docs/docs/migration/migration-pipelines.md
Labels: documentation

#5647 Use transaction for If-Match check
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
Labels: fhir-datastore

#5649 Enhance audit logs with resource reference and interaction duration
  packages/server/src/fhir/repo.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/util/auditevent.ts
Labels: audit-logging

#5656 Add counter metric for FHIR interactions
  packages/server/src/fhir/repo.ts
Labels: audit-logging

#5621 docs: Add Multi-Tenant Access Control Implementation Guide
  packages/docs/docs/access/multi-tenant-access-policy.md
Labels: documentation, auth

#5659 Emit interaction duration only on success
  packages/server/src/fhir/repo.ts
Labels: audit-logging

#5666 Add sw operator to _filter search
  packages/core/src/filter/parse.test.ts
  packages/core/src/filter/parse.ts
  packages/core/src/search/search.ts
  packages/react/src/SearchControl/SearchUtils.tsx
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#5661 Allow applying slice to singleton elements
  packages/core/src/default-values.test.ts
  packages/core/src/default-values.ts
  packages/definitions/dist/fhir/r4/testing/uscore-v7.0.0-smoking-status.json
Labels: react

#5648 Questionnaire Builder preserve whitespace in question
  packages/react/src/FormSection/FormSection.module.css
  packages/react/src/FormSection/FormSection.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.module.css
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
Labels: react

#5684 Copy and link updates for site
  packages/docs/docs/scheduling/index.md
  packages/docs/src/pages/products/scheduling.md
  packages/docs/src/pages/solutions/custom-ehr.md
  packages/docs/src/pages/solutions/index.md
  packages/docs/src/pages/solutions/life-sciences.md
  packages/docs/src/pages/solutions/patient-portal.md
Labels: documentation

#5642 Document Health Gorilla Ordering
  packages/docs/docs/integration/health-gorilla/index.md
  packages/docs/docs/integration/health-gorilla/sending-orders.md
  packages/docs/sidebars.ts
Labels: documentation

#5673 [Patient Intake Example] Fixes #5669 - US Core Patient Extensions
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
Labels: example

#5692 Remove deprecated compound index
  packages/server/src/migrations/schema/v80.ts
  packages/server/src/migrations/schema/v84.ts
Labels: self-host

#5694 Clarify how resources in linked projects show up in search
  packages/docs/docs/access/projects.md
Labels: documentation

#5691 Use AsyncJob internally for Bulk Data Export API
  packages/server/src/fhir/bulkdata.test.ts
  packages/server/src/fhir/bulkdata.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/utils/bulkexporter.ts
Labels: fhir-datastore

#5699 Explicitly mark invalid indexes in db-stats output
  packages/server/src/fhir/operations/dbstats.ts
Labels: self-host

#5701 Update CapabilityStatement for US Core v7
  packages/server/src/fhir/metadata.ts
Labels: compliance

#5700 Merge wildcard AccessPolicy and readonly scopes
  packages/server/src/fhir/smart.test.ts
  packages/server/src/fhir/smart.ts
Labels: auth, compliance

#5580 [Photon Health] Sync patients from Photon
  examples/medplum-photon-integration/package.json
  examples/medplum-photon-integration/src/bots/sync-patient-from-photon.test.ts
  examples/medplum-photon-integration/src/bots/sync-patient-from-photon.ts
  examples/medplum-photon-integration/src/bots/utils.ts
  examples/medplum-photon-integration/src/pages/HomePage.tsx
  examples/medplum-photon-integration/src/photon-types.d.ts
  examples/medplum-photon-integration/src/scripts/deploy-bots.ts
  package-lock.json
Labels: medications

#5706 fix(graphql): clone resource before create in mutations
  packages/fhir-router/src/graphql/graphql.ts
  packages/server/src/fhir/operations/graphql.test.ts
Labels: bug

#5709 Content update
  packages/docs/blog/2024-12-31-year-in-review.md
  packages/docs/src/components/landing/LandingPage.tsx
  packages/docs/static/img/blog/2024-in-review.png
Labels: documentation

#5715 docs(graphql): update README to note versionless schema
  packages/graphiql/README.md
Labels: documentation

#5717 fix(client): don't try to parse when `content-length: 0`
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: bug

#5657 feat(react): add C-CDA viewer to `AttachmentDisplay`
  packages/app/src/resource/BotEditor.tsx
  packages/app/src/resource/CodeEditor.tsx
  packages/app/src/utils.ts
  packages/react/src/AttachmentDisplay/AttachmentDisplay.test.tsx
  packages/react/src/AttachmentDisplay/AttachmentDisplay.tsx
  packages/react/src/CcdaDisplay/CcdaDisplay.test.tsx
  packages/react/src/CcdaDisplay/CcdaDisplay.tsx
  packages/react/src/XmlDisplay/XmlDisplay.test.tsx
  packages/react/src/XmlDisplay/XmlDisplay.tsx
  packages/react/src/index.ts
  packages/react/src/utils/dom.ts
  packages/server/src/cors.ts
Labels: compliance, integration
