Repository medplum/medplum, pull requests merged in 2024-01, with the labels that each got.

#3621 Fixes #3611 - Updating links to 5.0.1. profiles
  packages/docs/docs/fhir-datastore/understanding-uscdi-dataclasses.md
Labels: compliance

#3628 CDS documentation
  packages/docs/docs/careplans/clinical-decision-support.md
Labels: documentation, compliance

#3633 Adding docs on implantable device list for #3002
  packages/docs/docs/charting/implantable-devices.md
Labels: documentation, compliance

#3636 FHIR Mapper - translate
  packages/core/src/fhirmapper/conceptmaptranslate.test.ts
  packages/core/src/fhirmapper/conceptmaptranslate.ts
  packages/core/src/fhirmapper/parse.test.ts
  packages/core/src/fhirmapper/parse.ts
  packages/core/src/fhirmapper/tokenize.ts
  packages/core/src/fhirmapper/transform.test.ts
  packages/core/src/fhirmapper/transform.ts
  packages/core/src/index.ts
  packages/server/src/fhir/operations/conceptmaptranslate.ts
Labels: fhir-datastore

#3641 Fixes #3605 - SmartAppLaunchLink react component
  packages/app/src/resource/AppsPage.tsx
  packages/react/src/SmartAppLaunchLink/SmartAppLaunchLink.stories.tsx
  packages/react/src/SmartAppLaunchLink/SmartAppLaunchLink.test.tsx
  packages/react/src/SmartAppLaunchLink/SmartAppLaunchLink.tsx
  packages/react/src/index.ts
Labels: react, compliance

#3617 Add stories for US Core Patient Profile and Implantable Device
  packages/core/src/constants.ts
  packages/core/src/utils.ts
  packages/generator/src/storybook.ts
  packages/mock/src/mocks/index.ts
  packages/mock/src/mocks/uscore/index.ts
  packages/mock/src/mocks/uscore/uscore-v5.0.1-structuredefinitions.json
  packages/react/src/ResourceForm/ResourceForm.stories.tsx
Labels: react

#3639 Guide on setting up eslint / prettier
  packages/docs/docs/contributing/local-dev-setup/install-recommended-extensions.png
  packages/docs/docs/contributing/local-dev-setup/local-dev-setup.md
  packages/docs/docs/contributing/local-dev-setup/recommended-extensions.webm
Labels: documentation, self-host

#3642 Fixes #3309 - secrets editor textarea value with conceal/reveal
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.test.tsx
  packages/react/src/ResourcePropertyInput/ResourcePropertyInput.tsx
  packages/react/src/SensitiveTextarea/SensitiveTextarea.test.tsx
  packages/react/src/SensitiveTextarea/SensitiveTextarea.tsx
Labels: medplum-app

#3616 Tooling for consistent timestamps in storybook stories
  package-lock.json
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/mock/src/client.ts
  packages/mock/src/mocks/alice.ts
  packages/react/.storybook/preview.tsx
  packages/react/package.json
  packages/react/src/CalendarInput/CalendarInput.stories.tsx
  packages/react/src/DefaultResourceTimeline/DefaultResourceTimeline.stories.tsx
  packages/react/src/RequestGroupDisplay/RequestGroupDisplay.stories.tsx
  packages/react/src/Scheduler/Scheduler.stories.tsx
  packages/react/src/stories/MockDateWrapper.tsx
  packages/react/src/stories/MockDateWrapper.utils.ts
  packages/react/src/stories/decorators.tsx
Labels: react

#3644 Updating links to new storybook stories for patient demographic, impl…
  packages/docs/docs/careplans/clinical-decision-support.md
  packages/docs/docs/charting/implantable-devices.md
  packages/docs/docs/charting/patient-demographics.md
  packages/docs/docs/integration/smart-app-launch.md
  packages/docs/docusaurus.config.js
  packages/docs/sidebars.js
  packages/docs/src/pages/pricing.tsx
Labels: documentation, compliance

#3666 feat(expo-polyfills): add polyfill config
  packages/expo-polyfills/README.md
  packages/expo-polyfills/src/index.test.ts
  packages/expo-polyfills/src/index.ts
  packages/expo-polyfills/src/polyfills.test.ts
Labels: integration

#3681 Fixes #3669 - preemptive token refresh
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/hl7.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/jwt.test.ts
  packages/core/src/jwt.ts
Labels: auth

#3684 Fix typos
  packages/docs/docs/agent/push.md
  packages/docs/docs/api/fhir/datatypes/population.mdx
  packages/docs/docs/auth/user-management-guide/user-management-guide.md
  packages/docs/docs/billing/insurance-eligibility-checks.md
  packages/docs/docs/bots/bots-in-production.md
  packages/docs/docs/bots/hl7-into-fhir.md
  packages/docs/docs/bots/insurance-eligibility-check.md
  packages/docs/docs/bots/unit-testing-bots.mdx
  packages/docs/docs/careplans/diagnostic-catalog/diagnostic-catalog.mdx
  packages/docs/docs/careplans/reference-ranges.mdx
  packages/docs/docs/charting/capturing-vital-signs.mdx
  packages/docs/docs/cli/external-fhir-servers.md
  packages/docs/docs/cli/index.md
  packages/docs/docs/communications/organizing-communications.mdx
  packages/docs/docs/contributing/upgrading-dependencies.md
  packages/docs/docs/fhir-basics.md
  packages/docs/docs/integration/index.md
  packages/docs/docs/integration/log-streaming.md
  packages/docs/docs/medications/formulary/index.mdx
  packages/docs/docs/medications/representing-prescriptions-and-medication-orders.mdx
  packages/docs/docs/search/advanced-search-parameters.mdx
  packages/docs/docs/search/chained-search.md
  packages/docs/docs/search/filter-search-parameter.mdx
  packages/docs/docs/self-hosting/super-admin-guide.md
Labels: documentation

#3693 Update subscription worker concurrency and start time logic
  packages/server/src/config.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/workers/subscription.ts
Labels: subscriptions, bots

#3690 Update hibp server dependency and include in future dependency upgrades
  package-lock.json
  packages/server/package.json
  scripts/upgrade.sh
Labels: dependencies

#3573 ⚠️ Node.js 20
  .github/workflows/deploy.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prettier-fmt.yml
  .github/workflows/publish.yml
  .github/workflows/staging.yml
  .github/workflows/upgrade-dependencies.yml
  Dockerfile
  packages/docs/docs/bots/bots-in-production.md
  packages/docs/docs/contributing/run-the-stack.md
  packages/server/src/healthcheck.ts
Labels: dependencies

#3707 Dependency upgrades
  .github/workflows/publish.yml
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-fhircast-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-task-demo/package.json
  examples/medplum-websocket-subscriptions-demo/package.json
  package-lock.json
  package.json
  packages/agent/package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/docs/blog/2022-12-06-what-is-onc-certification.md
  packages/docs/blog/2023-03-08-patient-deduplication.md
  packages/docs/blog/2023-04-14-medplum-mitre-talk.md
  packages/docs/blog/2023-08-08-system-strings.md
  packages/docs/blog/2023-08-30-empi-implementation.mdx
  packages/docs/blog/2023-12-31-year-in-review.md
  packages/docs/docs/api/fhir/operations/bot-execute.mdx
  packages/docs/docs/api/index.md
  packages/docs/docs/auth/methods/oauth-auth-code.md
  packages/docs/docs/billing/index.md
  packages/docs/docs/bots/bot-basics.md
  packages/docs/docs/bots/bot-secrets.md
  packages/docs/docs/bots/unit-testing-bots.mdx
  packages/docs/docs/careplans/tasks/tasks.md
  packages/docs/docs/charting/patient-demographics.md
  packages/docs/docs/cli/external-fhir-servers.md
  packages/docs/docs/communications/index.md
  packages/docs/docs/fhir-datastore/create-fhir-data.mdx
  packages/docs/docs/fhir-datastore/family-relationships/family-relationships.mdx
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
  packages/docs/docs/fhir-datastore/provider-directory/provider-credentials.mdx
  packages/docs/docs/graphql/index.md
  packages/docs/docs/medications/medication-codes.md
  packages/docs/docs/search/advanced-search-parameters.mdx
  packages/docs/docs/tutorials/importing-sample-data.md
  packages/docs/docs/tutorials/register.md
  packages/docs/markdown-to-mdx.cjs
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/expo-polyfills/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/react/src/BookmarkDialog/BookmarkDialog.test.tsx
  packages/react/src/BookmarkDialog/BookmarkDialog.tsx
  packages/server/package.json
  scripts/upgrade.sh
Labels: dependencies

#3712 Docusaurus cleanup
  package-lock.json
  packages/docs/docs/careplans/tasks/task-state-machine.svg
  packages/docs/docusaurus.config.js
  packages/docs/docusaurus.config.ts
  packages/docs/package.json
  packages/docs/sidebars.ts
Labels: documentation

#3706 Updated otel instrumentation
  Dockerfile
  packages/cdk/src/backend.ts
  packages/core/src/config.ts
  packages/docs/docs/self-hosting/opentelemetry.md
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/config.ts
  packages/server/src/instrumentation.test.ts
  packages/server/src/instrumentation.ts
Labels: audit-logging

#3715 Fixes #3697 - better agent reconnect logic
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.ts
  packages/core/src/client.ts
Labels: integration

#3589 CodeSystem import operation
  packages/server/src/fhir/operations/codesystemimport.test.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v55.ts
Labels: fhir-datastore

#3087 Server update CLI
  packages/cli/src/aws/index.ts
  packages/cli/src/aws/init.test.ts
  packages/cli/src/aws/init.ts
  packages/cli/src/aws/update-server.test.ts
  packages/cli/src/aws/update-server.ts
  packages/cli/src/aws/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
Labels: self-host

#3725 Fixes #3412 - cli command to update Parameter Store config
  packages/cli/src/aws/index.ts
  packages/cli/src/aws/init.test.ts
  packages/cli/src/aws/init.ts
  packages/cli/src/aws/terminal.ts
  packages/cli/src/aws/test.utils.ts
  packages/cli/src/aws/update-config.test.ts
  packages/cli/src/aws/update-config.ts
  packages/cli/src/aws/update-server.ts
  packages/cli/src/aws/utils.ts
  packages/cli/src/utils.ts
Labels: self-host

#3726 ⚠️ Fixes #3724 - change MedplumClient default cache time
  examples/medplum-nextjs-demo/app/root.tsx
  packages/core/src/client.ts
Labels: fhir-datastore

#3730 ⚠️ Release Version 3.0.0
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-fhircast-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-task-demo/package.json
  examples/medplum-websocket-subscriptions-demo/package.json
  package-lock.json
  package.json
  packages/agent/package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/definitions/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/examples/package.json
  packages/expo-polyfills/package.json
  packages/fhir-router/package.json
  packages/fhirtypes/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/health-gorilla/package.json
  packages/hl7/package.json
  packages/mock/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
  sonar-project.properties
Labels: dependencies

#3731 Add lookup table to index CodeSystem codings
  packages/server/src/fhir/lookups/coding.test.ts
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#3741 Fix wrapping CodeSystem import handler
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#3738 Add OTel documentation
  Dockerfile
  packages/server/package.json
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/otel/README.md
  packages/server/src/otel/instrumentation.test.ts
  packages/server/src/otel/instrumentation.ts
  packages/server/src/otel/otel.test.ts
  packages/server/src/otel/otel.ts
Labels: documentation

#3702 Implement CodeSystem lookup operation
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/codesystemlookup.test.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#3736 Fixes #3653 - Agent handle DICOM C-STORE
  packages/agent/src/@types/dcmjs/index.d.ts
  packages/agent/src/dicom.test.ts
  packages/agent/src/dicom.ts
  packages/agent/testdata/sample-sr.dcm
  packages/agent/tsconfig.json
  packages/server/src/agent/websockets.test.ts
  packages/server/src/agent/websockets.ts
Labels: integration

#3705 Add CodeSystem validate-code operation
  packages/server/src/fhir/operations/codesystemvalidatecode.test.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#3758 Fixes #3751 - restore AsyncAutocomplete props
  packages/app/src/App.test.tsx
  packages/react/src/AppShell/AppShell.test.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/CodingInput/CodingInput.stories.tsx
Labels: react

#3780 Fixed validateDOMNesting warning
  packages/app/src/admin/ProjectAdminConfigPage.tsx
Labels: medplum-app

#3781 Fixes #3614 - configurable agent log level
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/dicom.test.ts
  packages/agent/src/hl7.test.ts
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
Labels: integration

#3779 Fixes #3753 - root constraint validation
  packages/core/src/fhirpath/functions.test.ts
  packages/core/src/fhirpath/functions.ts
  packages/core/src/fhirpath/parse.test.ts
  packages/core/src/typeschema/types.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/definitions/dist/fhir/r4/profiles-types.json
  packages/server/src/context.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.test.ts
  packages/server/src/fhir/search.test.ts
Labels: fhir-datastore

#3763 Update Bot metrics
  packages/server/src/fhir/operations/execute.ts
Labels: analytics

#3740 feat(subscriptions): add `heartbeat` for WS subs
  packages/core/src/config.ts
  packages/server/src/__mocks__/ioredis.ts
  packages/server/src/app.ts
  packages/server/src/config.ts
  packages/server/src/heartbeat.ts
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/subscriptions/websockets.ts
Labels: subscriptions

#3784 Document using vm context bots
  packages/docs/docs/bots/vm-context-bots.md
Labels: documentation

#3795 Fix async job tests
  packages/server/src/fhir/job.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/test.setup.ts
Labels: security

#3793 fix(heartbeat): start heartbeat on first bind to sub
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/subscriptions/websockets.ts
Labels: subscriptions

#3788 Nested transactions
  packages/fhir-router/src/repo.ts
  packages/server/src/admin/invite.test.ts
  packages/server/src/app.ts
  packages/server/src/context.ts
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/transaction.test.ts
  packages/server/src/migrations/schema/index.ts
Labels: fhir-datastore

#3805 Use specific advisory locks
  packages/server/src/database.ts
Labels: self-host

#3814 Dark mode
  packages/react/src/AppShell/Header.test.tsx
  packages/react/src/AppShell/Header.tsx
  packages/react/src/DescriptionList/DescriptionList.module.css
  packages/react/src/ResourceArrayInput/ResourceArrayInput.tsx
  packages/react/src/SearchControl/SearchControl.module.css
Labels: medplum-app

#3818 Don't add _total default in SearchControl
  packages/react/src/SearchControl/SearchControl.tsx
Labels: react, search

#3790 Additional logging
  packages/server/src/admin/super.ts
  packages/server/src/app.ts
  packages/server/src/database.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/search.test.ts
Labels: audit-logging, analytics

#3823 Improve performance of token sort
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: search

#3824 Separate search popup menus for 'text' and 'token'
  packages/react/src/SearchPopupMenu/SearchPopupMenu.tsx
Labels: react

#3820 Case study content and images
  packages/docs/blog/2024-01-26-develo-case-study.md
  packages/docs/static/img/blog/develo-billing.png
  packages/docs/static/img/blog/develo-growth-chart.png
  packages/docs/static/img/blog/develo-intake.png
  packages/docs/static/img/blog/develo-orders.png
  packages/docs/static/img/blog/develo-scheduling-order.png
Labels: documentation

#3828 Update README.md
  README.md
Labels: documentation

#3830 Fixed lookup tables in migration generator
  packages/generator/src/migrate.ts
  packages/server/src/fhir/lookups/reference.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore

#3827 RDS proxy
  .github/workflows/staging.yml
  packages/cdk/src/backend.ts
  packages/cdk/src/index.test.ts
  packages/core/src/config.ts
  packages/docs/docs/self-hosting/config-settings.md
  packages/server/src/app.ts
  packages/server/src/config.ts
  packages/server/src/database.test.ts
  packages/server/src/database.ts
  packages/server/src/index.ts
  packages/server/src/workers/index.test.ts
Labels: self-host

#3791 Use tsvector index for token text search
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v58.ts
Labels: search
