Repository medplum/medplum, pull requests merged in 2024-05, with the labels that each got.

#4487 Qualify columns with table name in generated SQL
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#4402 Document updating profiles
  packages/docs/docs/fhir-datastore/profiles.md
  packages/examples/src/fhir-datastore/profiles.ts
Labels: documentation

#4504 Adding OpenCareHub support post
  packages/docs/blog/2024-05-02-stanford-biodesign-opencarehub.md
  packages/docs/static/img/blog/opencarehub-support-letter.png
Labels: documentation

#4457 feat(agent): `Agent/$reload-config` operation
  .github/workflows/build-agent.yml
  .vscode/settings.json
  packages/agent/installer.nsi
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/channel.ts
  packages/agent/src/dicom.test.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.test.ts
  packages/agent/src/hl7.ts
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
  packages/agent/src/net-utils.test.ts
  packages/app/src/resource/ToolsPage.test.tsx
  packages/app/src/resource/ToolsPage.tsx
  packages/cli/src/hl7.ts
  packages/core/src/agent.ts
  packages/core/src/logger.test.ts
  packages/core/src/logger.ts
  packages/hl7/src/server.test.ts
  packages/hl7/src/server.ts
  packages/server/src/agent/websockets.test.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentbulkstatus.test.ts
  packages/server/src/fhir/operations/agentbulkstatus.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhir/operations/agentreloadconfig.test.ts
  packages/server/src/fhir/operations/agentreloadconfig.ts
  packages/server/src/fhir/operations/agentstatus.ts
  packages/server/src/fhir/operations/agentutils.ts
  packages/server/src/fhir/operations/utils/agenttestutils.ts
  packages/server/src/fhir/operations/utils/agentutils.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/oauth/utils.ts
  scripts/build-agent-installer-win64.sh
Labels: integration

#4479 Clarify that autobatching only applies to `GET` requests
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
Labels: documentation

#4514 Link to new Demo Applications
  packages/docs/docs/careplans/index.md
  packages/docs/docs/careplans/tasks/tasks.md
  packages/docs/docs/communications/index.md
  packages/docs/sidebars.ts
Labels: documentation, communications, careplans

#4532 Remove unused DB columns
  packages/generator/src/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v69.ts
Labels: fhir-datastore

#4542 fix(agent): unwrap response for `$reload-config` by id
  packages/core/src/outcomes.ts
  packages/server/src/fhir/operations/agentreloadconfig.test.ts
  packages/server/src/fhir/operations/agentreloadconfig.ts
  packages/server/src/fhir/operations/utils/agentutils.ts
Labels: integration

#4535 `PatientSummary` Problem List uses US Core profile
  examples/medplum-provider/src/components/ResourceFormWithRequiredProfile.tsx
  examples/medplum-provider/src/components/tasks/actions/AssignRole.tsx
  examples/medplum-provider/src/components/tasks/actions/UpdateBusinessStatus.tsx
  examples/medplum-provider/src/pages/OnboardingPage.tsx
  examples/medplum-provider/src/utils.ts
  packages/app/src/resource/FormCreatePage.tsx
  packages/app/src/resource/ProfilesPage.tsx
  packages/app/src/resource/utils.test.ts
  packages/core/src/typeschema/__test__/us-core-condition-problems-health-concerns.json
  packages/core/src/typeschema/types.test.ts
  packages/core/src/typeschema/types.ts
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/react/src/PatientSummary/Allergies.tsx
  packages/react/src/PatientSummary/AllergyDialog.tsx
  packages/react/src/PatientSummary/ConceptBadge.tsx
  packages/react/src/PatientSummary/ConditionDialog.tsx
  packages/react/src/PatientSummary/MedicationDialog.tsx
  packages/react/src/PatientSummary/Medications.tsx
  packages/react/src/PatientSummary/ProblemList.tsx
  packages/react/src/ResourceArrayInput/ResourceArrayInput.test.tsx
Labels: react

#4536 fix(cli): always exit with exit code 1 after error occurs during command
  packages/cli/esbuild.mjs
  packages/cli/src/auth.test.ts
  packages/cli/src/auth.ts
  packages/cli/src/aws/describe.test.ts
  packages/cli/src/aws/describe.ts
  packages/cli/src/aws/init.test.ts
  packages/cli/src/aws/init.ts
  packages/cli/src/aws/terminal.ts
  packages/cli/src/aws/test.utils.ts
  packages/cli/src/aws/update-app.test.ts
  packages/cli/src/aws/update-app.ts
  packages/cli/src/aws/update-bucket-policies.test.ts
  packages/cli/src/aws/update-bucket-policies.ts
  packages/cli/src/aws/update-config.test.ts
  packages/cli/src/aws/update-config.ts
  packages/cli/src/aws/update-server.test.ts
  packages/cli/src/aws/update-server.ts
  packages/cli/src/aws/utils.test.ts
  packages/cli/src/aws/utils.ts
  packages/cli/src/bot.test.ts
  packages/cli/src/bots.ts
  packages/cli/src/bulk.test.ts
  packages/cli/src/bulk.ts
  packages/cli/src/hl7.test.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/profile-auth.test.ts
  packages/cli/src/profiles.test.ts
  packages/cli/src/profiles.ts
  packages/cli/src/project.test.ts
  packages/cli/src/project.ts
  packages/cli/src/rest.test.ts
  packages/cli/src/storage.test.ts
  packages/cli/src/storage.ts
  packages/cli/src/util/client.test.ts
  packages/cli/src/utils.test.ts
  packages/cli/src/utils.ts
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
Labels: integration

#4543 CMS 1500 and Superbill
  packages/docs/docs/billing/creating-cms1500.md
  packages/docs/docs/billing/creating-superbills.md
  packages/docs/docs/billing/insurance-eligibility-checks.md
  packages/docs/docs/billing/patient-insurance.md
  packages/docs/src/pages/products/billing.md
Labels: documentation

#4522 Full linked Project ordering in CodeSystem lookup
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/utils/terminology.ts
Labels: fhir-datastore

#4560 Minor fixes for the agent setup bot
  examples/medplum-demo-bots/src/hl7-integration/README.md
  examples/medplum-demo-bots/src/hl7-integration/setup-medplum-agent.questionnaire.json
  examples/medplum-demo-bots/src/hl7-integration/setup-medplum-agent.questionnaireresponse.json
  examples/medplum-demo-bots/src/hl7-integration/setup-medplum-agent.test.ts
  examples/medplum-demo-bots/src/hl7-integration/setup-medplum-agent.ts
Labels: documentation, bots, integration

#4568 Split rate limits into two buckets
  packages/server/src/ratelimit.ts
Labels: fhir-datastore

#4491 Allow configuring server default rate limits
  packages/server/src/app.test.ts
  packages/server/src/app.ts
  packages/server/src/config.ts
  packages/server/src/ratelimit.ts
Labels: self-host

#4578 Updating device resources and videos
  packages/docs/docs/charting/implantable-devices.md
  packages/docs/docs/charting/ordering-labs-imaging.md
  packages/docs/docs/charting/patient-demographics.md
Labels: documentation, compliance

#4577 fix(subscriptions): don't retry ws subs if sub is deleted
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/subscription.ts
Labels: subscriptions

#4443 Super admin endpoint for database stats
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/fhir/operations/dbstats.test.ts
  packages/server/src/fhir/operations/dbstats.ts
  packages/server/src/fhir/routes.ts
Labels: self-host

#4591 Updating sample HL7 bot to include ADT-08 messages
  examples/medplum-demo-bots/src/hl7-bot.test.ts
  examples/medplum-demo-bots/src/hl7-bot.ts
Labels: integration

#4590 feat(fhircast): properly respond to `unsubscribe` request
  examples/medplum-fhircast-demo/src/components/Subscriber.tsx
  examples/medplum-fhircast-demo/src/components/TopicLoader.tsx
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
  packages/server/src/fhircast/websocket.ts
Labels: fhir-datastore, integration

#4594 Fixes #4576 - Windows 1252 character encoding
  package-lock.json
  packages/agent/package.json
  packages/agent/src/app.ts
  packages/agent/src/hl7.ts
  packages/cli/esbuild.mjs
  packages/cli/package.json
  packages/cli/src/hl7.ts
  packages/hl7/README.md
  packages/hl7/esbuild.mjs
  packages/hl7/package.json
  packages/hl7/src/client.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/constants.ts
  packages/hl7/src/server.test.ts
  packages/hl7/src/server.ts
Labels: integration

#4585 refactor(subscriptions): skip `bullmq` for WS subs, push all WS subs thru one Redis channel
  packages/server/jest.config.json
  packages/server/package.json
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/subscriptions/websockets.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
Labels: subscriptions

#4583 Use nested transactions with stronger isolation
  packages/server/src/database.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/transaction.test.ts
Labels: fhir-datastore

#4596 Parse ADT example
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-transfer-bot.test.ts
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-transfer-bot.ts
Labels: integration

#4607 Better PATCH error messages
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/fhirrouter.test.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/server/src/config.test.ts
Labels: fhir-datastore

#4603 Fix IAM policy resource strings
  packages/cdk/src/backend.ts
Labels: self-host

#4595 Allow Bot to return Binary
  packages/server/src/fhir/binary.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/response.ts
Labels: bots, integration
