Repository medplum/medplum, pull requests merged in 2024-11, with the labels that each got.

#5466 fix(react): fix `ValueSetAutocomplete` not iterable
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: bug, react

#5460 Ignore conflicts in reference lookup table
  packages/server/src/fhir/lookups/reference.ts
Labels: fhir-datastore

#5474 Emit performance metrics for Repository interactions
  packages/server/src/fhir/repo.ts
Labels: audit-logging

#5473 fix(mock): make `MockClient` strip empty values for FHIR compliance
  packages/agent/src/app.ts
  packages/app/src/resource/ProfilesPage.test.tsx
  packages/fhir-router/src/repo.ts
  packages/mock/src/client.test.ts
  packages/react/src/SearchControl/SearchControl.tsx
Labels: bug

#5458 Document use of batch upserts with urn:uuid: replacement
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
  packages/server/src/fhir/batch.test.ts
Labels: documentation

#5492 Fix chained search join
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#5496 Gather and validate all resource references at one time
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5508 Check all references at once
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/references.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5512 Add `Project.systemSetting` documentation
  packages/docs/docs/self-hosting/project-settings.md
  packages/fhir-router/src/fhirrouter.ts
  packages/server/src/fhir/routes.ts
Labels: documentation

#5516 Updating report link and documentation
  packages/docs/docs/compliance/soc2.md
Labels: documentation, compliance

#5439 Combine resource account references from multiple sources
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5524 Report conflicting paths in duplicate choice type error
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
Labels: fhir-datastore

#5526 Fix link to newline-delimited JSON spec
  packages/docs/docs/api/fhir/operations/bulk-fhir.mdx
Labels: documentation

#5523 Store copy of resource from time of call in cache post-commit hook
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/test.setup.ts
Labels: fhir-datastore

#5527 Make QuestionnaireForm change event handling pure
  examples/medplum-health-gorilla-demo/src/components/TestMetadataCardInput.tsx
  packages/core/src/fhirpath/utils.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
Labels: react

#5536 Batch INSERTs to lookup tables
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/reference.ts
  packages/server/src/fhir/repo.test.ts
Labels: fhir-datastore

#5548 Defensive check in async resource crawler
  packages/core/src/typeschema/crawler.ts
Labels: bug

#5545 First draft of DoseSpot react components
  examples/medplum-provider/package.json
  examples/medplum-provider/src/components/DoseSpotIcon.tsx
  examples/medplum-provider/src/pages/patient/DoseSpotTab.tsx
  examples/medplum-provider/vite.config.ts
  package-lock.json
  packages/dosespot-react/README.md
  packages/dosespot-react/api-extractor.json
  packages/dosespot-react/babel.config.json
  packages/dosespot-react/esbuild.mjs
  packages/dosespot-react/package.json
  packages/dosespot-react/src/common.ts
  packages/dosespot-react/src/index.test.ts
  packages/dosespot-react/src/index.ts
  packages/dosespot-react/src/test.setup.ts
  packages/dosespot-react/src/useDoseSpotIFrame.test.tsx
  packages/dosespot-react/src/useDoseSpotIFrame.ts
  packages/dosespot-react/src/useDoseSpotNotifications.test.tsx
  packages/dosespot-react/src/useDoseSpotNotifications.ts
  packages/dosespot-react/tsconfig.build.json
  packages/dosespot-react/tsconfig.json
  packages/dosespot-react/vite.config.ts
  scripts/test.sh
Labels: medications

#5553 Add automatic retry of transaction serialization errors after rollback
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/transaction.test.ts
Labels: fhir-datastore

#5505 Script to deploy app to GCP
  scripts/deploy-app-gcp.sh
Labels: self-host

#5557 Document extensions for preferred pharmacy
  packages/docs/docs/medications/representing-prescriptions-and-medication-orders.mdx
Labels: medications

#5559 feat(server): add `Bot.timeout`, sync timeout on `Bot/$deploy`
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/static/data/medplumDefinitions/bot.json
  packages/fhirtypes/dist/Bot.d.ts
  packages/mock/src/mocks/structuredefinitions.json
  packages/server/src/cloud/aws/deploy.test.ts
  packages/server/src/cloud/aws/deploy.ts
  packages/server/src/fhir/operations/deploy.test.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/repo.ts
Labels: bots

#5565 Allow cancellation of reindex job
  packages/server/src/admin/super.test.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#5577 fix(AsyncJob): use `systemRepo` for cancel
  packages/server/src/fhir/operations/asyncjobcancel.test.ts
  packages/server/src/fhir/operations/asyncjobcancel.ts
Labels: bug

#5582 Add excluded IDs to search pagination cursor
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#5547 Add Postgres upgrade blog post
  packages/docs/blog/2024-11-14-zero-downtime-postgres-major-version-upgrade.md
  packages/docs/blog/authors.yml
Labels: documentation, self-host

#5598 Update to include how to test agent in docker
  packages/docs/docs/agent/index.md
Labels: documentation, integration

#5592 Fixes #5590 - cleanup default URLs in server config
  packages/server/medplum.config.json
  packages/server/src/cloud/aws/signer.ts
  packages/server/src/cloud/aws/storage.ts
  packages/server/src/config.ts
  packages/server/src/fhir/rewrite.test.ts
  packages/server/src/fhir/storage.ts
  packages/server/src/util/auditevent.test.ts
Labels: fhir-datastore

#5571 Fix CPOE acronym
  packages/docs/docs/integration/health-gorilla.md
Labels: documentation
