Repository medplum/medplum, pull requests merged in 2024-03, with the labels that each got.

#4079 Escape equals sign in CSV export
  packages/server/src/fhir/operations/csv.test.ts
  packages/server/src/fhir/operations/csv.ts
Labels: security

#4064 Fixes #2021 - support _type search parameter
  packages/core/src/search/parse.test.ts
  packages/core/src/search/search.ts
  packages/fhir-router/src/fhirrouter.test.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: search

#4094 Fixes #4084 - validate reference resource type
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#4041 Added initial key value API
  packages/core/src/client-test-utils.ts
  packages/core/src/client.ts
  packages/core/src/keyvalue.test.ts
  packages/core/src/keyvalue.ts
  packages/server/src/app.ts
  packages/server/src/keyvalue/README.md
  packages/server/src/keyvalue/routes.test.ts
  packages/server/src/keyvalue/routes.ts
  packages/server/src/keyvalue/store.ts
Labels: bots, integration

#4093 ci(autofix.ci): replace `prettier` action w/ `autofix.ci`
  .github/workflows/autofix-ci.yml
  .github/workflows/prettier-fmt.yml
  .prettierignore
  examples/medplum-live-chat-demo/tsconfig.json
  examples/medplum-nextjs-demo/tsconfig.json
  examples/medplum-task-demo/src/bots/medplum.config.json
  package.json
  packages/agent/tsconfig.json
  packages/core/src/base-schema.json
Labels: self-host

#4108 Fixes #4107 - configurable agent push wait timeout
  packages/server/src/fhir/operations/agentpush.test.ts
  packages/server/src/fhir/operations/agentpush.ts
Labels: integration

#4110 Fixes #3899 - agent status api
  package-lock.json
  packages/agent/src/app.ts
  packages/app/src/AppRoutes.tsx
  packages/app/src/resource/ToolsPage.test.tsx
  packages/app/src/resource/ToolsPage.tsx
  packages/react/src/StatusBadge/StatusBadge.tsx
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhir/operations/agentstatus.test.ts
  packages/server/src/fhir/operations/agentstatus.ts
  packages/server/src/fhir/operations/agentutils.ts
  packages/server/src/fhir/routes.ts
Labels: integration

#4048 Update charting docs screenshot
  packages/docs/docs/charting/charting-screenshot.png
  packages/docs/docs/charting/index.md
Labels: documentation

#4100 Enhance terminology operations for US Core ValueSets
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.test.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.ts
Labels: fhir-datastore

#3847 Document representing diagnoses
  packages/docs/docs/charting/representing-diagnoses.md
  packages/examples/src/charting/representing-diagnoses.ts
Labels: documentation, charting

#4134 Okta SCIM tests
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/fhirtypes/dist/ProjectMembership.d.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v62.ts
  packages/server/src/scim/okta.test.ts
  packages/server/src/scim/routes.test.ts
  packages/server/src/scim/routes.ts
  packages/server/src/scim/types.ts
  packages/server/src/scim/utils.ts
Labels: auth

#4120 Make resources editable in PatientSummary control
  packages/app/src/components/ResourceHeader.tsx
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/react/src/DateTimeInput/DateTimeInput.tsx
  packages/react/src/PatientSummary/Allergies.test.tsx
  packages/react/src/PatientSummary/Allergies.tsx
  packages/react/src/PatientSummary/AllergyDialog.tsx
  packages/react/src/PatientSummary/ConceptBadge.tsx
  packages/react/src/PatientSummary/ConditionDialog.tsx
  packages/react/src/PatientSummary/MedicationDialog.tsx
  packages/react/src/PatientSummary/Medications.test.tsx
  packages/react/src/PatientSummary/Medications.tsx
  packages/react/src/PatientSummary/ProblemList.test.tsx
  packages/react/src/PatientSummary/ProblemList.tsx
Labels: react

#4126 Add data to charting screenshot
  packages/docs/docs/charting/charting-screenshot.png
Labels: documentation

#4125 fix: `autoFocus` MFA input in sign-in form
  packages/react/src/auth/MfaForm.tsx
Labels: react

#4143 Support application/scim+json content-type in SCIM
  packages/core/src/contenttype.ts
  packages/core/src/search/details.ts
  packages/server/src/app.ts
  packages/server/src/scim/README.md
  packages/server/src/scim/routes.test.ts
Labels: auth

#4146 Updating broken links
  packages/docs/blog/2023-06-15-ro-case-study.md
  packages/docs/src/components/landing/LandingPage.tsx
  packages/docs/src/pages/products/index.md
Labels: documentation

#4148 Add version parameter to terminology operations
  packages/server/src/fhir/operations/codesystemlookup.test.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.test.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/operations/subsumes.ts
  packages/server/src/fhir/operations/utils/terminology.ts
Labels: fhir-datastore

#4151 Adding sample workflows to provider app
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/pages/HomePage.tsx
  examples/medplum-provider/src/pages/OnboardingPage.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
Labels: react

#4156 More provider app features
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/main.tsx
  examples/medplum-provider/src/pages/CreateResourcePage.tsx
  examples/medplum-provider/src/pages/SearchPage.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
Labels: react

#4159 Slow down logo scroller
  packages/docs/src/components/landing/LogoScroller.module.css
Labels: documentation

#4165 Fixes #4164 - run tests against postgres 16
  .github/workflows/build.yml
Labels: self-host

#4166 Fixes #4162 - cdk exports autoscaling settings
  packages/cdk/src/backend.ts
  packages/cdk/src/index.test.ts
  packages/core/src/config.ts
Labels: self-host

#4160 Allow initializing Project without owner
  packages/server/src/auth/newproject.ts
  packages/server/src/auth/register.ts
  packages/server/src/fhir/operations/projectinit.test.ts
  packages/server/src/fhir/operations/projectinit.ts
Labels: self-host

#4170 Bugfix: domain-level IDP should be case-insensitive
  packages/docs/docs/auth/methods/domain-level-identity-providers.md
  packages/server/src/auth/external.ts
  packages/server/src/auth/method.test.ts
  packages/server/src/auth/method.ts
Labels: auth

#4169 Added missing region param to CloudFrontClient
  packages/cli/src/aws/init.ts
Labels: self-host

#4111 feat(react): add `BaseChat` and `ThreadChat` components
  biome.json
  examples/medplum-fhircast-demo/src/components/TopicGenerator.tsx
  examples/medplum-fhircast-demo/src/hooks/index.ts
  examples/medplum-live-chat-demo/README.md
  examples/medplum-live-chat-demo/src/pages/HomePage.tsx
  packages/core/src/eventtarget.test.ts
  packages/core/src/eventtarget.ts
  packages/core/src/subscriptions/index.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/mock/src/client.ts
  packages/mock/src/mocks/project.ts
  packages/mock/src/subscription-manager.ts
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/usePrevious/usePrevious.test.tsx
  packages/react-hooks/src/usePrevious/usePrevious.ts
  packages/react/src/BaseChat/BaseChat.module.css
  packages/react/src/BaseChat/BaseChat.stories.tsx
  packages/react/src/BaseChat/BaseChat.test.tsx
  packages/react/src/BaseChat/BaseChat.tsx
  packages/react/src/ResourceBlame/ResourceBlame.module.css
  packages/react/src/ThreadChat/ThreadChat.test.tsx
  packages/react/src/ThreadChat/ThreadChat.tsx
  packages/react/src/index.ts
  packages/react/src/test-utils/render.tsx
Labels: communications, react

#4135 Update documentation on messaging
  packages/docs/docs/communications/async-encounters/async-encounters.md
  packages/docs/docs/communications/async-encounters/async-encounters1.svg
  packages/docs/docs/communications/async-encounters/async-encounters2.svg
  packages/docs/docs/communications/organizing-communications.mdx
  packages/docs/sidebars.ts
  packages/examples/src/communications/organizing-communications.ts
Labels: documentation

#4188 Handle additional terminology operation endpoints
  packages/server/src/fhir/operations/codesystemimport.test.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/codesystemlookup.test.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.test.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/subsumes.test.ts
  packages/server/src/fhir/operations/subsumes.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.test.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#4193 feat(getwsbindingtoken): add feature gate on `websocket-subscriptions`
  packages/server/src/fhir/operations/getwsbindingtoken.test.ts
  packages/server/src/fhir/operations/getwsbindingtoken.ts
  packages/server/src/subscriptions/websockets.test.ts
Labels: subscriptions

#4167 Fixes #4140 - Add WWW-Authenticate header to unauthorized response
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/react/src/auth/AuthenticationForm.tsx
  packages/server/src/admin/project.ts
  packages/server/src/admin/super.ts
  packages/server/src/app.ts
  packages/server/src/auth/changepassword.ts
  packages/server/src/auth/external.ts
  packages/server/src/auth/google.ts
  packages/server/src/auth/me.test.ts
  packages/server/src/auth/mfa.ts
  packages/server/src/auth/newpatient.ts
  packages/server/src/auth/newproject.ts
  packages/server/src/auth/newuser.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/auth/revoke.ts
  packages/server/src/auth/setpassword.ts
  packages/server/src/auth/status.ts
  packages/server/src/auth/utils.ts
  packages/server/src/email/routes.ts
  packages/server/src/fhir/binary.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhir/operations/agentstatus.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/operations/csv.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/evaluatemeasure.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/expunge.ts
  packages/server/src/fhir/operations/getwsbindingtoken.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/operations/projectinit.ts
  packages/server/src/fhir/operations/structuredefinitionexpandprofile.ts
  packages/server/src/fhir/operations/subsumes.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.ts
  packages/server/src/fhir/outcomes.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhircast/routes.ts
  packages/server/src/oauth/logout.ts
  packages/server/src/util/validator.ts
Labels: auth

#4214 Support descendent-of ValueSet filter op
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#4154 Fix uniqueness constraint on terminology properties
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v64.ts
Labels: fhir-datastore

#4209 Added warning about estimated count threshold
  packages/docs/docs/search/paginated-search.mdx
Labels: documentation

#4230 Fixes #4213 - CLI and external auth DomainConfiguration
  packages/app/src/OAuthPage.tsx
  packages/cli/src/auth.test.ts
  packages/cli/src/auth.ts
  packages/cli/src/profiles.test.ts
  packages/cli/src/utils.ts
  packages/core/src/client.ts
  packages/react/src/auth/SignInForm.tsx
  packages/server/src/auth/external.ts
  packages/server/src/oauth/token.ts
  packages/server/src/oauth/utils.ts
Labels: auth, integration

#4255 Add case study
  packages/docs/blog/2024-03-27-chamber-cardio-case-study.md
Labels: documentation

#4271 fix(expo-polyfills): init and recover when can't get `___keys___`
  packages/core/src/client.ts
  packages/expo-polyfills/src/index.test.ts
  packages/expo-polyfills/src/index.ts
  sonar-project.properties
Labels: react

#4270 Added instructions on setting up React Native w/ Emulation
  examples/medplum-react-native-example/README.md
Labels: integration

#4256 feat(chat): factor out `ChatModal` and make chat composable
  examples/medplum-live-chat-demo/src/pages/HomePage.tsx
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/fhirtypes/dist/MetadataResource.d.ts
  packages/generator/package.json
  packages/generator/src/mockclient.ts
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
  packages/mock/src/mocks/index.ts
  packages/mock/src/mocks/searchparameters.json
  packages/mock/src/mocks/structuredefinitions.json
  packages/mock/src/mocks/thread.ts
  packages/react/src/BaseChat/BaseChat.stories.tsx
  packages/react/src/NotificationIcon/NotificationIcon.test.tsx
  packages/react/src/ResourceAvatar/ResourceAvatar.tsx
  packages/react/src/chat/BaseChat/BaseChat.module.css
  packages/react/src/chat/BaseChat/BaseChat.stories.tsx
  packages/react/src/chat/BaseChat/BaseChat.test.tsx
  packages/react/src/chat/BaseChat/BaseChat.tsx
  packages/react/src/chat/ChatModal/ChatModal.module.css
  packages/react/src/chat/ChatModal/ChatModal.stories.tsx
  packages/react/src/chat/ChatModal/ChatModal.test.tsx
  packages/react/src/chat/ChatModal/ChatModal.tsx
  packages/react/src/chat/ThreadChat/ThreadChat.stories.tsx
  packages/react/src/chat/ThreadChat/ThreadChat.test.tsx
  packages/react/src/chat/ThreadChat/ThreadChat.tsx
  packages/react/src/index.ts
Labels: communications, react
