Repository medplum/medplum, pull requests merged in 2024-09, with the labels that each got.

#5159 Fix `package.json` from Patient Intake and Scheduling example apps
  examples/medplum-patient-intake-demo/package.json
  examples/medplum-scheduling-demo/package.json
  package-lock.json
Labels: bug, example

#5166 [Patient Intake Sample] Create `RelatedPerson` resource when necessary
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
Labels: example

#5148 Improve matching on identifier and codeablceconcept token searches
  packages/core/src/search/match.test.ts
  packages/core/src/search/match.ts
Labels: search

#5171 Remove limit on server-side compartments
  packages/server/src/config.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5170 Validate AccessPolicy criteria string
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/server/src/fhir/accesspolicy.test.ts
Labels: fhir-datastore

#5094 chore(core/client): #5090 exported `UnauthenticatedError`
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/outcomes.ts
Labels: auth

#5178 Add minimum filter length for hierarchical ValueSet expansions
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#5168 [Scheduling Sample] Improve UX in slot management, and minor code refactoring
  examples/medplum-scheduling-demo/src/components/SlotDetails.tsx
  examples/medplum-scheduling-demo/src/components/actions/AppointmentActions.tsx
  examples/medplum-scheduling-demo/src/components/actions/BlockAvailability.tsx
  examples/medplum-scheduling-demo/src/components/actions/CreateAppointment.tsx
  examples/medplum-scheduling-demo/src/components/actions/CreateEncounter.tsx
  examples/medplum-scheduling-demo/src/components/actions/CreateUpdateSlot.tsx
  examples/medplum-scheduling-demo/src/components/actions/PatientActions.tsx
  examples/medplum-scheduling-demo/src/components/actions/RescheduleAppointment.tsx
  examples/medplum-scheduling-demo/src/components/actions/SetAvailability.tsx
  examples/medplum-scheduling-demo/src/pages/AppointmentDetailPage.tsx
  examples/medplum-scheduling-demo/src/pages/PatientPage.tsx
  examples/medplum-scheduling-demo/src/pages/PatientSchedulePage.tsx
  examples/medplum-scheduling-demo/src/pages/SchedulePage.tsx
Labels: scheduling, example

#5084 [Photon Health] Handle webhook order events
  examples/medplum-photon-integration/src/bots/handle-order-event.test.ts
  examples/medplum-photon-integration/src/bots/handle-order-event.ts
  examples/medplum-photon-integration/src/bots/handle-prescription-event.test.ts
  examples/medplum-photon-integration/src/bots/test-data/order-event-test-data.ts
  examples/medplum-photon-integration/src/bots/utils.test.ts
  examples/medplum-photon-integration/src/bots/utils.ts
  examples/medplum-photon-integration/src/photon-types.d.ts
  examples/medplum-photon-integration/src/scripts/deploy-bots.ts
Labels: medications, example

#5197 Report full indexed path for resource validation errors
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
Labels: fhir-datastore

#5204 Update server shutdown order
  packages/server/src/app.ts
Labels: fhir-datastore

#5187 Show ValueSet expansion with empty filter
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.tsx
  packages/react/src/AsyncAutocomplete/AsyncAutocomplete.utils.ts
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.test.tsx
  packages/server/src/fhir/operations/expand.test.ts
Labels: react

#5208 Remove server-side slow query log
  packages/server/src/cloud/aws/config.ts
  packages/server/src/config.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore

#5206 Part 1: Add `@medplum/health-gorilla-core`
  package-lock.json
  packages/health-gorilla-core/api-extractor.json
  packages/health-gorilla-core/esbuild.mjs
  packages/health-gorilla-core/package.json
  packages/health-gorilla-core/src/__test__/test-common-inputs.json
  packages/health-gorilla-core/src/__test__/test-generated-request-group.json
  packages/health-gorilla-core/src/aoe.test.ts
  packages/health-gorilla-core/src/aoe.ts
  packages/health-gorilla-core/src/constants.ts
  packages/health-gorilla-core/src/index.test.ts
  packages/health-gorilla-core/src/index.ts
  packages/health-gorilla-core/src/lab-order.test.ts
  packages/health-gorilla-core/src/lab-order.ts
  packages/health-gorilla-core/src/types.test.ts
  packages/health-gorilla-core/src/types.ts
  packages/health-gorilla-core/tsconfig.json
  packages/health-gorilla-core/vitest.config.ts
  packages/health-gorilla/README.md
  packages/health-gorilla/babel.config.json
  packages/health-gorilla/jest.config.json
  packages/health-gorilla/src/constants.ts
  packages/health-gorilla/src/index.ts
  packages/health-gorilla/src/requestgroupbuilder.test.ts
  packages/health-gorilla/src/requestgroupbuilder.ts
  packages/health-gorilla/src/utils.test.ts
  packages/health-gorilla/src/utils.ts
  packages/health-gorilla/tsdoc.json
  scripts/publish.sh
  scripts/test.sh
Labels: integration

#5211 System bots and executing bots from linked projects
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/Bot.d.ts
  packages/mock/src/mocks/structuredefinitions.json
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: bots

#4358 Implement full batch and transaction support
  packages/core/src/outcomes.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/docs/docs/self-hosting/config-settings.md
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/fhirrouter.test.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/fhir-router/src/repo.ts
  packages/fhir-router/src/urlrouter.ts
  packages/fhirtypes/dist/Project.d.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.test.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/transaction.test.ts
Labels: fhir-datastore

#5228 Add special handling for reference checks on ProjectMembership
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/references.ts
Labels: fhir-datastore

#5181 [Patient Intake Example] Patient Reported Vaccines
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
  examples/medplum-patient-intake-demo/src/components/PatientDetails.tsx
  examples/medplum-patient-intake-demo/src/components/PatientImmunizations.tsx
Labels: example

#5225 [Patient Intake Example] Preferred Pharmacy
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/data/example/example-organization-data.json
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
Labels: example

#5232 Refactor search include to elide intermediate arrays
  packages/core/src/utils.ts
  packages/server/src/fhir/search.ts
Labels: search

#5242 Removing tag from tab
  packages/app/src/resource/ResourcePage.tsx
Labels: medplum-app

#5247 Restrict types of written compartment references
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5246 Allow rewriting Bundle-local references for update interactions
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
Labels: fhir-datastore

#5229 Remove ID condition on cursor search
  packages/server/src/fhir/operations/export.test.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore

#5281 Update API reference docs
  packages/docs/static/data/datatypeDefinitions/meta.json
  packages/docs/static/data/medplumDefinitions/accesspolicy.json
  packages/docs/static/data/medplumDefinitions/bot.json
  packages/docs/static/data/medplumDefinitions/clientapplication.json
  packages/docs/static/data/medplumDefinitions/project.json
  packages/docs/static/data/resourceDefinitions/auditevent.json
  packages/docs/static/data/resourceDefinitions/detectedissue.json
  packages/docs/static/data/resourceDefinitions/location.json
  packages/docs/static/data/resourceDefinitions/measurereport.json
  packages/docs/static/data/resourceDefinitions/subscription.json
  packages/generator/package.json
Labels: documentation

#5292 Fix cursor progress check
  packages/server/src/fhir/search.ts
Labels: fhir-datastore

#4981 Vital bots bug fixes
  examples/medplum-demo-bots/src/vital/order-create.test.ts
  examples/medplum-demo-bots/src/vital/order-create.ts
  examples/medplum-demo-bots/src/vital/vital.test.ts
  examples/medplum-demo-bots/src/vital/vital.ts
Labels: integration, example

#5301 Fix flaky test
  packages/server/src/fhir/routes.test.ts
Labels: fhir-datastore

#5306 Fix search resources included at page boundary
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#5307 Invalidate cached profiles
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5303 docs(agent): add docs around Agent features and minimum versions
  packages/docs/docs/agent/features.md
  packages/docs/docs/agent/push.md
  packages/docs/docs/agent/requirements.md
Labels: documentation, integration

#5316 Document PATCH in Batch
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
Labels: documentation

#5302 Document Project settings
  packages/docs/docs/access/projects.md
  packages/docs/docs/self-hosting/project-settings.md
  packages/docs/docs/self-hosting/super-admin-cli.md
  packages/docs/docs/self-hosting/super-admin-guide.md
Labels: documentation

#5314 Adding networking and gke
  .gitignore
  terraform/gcp/.terraform.lock.hcl
  terraform/gcp/backend.tf
  terraform/gcp/cloud_sql.tf
  terraform/gcp/gke.tf
  terraform/gcp/nat.tf
  terraform/gcp/outputs.tf
  terraform/gcp/private-service-access.tf
  terraform/gcp/project_services.tf
  terraform/gcp/terraform.tfvars
  terraform/gcp/variables.tf
  terraform/gcp/versions.tf
  terraform/gcp/vpc.tf
Labels: self-host

#5317 Support passing JSON Patch as Parameters resource in Batch requests
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
Labels: fhir-datastore
