Repository medplum/medplum, pull requests merged in 2024-04, with the labels that each got.

#4286 fix(generator): rm `base` from SDs to compress min SDs for `MockClient`
  examples/medplum-eligibility-demo/src/bots/process-eligibility-request.test.ts
  packages/core/src/typeschema/__test__/compressed-observation-def.json
  packages/core/src/typeschema/__test__/compressed-observation.json
  packages/core/src/typeschema/types.test.ts
  packages/core/src/typeschema/types.ts
  packages/core/src/typeschema/validate-sd.test.ts
  packages/generator/src/mockclient.ts
  packages/mock/src/mocks/structuredefinitions.json
Labels: fhir-datastore

#4305 Updating case study material
  packages/docs/blog/2024-03-27-chamber-cardio-case-study.md
  packages/docs/src/pages/case-studies.tsx
  packages/docs/static/img/blog/chamber-cardio-logo.jpeg
  packages/docs/static/img/blog/radai-logo.jpeg
  packages/docs/static/img/blog/summer-health.png
Labels: documentation

#4294 Drop unused columns from lookup tables
  packages/server/src/fhir/operations/expunge.test.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v67.ts
Labels: fhir-datastore

#4308 Fixes #3905 - better graphql mutation error reporting
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/graphql/graphql.ts
Labels: fhir-datastore

#4310 Fixes #4309 - AWS Parameter Store support for required database SSL
  packages/docs/docs/self-hosting/config-settings.md
  packages/server/src/config.test.ts
  packages/server/src/config.ts
Labels: self-host

#4324 Fixes #4323 - add bot to BotEvent
  examples/medplum-demo-bots/src/bots-with-shared-library/goodbye-patient.test.ts
  examples/medplum-demo-bots/src/bots-with-shared-library/welcome-patient.test.ts
  examples/medplum-demo-bots/src/candid-health/send-to-candid.test.ts
  examples/medplum-demo-bots/src/candid-health/sync-candid-tasks.test.ts
  examples/medplum-demo-bots/src/create-pdf.test.ts
  examples/medplum-demo-bots/src/deduplication/find-matching-patients.test.ts
  examples/medplum-demo-bots/src/eligibility-check-opkit.test.ts
  examples/medplum-demo-bots/src/finalize-reports.test.ts
  examples/medplum-demo-bots/src/hello-patient.test.ts
  examples/medplum-demo-bots/src/hl7-bot.test.ts
  examples/medplum-demo-bots/src/lab-integration/read-oru-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/receive-orm-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/send-orm-message.test.ts
  examples/medplum-demo-bots/src/patient-intake.test.ts
  examples/medplum-demo-bots/src/questionnaire-bots/conditions-list/conditions-list-questionnaire.test.ts
  examples/medplum-demo-bots/src/questionnaire-bots/medications-list/patient-medication-questionnaire.test.ts
  examples/medplum-demo-bots/src/sample-account-setup.test.ts
  examples/medplum-demo-bots/src/stripe-bots/stripe-create-invoice.test.ts
  examples/medplum-eligibility-demo/src/bots/process-eligibility-request.test.ts
  examples/medplum-task-demo/src/bots/example/create-review-report-task.test.ts
  packages/core/src/client.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: bots

#4307 Implement conditional update
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/outcomes.ts
  packages/docs/docs/fhir-datastore/create-fhir-data.mdx
  packages/docs/docs/fhir-datastore/fhir-batch-requests.mdx
  packages/examples/src/fhir-datastore/fhir-batch-requests.ts
  packages/examples/src/tutorials/api-basics/create-fhir-data.ts
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/fhirrouter.test.ts
  packages/fhir-router/src/fhirrouter.ts
  packages/fhir-router/src/repo.ts
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#4328 fix(agent): check for `ping` command, report transmit errors back on `Agent/$push`
  packages/agent/src/app.ts
  packages/agent/src/net-utils.test.ts
  packages/app/src/resource/ToolsPage.test.tsx
  packages/app/src/resource/ToolsPage.tsx
  packages/core/src/agent.ts
  packages/server/src/fhir/operations/agentpush.test.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/index.test.ts
Labels: integration

#4347 Update docs for provider directory
  packages/docs/docs/administration/provider-directory/index.md
Labels: documentation

#4336 tweak(redis): add `getRedisSubscriber` for graceful shutdown safety
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhircast/websocket.ts
  packages/server/src/redis.test.ts
  packages/server/src/redis.ts
  packages/server/src/subscriptions/websockets.ts
  packages/server/src/websockets.ts
  packages/server/src/workers/subscription.test.ts
Labels: fhir-datastore

#4351 Added server config setting for approved email senders
  packages/server/src/config.ts
  packages/server/src/email/email.test.ts
  packages/server/src/email/email.ts
Labels: communications, integration

#4278 Task Demo Sample Data
  examples/medplum-task-demo/.gitignore
  examples/medplum-task-demo/data/core/business-status-value-sets.json
  examples/medplum-task-demo/data/core/business-status-valueset.json
  examples/medplum-task-demo/data/core/practitioner-role-valueset.json
  examples/medplum-task-demo/data/core/task-type-valueset.json
  examples/medplum-task-demo/data/example/example-messages.json
  examples/medplum-task-demo/data/example/example-practitioner-role.json
  examples/medplum-task-demo/data/example/example-reports.json
  examples/medplum-task-demo/data/example/example-tasks.json
  examples/medplum-task-demo/package.json
  examples/medplum-task-demo/src/App.tsx
  examples/medplum-task-demo/src/bots/example/create-review-report-task.ts
  examples/medplum-task-demo/src/bots/medplum.config.json
  examples/medplum-task-demo/src/components/actions/UpdateBusinessStatus.tsx
  examples/medplum-task-demo/src/main.tsx
  examples/medplum-task-demo/src/pages/ResourcePage.tsx
  examples/medplum-task-demo/src/pages/SearchPage.tsx
  examples/medplum-task-demo/src/pages/UploadDataPage.tsx
  examples/medplum-task-demo/src/scripts/deploy-bots.ts
  examples/medplum-task-demo/src/utils/search-control.ts
  examples/medplum-task-demo/tsconfig-bots.json
Labels: react

#4373 Restrict email api to project admins
  packages/server/src/email/routes.test.ts
  packages/server/src/email/routes.ts
Labels: communications

#4368 refactor($get-ws-binding-token): use backported `OperationDefinition`
  packages/server/src/fhir/operations/getwsbindingtoken.test.ts
  packages/server/src/fhir/operations/getwsbindingtoken.ts
Labels: communications

#4376 [Medplum Provider] Add Edit and History functionality to resource pages
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/pages/ResourcePage.tsx
  examples/medplum-provider/src/pages/resource/ResourceDetailPage.tsx
  examples/medplum-provider/src/pages/resource/ResourceEditPage.tsx
  examples/medplum-provider/src/pages/resource/ResourceHistoryPage.tsx
  examples/medplum-provider/src/pages/resource/ResourcePage.module.css
  examples/medplum-provider/src/pages/resource/ResourcePage.tsx
Labels: react

#4329 Move AWS specific code to separate directory
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/project.test.ts
  packages/server/src/auth/changepassword.test.ts
  packages/server/src/auth/login.test.ts
  packages/server/src/auth/profile.test.ts
  packages/server/src/auth/resetpassword.test.ts
  packages/server/src/auth/revoke.test.ts
  packages/server/src/auth/setpassword.test.ts
  packages/server/src/cloud/aws/config.test.ts
  packages/server/src/cloud/aws/config.ts
  packages/server/src/cloud/aws/deploy.test.ts
  packages/server/src/cloud/aws/deploy.ts
  packages/server/src/cloud/aws/email.ts
  packages/server/src/cloud/aws/execute.test.ts
  packages/server/src/cloud/aws/execute.ts
  packages/server/src/cloud/aws/signer.md
  packages/server/src/cloud/aws/signer.test.ts
  packages/server/src/cloud/aws/signer.ts
  packages/server/src/cloud/aws/storage.test.ts
  packages/server/src/cloud/aws/storage.ts
  packages/server/src/config.test.ts
  packages/server/src/config.ts
  packages/server/src/email/email.test.ts
  packages/server/src/email/email.ts
  packages/server/src/email/routes.test.ts
  packages/server/src/email/utils.ts
  packages/server/src/fhir/binary.ts
  packages/server/src/fhir/operations/deploy.test.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/rewrite.ts
  packages/server/src/fhir/storage.test.ts
  packages/server/src/fhir/storage.ts
  packages/server/src/logger.test.ts
  packages/server/src/oauth/authorize.test.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/util/cloudwatch.test.ts
Labels: self-host

#4382 Document how to revert changes to a resource
  packages/docs/docs/fhir-datastore/resource-history.md
  packages/examples/src/fhir-datastore/resource-history.ts
Labels: documentation

#4370 Document binary security context
  packages/docs/docs/access/binary-security-context.md
Labels: documentation

#4220 Create a Chat Demo App
  examples/medplum-chat-demo/.gitattributes
  examples/medplum-chat-demo/.github/dependabot.yml
  examples/medplum-chat-demo/.gitignore
  examples/medplum-chat-demo/README.md
  examples/medplum-chat-demo/data/example/example-data.json
  examples/medplum-chat-demo/index.html
  examples/medplum-chat-demo/medplum-chat-demo-screenshot.png
  examples/medplum-chat-demo/package.json
  examples/medplum-chat-demo/postcss.config.mjs
  examples/medplum-chat-demo/public/favicon.ico
  examples/medplum-chat-demo/src/App.tsx
  examples/medplum-chat-demo/src/components/CommunicationDetails.tsx
  examples/medplum-chat-demo/src/components/PatientDetails.tsx
  examples/medplum-chat-demo/src/components/actions/AddParticipant.tsx
  examples/medplum-chat-demo/src/components/actions/AddSubject.tsx
  examples/medplum-chat-demo/src/components/actions/CloseOpenThread.tsx
  examples/medplum-chat-demo/src/components/actions/CommunicationActions.tsx
  examples/medplum-chat-demo/src/components/actions/CreateEncounter.tsx
  examples/medplum-chat-demo/src/components/actions/CreateThread.tsx
  examples/medplum-chat-demo/src/components/actions/EditThreadTopic.tsx
  examples/medplum-chat-demo/src/main.tsx
  examples/medplum-chat-demo/src/pages/CommunicationPage.tsx
  examples/medplum-chat-demo/src/pages/LandingPage.tsx
  examples/medplum-chat-demo/src/pages/MessagePage.tsx
  examples/medplum-chat-demo/src/pages/PatientHeader.module.css
  examples/medplum-chat-demo/src/pages/PatientHeader.tsx
  examples/medplum-chat-demo/src/pages/PatientPage.tsx
  examples/medplum-chat-demo/src/pages/ResourcePage.tsx
  examples/medplum-chat-demo/src/pages/SearchPage.tsx
  examples/medplum-chat-demo/src/pages/SignInPage.tsx
  examples/medplum-chat-demo/src/pages/ThreadPage.tsx
  examples/medplum-chat-demo/src/pages/UploadDataPage.tsx
  examples/medplum-chat-demo/src/utils.tsx
  examples/medplum-chat-demo/src/vite-env.d.ts
  examples/medplum-chat-demo/tsconfig.json
  examples/medplum-chat-demo/vercel.json
  examples/medplum-chat-demo/vite.config.ts
  package-lock.json
Labels: react

#4380 Note that filter is not supported for chained search
  packages/docs/docs/search/chained-search.md
Labels: documentation, search

#4395 Updating SKU information and enterprise page
  packages/docs/src/pages/enterprise.tsx
  packages/docs/src/pages/pricing.tsx
Labels: documentation

#4359 feat(agent): add version to `Agent/$status`
  packages/agent/esbuild.mjs
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/app/src/resource/ToolsPage.test.tsx
  packages/app/src/resource/ToolsPage.tsx
  packages/core/src/agent.ts
  packages/core/src/client.ts
  packages/server/src/agent/utils.ts
  packages/server/src/agent/websockets.test.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentstatus.test.ts
  packages/server/src/fhir/operations/agentstatus.ts
Labels: integration

#4406 Block php file uploads
  packages/server/src/fhir/storage.ts
Labels: security

#4403 Note expunging a project permanently deletes it
  packages/docs/docs/fhir-datastore/deleting-data.md
Labels: documentation

#4401 Mention system of record on solutions page
  packages/docs/src/pages/solutions/index.md
Labels: documentation

#4407 docs(agent): add docs for `$status` and `$bulk-status` operations
  packages/docs/docs/agent/bulk-status.md
  packages/docs/docs/agent/requirements.md
  packages/docs/docs/agent/status.md
  packages/server/src/fhir/operations/agentbulkstatus.test.ts
Labels: documentation, integration

#4404 Note that GraphQL does not support chained search
  packages/docs/docs/graphql/basic-queries.mdx
  packages/docs/docs/search/chained-search.md
Labels: documentation

#4413 fix(expo-polyfills): add min `Event` polyfill for ws subs
  examples/medplum-react-native-example/src/Home.tsx
  packages/expo-polyfills/src/index.test.ts
  packages/expo-polyfills/src/index.ts
  packages/expo-polyfills/src/polyfills.test.ts
  packages/expo-polyfills/src/polyfills/event.ts
Labels: integration

#4408 [Medplum Provider] Prefill patient reference when creating new resources
  examples/medplum-provider/src/hooks/usePatient.ts
  examples/medplum-provider/src/pages/CreateResourcePage.tsx
Labels: react

#4412 Per-project rate limiter config
  packages/app/src/admin/SecretsPage.tsx
  packages/core/src/client.ts
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/docs/rate-limits/index.md
  packages/docs/sidebars.ts
  packages/fhirtypes/dist/Project.d.ts
  packages/generator/src/index.ts
  packages/mock/src/mocks/structuredefinitions.json
  packages/server/src/agent/websockets.ts
  packages/server/src/app.ts
  packages/server/src/auth/routes.ts
  packages/server/src/context.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/oauth/routes.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/ratelimit.ts
Labels: fhir-datastore

#4430 Adding HL7 Interfacing engine materials
  packages/docs/docs/bots/hl7-into-fhir.md
  packages/docs/docs/compliance/index.md
  packages/docs/docs/compliance/soc2.md
  packages/docs/docs/integration/hl7-interfacing/adt.md
  packages/docs/docs/integration/hl7-interfacing/index.md
  packages/docs/docs/integration/hl7-interfacing/orders-and-results.md
Labels: documentation, integration

#4435 Fixes #3240 - rate-limit-redis persistent rate limit storage
  package-lock.json
  packages/server/package.json
  packages/server/src/ratelimit.ts
Labels: fhir-datastore

#4441 Revert "Fixes #4365 - graphiql and external auth providers"
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/graphiql/src/index.tsx
  packages/react/src/auth/AuthenticationForm.tsx
  packages/react/src/auth/NewUserForm.tsx
  packages/react/src/auth/SignInForm.test.tsx
  packages/server/src/auth/method.ts
Labels: auth

#4426 Link bot docs to vm context doc
  packages/docs/docs/bots/bot-basics.md
  packages/docs/docs/bots/bots-in-production.md
Labels: documentation

#4451 fix(agent): align `pkg` target and `node` version used to compile agent
  .github/workflows/publish.yml
  packages/agent/src/main.test.ts
  packages/agent/src/main.ts
  scripts/build-agent-installer-linux.sh
  scripts/build-agent-installer-win64.sh
Labels: integration

#4454 Add projectId to batch metrics
  packages/server/src/fhir/routes.ts
Labels: audit-logging

#4431 Removing duplicate content fixes #4390
  packages/docs/docs/billing/index.md
  packages/docs/docs/bots/index.md
  packages/docs/docs/bots/insurance-eligibility-check.md
  packages/docs/src/pages/products/billing.md
  packages/docs/src/pages/products/bots.md
Labels: documentation

#4455 feat(agent): support `Prefer: respond-async` for `Agent/$push`
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/AsyncJob.d.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/operations/agentpush.test.ts
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
Labels: integration

#4467 Fixes #4463 - remove version history circuit breaker
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#4461 feat(bot): add support for `Prefer: respond-async` on `Bot/$execute`
  packages/server/src/fhir/operations/agentpush.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
Labels: bots

#4477 Fix tar.x import
  packages/cli/src/aws/update-app.test.ts
  packages/cli/src/utils.test.ts
  packages/cli/src/utils.ts
Labels: self-host

#4480 Demonstrate Upsert for CLI and CURL
  packages/docs/docs/fhir-datastore/create-fhir-data.mdx
  packages/docs/docs/fhir-datastore/migration-logic.md
  packages/examples/src/tutorials/api-basics/create-fhir-data.ts
Labels: documentation

#4429 Add supported protocols to agent page
  packages/docs/docs/agent/index.md
Labels: documentation

#4432 Fix config for medplum-demo-app to work as a standalone repo
  examples/medplum-task-demo/package.json
  examples/medplum-task-demo/src/bots/example/create-respond-to-message-task.test.ts
  examples/medplum-task-demo/vite.config.ts
Labels: documentation

#4377 Document Binary URLs and CORS
  packages/docs/docs/fhir-datastore/binary-data.mdx
  packages/examples/src/fhir-datastore/binary-data.ts
Labels: documentation
