Repository medplum/medplum, pull requests merged in 2025-05, with the labels that each got.

#6000 feat(fhircast): add stored contexts, fix a lot of tiny bugs
  packages/core/src/client-fhircast.test.ts
  packages/core/src/client.ts
  packages/core/src/fhircast/index.ts
  packages/server/src/fhircast/routes.test.ts
  packages/server/src/fhircast/routes.ts
  packages/server/src/fhircast/utils.ts
  packages/server/src/fhircast/websocket.test.ts
Labels: integration

#6507 tweak(prepare-release): new `requiredBefore` entry triggers minor bump
  scripts/prepare-release.sh
Labels: security, auth, fhir-datastore

#6500 Add Flag.status search parameter
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/docs/static/data/resourceDefinitions/flag.json
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v7.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v90.ts
Labels: fhir-datastore, search

#6137 Add column for Coding synonyms
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v91.ts
Labels: fhir-datastore

#6521 Multiple small fixes to search filter dialogs
  packages/react/src/DateTimeInput/DateTimeInput.tsx
  packages/react/src/SearchControl/SearchControl.tsx
  packages/react/src/SearchControl/SearchUtils.tsx
  packages/react/src/SearchFieldEditor/SearchFieldEditor.tsx
  packages/react/src/SearchFilterEditor/SearchFilterEditor.tsx
  packages/react/src/SearchFilterValueDialog/SearchFilterValueDialog.tsx
  packages/react/src/SearchPopupMenu/SearchPopupMenu.test.tsx
  packages/react/src/SearchPopupMenu/SearchPopupMenu.tsx
Labels: react

#6530 Manually record delete interactions for resource expunge
  packages/server/src/fhir/repo.ts
  packages/server/src/otel/otel.ts
Labels: audit-logging, fhir-datastore

#6531 Add server config to specify system repository token read strategy
  packages/server/src/config/types.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

#6532 Project.systemSetting to disable token table writes
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#6527 feat(server): add `transactionAttempts` and `transactionExpBackoffBaseDelayMs` config
  packages/server/src/config/types.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#6538 Updating pen test link
  packages/docs/docs/compliance/soc2.md
Labels: documentation

#6428 Blog Post about MSO AccessPolicies
  examples/medplum-mso-demo/src/pages/NewClinicianPage.tsx
  packages/docs/blog/2025-04-22-multi-tenant-mso.md
  packages/docs/blog/authors.yml
Labels: documentation, example

#6364 Create AllergyIntolerance Document
  packages/docs/docs/charting/allergy-intolerances.md
  packages/docs/docs/charting/representing-diagnoses.md
Labels: documentation

#6410 enable adding deployment sidecars from helm chart values
  charts/templates/deployment.yaml
  charts/values.yaml
Labels: self-host

#6415 Feature/refactor azure tf
  terraform/azure/aks.tf
  terraform/azure/application-gateway.tf
  terraform/azure/cdn.tf
  terraform/azure/key-vault.tf
  terraform/azure/kms.tf
  terraform/azure/managed-identities.tf
  terraform/azure/network.tf
  terraform/azure/postgresql.tf
  terraform/azure/redis.tf
  terraform/azure/storage.tf
  terraform/azure/variables.tf
  terraform/azure/versions.tf
Labels: self-host

#6494 Expose claim/$export as POST request similar to claim/$submit
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  packages/server/src/fhir/operations/claimexport.test.ts
  packages/server/src/fhir/operations/claimexport.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore, example

#6541 Removing extraneous links from nav
  examples/medplum-provider/src/App.tsx
Labels: react, example

#6540 Added error_description param to authorize error redirects
  packages/server/src/oauth/authorize.ts
Labels: security, auth

#6317 GCP - Google Cloud Storage Support
  package-lock.json
  packages/server/package.json
  packages/server/src/__mocks__/@google-cloud/storage.ts
  packages/server/src/cloud/gcp/storage.test.ts
  packages/server/src/cloud/gcp/storage.ts
  packages/server/src/storage/loader.ts
Labels: dependencies

#6313 Demo Metriport Bots
  examples/medplum-demo-bots/esbuild-script.mjs
  examples/medplum-demo-bots/medplum.config.json
  examples/medplum-demo-bots/package.json
  examples/medplum-demo-bots/src/metriport-bots/README.md
  examples/medplum-demo-bots/src/metriport-bots/metriport-consolidated-data-webhook.test.ts
  examples/medplum-demo-bots/src/metriport-bots/metriport-consolidated-data-webhook.ts
  examples/medplum-demo-bots/src/metriport-bots/metriport-patient-bot.test.ts
  examples/medplum-demo-bots/src/metriport-bots/metriport-patient-bot.ts
  examples/medplum-demo-bots/src/metriport-bots/metriport-test-data.ts
  package-lock.json
Labels: dependencies, example

#6547 Make transaction callbacks idempototent
  packages/fhir-router/src/repo.ts
Labels: fhir-datastore

#6545 Fixes #6483 - Unauthenticated webhooks documentation
  packages/docs/docs/bots/consuming-webhooks.md
Labels: documentation

#6553 [Docs] Update Cron Job doc to remove beta flag
  packages/docs/docs/bots/bot-cron-job.md
Labels: documentation

#6549 Health Gorilla env restructure
  examples/medplum-health-gorilla-demo/.env.defaults
  examples/medplum-health-gorilla-demo/README.md
  examples/medplum-health-gorilla-demo/src/App.tsx
  examples/medplum-health-gorilla-demo/src/SignInPage.tsx
  examples/medplum-health-gorilla-demo/src/config.ts
  examples/medplum-health-gorilla-demo/src/main.tsx
  examples/medplum-health-gorilla-demo/src/pages/HomePage.tsx
  examples/medplum-health-gorilla-demo/src/pages/SignInPage.tsx
  examples/medplum-health-gorilla-demo/vite.config.ts
Labels: example

#6554 Custom emails for Practitioners docs
  packages/docs/docs/auth/custom-emails.mdx
Labels: documentation

#6566 Propagate trace ID to Bot execution
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: audit-logging, fhir-datastore

#6564 Update rate limit documentation
  packages/docs/docs/rate-limits/index.md
Labels: documentation

#6571 [Provider] Fixed slots/appointment range filters
  examples/medplum-provider/src/pages/SchedulePage.tsx
  examples/medplum-provider/vite.config.ts
Labels: example

#6573 Fixes #6437 - provider integrations page
  examples/medplum-provider/public/img/integrations/acuity.png
  examples/medplum-provider/public/img/integrations/auth0.png
  examples/medplum-provider/public/img/integrations/azure.png
  examples/medplum-provider/public/img/integrations/calcom.png
  examples/medplum-provider/public/img/integrations/candid.png
  examples/medplum-provider/public/img/integrations/claude.png
  examples/medplum-provider/public/img/integrations/datadog.png
  examples/medplum-provider/public/img/integrations/deepseek.png
  examples/medplum-provider/public/img/integrations/entra.png
  examples/medplum-provider/public/img/integrations/epic.png
  examples/medplum-provider/public/img/integrations/google.png
  examples/medplum-provider/public/img/integrations/healthgorilla.png
  examples/medplum-provider/public/img/integrations/healthie.png
  examples/medplum-provider/public/img/integrations/labcorp.png
  examples/medplum-provider/public/img/integrations/okta.png
  examples/medplum-provider/public/img/integrations/openai.png
  examples/medplum-provider/public/img/integrations/particle.png
  examples/medplum-provider/public/img/integrations/quest.png
  examples/medplum-provider/public/img/integrations/recaptcha.png
  examples/medplum-provider/public/img/integrations/snowflake.png
  examples/medplum-provider/public/img/integrations/stedi.png
  examples/medplum-provider/public/img/integrations/stripe.png
  examples/medplum-provider/public/img/integrations/sumo.png
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/components/IntegrationCard.module.css
  examples/medplum-provider/src/components/IntegrationCard.tsx
  examples/medplum-provider/src/pages/IntegrationsPage.tsx
Labels: example

#6579 Consistent meta.account behavior with on-behalf-of
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/onbehalfof.test.ts
Labels: auth, fhir-datastore

#6584 Incorrect URL in MSO $set-accounts docs
  packages/docs/blog/2025-04-22-multi-tenant-mso.md
Labels: documentation

#6605 Explanation for rate limit calculations
  packages/docs/docs/rate-limits/index.md
  packages/docs/docs/self-hosting/project-settings.md
Labels: documentation

#6604 Fixes #6603 - clarify ccda dep in bot-layer package.json
  package-lock.json
  packages/bot-layer/package.json
Labels: dependencies

#6559 Add `config.defaultSystemSetting`
  packages/docs/docs/self-hosting/config-settings.md
  packages/server/src/cloud/aws/config.test.ts
  packages/server/src/config/types.ts
  packages/server/src/config/utils.ts
  packages/server/src/fhir/operations/projectinit.test.ts
  packages/server/src/fhir/operations/projectinit.ts
Labels: documentation, fhir-datastore

#6586 Fixes #6424 - allow hl7 client socket to be forcefully closed
  packages/hl7/src/client.test.ts
  packages/hl7/src/client.ts
Labels: integration

#6607 [Docs] FHIR Interaction Rate Limit Language
  packages/docs/docs/compliance/clia-cap.md
  packages/docs/docs/compliance/hipaa.md
  packages/docs/docs/compliance/iso9001.md
  packages/docs/docs/compliance/medplum-versions.webp
  packages/docs/docs/compliance/onc.md
  packages/docs/docs/compliance/rate-limits.md
  packages/docs/docs/compliance/soc2.md
  packages/docs/docs/compliance/versions.md
  packages/docs/docs/self-hosting/config-settings.md
  packages/docs/docs/self-hosting/project-settings.md
  packages/docs/sidebars.ts
Labels: documentation

#6617 Updating broken pic
  examples/medplum-provider/src/pages/IntegrationsPage.tsx
Labels: example

#6618 Updating side nav and side bar
  packages/docs/docs/rate-limits/index.md
  packages/docs/docs/self-hosting/config-settings.md
  packages/docs/docs/self-hosting/project-settings.md
  packages/docs/sidebars.ts
Labels: documentation

#6623 Fixes #6405 Fixes #6407 - per client application CORS settings
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/ClientApplication.d.ts
  packages/server/src/auth/login.test.ts
  packages/server/src/auth/login.ts
  packages/server/src/oauth/utils.ts
Labels: security, auth

#6606 Blog post: preparing for v5
  packages/docs/blog/2025-03-23-medplum-for-mirth-users.md
  packages/docs/blog/2025-03-27-technical-guide-to-tefca.md
  packages/docs/blog/2025-04-22-multi-tenant-mso.md
  packages/docs/blog/2025-05-12-preparing-for-v5.md
  packages/docs/docs/compliance/versions.md
Labels: documentation

#6620 Update interaction costing
  packages/server/src/fhirinteractionlimit.test.ts
  packages/server/src/fhirinteractionlimit.ts
Labels: fhir-datastore

#6580 Support dynamic post-deploy migrations based on schema drift
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/admin/super.ts
  packages/server/src/database-migration.test.ts
  packages/server/src/fhir/operations/dbschemadiff.ts
  packages/server/src/migration-sql.test.ts
  packages/server/src/migrations/data/types.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/data/v5.ts
  packages/server/src/migrations/data/v6.ts
  packages/server/src/migrations/data/v7.ts
  packages/server/src/migrations/migrate-functions.test.ts
  packages/server/src/migrations/migrate-functions.ts
  packages/server/src/migrations/migrate-utils.ts
  packages/server/src/migrations/migrate.test.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/types.ts
  packages/server/src/workers/post-deploy-migration.test.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/utils.ts
Labels: fhir-datastore

#6633 Blog post on forking
  packages/docs/blog/2025-05-15-so-youre-thinking-about-forking.md
Labels: documentation

#6608 Clarifying totalFhirQuota versus userFhirQuota
  packages/docs/docs/rate-limits/index.md
  packages/docs/docs/self-hosting/project-settings.md
Labels: documentation

#6610 [Docs] Update Agent Setup Docs
  packages/docs/docs/agent/index.md
Labels: documentation

#6646 Update bot-execute.mdx
  packages/docs/docs/api/fhir/operations/bot-execute.mdx
Labels: documentation

#6642 Setting `fhirQuota` on UserConfiguration docs
  packages/docs/docs/access/custom-menu.png
  packages/docs/docs/access/user-configuration.md
  packages/docs/docs/rate-limits/index.md
Labels: documentation

#6641 Update self-hosting logging to docs
  packages/docs/docs/integration/log-streaming.md
Labels: documentation

#6634 Charge item panel improvements
  examples/medplum-provider/src/pages/components/ChargeItem/ChageItemPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: example

#6649 Update rate limit docs to the current settings
  packages/docs/docs/rate-limits/index.md
Labels: documentation

#6572 QuestionnaireForm: Add Item Format for Multi-select via Checkbox
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
Labels: react

#6655 Remove invalid token :in implementation
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
Labels: fhir-datastore, search

#6657 Fail batch processing on first rate limit error
  packages/fhir-router/src/batch.ts
  packages/server/src/fhir/batch.test.ts
Labels: fhir-datastore

#6660 Add basedOn resource to encounter and tasks on plan definition
  packages/server/src/fhir/operations/plandefinitionapply.test.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

#6659 Encounter header fixes
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/pages/components/Encounter/EncounterHeader.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.utils.ts
Labels: example

#6565 Use `projectId` instead of compartments for project filtering
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#6654 Add an example script to restore deleted FHIR resources
  packages/docs/docs/fhir-datastore/deleting-data.md
Labels: documentation

#6670 Enable FHIR quota by default
  packages/server/src/context.ts
  packages/server/src/fhirquota.test.ts
  packages/server/src/fhirquota.ts
  packages/server/src/request-context-store.ts
Labels: fhir-datastore

#6636 Allows Twilio request header in unauthenticated webhooks
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/webhook/README.md
  packages/server/src/webhook/routes.test.ts
  packages/server/src/webhook/routes.ts
Labels: auth, fhir-datastore, integration

#6665 Create appointment and encounter
  examples/medplum-provider/src/components/schedule/CreateVisit.module.css
  examples/medplum-provider/src/components/schedule/CreateVisit.tsx
  examples/medplum-provider/src/pages/SchedulePage.tsx
  examples/medplum-provider/src/pages/encounter/EncounterModal.tsx
  examples/medplum-provider/src/utils/encounter.ts
Labels: example

#6677 Fixes #6675 - add engine requirements to example package.json files
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-chat-demo/package.json
  examples/medplum-client-external-idp-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-eligibility-demo/package.json
  examples/medplum-fhircast-demo/package.json
  examples/medplum-fsh-profiles/package.json
  examples/medplum-health-gorilla-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-live-chat-demo/package.json
  examples/medplum-mso-demo/package.json
  examples/medplum-nextauth-demo/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-patient-intake-demo/package.json
  examples/medplum-photon-integration/package.json
  examples/medplum-provider/package.json
  examples/medplum-react-native-example/package.json
  examples/medplum-scheduling-demo/package.json
  examples/medplum-smart-on-fhir-demo/package.json
  examples/medplum-task-demo/package.json
  examples/medplum-valueset-selector/package.json
  examples/medplum-websocket-subscriptions-demo/package.json
  package-lock.json
  package.json
  packages/cdk/package.json
  packages/create-medplum/package.json
  packages/e2e/package.json
  packages/server/package.json
Labels: dependencies

#6694 Updated Binary.securityContext docs
  packages/docs/docs/access/access-policies.md
  packages/docs/docs/access/binary-security-context.md
Labels: documentation

#6693 EHR vs UDHP blog post
  packages/docs/blog/2025-05-30-ehr-vs-udhp.md
Labels: documentation
