Repository medplum/medplum, pull requests merged in 2025-04, with the labels that each got.

#6265 Fixed circular imports in storage code
  packages/server/src/admin/bot.ts
  packages/server/src/app.ts
  packages/server/src/cloud/aws/execute.test.ts
  packages/server/src/cloud/aws/storage.test.ts
  packages/server/src/cloud/aws/storage.ts
  packages/server/src/cloud/aws/textract.ts
  packages/server/src/cloud/azure/storage.ts
  packages/server/src/email/email.test.ts
  packages/server/src/email/email.ts
  packages/server/src/fhir/binary.test.ts
  packages/server/src/fhir/binary.ts
  packages/server/src/fhir/operations/deploy.test.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/fhir/operations/projectclone.test.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/operations/utils/bulkexporter.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/response.ts
  packages/server/src/fhir/rewrite.ts
  packages/server/src/fhir/storage.ts
  packages/server/src/storage/base.ts
  packages/server/src/storage/filesystem.test.ts
  packages/server/src/storage/filesystem.ts
  packages/server/src/storage/loader.ts
  packages/server/src/storage/routes.test.ts
  packages/server/src/storage/routes.ts
  packages/server/src/storage/types.ts
  packages/server/src/storage/utils.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.test.ts
Labels: fhir-datastore

#6281 Log client timeout with 408 status code
  packages/server/src/app.ts
Labels: audit-logging

#6276 Don't try to resolve nonlocal references
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#6193 pre-deploy and post-deploy migrations
  .vscode/settings.json
  packages/server/src/__mocks__/bullmq.ts
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/app.ts
  packages/server/src/auth/clientinfo.test.ts
  packages/server/src/config/loader.ts
  packages/server/src/config/types.ts
  packages/server/src/config/utils.ts
  packages/server/src/database-migration.test.ts
  packages/server/src/database.test.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/index.test.ts
  packages/server/src/migration-sql.test.ts
  packages/server/src/migration-sql.ts
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/migration.ts
  packages/server/src/migrations/data/types.ts
  packages/server/src/migrations/data/v1.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/migrations/migration-versions.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/types.ts
  packages/server/src/migrations/schema/v87.ts
  packages/server/src/seed.test.ts
  packages/server/src/test.setup.ts
  packages/server/src/workers/batch.ts
  packages/server/src/workers/cron.ts
  packages/server/src/workers/download.test.ts
  packages/server/src/workers/download.ts
  packages/server/src/workers/index.ts
  packages/server/src/workers/long-job.ts
  packages/server/src/workers/post-deploy-migration.test.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/subscription.test.ts
  packages/server/src/workers/subscription.ts
  packages/server/src/workers/utils.test.ts
  packages/server/src/workers/utils.ts
  packages/server/test.config.json
Labels: security, auth, fhir-datastore

#6270 Add the information on how to reconfigure Medplum if you've missed the configuration step
  packages/docs/docs/self-hosting/install-on-ubuntu.md
Labels: documentation

#6260 Encounter chart details
  examples/medplum-provider/src/pages/components/Encounter/EncounterHeader.tsx
  examples/medplum-provider/src/pages/components/Encounter/VisitDetailsPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: example

#6286 Implement ChargeItemDefinition operation with comprehensive pricing modifiers
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.ts
Labels: fhir-datastore

#6289 fix(deps): revert `validator` upgrade back to `13.12.0`
  package-lock.json
  packages/server/package.json
  scripts/upgrade.sh
Labels: dependencies

#6292 Update metrics for CPU-intensive server code paths
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/rewrite.ts
Labels: audit-logging, fhir-datastore

#6266 Add parens to FHIRpath infix atoms toString
  packages/core/src/fhirlexer/parse.ts
  packages/core/src/fhirmapper/parse.test.ts
  packages/core/src/fhirmapper/transform.test.ts
  packages/core/src/search/details.test.ts
  packages/core/src/search/details.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/searchparameter.test.ts
Labels: fhir-datastore, search

#6295 ActivityDefinition extension to ServiceRequest resource.
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

#6297 Scheduling example app router bug
  examples/medplum-scheduling-demo/src/App.tsx
Labels: example

#6298 Update the Creating CMS 1500 docs to mention the PDF approach
  packages/docs/docs/billing/creating-cms1500.md
Labels: documentation

#6307 Handle null bytes in search strings
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

#6305 fix(deps): replace `validator.isUUID` with Medplum's `isUUID`, unpin `validator`
  package-lock.json
  packages/core/src/utils.ts
  packages/server/package.json
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/wellknown.test.ts
  scripts/upgrade.sh
Labels: dependencies, fhir-datastore, search

#6231 Allow the Patient Summary and the main container to scroll independently
  examples/medplum-provider/src/pages/patient/PatientPage.module.css
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
  examples/medplum-provider/src/pages/patient/PatientTabsNavigation.tsx
  packages/react/src/AppShell/AppShell.module.css
Labels: react, example

#6300 Calculate total price of all charge items
  examples/medplum-provider/src/pages/components/ChargeItem/ChageItemPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: example

#6315 fix(docs): fix reference to `UserSecurityRequest`
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/docs/api/fhir/medplum/passwordchangerequest.mdx
  packages/docs/static/data/medplumDefinitions/passwordchangerequest.json
  packages/fhirtypes/dist/PasswordChangeRequest.d.ts
Labels: documentation

#6318 Handle `:text` search for Identifier.type.text
  packages/server/src/fhir/lookups/token.test.ts
  packages/server/src/fhir/lookups/token.ts
Labels: fhir-datastore, search

#6322 Update the installation instructions in the agent documentation
  packages/docs/docs/agent/index.md
Labels: documentation

#6280 feat(server): add `qualification-code` search param for `Practitioner`
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/docs/static/data/resourceDefinitions/practitioner.json
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search-params.test.ts
Labels: documentation, fhir-datastore, search

#6285 Add code properties to valueset selector demo
  examples/medplum-valueset-selector/assets/value-set.gif
  examples/medplum-valueset-selector/src/pages/HomePage.tsx
Labels: example

#6155 Add Group:characteristic-reference search parameter
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v88.ts
Labels: search

#6320 Create claim when Encounter is finished
  examples/medplum-provider/src/hooks/useEncounterChart.ts
  examples/medplum-provider/src/pages/components/Encounter/EncounterHeader.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/pages/patient/PatientTabsNavigation.tsx
  examples/medplum-provider/src/utils/notifications.ts
Labels: example

#6291 Tokens in main resource tables
  packages/server/src/fhir/lookups/token.test.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/lookups/util.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/searchparameter.test.ts
  packages/server/src/fhir/searchparameter.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/fhir/tokens.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v3.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/migrate-functions.test.ts
  packages/server/src/migrations/migrate-functions.ts
  packages/server/src/migrations/migrate-utils.ts
  packages/server/src/migrations/migrate.test.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/migration-utils.test.ts
  packages/server/src/migrations/migration-utils.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v89.ts
Labels: fhir-datastore, search

#6229 Use optimized expressions for search parameter FHIRPath evaluation
  packages/core/src/fhirpath/parse.ts
  packages/core/src/search/details.test.ts
  packages/core/src/search/details.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/tokens.ts
Labels: fhir-datastore, search

#6230 Perform batched lookup table operations during reindex
  packages/server/src/fhir/lookups/address.ts
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/lookups/humanname.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/reference.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore, search

#6342 Fixing broken routes in example apps from react-router v7 upgrade
  examples/medplum-chart-demo/src/App.tsx
  examples/medplum-chat-demo/src/App.tsx
  examples/medplum-eligibility-demo/src/App.tsx
  examples/medplum-patient-intake-demo/src/App.tsx
  examples/medplum-photon-integration/src/App.tsx
  examples/medplum-scheduling-demo/src/App.tsx
  examples/medplum-task-demo/src/App.tsx
Labels: medications, react, example

#6343 Updating with new criteria on documentation
  packages/docs/docs/compliance/onc.md
  packages/docs/docs/integration/c-cda.md
Labels: documentation, compliance

#6357 fix(agent): upgrade is no-op when already on target version
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/core/src/agent.ts
  packages/server/src/fhir/operations/agentupgrade.test.ts
  packages/server/src/fhir/operations/agentupgrade.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
Labels: fhir-datastore

#6359 Updating video for b1
  packages/docs/docs/integration/c-cda.md
Labels: documentation, compliance

#6362 More verbose logging in post-deploy migration jobs
  packages/server/src/__mocks__/bullmq.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/migrations/migrate-functions.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#6267 Simplifying cms 1500 bots
  examples/medplum-demo-bots/src/billing-bots/cms-1500-image.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.ts
  packages/core/src/format.test.ts
  packages/core/src/format.ts
  packages/mock/src/client.test.ts
  packages/mock/src/client.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
Labels: react, example

#6001 Create DFT transfer bot for coverage and claim
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-transfer-bot.ts
  examples/medplum-demo-bots/src/dft-transfer-listener/dft-transfer-bot.test.ts
  examples/medplum-demo-bots/src/dft-transfer-listener/dft-transfer-bot.ts
Labels: billing, integration, example

#6368 Disable test that writes actual pdf
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
Labels: example

#6371 Fix flaky token test
  packages/server/src/fhir/tokens.test.ts
Labels: fhir-datastore

#6373 Provider - Include coverage in billing details
  examples/medplum-provider/src/pages/encounter/EncounterChart.module.css
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: example

#6365 Add super admin endpoint to check for invalid indexes
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/fhir/operations/dbinvalidindexes.test.ts
  packages/server/src/fhir/operations/dbinvalidindexes.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#6377 Fixed horizontal scrollbar in medplum-provider
  examples/medplum-provider/src/pages/encounter/EncounterModal.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.module.css
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
Labels: example

#6378 Integrate scheduling demo into medplum-provider
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/components/schedule/AppointmentActions.tsx
  examples/medplum-provider/src/components/schedule/BlockAvailability.tsx
  examples/medplum-provider/src/components/schedule/CreateAppointment.tsx
  examples/medplum-provider/src/components/schedule/CreateEncounter.tsx
  examples/medplum-provider/src/components/schedule/CreateUpdateSlot.tsx
  examples/medplum-provider/src/components/schedule/PatientActions.tsx
  examples/medplum-provider/src/components/schedule/RescheduleAppointment.tsx
  examples/medplum-provider/src/components/schedule/SetAvailability.tsx
  examples/medplum-provider/src/components/schedule/SlotDetails.tsx
  examples/medplum-provider/src/index.css
  examples/medplum-provider/src/pages/SchedulePage.tsx
Labels: example

#6385 Prevent double invite
  packages/app/src/admin/InvitePage.tsx
  packages/react/src/index.ts
Labels: react

#6382 Fix broken Github link
  packages/docs/docs/integration/health-gorilla/index.md
Labels: documentation

#6312 Update sync patients from Photon bot
  examples/medplum-photon-integration/src/bots/sync-patient-from-photon.ts
  examples/medplum-photon-integration/src/pages/HomePage.tsx
Labels: medications, example

#6327 Add Scheduling Video and Demo App to Scheduling Documentation
  packages/docs/docs/scheduling/index.md
Labels: documentation, scheduling

#6398 Added tests for google auth and register disabled
  packages/server/src/auth/google.test.ts
  packages/server/src/auth/google.ts
Labels: security, auth

#6391 [Provider Sample] Add missing dependencies
  examples/medplum-provider/package.json
  package-lock.json
Labels: dependencies, example

#6393 docs(docker): add docs about full-stack Docker Compose
  packages/docs/docs/home.md
  packages/docs/docs/self-hosting/running-full-medplum-stack-in-docker.md
  packages/docs/docs/self-hosting/running-medplum-docker-container.md
Labels: documentation

#6403 Writing resources resilient to null or undefined array items
  packages/server/src/fhir/lookups/address.test.ts
  packages/server/src/fhir/lookups/address.ts
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/humanname.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/fhir/tokens.ts
Labels: fhir-datastore, search

#6325 Adding project scope to .../invite endpoint
  packages/app/src/admin/InvitePage.test.tsx
  packages/app/src/admin/InvitePage.tsx
  packages/core/src/client.ts
  packages/docs/docs/access/admin.md
  packages/docs/docs/access/projects.md
  packages/docs/docs/api/auth/resetpassword.md
  packages/docs/docs/api/project-admin/invite.md
  packages/docs/docs/app/admin-page/admin-page.md
  packages/docs/docs/auth/project-vs-server-scoped-users.mdx
  packages/docs/docs/auth/user-management-guide/user-management-guide.md
  packages/docs/docs/self-hosting/project-settings.md
  packages/examples/src/auth/user-management-guide.ts
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
Labels: documentation, example

#6411 Various Reindex job fixes
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/post-deploy-migration.test.ts
  packages/server/src/workers/post-deploy-migration.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
  packages/server/src/workers/utils.ts
Labels: fhir-datastore

#6372 Claim $export CMS 1500 pdf
  packages/server/src/fhir/operations/claimexport.test.ts
  packages/server/src/fhir/operations/claimexport.ts
  packages/server/src/fhir/operations/utils/cms1500pdf.test.ts
  packages/server/src/fhir/operations/utils/cms1500pdf.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/img/cms1500.png
  packages/server/src/util/pdf.test.ts
  packages/server/src/util/pdf.ts
  packages/server/static/cms1500.png
Labels: fhir-datastore

#6418 Remove danger js
  dangerfile.ts
  package-lock.json
  package.json
Labels: security, dependencies

#6383 Fix broken Github links on Integrations table
  packages/docs/docs/integration/index.md
Labels: documentation

#6419 Remove Danger JS github action
  .github/workflows/danger.yml
Labels: dependencies

#6421 CMS1500 Static image path resolution
  packages/server/src/fhir/operations/utils/cms1500pdf.ts
Labels: fhir-datastore

#6420 Update rate limit docs
  packages/docs/docs/rate-limits/index.md
Labels: documentation

#6425 Let `/admin/super/vacuum` run `ANALYZE` queries
  packages/cli/src/rest.test.ts
  packages/cli/src/rest.ts
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/operations/dbstats.ts
Labels: fhir-datastore

#6427 Relative path for cms1500 image
  packages/server/src/fhir/operations/utils/cms1500pdf.ts
Labels: fhir-datastore

#6124 Allow setting AccessPolicy for admins
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/smart.test.ts
  packages/server/src/fhir/smart.ts
Labels: auth

#6426 Update Photon constants.ts
  examples/medplum-photon-integration/src/bots/constants.ts
Labels: medications, example

#6430 Export PDF fix write stream in binary
  packages/server/src/fhir/operations/claimexport.ts
Labels: fhir-datastore

#6435 Use CPT codes in claim CMS 1500 PDF
  packages/server/src/fhir/operations/claimexport.test.ts
  packages/server/src/fhir/operations/utils/cms1500pdf.ts
Labels: fhir-datastore

#6400 Encounter - Export claim
  examples/medplum-provider/src/hooks/useEncounterChart.ts
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/pages/encounter/EncounterModal.tsx
  examples/medplum-provider/src/utils/chargeitems.ts
  examples/medplum-provider/src/utils/claims.ts
  examples/medplum-provider/src/utils/coverage.ts
Labels: fhir-datastore, example

#6467 Provider - patient intake form
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/pages/OnboardingPage.tsx
  examples/medplum-provider/src/pages/patient/IntakeFormPage.tsx
  examples/medplum-provider/src/utils/intake-form.ts
  examples/medplum-provider/src/utils/intake-utils.ts
Labels: example

#6431 Fix medplum-provider schedule page default scroll
  examples/medplum-provider/src/pages/SchedulePage.tsx
Labels: example

#6472 fix(docs): `Vitetest` -> `Vitest`
  packages/docs/docs/bots/unit-testing-bots.mdx
Labels: documentation

#6479 In batch reindexing, consider `resource.id` in uniqueness checks
  packages/server/src/fhir/lookups/address.test.ts
  packages/server/src/fhir/lookups/address.ts
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/humanname.ts
  packages/server/src/fhir/lookups/reference.ts
  packages/server/src/fhir/lookups/token.test.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/references.test.ts
Labels: fhir-datastore, search

#6390 Enable more useful OTel traces
  package-lock.json
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/async.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/hl7/parser.ts
  packages/server/src/otel/instrumentation.test.ts
  packages/server/src/otel/instrumentation.ts
  packages/server/src/ratelimit.ts
Labels: dependencies, fhir-datastore

#6480 Bump Repository.VERSION
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#6375 [Epic Demo Bot] Sync Patient Profile
  examples/medplum-demo-bots/medplum.config.json
  examples/medplum-demo-bots/src/epic/README.md
  examples/medplum-demo-bots/src/epic/epic-query-patient-test-data.ts
  examples/medplum-demo-bots/src/epic/epic-query-patient.test.ts
  examples/medplum-demo-bots/src/epic/epic-query-patient.ts
Labels: example

#6482 Provider - Include diagnosis codes for PDF export
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/utils/chargeitems.ts
  examples/medplum-provider/src/utils/claims.ts
Labels: example

#5884 Implement custom rate limiter middleware
  package-lock.json
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/auth/exchange.test.ts
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/login.test.ts
  packages/server/src/auth/profile.test.ts
  packages/server/src/config/loader.ts
  packages/server/src/config/types.ts
  packages/server/src/config/utils.ts
  packages/server/src/context.ts
  packages/server/src/fhir/operations/graphql.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhirinteractionlimit.test.ts
  packages/server/src/fhirinteractionlimit.ts
  packages/server/src/ratelimit.ts
  packages/server/src/request-context-store.ts
  packages/server/src/seed.test.ts
  packages/server/src/workers/utils.test.ts
Labels: security, dependencies, auth, fhir-datastore, search, p1

#6492 Use context logger for FHIR interaction limiter
  packages/server/src/context.ts
  packages/server/src/fhirinteractionlimit.ts
Labels: fhir-datastore

#6493 Ensure context logger is created for rate limiter
  packages/server/src/context.ts
Labels: fhir-datastore

#6483 Fixes #6335 - unauthenticated webhooks
  packages/core/src/client.ts
  packages/server/src/app.ts
  packages/server/src/cloud/aws/deploy.ts
  packages/server/src/cloud/aws/execute.ts
  packages/server/src/fhir/operations/execute.ts
  packages/server/src/webhook/README.md
  packages/server/src/webhook/routes.test.ts
  packages/server/src/webhook/routes.ts
Labels: fhir-datastore

#6498 Add profile to logger metadata
  packages/server/src/admin/invite.ts
  packages/server/src/app.ts
  packages/server/src/context.ts
Labels: audit-logging

#6499 fix(server/deps): add explicit `pdfmake` dep
  package-lock.json
  packages/server/package.json
Labels: dependencies

#6508 Use I/O-optimized storage for RDS with SSD available
  packages/cdk/src/backend.ts
Labels: self-host

#6290 Documentation Update to Medication-Related Operational Recommendations and Resources
  packages/docs/docs/api/fhir/resources/medication.mdx
  packages/docs/docs/api/fhir/resources/medicationdispense.mdx
  packages/docs/docs/api/fhir/resources/medicationknowledge.mdx
  packages/docs/docs/api/fhir/resources/medicationrequest.mdx
  packages/docs/docs/medications/formulary/index.mdx
  packages/docs/docs/medications/representing-prescriptions-and-medication-orders.mdx
  packages/examples/src/medications/representing-prescriptions-and-medication-orders.ts
  packages/generator/package.json
  packages/generator/src/medication-recommendations.patch
Labels: documentation, example

#6510 fix(oauth): failed `onBehalfOf` results in 403
  packages/core/src/client.test.ts
  packages/server/src/fhir/onbehalfof.test.ts
  packages/server/src/oauth/utils.ts
Labels: security, auth, fhir-datastore
