Repository medplum/medplum, pull requests merged in 2025-10, with the labels that each got.

#7518 Encounter sign & lock
  examples/medplum-provider/src/components/encounter/EncounterHeader.tsx
  examples/medplum-provider/src/components/encounter/SignLockDialog.tsx
  examples/medplum-provider/src/components/encountertasks/TaskPanel.tsx
  examples/medplum-provider/src/components/encountertasks/TaskStatusPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: example

#7536 docs(agent): document agent config (incl. logger config)
  packages/docs/docs/agent/configuration.md
  packages/docs/docs/agent/troubleshooting.md
Labels: documentation

#7542 Avoid duplicate references in test
  packages/server/src/fhir/repo.test.ts
Labels: fhir-datastore

#7549 Rollback aws-sdk packages to known good version
  package-lock.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/server/package.json
Labels: dependencies

#7449 Replace flushdb with a less destructive alternative
  packages/server/src/app.test.ts
  packages/server/src/fhir/fhirquota.test.ts
  packages/server/src/fhir/resource-cap.test.ts
  packages/server/src/redis.test.ts
  packages/server/src/test.setup.ts
Labels: fhir-datastore

#7469 Implement ConceptMap/$import
  packages/server/src/fhir/lookups/address.ts
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/lookups/conceptmapping.test.ts
  packages/server/src/fhir/lookups/conceptmapping.ts
  packages/server/src/fhir/lookups/humanname.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/conceptmapimport.test.ts
  packages/server/src/fhir/operations/conceptmapimport.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/searchparameter.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v29.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v98.ts
Labels: fhir-datastore, search

#7547 Spaces page with OpenAI implementation.
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/pages/spaces/SpacesPage.tsx
Labels: example
