Repository medplum/medplum, pull requests merged in 2025-03, with the labels that each got.

#6012 Patient $set-accounts operation
  packages/docs/docs/api/fhir/operations/patient-set-accounts.md
  packages/server/src/fhir/operations/patientsetaccounts.test.ts
  packages/server/src/fhir/operations/patientsetaccounts.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#6104 Fix warning about missing key in ChooseScopeForm
  packages/react/src/auth/ChooseScopeForm.tsx
  packages/react/src/auth/SignInForm.test.tsx
Labels: react

#6112 Unconditionally verify PKCE if not optional
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
Labels: auth

#6121 Update Docker image tags in docs
  packages/docs/docs/self-hosting/config-settings.md
  packages/docs/docs/self-hosting/running-medplum-docker-container.md
Labels: documentation

#6116 Support typed values for CodeSystem properties
  packages/server/src/fhir/operations/codesystemlookup.test.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/utils/parameters.ts
Labels: fhir-datastore

#6117 Allow placeholder references in validation
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/references.ts
Labels: fhir-datastore

#6115 Autosave Questionnaire Response
  examples/medplum-provider/src/pages/components/Task/TaskPanel.tsx
  examples/medplum-provider/src/pages/components/Task/TaskQuestionnaireForm.tsx
  examples/medplum-provider/src/pages/components/Task/TaskStatusPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: questionnaires, react

#6143 Add guard to canonical chained search types
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#6142 Added SubmitButton component to prevent double submit
  packages/app/src/RegisterPage.tsx
  packages/react/src/BookmarkDialog/BookmarkDialog.tsx
  packages/react/src/Form/Form.context.ts
  packages/react/src/Form/Form.stories.tsx
  packages/react/src/Form/Form.tsx
  packages/react/src/Form/SubmitButton.tsx
  packages/react/src/FormSection/FormSection.stories.tsx
  packages/react/src/PatientExportForm/PatientExportForm.tsx
  packages/react/src/PatientSummary/AllergyDialog.tsx
  packages/react/src/PatientSummary/ConditionDialog.tsx
  packages/react/src/PatientSummary/MedicationDialog.tsx
  packages/react/src/PatientSummary/SexualOrientation.tsx
  packages/react/src/PatientSummary/SmokingStatus.tsx
  packages/react/src/PatientSummary/Vitals.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormComponents/QuestionnaireFormPageSequence.tsx
  packages/react/src/ReferenceRangeEditor/ReferenceRangeEditor.tsx
  packages/react/src/SearchFilterEditor/SearchFilterEditor.tsx
  packages/react/src/auth/AuthenticationForm.tsx
  packages/react/src/auth/ChooseScopeForm.tsx
  packages/react/src/auth/MfaForm.tsx
  packages/react/src/auth/NewProjectForm.tsx
  packages/react/src/auth/NewUserForm.tsx
Labels: react

#6145 Prevent writing directly to Meta.compartment
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#6149 Allow admins to remove Meta.accounts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth

#6162 Fix chained search type validation for canonical references
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

#6167 Add support for nullFlavor in race and ethnicity codes for C-CDA USCDI V3 compliance
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/AllergyToEgg.xml
  packages/ccda/testdata/ImmunizationInfluenza.xml
  packages/ccda/testdata/MedicationAtBedtime.xml
  packages/ccda/testdata/Patient.xml
  packages/ccda/testdata/PlanOfTreatmentCarePlan.xml
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.xml
  packages/ccda/testdata/ProblemPneumonia.xml
  packages/ccda/testdata/ProcedureSectionActEntry.xml
  packages/ccda/testdata/ProcedureSectionObservationEntry.xml
  packages/ccda/testdata/ProcedureSectionProcedureEntry.xml
  packages/ccda/testdata/SmokingStatus.xml
  packages/ccda/testdata/VitalSignsGrowthCharts.xml
  packages/ccda/testdata/VitalSignsMetricUnits.xml
Labels: compliance, integration

#6172 Support search on _project :missing/:present
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

#6174 Creating Medplum Provider base documentation
  examples/medplum-provider/README.md
  packages/docs/docs/provider/index.md
  packages/docs/sidebars.ts
Labels: documentation

#6165 Adding documentation for Bot runAsUser field
  packages/docs/docs/bots/bot-run-as-user.md
Labels: documentation

#6166 Implement chartnote as ClinicalImpression for Encounter
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/config/constants.ts
  examples/medplum-provider/src/pages/components/Encounter/EncounterHeader.tsx
  examples/medplum-provider/src/pages/components/Encounter/EncounterStepper.module.css
  examples/medplum-provider/src/pages/components/Encounter/EncounterStepper.tsx
  examples/medplum-provider/src/pages/components/Task/TaskPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/pages/encounter/EncounterCheckIn.tsx
  examples/medplum-provider/src/pages/encounter/EncounterComplete.tsx
  examples/medplum-provider/src/pages/encounter/EncounterModal.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
Labels: example

#6175 Limit result set size for ValueSetAutocomplete
  packages/react/src/ValueSetAutocomplete/ValueSetAutocomplete.tsx
Labels: react

#6168 $set-accounts not propogating correctly
  packages/server/src/fhir/operations/patientsetaccounts.ts
Labels: fhir-datastore

#6180 Update README.md URL->URI
  examples/medplum-smart-on-fhir-demo/README.md
Labels: documentation

#6170 Use erasableSyntaxOnly
  packages/agent/src/app.ts
  packages/agent/src/channel.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.ts
  packages/core/src/access.ts
  packages/core/src/bundle.ts
  packages/core/src/client.ts
  packages/core/src/fhirlexer/parse.ts
  packages/core/src/fhirmapper/parse.ts
  packages/core/src/fhirmapper/transform.ts
  packages/core/src/fhirpath/atoms.ts
  packages/core/src/filter/parse.ts
  packages/core/src/filter/types.ts
  packages/core/src/hl7.ts
  packages/core/src/keyvalue.ts
  packages/core/src/logger.ts
  packages/core/src/search/details.ts
  packages/core/src/search/match.test.ts
  packages/core/src/search/search.ts
  packages/fhir-router/src/batch.ts
  packages/fhir-router/src/repo.ts
  packages/health-gorilla-core/src/lab-order.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/events.ts
  packages/hl7/src/server.ts
  packages/mock/src/client.ts
  packages/react/src/utils/questionnaire.ts
  packages/server/src/agent/utils.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/context.ts
  packages/server/src/database.ts
  packages/server/src/fhir/operations/expunge.ts
  packages/server/src/fhir/operations/patienteverything.ts
  packages/server/src/fhir/operations/patientsummary.ts
  packages/server/src/fhir/operations/projectclone.ts
  packages/server/src/fhir/rewrite.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/util/auditevent.ts
  packages/server/src/util/cloudwatch.ts
  tsconfig.json
Labels: security, auth, fhir-datastore, react, search, integration

#6184 Fixes #6031 - upgrade pg, fix windows perf issues
  package-lock.json
  packages/generator/package.json
  packages/server/package.json
Labels: dependencies

#6179 C-CDA Assessments and Plan
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/PlanOfTreatmentCarePlan.json
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, compliance, integration

#6185 Fixes #6169 - ESM compat for iconv-lite
  packages/hl7/src/connection.ts
Labels: integration

#6176 perf(bulkstatus): use MGET to get all statuses at once
  packages/server/src/fhir/operations/agentbulkstatus.test.ts
  packages/server/src/fhir/operations/agentbulkstatus.ts
  packages/server/src/fhir/operations/agentstatus.test.ts
  packages/server/src/fhir/operations/agentstatus.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#6186 Added C-CDA narratives and display text
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/generator/src/index.ts
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore

#6187 $apply PlanDefinition for ActivityDefinition ServiceRequest
  packages/server/src/fhir/operations/plandefinitionapply.test.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

#6191 Fix C-CDA Validation Errors
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/MinimalPassingValidator.xml
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, compliance, integration

#6194 Add operation chargeitemdefinition $apply
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#6196 C-CDA remaining USCDI classes
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/templates.ts
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.xml
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, compliance, integration

#6189 PlanDefinition builder add ActivityDefinition
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.stories.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.test.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.tsx
Labels: fhir-datastore, react

#6198 Added docs for working with package.json
  packages/docs/docs/contributing/package-json.md
Labels: documentation

#6148 Managed Service Organization Demo App
  examples/medplum-mso-demo/.gitattributes
  examples/medplum-mso-demo/.gitignore
  examples/medplum-mso-demo/README.md
  examples/medplum-mso-demo/index.html
  examples/medplum-mso-demo/package.json
  examples/medplum-mso-demo/postcss.config.mjs
  examples/medplum-mso-demo/public/favicon.ico
  examples/medplum-mso-demo/public/how-it-works.png
  examples/medplum-mso-demo/public/mso-diagram.png
  examples/medplum-mso-demo/src/App.tsx
  examples/medplum-mso-demo/src/components/ClinicianList.tsx
  examples/medplum-mso-demo/src/components/PatientList.tsx
  examples/medplum-mso-demo/src/data/core/access-policy.ts
  examples/medplum-mso-demo/src/data/core/sample-bundle.ts
  examples/medplum-mso-demo/src/main.tsx
  examples/medplum-mso-demo/src/pages/AllClinicsPage.tsx
  examples/medplum-mso-demo/src/pages/CommunicationsListPage.tsx
  examples/medplum-mso-demo/src/pages/DiagnosticReportPage.tsx
  examples/medplum-mso-demo/src/pages/EncountersListPage.tsx
  examples/medplum-mso-demo/src/pages/LandingPage.tsx
  examples/medplum-mso-demo/src/pages/ManageClinicPage.tsx
  examples/medplum-mso-demo/src/pages/NewClinicPage.tsx
  examples/medplum-mso-demo/src/pages/NewClinicianPage.tsx
  examples/medplum-mso-demo/src/pages/ObservationsListPage.tsx
  examples/medplum-mso-demo/src/pages/PatientsListPage.tsx
  examples/medplum-mso-demo/src/pages/ResourcePage.tsx
  examples/medplum-mso-demo/src/pages/SignInPage.tsx
  examples/medplum-mso-demo/src/pages/UploadAccessPolicyPage.tsx
  examples/medplum-mso-demo/src/pages/UploadBundlePage.tsx
  examples/medplum-mso-demo/src/utils/admin.ts
  examples/medplum-mso-demo/src/utils/enrollment.ts
  examples/medplum-mso-demo/src/vite-env.d.ts
  examples/medplum-mso-demo/tsconfig.json
  examples/medplum-mso-demo/vite.config.ts
  package-lock.json
Labels: dependencies, example

#6207 Fixes #6202 - ccda author metadata fixes
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/MinimalPassingValidator.xml
  packages/fhir-router/src/fhirrouter.ts
  packages/react/src/PatientExportForm/PatientExportForm.test.tsx
  packages/react/src/PatientExportForm/PatientExportForm.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
  packages/server/src/fhir/operations/ccdaexport.ts
  packages/server/src/fhir/operations/chargeitemdefinitionapply.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
  packages/server/src/fhir/response.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore, react, compliance, integration

#6206 Removed 'any' from fhir operation param utils
  packages/core/src/types.test.ts
  packages/core/src/types.ts
  packages/server/src/fhir/operations/utils/parameters.ts
Labels: fhir-datastore

#6200 Fixed C-CDA 'Note' validation
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/server/src/fhir/operations/patienteverything.ts
  scripts/cicd-deploy.sh
Labels: fhir-datastore, compliance, integration

#6210 Update README and LaunchPage for EHR launch instructions and navigation fixes
  examples/medplum-smart-on-fhir-demo/README.md
  examples/medplum-smart-on-fhir-demo/src/pages/LaunchPage.tsx
Labels: security, auth, example

#6212 C-CDA no known allergies
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
Labels: compliance, integration

#6215 Fixed C-CDA author ordering in allergies and meds
  packages/ccda/src/fhir-to-ccda.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore, compliance, integration

#6217 Fixes #6216 - C-CDA encounter diagnosis elements
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/types.ts
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, compliance, integration

#6203 feat(react): add CCDA validation to `CcdaDisplay`
  packages/app/src/HomePage.tsx
  packages/app/src/utils.test.ts
  packages/app/src/utils.ts
  packages/core/src/contenttype.ts
  packages/react/src/CcdaDisplay/CcdaDisplay.test.tsx
  packages/react/src/CcdaDisplay/CcdaDisplay.tsx
  packages/react/src/utils/dom.test.ts
  packages/react/src/utils/dom.ts
Labels: react

#6219 Adding HL7V2 content
  packages/docs/blog/2025-03-23-medplum-for-mirth-users.md
Labels: documentation, integration

#6211 Update encounter header and status changes
  examples/medplum-provider/src/pages/components/Encounter/EncounterHeader.module.css
  examples/medplum-provider/src/pages/components/Encounter/EncounterHeader.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: example

#6221 Fixed react test warnings
  packages/react/src/PatientSummary/ConceptBadge.tsx
  packages/react/src/PatientSummary/Vitals.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.test.tsx
  packages/react/src/PlanDefinitionBuilder/PlanDefinitionBuilder.tsx
  packages/react/src/ResourceDiffRow/ResourceDiffRow.test.tsx
Labels: react

#6220 Export multiple resource types from app search page
  packages/app/src/HomePage.utils.ts
  packages/core/src/bundle.test.ts
  packages/core/src/bundle.ts
  packages/core/src/search/search.test.ts
  packages/core/src/search/search.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/index.test.ts
Labels: fhir-datastore, search

#6222 Update Okta baseUrl examples in domain-level identity providers documentation
  packages/docs/docs/auth/methods/domain-level-identity-providers.md
Labels: documentation

#6224 Add introspection endpoint to public SMART configuration
  packages/server/src/config/types.ts
  packages/server/src/config/utils.ts
  packages/server/src/fhir/routes.test.ts
  packages/server/src/fhir/smart.ts
Labels: fhir-datastore

#6233 C-CDA export as referral note
  packages/app/src/resource/ExportPage.tsx
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/templates.ts
  packages/ccda/src/types.ts
  packages/react/src/PatientExportForm/PatientExportForm.tsx
  packages/server/src/fhir/operations/ccdaexport.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, react, compliance, integration

#6234 Fixes #6232 - filter export by care date
  packages/server/src/fhir/operations/patienteverything.ts
  packages/server/src/fhir/operations/utils/caredate.test.ts
  packages/server/src/fhir/operations/utils/caredate.ts
Labels: fhir-datastore, compliance, integration

#6228 Adding first round of C-CDA documentation
  packages/docs/docs/api/fhir/operations/ccda-export.md
  packages/docs/docs/integration/c-cda.md
  packages/docs/sidebars.ts
Labels: documentation, integration

#6209 Updating Password Reset Example Bot docs
  packages/docs/docs/api/fhir/medplum/passwordchangerequest.mdx
  packages/examples/src/auth/custom-emails.ts
Labels: documentation, example

#6242 Allow selecting more restrictive scopes on subsequent authorization
  packages/server/src/auth/scope.test.ts
  packages/server/src/fhir/smart.ts
  packages/server/src/oauth/utils.ts
Labels: security, auth, fhir-datastore

#6245 Fixed existing google user registering new project
  packages/server/src/auth/google.test.ts
  packages/server/src/auth/google.ts
Labels: security, auth

#6237 PasswordChangeRequest -> UserSecurityRequest
  packages/docs/docs/access/admin.md
  packages/docs/docs/auth/custom-emails.mdx
Labels: documentation

#6241 Create chargeitems for corresponding ServiceRequest
  examples/medplum-provider/src/pages/components/ChargeItem/ChageItemPanel.tsx
  examples/medplum-provider/src/pages/components/Task/SimpleTask.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/pages/encounter/EncounterModal.tsx
Labels: example

#6226 CMS 1500 PDF Bot
  examples/medplum-demo-bots/medplum.config.json
  examples/medplum-demo-bots/package.json
  examples/medplum-demo-bots/src/billing-bots/README.md
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.test.ts
Labels: dependencies, example

#6259 Fixing typo!
  packages/docs/src/pages/enterprise.tsx
Labels: documentation

#6248 Handle chargeitem modifiers in Encounter
  examples/medplum-provider/src/pages/components/ChargeItem/ChageItemPanel.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
Labels: example

#6264 Add jszip to bot-layer
  package-lock.json
  packages/bot-layer/README.md
  packages/bot-layer/package.json
Labels: dependencies

#6263 Fixes #6261 - allow React 19 as peer dep
  package-lock.json
  packages/dosespot-react/package.json
  packages/health-gorilla-react/package.json
  packages/react-hooks/package.json
  packages/react/package.json
Labels: dependencies

#6250 Adding TEFCA overview
  packages/docs/blog/2025-03-27-technical-guide-to-tefca.md
  packages/docs/blog/authors.yml
  packages/docs/static/img/blog/exchange-under-tefca.png
  packages/docs/static/img/blog/qhin.png
Labels: documentation

#6255 auth/setpassword and auth/resetpassword documentation
  packages/docs/docs/api/auth/_category_.json
  packages/docs/docs/api/auth/resetpassword.md
  packages/docs/docs/api/auth/setpassword.md
  packages/docs/docs/api/oauth/_category_.json
  packages/docs/docs/auth/custom-emails.mdx
Labels: documentation

#6247 Log requests on close event
  packages/server/src/app.ts
Labels: audit-logging

#6275 Log correct status when request times out
  packages/server/src/app.ts
Labels: audit-logging
