Repository medplum/medplum, pull requests merged in 2025-01, with the labels that each got.

#5725 Add dosespot-react to publish script
  scripts/publish.sh
Labels: medications

#5732 Support on-behalf-of with JWT access tokens
  packages/docs/docs/auth/methods/on-behalf-of.md
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/onbehalfof.test.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#5690 Fixes #5679 - support SCIM PATCH requests
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/static/data/medplumDefinitions/projectmembership.json
  packages/fhirtypes/dist/ProjectMembership.d.ts
  packages/server/src/auth/login.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/scim/routes.test.ts
  packages/server/src/scim/routes.ts
  packages/server/src/scim/types.ts
  packages/server/src/scim/utils.test.ts
  packages/server/src/scim/utils.ts
  packages/server/src/util/patch.test.ts
  packages/server/src/util/patch.ts
Labels: auth

#5744 Do not modify resources used by post-commit hook
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5749 Seed database in transaction
  packages/server/src/seed.ts
Labels: self-host

#5746 Preserve transaction when using system repo
  packages/server/src/app.ts
  packages/server/src/context.ts
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5766 metrics(bullmq): add subscription queue length metric
  packages/server/src/healthcheck.test.ts
  packages/server/src/healthcheck.ts
Labels: subscriptions, compliance

#5738 Fixed sonar warnings in health-gorilla-react
  packages/health-gorilla-core/src/types.ts
  packages/health-gorilla-core/vite.config.ts
  packages/health-gorilla-react/src/useHealthGorillaLabOrder.test.tsx
  packages/health-gorilla-react/src/useHealthGorillaLabOrder.ts
  packages/health-gorilla-react/vite.config.ts
  sonar-project.properties
Labels: integration

#5748 Azure helm chart
  charts/templates/deployment.yaml
  charts/templates/ingress.yaml
  charts/templates/serviceaccount.yaml
  charts/values.yaml
Labels: self-host

#5741 Added support for Azure KeyVault
  package-lock.json
  packages/server/package.json
  packages/server/src/cloud/azure/config.ts
  packages/server/src/config.ts
Labels: self-host

#5778 Change failed transaction error log to warning
  packages/server/src/fhir/sql.ts
Labels: audit-logging

#5783 Fixes #5257 - Update README & Public Docs to be consistent for Bots
  examples/medplum-demo-bots/README.md
  packages/docs/docs/bots/bot-basics.md
Labels: documentation

#5781 Gracefully handle external auth provider missing email
  packages/server/src/auth/external.test.ts
  packages/server/src/auth/external.ts
Labels: auth

#5789 Remove ARMv7 build
  scripts/build-docker.sh
Labels: self-host

#5798 Added docs for Azure beta
  packages/docs/docs/self-hosting/aws-advantages.md
  packages/docs/docs/self-hosting/azure-architecture.webp
  packages/docs/docs/self-hosting/azure-certificates.webp
  packages/docs/docs/self-hosting/install-from-scratch.md
  packages/docs/docs/self-hosting/install-on-azure.md
  packages/docs/docs/self-hosting/install-on-gcp.md
Labels: documentation, self-host

#5753 refactor(C-CDA): Load C-CDA in the iframe, add CORS headers to storage
  packages/cdk/src/storage.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/contenttype.ts
  packages/react/src/AttachmentDisplay/AttachmentDisplay.test.tsx
  packages/react/src/AttachmentDisplay/AttachmentDisplay.tsx
  packages/react/src/CcdaDisplay/CcdaDisplay.test.tsx
  packages/react/src/CcdaDisplay/CcdaDisplay.tsx
  packages/react/src/XmlDisplay/XmlDisplay.test.tsx
  packages/react/src/XmlDisplay/XmlDisplay.tsx
Labels: compliance

#5811 Add Azure to self-hosting landing page.
  packages/docs/docs/self-hosting/index.md
Labels: documentation, self-host

#5809 Adding troubleshooting note for AWS CDK
  packages/docs/docs/auth/methods/index.md
  packages/docs/docs/self-hosting/install-on-aws.md
Labels: self-host

#5814 Adding finn about page
  packages/docs/src/pages/about.tsx
  packages/docs/static/img/people/finnbergquist.jpg
Labels: documentation

#5808 Helm chart cleanup
  charts/Chart.yaml
  charts/templates/deployment.yaml
  charts/templates/service.yaml
  charts/values.yaml
Labels: self-host

#5831 Hotfix upgrade bullmq
  package-lock.json
  packages/server/package.json
Labels: subscriptions

#5833 Improve cron job change detection
  packages/server/src/workers/cron.test.ts
  packages/server/src/workers/cron.ts
  packages/server/src/workers/index.ts
Labels: subscriptions, bots

#5802 Return only R4 resources in CapabilityStatement
  packages/core/src/typeschema/types.ts
  packages/react/src/SmartAppLaunchLink/SmartAppLaunchLink.tsx
  packages/server/src/fhir/metadata.ts
Labels: compliance

#5842 Change error code for invalid Binary file type
  packages/server/src/fhir/binary.test.ts
  packages/server/src/fhir/storage.ts
Labels: fhir-datastore

#5840 Updating compliance documentation for Real World Test
  packages/docs/docs/compliance/onc.md
Labels: documentation, compliance

#5795 Always verify PKCE on token grant if present
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#5846 Fix FHIRPath is() check
  packages/core/src/fhirpath/utils.ts
  packages/core/src/typeschema/__test__/us-core-smoking-status.json
  packages/core/src/typeschema/validation.test.ts
Labels: fhir-datastore

#5801 Inferno testing fixes for Group Export
  packages/react/src/SmartAppLaunchLink/SmartAppLaunchLink.tsx
  packages/server/src/fhir/bulkdata.test.ts
  packages/server/src/fhir/bulkdata.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/operations/utils/bulkexporter.ts
Labels: fhir-datastore, compliance

#5854 Handle presence operators with chained search filter
  packages/core/src/search/search.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: search

#5799 example: profile using custom codeable concepts
  examples/medplum-fsh-profiles/README.md
  examples/medplum-fsh-profiles/src/profiles/input/fsh/health-care-service.fsh
Labels: example

#5868 Correctly handle `:not-in` searches on tokens
  packages/server/src/fhir/lookups/token.test.ts
  packages/server/src/fhir/lookups/token.ts
  packages/server/src/fhir/search.test.ts
Labels: fhir-datastore, search

#5843 example: ValueSet Selector Demo
  examples/medplum-fsh-profiles/src/profiles/input/fsh/health-care-service.fsh
  examples/medplum-valueset-selector/.gitattributes
  examples/medplum-valueset-selector/.github/dependabot.yml
  examples/medplum-valueset-selector/.gitignore
  examples/medplum-valueset-selector/README.md
  examples/medplum-valueset-selector/assets/value-set.gif
  examples/medplum-valueset-selector/index.html
  examples/medplum-valueset-selector/package.json
  examples/medplum-valueset-selector/postcss.config.mjs
  examples/medplum-valueset-selector/public/favicon.ico
  examples/medplum-valueset-selector/src/App.tsx
  examples/medplum-valueset-selector/src/main.tsx
  examples/medplum-valueset-selector/src/pages/HomePage.tsx
  examples/medplum-valueset-selector/src/pages/LandingPage.tsx
  examples/medplum-valueset-selector/src/pages/ResourcePage.tsx
  examples/medplum-valueset-selector/src/pages/SignInPage.tsx
  examples/medplum-valueset-selector/src/vite-env.d.ts
  examples/medplum-valueset-selector/tsconfig.json
  examples/medplum-valueset-selector/vercel.json
  examples/medplum-valueset-selector/vite.config.ts
  package-lock.json
Labels: example

#5876 Remove post-filtering of exports for efficiency
  packages/server/src/fhir/operations/export.test.ts
  packages/server/src/fhir/operations/export.ts
  packages/server/src/fhir/operations/groupexport.test.ts
  packages/server/src/fhir/operations/groupexport.ts
  packages/server/src/fhir/operations/patienteverything.ts
  packages/server/src/fhir/operations/utils/bulkexporter.ts
Labels: fhir-datastore

#5857 Fetch related non-compartment resources for Patient/$everything
  packages/server/src/fhir/operations/patienteverything.test.ts
  packages/server/src/fhir/operations/patienteverything.ts
Labels: fhir-datastore, compliance

#5885 Pass HTTP headers to bot when runAsUser=true
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/execute.ts
Labels: integration

#5881 Implement OAuth2 Token Introspection endpoint
  packages/server/src/oauth/introspect.test.ts
  packages/server/src/oauth/introspect.ts
  packages/server/src/oauth/routes.ts
Labels: auth, compliance

#5791 Bot timeline improvements
  packages/react/src/ResourceDiffRow/ResourceDiffRow.module.css
  packages/react/src/ResourceDiffRow/ResourceDiffRow.test.tsx
  packages/react/src/ResourceDiffRow/ResourceDiffRow.tsx
  packages/react/src/ResourceDiffTable/ResourceDiffTable.test.tsx
  packages/react/src/ResourceDiffTable/ResourceDiffTable.tsx
Labels: react

#5889 Log excessive cache misses
  packages/server/src/fhir/repo.ts
Labels: audit-logging
