Repository medplum/medplum, pull requests merged in 2025-09, with the labels that each got.

#7303 Provider - tasks filter
  examples/medplum-provider/src/components/tasks/TaskFilterMenu.tsx
  examples/medplum-provider/src/components/tasks/TaskFilterMenu.utils.ts
  examples/medplum-provider/src/components/tasks/TaskProperties.tsx
  examples/medplum-provider/src/pages/tasks/TasksPage.tsx
  examples/medplum-provider/src/utils/encounter.ts
Labels: fhir-datastore, example

#7326 Fix nested transaction in batch request
  packages/fhir-router/src/batch.ts
  packages/server/src/fhir/batch.test.ts
Labels: fhir-datastore

#7309 Encourage correct column and table alias usage
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore, search

#7332 Add bot-layer as server dependency
  package-lock.json
  packages/server/package.json
  scripts/build-docker-server.sh
Labels: dependencies

#7335 Minor website svg fixes
  packages/docs/src/css/custom.css
  packages/docs/src/pages/products/index.tsx
Labels: documentation

#7256 Require MFA in invite flow
  packages/app/src/MfaPage.test.tsx
  packages/app/src/MfaPage.tsx
  packages/app/src/admin/InvitePage.tsx
  packages/core/src/client.ts
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/fhirtypes/dist/User.d.ts
  packages/react/src/auth/MfaForm.tsx
  packages/react/src/auth/SignInForm.tsx
  packages/react/src/index.ts
  packages/server/src/admin/invite.test.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/mfa.ts
  packages/server/src/auth/utils.ts
  packages/server/src/oauth/utils.ts
Labels: auth, react

#7339 Adding more materials to showcase
  packages/docs/blog/2025-09-05-plumcon-materials.md
Labels: documentation

#7327 Allow async batch processing to wait for additional FHIR quota
  packages/server/src/async-batch.ts
  packages/server/src/context.ts
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/fhirquota.ts
  packages/server/src/workers/batch.ts
Labels: fhir-datastore

#7348 Batched update migrate function
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/data/v25.ts
  packages/server/src/migrations/migrate-functions.test.ts
  packages/server/src/migrations/migrate-functions.ts
  packages/server/src/migrations/types.ts
  packages/server/src/workers/post-deploy-migration.ts
Labels: fhir-datastore

#7301 Mask secret fields of type string
  packages/react/src/ResourcePropertyDisplay/ResourcePropertyDisplay.test.tsx
  packages/react/src/ResourcePropertyDisplay/ResourcePropertyDisplay.tsx
Labels: react

#7367 Include post-deploy migration results in AsyncJob.output on errors
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/migrations/data/v10.ts
  packages/server/src/migrations/data/v12.ts
  packages/server/src/migrations/data/v13.ts
  packages/server/src/migrations/data/v14.ts
  packages/server/src/migrations/data/v15.ts
  packages/server/src/migrations/data/v16.ts
  packages/server/src/migrations/data/v17.ts
  packages/server/src/migrations/data/v18.ts
  packages/server/src/migrations/data/v19.ts
  packages/server/src/migrations/data/v2.ts
  packages/server/src/migrations/data/v20.ts
  packages/server/src/migrations/data/v21.ts
  packages/server/src/migrations/data/v22.ts
  packages/server/src/migrations/data/v24.ts
  packages/server/src/migrations/data/v25.ts
  packages/server/src/migrations/data/v27.ts
  packages/server/src/migrations/data/v4.ts
  packages/server/src/migrations/data/v5.ts
  packages/server/src/migrations/data/v6.ts
  packages/server/src/migrations/data/v7.ts
  packages/server/src/migrations/data/v9.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/workers/post-deploy-migration.test.ts
  packages/server/src/workers/post-deploy-migration.ts
Labels: fhir-datastore

#7369 Clinic favorite medications docs
  packages/docs/docs/integration/dosespot/clinic-favorite-medications.md
  packages/docs/docs/integration/dosespot/getting-started.md
  packages/docs/docs/integration/dosespot/index.md
  packages/docs/static/img/integrations/dosespot/dosespot-fav-med-step-1.png
  packages/docs/static/img/integrations/dosespot/dosespot-fav-med-step-2.png
  packages/docs/static/img/integrations/dosespot/dosespot-fav-med-step-3.png
  packages/docs/static/img/integrations/dosespot/dosespot-fav-med-step-4.png
Labels: documentation, integration

#7392 ADT a01/a08 via sftp example
  examples/medplum-demo-bots/src/adt-transfer-listener/README.md
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-sftp-listener.test.ts
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-sftp-listener.ts
Labels: example

#7325 Agent FAQs and Interoperability Solutions Pages
  packages/docs/src/pages/solutions/index.tsx
  packages/docs/src/pages/solutions/interoperability/agent-faqs.md
  packages/docs/src/pages/solutions/interoperability/index.md
Labels: documentation

#7377 Add GIN index stats page
  packages/app/src/App.tsx
  packages/app/src/AppRoutes.tsx
  packages/app/src/admin/DatabaseToolsPage.test.tsx
  packages/app/src/admin/DatabaseToolsPage.tsx
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/db/GINIndexes.test.tsx
  packages/app/src/admin/db/GINIndexes.tsx
  packages/app/src/admin/db/SearchableSelect.tsx
  packages/app/src/admin/db/utils.ts
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/auth/me.ts
  packages/server/src/fhir/operations/dbindexes.test.ts
  packages/server/src/fhir/operations/dbindexes.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: auth, fhir-datastore

#7393 Vinta adt a01/a08 via sftp example
  examples/medplum-demo-bots/src/adt-transfer-listener/README.md
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-sftp-listener.test.ts
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-sftp-listener.ts
Labels: example

#7404 Ensure identity resolution logic covers all batch operations
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
Labels: fhir-datastore

#7405 Support optional precision param in FHIRPath round()
  packages/core/src/fhirpath/fhirpath.test.ts
  packages/core/src/fhirpath/functions.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
Labels: react

#7410 Replace gin_clean_pending_list() with VACUUM
  packages/app/src/admin/db/GINIndexes.tsx
  packages/server/src/fhir/operations/db-configure-indexes.test.ts
  packages/server/src/fhir/operations/db-configure-indexes.ts
Labels: fhir-datastore

#7411 Revert "Ensure identity resolution logic covers all batch operations"
  packages/fhir-router/src/batch.test.ts
  packages/fhir-router/src/batch.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#7378 feat(agent): add `$fetch-logs` operation
  packages/agent/src/app-fetch-logs.test.ts
  packages/agent/src/app.ts
  packages/agent/src/constants.ts
  packages/agent/src/logger.test.ts
  packages/agent/src/logger.ts
  packages/agent/src/test-utils.ts
  packages/app/src/resource/ToolsPage.test.tsx
  packages/app/src/resource/ToolsPage.tsx
  packages/core/src/agent.ts
  packages/core/src/logger.ts
  packages/server/src/agent/websockets.ts
  packages/server/src/fhir/operations/agentfetchlogs.test.ts
  packages/server/src/fhir/operations/agentfetchlogs.ts
  packages/server/src/fhir/operations/agentreloadconfig.ts
  packages/server/src/fhir/operations/agentupgrade.ts
  packages/server/src/fhir/operations/utils/agentutils.ts
  packages/server/src/fhir/routes.ts
Labels: dependencies, fhir-datastore

#7351 feat(core): read SMTP config from AWS Param Store
  packages/server/src/config/utils.test.ts
  packages/server/src/config/utils.ts
Labels: documentation, self-host

#7406 [Docs] Agent FAQs Additions
  packages/docs/src/pages/solutions/interoperability/agent-faqs.md
Labels: documentation

#7334 C-CDA USCDI v3 support
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/datetime.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/fhir-to-ccda/convert.ts
  packages/ccda/src/fhir-to-ccda/entries/allergy.ts
  packages/ccda/src/fhir-to-ccda/entries/careplan.test.ts
  packages/ccda/src/fhir-to-ccda/entries/careplan.ts
  packages/ccda/src/fhir-to-ccda/entries/careteam.test.ts
  packages/ccda/src/fhir-to-ccda/entries/careteam.ts
  packages/ccda/src/fhir-to-ccda/entries/clinicalimpression.ts
  packages/ccda/src/fhir-to-ccda/entries/condition.test.ts
  packages/ccda/src/fhir-to-ccda/entries/condition.ts
  packages/ccda/src/fhir-to-ccda/entries/deviceusestatement.ts
  packages/ccda/src/fhir-to-ccda/entries/diagnosticreport.ts
  packages/ccda/src/fhir-to-ccda/entries/encounter.test.ts
  packages/ccda/src/fhir-to-ccda/entries/encounter.ts
  packages/ccda/src/fhir-to-ccda/entries/goal.test.ts
  packages/ccda/src/fhir-to-ccda/entries/goal.ts
  packages/ccda/src/fhir-to-ccda/entries/immunization.test.ts
  packages/ccda/src/fhir-to-ccda/entries/immunization.ts
  packages/ccda/src/fhir-to-ccda/entries/insurance.test.ts
  packages/ccda/src/fhir-to-ccda/entries/insurance.ts
  packages/ccda/src/fhir-to-ccda/entries/medication.test.ts
  packages/ccda/src/fhir-to-ccda/entries/medication.ts
  packages/ccda/src/fhir-to-ccda/entries/observation.test.ts
  packages/ccda/src/fhir-to-ccda/entries/observation.ts
  packages/ccda/src/fhir-to-ccda/entries/procedure.ts
  packages/ccda/src/fhir-to-ccda/entries/servicerequest.test.ts
  packages/ccda/src/fhir-to-ccda/entries/servicerequest.ts
  packages/ccda/src/fhir-to-ccda/metadata.ts
  packages/ccda/src/fhir-to-ccda/utils.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/index.ts
  packages/ccda/src/oids.ts
  packages/ccda/src/roundtrip.test.ts
  packages/ccda/src/systems.test.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/templates.ts
  packages/ccda/src/types.ts
  packages/ccda/src/xml.ts
  packages/ccda/testdata/AliceNewman_USCDIv3_21Jan_2025.json
  packages/ccda/testdata/AliceNewman_USCDIv3_21Jan_2025.xml
  packages/ccda/testdata/Participants.json
  packages/ccda/testdata/Participants.xml
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.json
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore, compliance, integration

#7417 Remove duplicate entries from patient everything export
  packages/server/src/fhir/operations/patienteverything.test.ts
  packages/server/src/fhir/operations/patienteverything.ts
Labels: fhir-datastore

#7418 $db-configure-indexes uses AsyncJob
  packages/app/src/admin/SuperAdminStartAsyncJob.tsx
  packages/app/src/admin/db/ConfigureGINIndexesForm.tsx
  packages/server/src/fhir/operations/db-configure-indexes.test.ts
  packages/server/src/fhir/operations/db-configure-indexes.ts
Labels: fhir-datastore

#7412 Template-based questionnaire extraction (QuestionnaireResponse/$extract)
  packages/core/src/fhirpath/utils.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/server/src/fhir/operations/extract.test.ts
  packages/server/src/fhir/operations/extract.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
Labels: questionnaires, fhir-datastore

#7422 Add index for use during reindexing
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v28.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/types.ts
Labels: fhir-datastore

#7426 Fixed docs broken links
  packages/docs/blog/2025-02-28-v4-upgrade.md
  packages/docs/blog/2025-05-12-preparing-for-v5.md
  packages/docs/docs/integration/health-gorilla/receiving-results.md
Labels: documentation

#7432 Fixes #7428 - added 'next' cursor to GraphQL Connection API
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/fhir-router/src/graphql/graphql.ts
  packages/fhir-router/src/graphql/utils.ts
  packages/server/src/fhir/operations/graphql.test.ts
Labels: fhir-datastore

#7429 docs(agent): add `$fetch-logs` docs
  packages/docs/docs/agent/features.md
  packages/docs/docs/agent/fetch-logs.md
Labels: documentation

#7441 Add fhirpath fuzz testing
  package-lock.json
  package.json
  packages/core/src/fhirpath/fuzz.test.ts
Labels: dependencies

#7425 Include new reusable TaskBoard component
  examples/medplum-provider/src/App.tsx
  examples/medplum-provider/src/components/tasks/TaskBoard.module.css
  examples/medplum-provider/src/components/tasks/TaskBoard.tsx
  examples/medplum-provider/src/components/tasks/TaskDetailsModal.module.css
  examples/medplum-provider/src/components/tasks/TaskDetailsModal.tsx
  examples/medplum-provider/src/components/tasks/TaskInputNote.tsx
  examples/medplum-provider/src/components/tasks/TaskSelectEmpty.tsx
  examples/medplum-provider/src/pages/tasks/TaskDetails.tsx
  examples/medplum-provider/src/pages/tasks/TasksPage.module.css
  examples/medplum-provider/src/pages/tasks/TasksPage.tsx
Labels: example

#7389 Provider - messages improvements
  examples/medplum-provider/src/components/messages/ChatList.tsx
  examples/medplum-provider/src/components/messages/ChatListItem.tsx
  examples/medplum-provider/src/components/messages/NewTopicDialog.tsx
  examples/medplum-provider/src/components/messages/ThreadInbox.module.css
  examples/medplum-provider/src/components/messages/ThreadInbox.tsx
  examples/medplum-provider/src/pages/patient/CommunicationTab.tsx
Labels: example

#7409 [Certification Provider App] Minor fixes
  examples/medplum-provider/data/core/c1/questionnaires.json
  examples/medplum-provider/src/bots/c1-patient-intake-bot.test.ts
  examples/medplum-provider/src/bots/c1-patient-intake-bot.ts
  examples/medplum-provider/src/pages/c1/C1CertificationPage.tsx
  examples/medplum-provider/src/utils/intake-utils.ts
  examples/medplum-provider/src/utils/qrda-generator.ts
Labels: example

#7465 fix(agent): fix SKIP_SIGNING definition based on env
  scripts/build-agent-installer-win64.sh
Labels: bug

#7460 Provider - Add new task
  examples/medplum-provider/src/components/tasks/NewTaskModal.tsx
  examples/medplum-provider/src/components/tasks/TaskBoard.tsx
  examples/medplum-provider/src/components/tasks/TaskInputNote.tsx
  examples/medplum-provider/src/components/tasks/TaskProperties.tsx
Labels: example

#7451 Auto responder bot
  examples/medplum-demo-bots/src/auto-responder-bots/README.md
  examples/medplum-demo-bots/src/auto-responder-bots/auto-responder-bot.test.ts
  examples/medplum-demo-bots/src/auto-responder-bots/auto-responder-bot.ts
Labels: example

#7452 Fix data format signature input
  packages/react/src/SignatureInput/SignatureInput.test.tsx
  packages/react/src/SignatureInput/SignatureInput.tsx
Labels: react

#7453 Add contact preferences to patient intake form
  examples/medplum-patient-intake-demo/data/core/patient-intake-questionnaire.json
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.test.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-form.ts
  examples/medplum-patient-intake-demo/src/bots/core/intake-utils.ts
  examples/medplum-patient-intake-demo/src/bots/core/test-data/intake-form-test-data.ts
  examples/medplum-patient-intake-demo/src/scripts/deploy-bots.ts
Labels: example

#7480 [Certification Provider App] Fix `negationInd` usage for procedure entry
  examples/medplum-provider/src/utils/qrda-generator.ts
Labels: example

#7482 Avoid nulls when removing 2nd address line
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
  packages/react/src/AddressInput/AddressInput.test.tsx
  packages/react/src/AddressInput/AddressInput.tsx
Labels: react

#7483 Fixes #5150 - graphql docs cleanup
  packages/docs/blog/2023-09-06-graphql-vs-rest.md
  packages/docs/blog/2025-09-23-fhir-ai-for-life-sciences-webinar.md
  packages/docs/docs/careplans/diagnostic-catalog/diagnostic-catalog.mdx
  packages/docs/docs/graphql/index.md
  packages/docs/docs/graphql/index.mdx
  packages/docs/docs/integration/log-streaming.md
  packages/docs/docs/self-hosting/project-settings.md
  packages/docs/vercel.json
Labels: documentation

#7488 [Certification Provider App] Refactor code to use `string` instead of `dateTime`
  examples/medplum-provider/data/core/c1/questionnaires.json
  examples/medplum-provider/data/example/json/0_Bob_Henry.json
  examples/medplum-provider/data/example/json/1_Curtis_Strickland.json
  examples/medplum-provider/data/example/json/2_Julian_Johnston.json
  examples/medplum-provider/src/bots/c1-certification-bot.test.ts
  examples/medplum-provider/src/bots/c1-certification-bot.ts
  examples/medplum-provider/src/bots/c1-patient-intake-bot.test.ts
  examples/medplum-provider/src/bots/c1-patient-intake-bot.ts
  examples/medplum-provider/src/bots/test-data/patient-records.ts
  examples/medplum-provider/src/utils/intake-utils.ts
Labels: example

#7505 HealthChain blog post
  packages/docs/blog/2025-09-29-healthchain.md
Labels: documentation

#7489 Fix conflict between account propagation and default profiles
  packages/server/src/fhir/operations/set-accounts.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore
