Repository medplum/medplum, pull requests merged in 2025-07, with the labels that each got.

#6935 Null-safe reference replace logic
  packages/server/src/fhir/references.ts
Labels: bug, fhir-datastore

#6939 Revert @graphiql/react
  package-lock.json
  packages/graphiql/package.json
Labels: dependencies

#6940 Avoid querying on non-existant Binary compartments column
  packages/core/src/access.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/repo.ts
Labels: auth, fhir-datastore

#6933 feat(hl7): rm connection if remote closes connection
  packages/agent/src/hl7.ts
  packages/hl7/src/client.test.ts
  packages/hl7/src/client.ts
Labels: integration

#6944 Encounter - create new topic/thread
  examples/medplum-provider/src/components/messages/ChatList.tsx
  examples/medplum-provider/src/components/messages/NewTopicDialog.tsx
  examples/medplum-provider/src/pages/messages/MessagesPage.tsx
Labels: example

#6923 Use `UNION ALL` instead of lateral joins
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore, search

#6802 Stedi - Insurance Eligibility Check Docs
  packages/docs/docs/integration/stedi/eligibility-checks.md
  packages/docs/docs/integration/stedi/index.md
  packages/docs/sidebars.ts
Labels: documentation, bots

#6947 BaseChat exclude header
  packages/react/src/chat/BaseChat/BaseChat.stories.tsx
  packages/react/src/chat/BaseChat/BaseChat.test.tsx
  packages/react/src/chat/BaseChat/BaseChat.tsx
Labels: react

#6842 Write Coding.isSynonym in support of Synonyms in terminology
  packages/server/src/fhir/lookups/coding.ts
  packages/server/src/fhir/operations/codesystemimport.test.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/codesystemlookup.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.test.ts
  packages/server/src/fhir/operations/codesystemvalidatecode.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/operations/subsumes.ts
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/fhir/operations/valuesetvalidatecode.ts
  packages/server/src/index.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v16.ts
  packages/server/src/migrations/migrate.ts
Labels: fhir-datastore, search

#6957 [Documentation] Agent Enhanced Mode
  packages/docs/docs/agent/features.md
Labels: documentation, integration

#6966 Add trigram indexes to HumanName for `:contains` searches
  packages/server/src/fhir/lookups/humanname.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.test.ts
  packages/server/src/fhir/sql.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v17.ts
  packages/server/src/migrations/migrate.ts
Labels: fhir-datastore, search

#6956 fix(agent): spawn upgrader with version specified in `Agent/$upgrade` operation
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
Labels: integration

#6969 QuestionnaireForm - Include required in choice fields
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireFormItem.tsx
Labels: react

#6946 Update DoseSpot docs to explain DoseSpot MedicationRequest.intent categorization
  packages/docs/docs/integration/dosespot/getting-started.md
Labels: documentation, integration

#6975 Add Coding synonym reference column
  packages/server/src/fhir/operations/utils/terminology.ts
  packages/server/src/migrations/data/v18.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v95.ts
Labels: fhir-datastore

#6977 Refactor QuestionnaireForm to hooks
  examples/medplum-questionnaire-hooks/.gitignore
  examples/medplum-questionnaire-hooks/README.md
  examples/medplum-questionnaire-hooks/index.html
  examples/medplum-questionnaire-hooks/package.json
  examples/medplum-questionnaire-hooks/src/App.tsx
  examples/medplum-questionnaire-hooks/src/main.tsx
  examples/medplum-questionnaire-hooks/src/questionnaire.ts
  examples/medplum-questionnaire-hooks/src/vite-env.d.ts
  examples/medplum-questionnaire-hooks/tsconfig.json
  examples/medplum-questionnaire-hooks/vite.config.ts
  package-lock.json
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useQuestionnaireForm/useQuestionnaireForm.test.tsx
  packages/react-hooks/src/useQuestionnaireForm/useQuestionnaireForm.ts
  packages/react-hooks/src/useQuestionnaireForm/utils.test.ts
  packages/react-hooks/src/useQuestionnaireForm/utils.ts
  packages/react/.storybook/main.ts
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.test.tsx
  packages/react/src/QuestionnaireBuilder/QuestionnaireBuilder.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.context.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormComponents/QuestionnaireFormGroup.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormComponents/QuestionnaireFormPageSequence.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormGroup.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem/QuestionnaireRepeatableItem.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItemArray.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormRepeatableGroup.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormRepeatableItem.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormStepper.tsx
  packages/react/src/index.ts
Labels: dependencies, react, example

#6984 Fix autosave QuestionnaireForm onChange
  examples/medplum-provider/src/components/encountertasks/TaskQuestionnaireForm.tsx
Labels: example

#6991 Log resource type in AuditEvent when create fails
  packages/server/src/fhir/repo.ts
Labels: audit-logging, fhir-datastore

#6997 Revert "Add last updated time for documentation pages"
  packages/docs/docusaurus.config.ts
Labels: documentation

#6512 Initial commit of the Medplum Healthie Imported
  examples/medplum-healthie-importer/.env.example
  examples/medplum-healthie-importer/.gitattributes
  examples/medplum-healthie-importer/.gitignore
  examples/medplum-healthie-importer/README.md
  examples/medplum-healthie-importer/esbuild-script.mjs
  examples/medplum-healthie-importer/package.json
  examples/medplum-healthie-importer/scripts/deploy-importer.ts
  examples/medplum-healthie-importer/src/healthie/client.test.ts
  examples/medplum-healthie-importer/src/healthie/client.ts
  examples/medplum-healthie-importer/src/healthie/constants.ts
  examples/medplum-healthie-importer/src/healthie/medication.test.ts
  examples/medplum-healthie-importer/src/healthie/medication.ts
  examples/medplum-healthie-importer/src/healthie/patient.test.ts
  examples/medplum-healthie-importer/src/healthie/patient.ts
  examples/medplum-healthie-importer/src/import-healthie-patients.test.ts
  examples/medplum-healthie-importer/src/import-healthie-patients.ts
  examples/medplum-healthie-importer/tsconfig.json
  examples/medplum-healthie-importer/vite.config.ts
  package-lock.json
Labels: dependencies, example

#6962 feat(agent): enable graceful downgrade to pre-zero-downtime upgrade versions (pre-4.2.4)
  package-lock.json
  packages/agent/package.json
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/upgrader-test-utils.ts
  packages/agent/src/upgrader-utils.test.ts
  packages/agent/src/upgrader.test.ts
  packages/agent/src/upgrader.ts
Labels: dependencies, integration

#6979 Add support for ES256 jwk signing keys
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/static/data/medplumDefinitions/jsonwebkey.json
  packages/fhirtypes/dist/JsonWebKey.d.ts
  packages/server/src/oauth/keys.test.ts
  packages/server/src/oauth/keys.ts
  packages/server/src/wellknown.test.ts
Labels: auth

#6990 Adding custom FHIR operations blog post
  packages/docs/blog/2025-07-03-custom-fhir-operations.md
Labels: documentation

#6998 Add signature component to QuestionnaireForm
  packages/react-hooks/src/useQuestionnaireForm/useQuestionnaireForm.test.tsx
  packages/react-hooks/src/useQuestionnaireForm/useQuestionnaireForm.ts
  packages/react-hooks/src/useQuestionnaireForm/utils.ts
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/SignatureInput/SignatureInput.tsx
Labels: react

#7021 Disaster recovery documentation
  packages/docs/blog/2025-07-05-plumcon-2025.md
  packages/docs/docs/self-hosting/disaster-recovery.md
Labels: documentation

#7026 Prevent postgres errors for unsupported dateTime formats
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
Labels: fhir-datastore, search

#6948 Allow Super Admin to use On-Behalf-Of
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/operations/explain.test.ts
  packages/server/src/fhir/operations/explain.ts
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/oauth/utils.ts
Labels: auth, fhir-datastore, self-host

#7028 How to use Questionnaire signature required extension with storybook example
  packages/docs/docs/questionnaires/questionnaires-and-responses.md
  packages/react/src/QuestionnaireForm/QuestionnaireForm.stories.tsx
Labels: documentation, react

#7027 Ensure all pre and post commit hooks fire
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/workers/index.test.ts
  packages/server/src/workers/index.ts
Labels: fhir-datastore

#7012 Clarify Concurrent Websocket Connections text
  packages/docs/src/pages/pricing.tsx
Labels: documentation

#6830 Fixes #6768 Fixes #6827 - Fission bots
  package-lock.json
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/docs/docs/bots/running-bots-locally.md
  packages/docs/docs/bots/running-bots-on-fission.md
  packages/fhirtypes/dist/Bot.d.ts
  packages/server/package.json
  packages/server/src/__mocks__/@kubernetes/client-node.ts
  packages/server/src/bots/execute.ts
  packages/server/src/cloud/fission/deploy.test.ts
  packages/server/src/cloud/fission/deploy.ts
  packages/server/src/cloud/fission/execute.test.ts
  packages/server/src/cloud/fission/execute.ts
  packages/server/src/cloud/fission/utils.ts
  packages/server/src/cloud/fission/wrapper.ts
  packages/server/src/config/loader.ts
  packages/server/src/config/types.ts
  packages/server/src/fhir/operations/deploy.ts
  packages/server/tsconfig.build.json
Labels: documentation, dependencies, fhir-datastore

#7048 Added DCO docs
  packages/docs/docs/contributing/dco.md
  scripts/prepare-release.sh
  scripts/update-example-changes.sh
Labels: documentation

#7057 Docusaurus Faster
  package-lock.json
  packages/docs/docusaurus.config.ts
  packages/docs/package.json
Labels: dependencies

#7069 Remove happy-path logging in transaction retries
  packages/server/src/app.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#7067 Fix terminology index migration
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v20.ts
  packages/server/src/migrations/migrate.ts
Labels: fhir-datastore

#7071 Fixes #7066 - provider messages style tweaks
  examples/medplum-provider/src/components/messages/ChatList.tsx
  examples/medplum-provider/src/components/messages/ChatListItem.module.css
  examples/medplum-provider/src/components/messages/ChatListItem.tsx
  examples/medplum-provider/src/pages/messages/MessagesPage.module.css
  examples/medplum-provider/src/pages/messages/MessagesPage.tsx
  examples/medplum-provider/vite.config.ts
  packages/react/src/chat/BaseChat/BaseChat.module.css
Labels: react, example

#7079 Update previous broken migration file
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/v19.ts
Labels: fhir-datastore

#7072 Fixed QuestionnaireFormItem with answerOption.selected
  packages/react-hooks/src/useQuestionnaireForm/utils.ts
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem.tsx
Labels: react

#7073 Force TypeScript version override
  package-lock.json
  package.json
Labels: dependencies

#7089 Updating MCP endpoing to /stream
  packages/docs/blog/2025-06-20-unlocking-healthcare-ai-medplum-support-mcp.md
Labels: documentation

#7043 Document adding a timezone to practitioner
  packages/docs/docs/scheduling/index.md
Labels: documentation

#7092 Provider - Include add charge item model
  examples/medplum-provider/src/components/ChargeItem/ChargeItemList.tsx
  examples/medplum-provider/src/pages/encounter/BillingTab.tsx
Labels: example

#7099 Uniform dotenv usage
  examples/medplum-demo-bots/package.json
  examples/medplum-demo-bots/src/lab-integration/receive-oru-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/send-orm-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/send-oru-message.test.ts
  package-lock.json
  packages/react-hooks/esbuild.mjs
  packages/react-hooks/package.json
  packages/react/esbuild.mjs
  packages/react/package.json
Labels: dependencies, example

#7097 fix(agent): precisely diff channel config when reloading
  packages/agent/src/app.test.ts
  packages/agent/src/channel.ts
  packages/agent/src/dicom.ts
  packages/agent/src/hl7.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/server.ts
Labels: integration

#7102 Fix typo in documentation
  packages/docs/docs/graphql/basic-queries.mdx
Labels: documentation

#7108 test(agent): fix flaky fhircast ws test
  packages/server/src/fhircast/websocket.test.ts
Labels: integration

#7109 BaseChat messages sections by day
  packages/react/src/chat/BaseChat/BaseChat.test.tsx
  packages/react/src/chat/BaseChat/BaseChat.tsx
Labels: react

#7112 Fixes #7110 - move expo-polyfills and react-native-example to separate repo
  README.md
  examples/medplum-react-native-example/.gitattributes
  examples/medplum-react-native-example/.gitignore
  examples/medplum-react-native-example/README.md
  examples/medplum-react-native-example/app.json
  examples/medplum-react-native-example/assets/adaptive-icon.png
  examples/medplum-react-native-example/assets/favicon.png
  examples/medplum-react-native-example/assets/icon.png
  examples/medplum-react-native-example/assets/splash.png
  examples/medplum-react-native-example/babel.config.js
  examples/medplum-react-native-example/package.json
  examples/medplum-react-native-example/src/App.tsx
  examples/medplum-react-native-example/src/CustomButton.tsx
  examples/medplum-react-native-example/src/Home.tsx
  examples/medplum-react-native-example/src/main.ts
  examples/medplum-react-native-example/tsconfig.json
  package-lock.json
  package.json
  packages/docs/docs/react/use-subscription.md
  packages/expo-polyfills/.gitignore
  packages/expo-polyfills/README.md
  packages/expo-polyfills/api-extractor.json
  packages/expo-polyfills/babel.config.cjs
  packages/expo-polyfills/esbuild.mjs
  packages/expo-polyfills/jest.config.json
  packages/expo-polyfills/package.json
  packages/expo-polyfills/src/index.test.ts
  packages/expo-polyfills/src/index.ts
  packages/expo-polyfills/src/polyfills.test.ts
  packages/expo-polyfills/src/polyfills/event/README.md
  packages/expo-polyfills/src/polyfills/event/event.test.ts
  packages/expo-polyfills/src/polyfills/event/event.ts
  packages/expo-polyfills/src/polyfills/event/global.ts
  packages/expo-polyfills/src/polyfills/event/index.ts
  packages/expo-polyfills/src/polyfills/event/misc.ts
  packages/expo-polyfills/src/polyfills/event/warning-handler.ts
  packages/expo-polyfills/src/polyfills/event/warnings.ts
  packages/expo-polyfills/src/storage.test.ts
  packages/expo-polyfills/src/storage.ts
  packages/expo-polyfills/src/websocket-manager.test.ts
  packages/expo-polyfills/src/websocket-manager.ts
  packages/expo-polyfills/tsconfig.json
  packages/graphiql/src/index.tsx
  packages/react-hooks/README.md
  scripts/publish.sh
Labels: documentation, dependencies, example

#7123 Enforce maximum string size
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
Labels: fhir-datastore

#7124 Permit absolute URL in fhirUser claim
  packages/server/src/oauth/external.test.ts
  packages/server/src/oauth/utils.ts
Labels: auth, fhir-datastore

#7117 [Docs] Update Project Settings docs around enableFhirQuota
  packages/docs/docs/self-hosting/project-settings.md
Labels: documentation

#7152 Fix query for descendent-of ValueSet expansion
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
Labels: fhir-datastore

#6943 Add a local configuration for medplum & k8s
  charts/templates/service.yaml
  charts/values.yaml
  examples/medplum-local-k8s/cleanup-local.sh
  examples/medplum-local-k8s/databases-local.yaml
  examples/medplum-local-k8s/deploy-local.sh
  examples/medplum-local-k8s/fission-rbac.yaml
  examples/medplum-local-k8s/medplum-app-local.yaml
  examples/medplum-local-k8s/readme-local.md
  examples/medplum-local-k8s/status-local.sh
  examples/medplum-local-k8s/values-local.yaml
  packages/docs/docs/bots/running-bots-on-fission.md
Labels: documentation, dependencies, react, self-host, example

#7148 Tasks Include notes, questionnaire and properties
  examples/medplum-provider/src/components/encountertasks/TaskPanel.tsx
  examples/medplum-provider/src/components/tasks/TaskInfo.tsx
  examples/medplum-provider/src/components/tasks/TaskInputNote.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/pages/tasks/TasksPage.tsx
Labels: example

#7114 [Docs] Guide for self-hosting vs cloud-hosting
  packages/docs/docs/self-hosting/considerations.md
  packages/docs/docs/self-hosting/index.md
Labels: documentation

#7131 Search IR
  packages/core/src/fhirpath/utils.test.ts
  packages/core/src/fhirpath/utils.ts
  packages/core/src/format.test.ts
  packages/core/src/format.ts
  packages/core/src/index.ts
  packages/core/src/search/details.test.ts
  packages/core/src/search/details.ts
  packages/core/src/search/ir.test.ts
  packages/core/src/search/ir.ts
  packages/core/src/search/match.test.ts
  packages/core/src/search/match.ts
  packages/fhir-router/src/repo.ts
  packages/server/src/email/email.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/tokens.ts
Labels: fhir-datastore

#7161 Bot max size docs
  packages/docs/docs/bots/bot-basics.md
Labels: documentation

#7168 Updating CHPL listing to 4
  packages/docs/docs/compliance/onc.md
Labels: documentation, compliance
