Repository medplum/medplum, pull requests merged in 2025-08, with the labels that each got.

#7182 Normalize userInfoUrl before validating protocol
  packages/server/src/oauth/utils.test.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#7191 Adding docs for the _security search param
  packages/docs/docs/search/advanced-search-parameters.mdx
  packages/examples/src/search/advanced-search-parameters.ts
Labels: documentation, example

#7118 [Docs] Add Compounded Medication Parent-Child Guidance
  packages/docs/docs/medications/formulary/index.mdx
Labels: documentation

#7192 UI improvements to resource history pages
  packages/app/src/AppRoutes.tsx
  packages/app/src/resource/BlamePage.tsx
  packages/app/src/resource/ResourceVersionPage.test.tsx
  packages/app/src/resource/ResourceVersionPage.tsx
  packages/react/src/ResourceBlame/ResourceBlame.module.css
  packages/react/src/ResourceBlame/ResourceBlame.tsx
  packages/react/src/SearchControl/SearchControl.tsx
  packages/react/src/index.ts
  packages/react/src/utils/pagination.test.ts
  packages/react/src/utils/pagination.ts
Labels: react

#7198 Address autocheck warnings from CI
  examples/medplum-client-external-idp-demo/src/SignInPage.tsx
  examples/medplum-client-external-idp-demo/src/contants.ts
  examples/medplum-client-external-idp-demo/src/main.tsx
  packages/health-gorilla-react/src/HealthGorillaLabOrderContext.ts
  packages/health-gorilla-react/src/HealthGorillaLabOrderProvider.tsx
  packages/health-gorilla-react/src/index.ts
  packages/health-gorilla-react/src/useHealthGorillaLabOrder.test.tsx
  packages/health-gorilla-react/src/useHealthGorillaLabOrder.ts
  packages/health-gorilla-react/src/useHealthGorillaLabOrderContext.ts
Labels: integration, example

#7197 Ensure request is logged on middleware error
  packages/server/src/app.test.ts
  packages/server/src/app.ts
Labels: audit-logging

#7175 fix(hl7): async `close`, cleanup close logic, resolve deferred connect promise
  packages/agent/src/app.test.ts
  packages/agent/src/app.ts
  packages/agent/src/hl7.test.ts
  packages/agent/src/hl7.ts
  packages/cli/src/hl7.ts
  packages/hl7/src/client.test.ts
  packages/hl7/src/client.ts
  packages/hl7/src/connection.test.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/server.test.ts
  packages/hl7/src/test-utils.ts
Labels: integration

#7195 $set-accounts only updating meta.accounts and meta.account
  packages/fhir-router/src/repo.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/operations/patientsetaccounts.test.ts
  packages/server/src/fhir/operations/patientsetaccounts.ts
  packages/server/src/fhir/repo.ts
Labels: bug, fhir-datastore

#7202 Support performerType and owner in PlanDefinition
  packages/server/src/fhir/operations/plandefinitionapply.test.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

#7184 Add operation to update User email correctly
  packages/app/src/AppRoutes.tsx
  packages/app/src/VerifyEmailPage.test.tsx
  packages/app/src/VerifyEmailPage.tsx
  packages/server/src/auth/verifyemail.test.ts
  packages/server/src/auth/verifyemail.ts
  packages/server/src/fhir/operations/update-user-email.test.ts
  packages/server/src/fhir/operations/update-user-email.ts
  packages/server/src/fhir/routes.ts
Labels: auth, fhir-datastore

#7017 feat(agent): add hl7 connection throttling for channels
  packages/agent/src/hl7.test.ts
  packages/agent/src/hl7.ts
  packages/hl7/src/client.test.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/server.test.ts
  packages/hl7/src/server.ts
Labels: integration

#7234 docs(agent): add `messagesPerMin` to Agent Features page
  packages/docs/docs/agent/features.md
Labels: documentation, integration

#7239 lint: add `no-only-tests` rule
  package-lock.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
Labels: dependencies

#7242 fix(blog): `Certfies` -> `Certifies`
  packages/docs/blog/2025-07-12-ihe-ira-radiology-reporting-certification.md
Labels: documentation

#7121 QuestionnaireResponseDisplay react component
  packages/react/src/QuestionnaireResponseDisplay/QuestionnaireResponseDisplay.stories.tsx
  packages/react/src/QuestionnaireResponseDisplay/QuestionnaireResponseDisplay.test.tsx
  packages/react/src/QuestionnaireResponseDisplay/QuestionnaireResponseDisplay.tsx
  packages/react/src/QuestionnaireResponseDisplay/QuestionnaireResponseItemDisplay.tsx
  packages/react/src/index.ts
Labels: react

#7251 QuestionnaireForm undefined values
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormItem.tsx
Labels: react

#7235 Update $set-accounts operation
  examples/medplum-mso-demo/src/utils/enrollment.ts
  packages/core/src/typeschema/types.ts
  packages/docs/blog/2025-04-22-multi-tenant-mso.md
  packages/docs/docs/api/fhir/operations/patient-set-accounts.md
  packages/fhir-router/src/repo.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/operations/patienteverything.ts
  packages/server/src/fhir/operations/patientsetaccounts.ts
  packages/server/src/fhir/operations/set-accounts.test.ts
  packages/server/src/fhir/operations/set-accounts.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
Labels: documentation, fhir-datastore, example

#7240 [Self-hosting Docs] Monitoring Recommendations
  packages/docs/docs/self-hosting/disaster-recovery.md
  packages/docs/docs/self-hosting/monitoring.md
Labels: documentation

#7272 Fixed link on US Core FHIR R6
  packages/docs/blog/2023-03-27-fhir-r5.md
Labels: documentation

#7281 Log serializable transaction retries
  packages/server/src/fhir/repo.ts
Labels: audit-logging, fhir-datastore

#7271 Add ServiceRequest.reason-code search parameter
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v22.ts
  packages/server/src/migrations/data/v23.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v96.ts
Labels: fhir-datastore, search

#7285 [Documentation] _source search parameter
  packages/docs/docs/search/advanced-search-parameters.mdx
  packages/examples/src/search/advanced-search-parameters.ts
Labels: documentation, example

#7287 Fix plan definition encounter.basedOn
  packages/server/src/fhir/operations/plandefinitionapply.test.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
Labels: fhir-datastore

#7250 Add super admin UI for $explain operation
  packages/app/src/admin/SuperAdminPage.test.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/react/src/ReferenceInput/ReferenceInput.tsx
  packages/server/src/fhir/operations/explain.test.ts
  packages/server/src/fhir/operations/explain.ts
  packages/server/src/migrations/migration-utils.ts
Labels: fhir-datastore, react
