Repository medplum/medplum, pull requests merged in 2025-02, with the labels that each got.

#5893 Adding Code System to Eligibility Demo App
  examples/medplum-eligibility-demo/data/core/core-data.json
Labels: example

#5895 fix(metadata): add fhircast config extension to `CapabilityStatement`
  packages/server/src/fhir/metadata.ts
  packages/server/src/oauth/token.ts
Labels: integration

#5891 Added config setting for vmContextBaseUrl
  packages/server/src/config.ts
  packages/server/src/fhir/operations/execute.ts
Labels: self-host

#5896 Creating the log of podcasts
  packages/docs/blog/2023-12-18-radai-case-study.md
  packages/docs/blog/2024-02-22-flexpa-case-study.md
  packages/docs/blog/2025-02-01-podcast-appearances.md
Labels: documentation

#5869 Merge granular scopes with access policy criteria
  packages/server/src/fhir/smart.test.ts
  packages/server/src/fhir/smart.ts
Labels: auth, compliance

#5865 docs(access-policies): Enhance documentation with detailed examples and use cases for parameterized access policies
  packages/docs/docs/access/access-policies.md
Labels: documentation

#5757 Preserve transaction when using system repo
  packages/server/src/context.ts
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/operations/utils/asyncjobexecutor.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/request-context-store.ts
Labels: fhir-datastore, compliance

#5911 Clean up websocket subscription key set in Redis
  packages/server/src/workers/subscription.ts
Labels: fhir-datastore

#5907 Return User email in userinfo endpoint
  packages/server/src/oauth/userinfo.ts
Labels: auth

#5917 Tune subscription Redis cleanup threshold
  packages/server/src/workers/subscription.ts
Labels: fhir-datastore

#5918 Allow configuring access token lifetime
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/static/data/medplumDefinitions/clientapplication.json
  packages/fhirtypes/dist/ClientApplication.d.ts
  packages/server/src/admin/client.ts
  packages/server/src/auth/register.ts
  packages/server/src/fhir/operations/getwsbindingtoken.ts
  packages/server/src/oauth/keys.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#5921 Add Web API Globals to VM Context Sandbox
  packages/server/src/fhir/operations/execute.ts
Labels: bots

#5920 Allow selection of more granular scopes
  packages/react/src/auth/ChooseScopeForm.tsx
  packages/server/src/auth/scope.test.ts
  packages/server/src/oauth/utils.ts
Labels: auth, compliance

#5923 Fix docs for client.signOut()
  packages/core/src/client.ts
Labels: documentation

#5929 Update docs for CodeSystem import API
  packages/docs/docs/api/fhir/operations/codesystem-import.mdx
Labels: documentation

#5930 Refine subscription cleanup condition
  packages/server/src/workers/subscription.ts
Labels: fhir-datastore

#5948 Log potential validation failures in non-strict mode
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#5946 Skip lookup table deletions for superfluous resource types
  packages/server/src/fhir/lookups/address.test.ts
  packages/server/src/fhir/lookups/address.ts
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/humanname.ts
Labels: fhir-datastore

#5954 Always use strict mode for $validate operation
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/routes.ts
Labels: fhir-datastore

#5953 Log accounts writes
  packages/server/src/fhir/repo.ts
Labels: audit-logging

#5958 fix(deps): `@types/node@22` -> `@20`, add `MAJOR_EXCLUDE` to upgrade
  examples/foomedical/package.json
  examples/medplum-chart-demo/package.json
  examples/medplum-chat-demo/package.json
  examples/medplum-client-external-idp-demo/package.json
  examples/medplum-demo-bots/package.json
  examples/medplum-eligibility-demo/package.json
  examples/medplum-hello-world/package.json
  examples/medplum-live-chat-demo/package.json
  examples/medplum-nextauth-demo/package.json
  examples/medplum-nextjs-demo/package.json
  examples/medplum-patient-intake-demo/package.json
  examples/medplum-photon-integration/package.json
  examples/medplum-provider/package.json
  examples/medplum-scheduling-demo/package.json
  examples/medplum-smart-on-fhir-demo/package.json
  examples/medplum-task-demo/package.json
  examples/medplum-valueset-selector/package.json
  examples/medplum-websocket-subscriptions-demo/package.json
  package-lock.json
  package.json
  packages/create-medplum/package.json
  packages/dosespot-react/package.json
  packages/health-gorilla-core/package.json
  packages/health-gorilla-react/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
  scripts/upgrade.sh
Labels: dependencies

#5962 Link On-Behalf-Of from Project Admin docs
  packages/docs/docs/access/admin.md
Labels: documentation

#5963 Document access token lifetime
  packages/docs/docs/auth/token-lifetime.md
Labels: documentation

#5973 Log requests made on behalf of another user
  packages/server/src/app.test.ts
  packages/server/src/app.ts
  packages/server/src/context.ts
  packages/server/src/fhir/operations/plandefinitionapply.ts
  packages/server/src/oauth/userinfo.test.ts
  packages/server/src/oauth/userinfo.ts
Labels: audit-logging

#5971 Explicitly support SMART v1 scopes
  packages/server/src/fhir/smart.test.ts
  packages/server/src/fhir/smart.ts
Labels: auth

#5977 Fix bug in resource profile support
  packages/core/src/default-values.test.ts
  packages/core/src/default-values.ts
Labels: react

#5934 Update smart-app-launch.md to include demo application
  packages/docs/docs/integration/smart-app-launch.md
Labels: documentation

#5972 fix(core): fix up and simplify FHIRcast types
  .vscode/settings.json
  packages/core/src/client-fhircast.test.ts
  packages/core/src/fhircast/index.test.ts
  packages/core/src/fhircast/index.ts
  packages/core/src/fhircast/test-utils.test.ts
  packages/core/src/fhircast/test-utils.ts
  packages/server/src/fhircast/routes.test.ts
Labels: integration

#5983 Adding resources related to life sciences
  packages/docs/blog/2024-02-22-flexpa-case-study.md
  packages/docs/blog/2025-02-01-podcast-appearances.md
  packages/docs/blog/2025-02-07-life-sciences-devtools.md
  packages/docs/docs/questionnaires/basic-tutorial.md
  packages/docs/src/pages/solutions/life-sciences.md
  packages/docs/static/img/blog/biopharmaceutical-product-lifecycle.png
Labels: documentation

#5988 Updating the READMEs
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/definitions/README.md
  packages/fhir-router/README.md
  packages/fhirtypes/README.md
  packages/hl7/README.md
  packages/mock/README.md
  packages/react-hooks/README.md
  packages/react/README.md
Labels: documentation

#5994 Limit resource types in Patient summary operation
  packages/server/src/fhir/operations/patientsummary.ts
Labels: fhir-datastore

#6005 Fix OAuth2 PKCE flow with reused Login
  packages/server/src/oauth/authorize.test.ts
  packages/server/src/oauth/authorize.ts
Labels: auth

#4995 Remove terminology feature flag
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/fhirtypes/dist/Project.d.ts
  packages/server/src/admin/super.ts
  packages/server/src/config/types.ts
  packages/server/src/fhir/lookups/valuesetelement.ts
  packages/server/src/fhir/operations/expand.test.ts
  packages/server/src/fhir/operations/expand.ts
  packages/server/src/fhir/searchparameter.ts
  packages/server/src/migrations/migrate.ts
Labels: fhir-datastore, v4

#5572 Remove deprecated functionality for v4
  examples/medplum-demo-bots/src/adt-transfer-listener/adt-transfer-bot.test.ts
  examples/medplum-demo-bots/src/hl7-bot.test.ts
  examples/medplum-demo-bots/src/lab-integration/read-oru-message.ts
  examples/medplum-eligibility-demo/src/components/PatientDetails.tsx
  examples/medplum-eligibility-demo/src/pages/SearchPage.tsx
  packages/agent/src/dicom.ts
  packages/app/src/resource/BotEditor.tsx
  packages/cli/src/utils.ts
  packages/core/src/access.test.ts
  packages/core/src/access.ts
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/hl7.test.ts
  packages/core/src/hl7.ts
  packages/core/src/search/parse.test.ts
  packages/core/src/search/search.test.ts
  packages/core/src/search/search.ts
  packages/core/src/typeschema/crawler.test.ts
  packages/core/src/typeschema/crawler.ts
  packages/docs/docs/api/fhir/operations/valueset-expand.mdx
  packages/docs/docs/bots/creating-a-pdf.mdx
  packages/docs/docs/bots/file-uploads.md
  packages/docs/docs/bots/file-uploads.mdx
  packages/docs/docs/bots/hl7-into-fhir.mdx
  packages/docs/docs/bots/index.md
  packages/docs/docs/fhir-datastore/binary-data.mdx
  packages/examples/src/api/fhir/operations/valueset-expand.ts
  packages/examples/src/bots/creating-a-pdf.ts
  packages/examples/src/bots/file-uploads.ts
  packages/examples/src/bots/hl7-into-fhir.ts
  packages/examples/src/charting/external-documents.ts
  packages/examples/src/fhir-datastore/binary-data.ts
  packages/server/src/fhir/references.ts
  packages/server/src/workers/download.ts
Labels: v4

#5651 Update server README for v4
  packages/docs/docs/bots/bots-in-production.md
  packages/docs/docs/cli/index.md
  packages/docs/docs/contributing/run-the-stack.md
  packages/server/README.md
Labels: documentation, v4

#5674 Update build and test matrices for v4
  .github/workflows/build.yml
Labels: v4

#5631 _filter eq should result in exact matching
  packages/core/src/filter/parse.test.ts
  packages/core/src/filter/parse.ts
  packages/server/src/fhir/search.test.ts
Labels: v4

#5630 Don't allow control chars in strings
  packages/core/src/typeschema/validation.test.ts
  packages/core/src/typeschema/validation.ts
Labels: v4

#5493 Remove legacy chained search implementation
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
  packages/docs/docs/self-hosting/project-settings.md
  packages/fhirtypes/dist/Project.d.ts
  packages/server/medplum.config.json
  packages/server/src/config/types.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: search, v4

#5675 Update docs to deprecate databaseProxyEndpoint
  packages/docs/docs/self-hosting/config-settings.md
  packages/docs/docs/self-hosting/rds-database-host-with-rds-proxy-param.png
  packages/docs/docs/self-hosting/rds-database-ssl-require-true.png
  packages/docs/docs/self-hosting/rds-parameters.md
  packages/docs/docs/self-hosting/rds-proxy-endpoint-param.png
  packages/server/src/config/types.ts
Labels: v4

#6011 Update SMART launch context on subsequent authorization
  packages/server/src/oauth/authorize.test.ts
  packages/server/src/oauth/authorize.ts
Labels: auth

#6036 Fixed tsc errors in server tests
  packages/server/package.json
  packages/server/src/admin/client.ts
  packages/server/src/admin/super.test.ts
  packages/server/src/auth/register.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/batch.test.ts
  packages/server/src/fhir/operations/agentpush.test.ts
  packages/server/src/fhir/operations/execute.test.ts
  packages/server/src/fhir/operations/patientsummary.test.ts
  packages/server/src/fhir/operations/projectinit.ts
  packages/server/src/fhir/patient.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/oauth/utils.ts
  packages/server/src/test.setup.ts
  packages/server/src/workers/subscription.test.ts
Labels: self-host

#6037 Fixed sonar warnings in agent dockerfile
  packages/agent/Dockerfile
Labels: self-host

#6039 Update R5 docs with USRSC announcement
  packages/docs/blog/2023-03-27-fhir-r5.md
Labels: documentation, fhir-datastore

#6041 Fixes #5968 - update security docs
  SECURITY.md
  packages/docs/src/pages/security.md
  packages/docs/static/img/compliance/docker-scout.webp
  packages/docs/static/img/compliance/socket-dev.webp
Labels: documentation, security

#6047 Allergies passing C-CDA R2.1 Validator for USCDI v3
  packages/ccda/src/ccda-to-fhir.ts
  packages/ccda/src/datetime.ts
  packages/ccda/src/fhir-to-ccda.ts
  packages/ccda/src/g9.test.ts
  packages/ccda/src/roundtrip.test.ts
  packages/ccda/src/systems.test.ts
  packages/ccda/src/systems.ts
  packages/ccda/src/types.ts
  packages/ccda/testdata/AllergyToEgg.json
  packages/ccda/testdata/AllergyToEgg.xml
  packages/ccda/testdata/EncounterHospitalDischarge.xml
  packages/ccda/testdata/HealthConcerns.xml
  packages/ccda/testdata/ImmunizationInfluenza.json
  packages/ccda/testdata/ImmunizationInfluenza.xml
  packages/ccda/testdata/MedicationAtBedtime.json
  packages/ccda/testdata/MedicationAtBedtime.xml
  packages/ccda/testdata/MinimalPassingValidator.xml
  packages/ccda/testdata/Patient.json
  packages/ccda/testdata/Patient.xml
  packages/ccda/testdata/PlanOfTreatmentCarePlan.json
  packages/ccda/testdata/PlanOfTreatmentCarePlan.xml
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.json
  packages/ccda/testdata/PlanOfTreatmentCarePlanGoals.xml
  packages/ccda/testdata/ProblemPneumonia.json
  packages/ccda/testdata/ProblemPneumonia.xml
  packages/ccda/testdata/ProcedureSectionActEntry.json
  packages/ccda/testdata/ProcedureSectionActEntry.xml
  packages/ccda/testdata/ProcedureSectionObservationEntry.json
  packages/ccda/testdata/ProcedureSectionObservationEntry.xml
  packages/ccda/testdata/ProcedureSectionProcedureEntry.generated.xml
  packages/ccda/testdata/ProcedureSectionProcedureEntry.json
  packages/ccda/testdata/ProcedureSectionProcedureEntry.xml
  packages/ccda/testdata/SmokingStatus.json
  packages/ccda/testdata/SmokingStatus.xml
  packages/ccda/testdata/VitalSignsGrowthCharts.json
  packages/ccda/testdata/VitalSignsGrowthCharts.xml
  packages/ccda/testdata/VitalSignsMetricUnits.json
  packages/ccda/testdata/VitalSignsMetricUnits.xml
  packages/server/src/fhir/operations/ccdaexport.test.ts
Labels: integration

#6030 Batch look up Codings associated with CodeSystem properties
  packages/server/src/fhir/operations/codesystemimport.ts
Labels: fhir-datastore

#6046 Fixes #5733 - added new findObservationReferenceRanges
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Labels: integration

#5939 Optionally pass client credentials in HTTP header
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Labels: auth

#6034 Display tasks QuestionnaireForm and its corresponding QuestionnaireResponse
  examples/medplum-provider/src/pages/components/Task/TaskPanel.tsx
  examples/medplum-provider/src/pages/components/Task/TaskQuestionnaireForm.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.test.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireForm.tsx
  packages/react/src/QuestionnaireForm/QuestionnaireFormComponents/QuestionnaireFormGroup.tsx
  packages/react/src/utils/questionnaire.ts
Labels: react

#6068 Build full version of UCUM CodeSystem
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
Labels: fhir-datastore

#6069 Update minimum supported engine for v4
  package.json
  packages/agent/package.json
  packages/app/package.json
  packages/bot-layer/package.json
  packages/ccda/package.json
  packages/cdk/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/create-medplum/package.json
  packages/definitions/package.json
  packages/docs/package.json
  packages/dosespot-react/package.json
  packages/e2e/package.json
  packages/eslint-config/package.json
  packages/examples/package.json
  packages/fhir-router/package.json
  packages/fhirtypes/package.json
  packages/generator/package.json
  packages/graphiql/package.json
  packages/health-gorilla-core/package.json
  packages/health-gorilla-react/package.json
  packages/hl7/package.json
  packages/mock/package.json
  packages/react-hooks/package.json
  packages/react/package.json
  packages/server/package.json
Labels: fhir-datastore

#6071 Undeprecate HL7 utilities
  packages/core/src/hl7.test.ts
  packages/core/src/hl7.ts
Labels: bots

#6074 Add example codes to CPT stub
  packages/definitions/dist/fhir/r4/valuesets-medplum.json
Labels: fhir-datastore

#5932 Secure rotation of API client secret
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/docs/api/fhir/operations/rotate-client-secret.mdx
  packages/docs/static/data/medplumDefinitions/clientapplication.json
  packages/examples/src/api/fhir/operations/rotate-client-secret.ts
  packages/fhirtypes/dist/ClientApplication.d.ts
  packages/server/src/admin/client.test.ts
  packages/server/src/admin/client.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/operations/codesystemimport.ts
  packages/server/src/fhir/operations/csv.test.ts
  packages/server/src/fhir/operations/rotatesecret.test.ts
  packages/server/src/fhir/operations/rotatesecret.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
Labels: fhir-datastore

#6033 Add `__version` column to all resources
  packages/app/src/admin/SuperAdminPage.tsx
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/migrations/migrate.test.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v86.ts
  packages/server/src/workers/reindex.test.ts
  packages/server/src/workers/reindex.ts
Labels: fhir-datastore

#6076 Display OAuth2 scope consent screen on subsequent authorizations
  packages/app/src/OAuthPage.tsx
  packages/server/src/fhir/routes.ts
  packages/server/src/oauth/authorize.test.ts
  packages/server/src/oauth/authorize.ts
Labels: auth
