Repository medplum/medplum, pull requests merged in 2025-06, with the labels that each got.

#6698 Link to encounter when selected event slot
  examples/medplum-provider/src/pages/SchedulePage.tsx
Labels: example

#6691 Adding Labs to Patient Summary
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.test.tsx
  packages/react/src/DiagnosticReportDisplay/DiagnosticReportDisplay.tsx
  packages/react/src/PatientSummary/Labs.test.tsx
  packages/react/src/PatientSummary/Labs.tsx
  packages/react/src/PatientSummary/PatientSummary.tsx
  packages/react/src/StatusBadge/StatusBadge.tsx
Labels: react

#6699 PatientSummary Include DOB, Location and Language
  packages/react/src/PatientSummary/PatientInfoItem.tsx
  packages/react/src/PatientSummary/PatientSummary.tsx
  packages/react/src/PatientSummary/PatientSummary.utils.test.ts
  packages/react/src/PatientSummary/PatientSummary.utils.ts
Labels: react

#6706 Fixes #6686 - tell password managers to ignore Register link
  packages/react/src/auth/AuthenticationForm.tsx
Labels: react

#6658 New Demo Bots - Appointment Reminders and Zoom Integration
  examples/medplum-demo-bots/README.md
  examples/medplum-demo-bots/src/appointment-bots/README.md
  examples/medplum-demo-bots/src/appointment-bots/send-appointment-reminders.test.ts
  examples/medplum-demo-bots/src/appointment-bots/send-appointment-reminders.ts
  examples/medplum-demo-bots/src/zoom-bots/README.md
  examples/medplum-demo-bots/src/zoom-bots/zoom-create-meeting.test.ts
  examples/medplum-demo-bots/src/zoom-bots/zoom-create-meeting.ts
Labels: example

#6718 Removing old bot in favor of FHIR operation
  examples/medplum-demo-bots/src/billing-bots/README.md
  examples/medplum-demo-bots/src/billing-bots/cms-1500-image.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-pdf.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500-test-data.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.test.ts
  examples/medplum-demo-bots/src/billing-bots/cms-1500.ts
  packages/docs/docs/billing/creating-cms1500.md
Labels: documentation, billing, example

#6731 Rate limit additional search code paths
  packages/server/src/fhir/repo.ts
  packages/server/src/fhirquota.ts
Labels: fhir-datastore, compliance

#6738 Log multiple logical searches for searchByReference
  packages/server/src/fhir/repo.ts
Labels: audit-logging, fhir-datastore

#6726 Add $explain endpoint
  packages/server/src/fhir/operations/dbstats.ts
  packages/server/src/fhir/operations/explain.test.ts
  packages/server/src/fhir/operations/explain.ts
  packages/server/src/fhir/operations/utils/parameters.ts
  packages/server/src/fhir/routes.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/sql.ts
Labels: fhir-datastore, search, self-host

#6741 Amended security policy
  SECURITY.md
  packages/docs/blog/2025-06-09-security-reports.md
Labels: documentation

#6743 Add Lab Pricing Details
  packages/docs/src/pages/pricing.tsx
Labels: documentation

#6687 Ensure user invite is transactional
  packages/fhir-router/src/repo.ts
  packages/server/src/admin/invite.ts
  packages/server/src/auth/newpatient.ts
  packages/server/src/auth/resetpassword.ts
  packages/server/src/auth/utils.ts
  packages/server/src/fhir/operations/projectinit.ts
Labels: auth, fhir-datastore

#6717 Update Task management UI
  examples/medplum-provider/src/components/encountertasks/SimpleTask.tsx
  examples/medplum-provider/src/components/encountertasks/TaskPanel.tsx
  examples/medplum-provider/src/components/encountertasks/TaskStatusPanel.tsx
  examples/medplum-provider/src/pages/tasks/TaskDetails.tsx
Labels: example

#6748 Log enabled status with rate limits
  packages/server/src/fhirquota.ts
Labels: audit-logging

#6749 Adds a Twilio example to medplum-demo-bots
  examples/medplum-demo-bots/medplum.config.json
  examples/medplum-demo-bots/package.json
  examples/medplum-demo-bots/src/twilio/README.md
  examples/medplum-demo-bots/src/twilio/voice-webhook.test.ts
  examples/medplum-demo-bots/src/twilio/voice-webhook.ts
  package-lock.json
Labels: dependencies, example

#6708 Add a startup probe to our helm chart
  charts/templates/deployment.yaml
Labels: self-host

#6759 Fix RSA private key formatting in Docker Compose environment variables
  docker-compose.full-stack.yml
Labels: bug

#6771 Updated case study links
  packages/docs/src/pages/case-studies.tsx
  packages/docs/static/img/blog/rewind-logo.png
  packages/docs/static/img/blog/tia-logo.png
Labels: documentation

#6761 feat(agent): support 'enhanced mode' acks
  packages/agent/src/hl7.test.ts
  packages/agent/src/hl7.ts
  packages/core/src/hl7.test.ts
  packages/core/src/hl7.ts
  packages/hl7/src/connection.test.ts
  packages/hl7/src/connection.ts
  packages/hl7/src/server.ts
Labels: integration

#6776 Remove accidental test.only
  packages/server/src/fhir/tokens.test.ts
Labels: fhir-datastore

#6773 Fixes #6774 - Add CDK option for WAF logging
  packages/cdk/src/backend.ts
  packages/cdk/src/frontend.ts
  packages/cdk/src/index.test.ts
  packages/cdk/src/storage.ts
  packages/cdk/src/waf.ts
  packages/core/src/config.ts
Labels: self-host

#6775 Harden local file system binary storage
  packages/server/src/fhir/binary.ts
  packages/server/src/fhir/operations/export.test.ts
  packages/server/src/fhir/operations/groupexport.test.ts
  packages/server/src/fhir/rewrite.ts
  packages/server/src/storage/filesystem.test.ts
  packages/server/src/storage/filesystem.ts
  packages/server/src/storage/loader.ts
  packages/server/src/storage/presign.ts
  packages/server/src/storage/routes.test.ts
  packages/server/src/storage/routes.ts
Labels: fhir-datastore

#6784 Add `Project.exportedResourceType` to limit which linked projects are searched
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/static/data/medplumDefinitions/clientapplication.json
  packages/docs/static/data/medplumDefinitions/project.json
  packages/fhirtypes/dist/Project.d.ts
  packages/mock/src/mocks/structuredefinitions.json
  packages/server/src/constants.ts
  packages/server/src/fhir/accesspolicy.test.ts
  packages/server/src/fhir/accesspolicy.ts
  packages/server/src/fhir/job.test.ts
  packages/server/src/fhir/operations/graphql.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/fhir/search-params.test.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/subscriptions/websockets.test.ts
  packages/server/src/test.setup.ts
  packages/server/src/workers/cron.test.ts
  packages/server/src/workers/subscription.test.ts
Labels: auth, fhir-datastore, search

#6766 Fixes #6355 - implement OAuth RFC 7662 for external auth
  packages/core/src/base64.test.ts
  packages/core/src/base64.ts
  packages/core/src/client-test-utils.ts
  packages/core/src/jwt.test.ts
  packages/core/src/jwt.ts
  packages/server/src/config/types.ts
  packages/server/src/oauth/external.test.ts
  packages/server/src/oauth/middleware.ts
  packages/server/src/oauth/token.test.ts
  packages/server/src/oauth/token.ts
  packages/server/src/oauth/utils.ts
Labels: auth

#6781 Clean up tests expecting to throw
  packages/agent/src/agent-main.test.ts
  packages/cli/src/rest.test.ts
  packages/cli/src/utils.test.ts
  packages/core/src/base64.test.ts
  packages/core/src/client.test.ts
  packages/core/src/fhirmapper/transform.dependent.test.ts
  packages/core/src/fhirmapper/transform.errors.test.ts
  packages/core/src/fhirmapper/transform.test.ts
  packages/core/src/filter/parse.test.ts
  packages/core/src/keyvalue.test.ts
  packages/fhir-router/src/graphql/graphql.test.ts
  packages/server/src/email/email.test.ts
  packages/server/src/fhir/operations/utils/parameters.test.ts
  packages/server/src/fhir/references.test.ts
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/transaction.test.ts
  packages/server/src/workers/post-deploy-migration.test.ts
Labels: fhir-datastore, search

#6803 Always include linked projects when searching Project
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
Labels: fhir-datastore

#6546 Create Example Send ORU Message Bot
  examples/medplum-demo-bots/src/lab-integration/README.md
  examples/medplum-demo-bots/src/lab-integration/receive-orm-message.ts
  examples/medplum-demo-bots/src/lab-integration/receive-oru-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/receive-oru-message.ts
  examples/medplum-demo-bots/src/lab-integration/send-oru-message.test.ts
  examples/medplum-demo-bots/src/lab-integration/send-oru-message.ts
Labels: integration, example

#6785 Encounter - Include DiagnosticReport to task
  examples/medplum-provider/src/components/encountertasks/DiagnosticReportDialog.tsx
  examples/medplum-provider/src/components/encountertasks/SimpleTask.tsx
  examples/medplum-provider/src/components/encountertasks/TaskPanel.tsx
  examples/medplum-provider/src/components/encountertasks/TaskQuestionnaireForm.tsx
  examples/medplum-provider/src/components/encountertasks/TaskQuestionnaireResponseSummaryPanel.tsx
  examples/medplum-provider/src/components/encountertasks/TaskServiceRequest.tsx
  examples/medplum-provider/src/pages/encounter/EncounterChart.tsx
  examples/medplum-provider/src/pages/encounter/EncounterComplete.tsx
  packages/react/src/PatientSummary/PatientSummary.utils.ts
Labels: react, example

#6822 Add server config `defaultTokenReadStrategy`
  packages/server/src/config/types.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/fhir/tokens.ts
Labels: fhir-datastore, search

#6825 Docs on proxying binary content through medplum server
  packages/docs/docs/fhir-datastore/binary-data.mdx
Labels: documentation

#6831 Adding KWS to the about page
  packages/docs/src/pages/about.tsx
  packages/docs/static/img/people/kevinwadeshaw.jpeg
Labels: documentation

#6833 Duplicate SMART well-known routes
  packages/server/src/fhir/routes.ts
  packages/server/src/wellknown.ts
Labels: fhir-datastore

#6836 Added isError util for cross-realm check
  packages/core/src/outcomes.test.ts
  packages/core/src/outcomes.ts
  packages/server/src/email/email.test.ts
Labels: bots

#6787 MCP server
  package-lock.json
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/config/types.ts
  packages/server/src/config/utils.ts
  packages/server/src/database-migration.test.ts
  packages/server/src/mcp/README.md
  packages/server/src/mcp/routes.test.ts
  packages/server/src/mcp/routes.ts
  packages/server/src/mcp/server.ts
Labels: dependencies, auth

#6829 Add a Redis-based server registry
  packages/server/src/app.ts
  packages/server/src/server-registry.test.ts
  packages/server/src/server-registry.ts
Labels: fhir-datastore

#6841 [Docs] Add HG Changelog
  packages/docs/docs/integration/health-gorilla/hg-changelog.md
  packages/docs/sidebars.ts
Labels: documentation, integration

#6846 test(fhircast): fix flaky timing check
  packages/server/src/fhircast/websocket.test.ts
Labels: integration

#6847 docs(agent): add note about fix to backwards compat in 4.1.9
  packages/docs/docs/agent/features.md
Labels: documentation

#6862 Post-deploy migration control panel
  packages/app/src/AppRoutes.tsx
  packages/app/src/admin/SuperAdminAsyncJobPage.test.tsx
  packages/app/src/admin/SuperAdminAsyncJobPage.tsx
  packages/app/src/admin/SuperAdminPage.tsx
  packages/app/src/admin/SuperAdminStartAsyncJob.tsx
  packages/server/src/admin/super.test.ts
  packages/server/src/admin/super.ts
  packages/server/src/auth/me.ts
  packages/server/src/database-migration.test.ts
  packages/server/src/database.ts
Labels: auth

#6868 Add search params `ProjectMembership-identifier`, `Immunization-encounter`, `AllergyIntolerance-encounter`
  packages/definitions/dist/fhir/r4/search-parameters-medplum.json
  packages/docs/static/data/medplumDefinitions/projectmembership.json
  packages/docs/static/data/resourceDefinitions/allergyintolerance.json
  packages/docs/static/data/resourceDefinitions/immunization.json
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/data/data-version-manifest.json
  packages/server/src/migrations/data/index.ts
  packages/server/src/migrations/data/v11.ts
  packages/server/src/migrations/data/v12.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v93.ts
Labels: fhir-datastore

#6845 Always use `token-column` strategy for reading
  packages/server/src/config/types.ts
  packages/server/src/fhir/search.test.ts
  packages/server/src/fhir/search.ts
  packages/server/src/fhir/token-column.ts
  packages/server/src/fhir/tokens.test.ts
  packages/server/src/migrations/data/data-version-manifest.json
Labels: fhir-datastore, search

#6767 Include resources with missing values when sorting
  packages/server/src/fhir/lookups/humanname.test.ts
  packages/server/src/fhir/lookups/lookuptable.ts
  packages/server/src/fhir/lookups/token.ts
Labels: fhir-datastore, search

#6886 Update DoseSpot docs to reflect controlled substances support
  packages/docs/docs/integration/dosespot.md
Labels: documentation

#6880 Provider - Use ICD coded system for diagnosis
  examples/medplum-provider/src/components/Conditions/ConditionModal.tsx
  examples/medplum-provider/src/components/encountertasks/DiagnosticReportDialog.tsx
  examples/medplum-provider/src/pages/OrderLabsPage.tsx
  examples/medplum-provider/src/pages/patient/PatientPage.tsx
Labels: example

#6883 Provider - use threads/topics to fetch messages
  examples/medplum-provider/src/components/messages/ChatList.tsx
  examples/medplum-provider/src/components/messages/ChatListItem.tsx
  examples/medplum-provider/src/pages/messages/MessagesPage.tsx
Labels: example

#6891 Add fsh documentation
  packages/docs/docs/fhir-datastore/profiles.md
Labels: documentation

#6898 Adding MCP Blog post
  packages/docs/blog/2025-06-20-unlocking-healthcare-ai-medplum-support-mcp.md
  packages/docs/docs/compliance/cfr11.md
Labels: documentation, integration

#6903 Administrative updates
  packages/docs/docs/compliance/index.md
  packages/docs/docs/integration/index.md
  packages/docs/src/pages/pricing.tsx
Labels: documentation

#6900 Minor CapabilityStatement updates
  packages/server/src/fhir/metadata.ts
Labels: fhir-datastore

#6873 Add Search Functionality to 404 Page
  packages/docs/src/theme/NotFound/Content/index.tsx
  packages/docs/src/theme/NotFound/index.tsx
Labels: documentation

#6772 Provider App Documentation - 1st Draft
  packages/docs/docs/provider/index.md
  packages/docs/docs/provider/patient-profile.md
  packages/docs/docs/provider/schedule.md
  packages/docs/docs/provider/set-up.md
  packages/docs/docs/provider/visits.md
Labels: documentation

#6905 `Binary` compartments column nullable
  packages/server/src/fhir/repo.test.ts
  packages/server/src/fhir/repo.ts
  packages/server/src/migrations/migrate.ts
  packages/server/src/migrations/schema/index.ts
  packages/server/src/migrations/schema/v94.ts
Labels: fhir-datastore

#6813 Document Common Valuesets
  packages/docs/docs/fhir-basics.md
  packages/docs/docs/terminology/common-terminologies.md
Labels: documentation

#6908 Fixes #6349 - remove old smart app launch demo
  examples/medplum-smart-on-fhir-demo/README.md
  examples/medplum-smart-on-fhir-demo/index.html
  examples/medplum-smart-on-fhir-demo/package.json
  examples/medplum-smart-on-fhir-demo/src/App.tsx
  examples/medplum-smart-on-fhir-demo/src/components/LineChart.tsx
  examples/medplum-smart-on-fhir-demo/src/config.ts
  examples/medplum-smart-on-fhir-demo/src/favicon.svg
  examples/medplum-smart-on-fhir-demo/src/main.tsx
  examples/medplum-smart-on-fhir-demo/src/pages/HomePage.tsx
  examples/medplum-smart-on-fhir-demo/src/pages/LaunchPage.tsx
  examples/medplum-smart-on-fhir-demo/src/pages/PatientPage.tsx
  examples/medplum-smart-on-fhir-demo/tsconfig.json
  examples/medplum-smart-on-fhir-demo/vite.config.ts
Labels: example

#6912 Fixes #6913 - More security controls on public webhook bots
  packages/definitions/dist/fhir/r4/fhir.schema.json
  packages/definitions/dist/fhir/r4/profiles-medplum.json
  packages/docs/docs/bots/consuming-webhooks.md
  packages/docs/static/data/medplumDefinitions/bot.json
  packages/fhirtypes/dist/Bot.d.ts
  packages/mock/src/mocks/structuredefinitions.json
  packages/server/src/webhook/routes.test.ts
  packages/server/src/webhook/routes.ts
Labels: documentation, security

#6920 Provider - Remove mail count icon
  examples/medplum-provider/src/App.tsx
Labels: example
